[2016-01-25 19:18] amp5208 commented on #276
@smsuresh , The doc is only the properties file notes and the same that would be copied into the README.md file of the collector.  Would you suggest something more robust?

The log clearly is indicated a successful response from Jira and data translation - this much is a good thing.  However, please confirm the following:

 - Is your story issue type value truly "10000" for your instance?
 - What

[2016-01-25 22:22] daniuniperu opened #289 "will it be any collector for CA LISA Service Virtualization?"
Please anyone who has implemented a collector for CA LISA Service Virtualization?

Or maybe any ideas how to start this collector?

[2016-01-25 23:34] tabladrum commented on #289
Not that we are aware of. What do you want to capture and display from Lisa?

[2016-01-26 13:36] vram001 opened #290 "Can we use Jira Collector against a Kanban board of multiples projects?"

[2016-01-26 14:47] daniuniperu commented on #289
The steps on the collector side would be:

1.	the URL  from Lisa Application returns an XML file which must be converted to JSON format.
2.	Save the JSON formatted data in MongoDB.

Then on the GUI side, it would be to place CA LISA data in modified Monitor widget:

1.	In Configuration modal dialog let user choose GroupTag
2.	In the widget display table of ModelName and UpTime form de JSON Format.

[2016-01-26 21:04] aleitner commented on #41
I changed the value of dbname in dashboard.properties to dashboard, and created a new dashboard in mongo. Everything is working perfectly fine now.

[2016-01-27 20:22] daniuniperu opened #291 "Urgent any help would be appreciated - there will be any manual like creating a collector but for creating a UI with a widgetUI"
Anyone any ideas to build a UI from scratch

[2016-01-27 20:23] daniuniperu commented on #289
Any Ideas please?

[2016-01-28 15:07] oshingc opened #292 "Problems using Jira with Proxy"
When the fields for use of proxy are not fill the collector still using the null at the fields and errors are printed
![logs](https://cloud.githubusercontent.com/assets/3100819/12648240/ea656416-c5a6-11e5-9d8e-6afee1dd981a.png)

[2016-01-28 17:10] amp5208 commented on #292
@oshingc , I see that you recently opened this issue, closed it, and reopened it:  Can I assume that you are still seeing this proxy issue with the Jira collector updates?  If so, I can submit a pull request to fix.

[2016-01-28 17:12] amp5208 commented on #290
@vram001 , thank you for reaching out regarding your Jira Collector question.  Unfortunately, the Feature widget will only work for one project/scope at a time as it is currently designed.  You will need to make multiple dashboards for each "team" (project).

That being said, the recent back-end changes to the Jira feature content now allow you to configure workflow mapping for any statuses in you

[2016-01-28 17:23] oshingc commented on #292
Yes please :D

[2016-01-28 17:44] amp5208 commented on #212
This was, indeed, fixed as of the following merged pull request:  https://github.com/capitalone/Hygieia/pull/284.  You should be able to close this issue.

[2016-01-28 17:54] amp5208 commented on #292
Thank you for this!  Just made a pull request with a fix.  Please verify and let me know if you still see the issue form this pull:  https://github.com/capitalone/Hygieia/pull/293

[2016-01-28 19:19] oshingc commented on #292
Ok, you're welcome.

[2016-01-28 19:49] #292 closed

[2016-01-29 22:31] oshingc opened #298 "Creation of Databases by each Project, how works?"
I built Hygieia using an empty database, I started to check the population, I see the creation of the documents authentication, feature and scope are built in seconds but the documents collectors and collectors_item don't appear.
I have a question a little specific but which documents are built after run API Java Application and which after run JIRA-COLLECTOR Java Application, right now I only ran

[2016-01-30 20:04] papithag opened #300 "JIRA feature collector - build fails - files missing in latest version - urgent"
I pulled latest version from GIT and did a build, received this error - file missing. Please upload the file or help to resolve the issue.

ERROR ::

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 6.569 s
[INFO] Finished at: 2016-01-30T14:53:41-05:00
[INFO] Final Memory: 38M/316M
[INFO] ---------------------------------------

[2016-01-30 20:40] papithag commented on #300
Files are missing in latest version

class CoreFeatureSettings in package com.capitalone.dashboard.util
class FeatureStatus in package com.capitalone.dashboard.model

Build failure due to missing of these files

[2016-02-01 07:17] #281 closed

[2016-02-01 13:54] papithag commented on #246
Hi tabladrum,
Can you share the updated algorithm for converting sqale_index to technical debt?

I also see different values in sonarqube dashboard and hygieia dashboard.

Thanks!!!

[2016-02-01 15:48] apb66 commented on #300
Same issue for me

[2016-02-01 15:51] tabladrum commented on #300
Did you do build the JIRA collector separately? If yes, can you do ``mvn clean install`` on core project first?

[2016-02-01 20:14] jimzucker opened #301 "Git collector fails of you put in a ssh spec instead of https"
I accidentally entered an ssh path "git@github.com:capitalone/Hygieia" instead of the https url in one dashboard and they all stopped updating as the collector failed and did not run the other dashboards.

We should consider:
1. Skipping a dashboard on failure and update the others
2. validate in the UI the URL to block the bad input.

2016-02-01 20:02:00,002 INFO  c.c.d.collector.CollectorTask -

[2016-02-01 21:29] jimzucker opened #302 "'View in Hudson' link does not work with collector in a container"
When running the collector in a container localhost is mapped to http://10.0.2.2 (this is how docker handles the special case of local host it it is natted to that address).

So the URLS from jerkins have to be adjusted to work in your locally browser by changing 10.0.2.2 back to localhost.

Note: the 'view test job' link in the jerkins-cucumber collector works.

![screenshot 2016-02-01 13 27 42](

[2016-02-01 21:33] jimzucker opened #303 "'View in Hudson' link should be renamed to View in Jenkins"
Just for housekeeping we should rename the link.

[2016-02-01 21:39] tabladrum commented on #303
Yes!

[2016-02-01 21:45] jimzucker opened #304 "jerkins-build collector fails if job name has a space in it."
This works:  Sample_tests
this does not: Same Tests

Note: Both job names work ok in the jerkins-cucumber collector.

016-02-01 21:44:00,027 ERROR c.c.d.collector.DefaultHudsonClient - client exception loading build details
org.springframework.web.client.HttpClientErrorException: 404 Not Found
	at org.springframework.web.client.DefaultResponseErrorHandler.handleError(DefaultResponseErrorHandler.ja

[2016-02-01 21:51] jimzucker commented on #304
Here is the job definition for the test job.  we should probably make this part of the unit tests.

<project>
<actions/>
<description/>
<keepDependencies>false</keepDependencies>
<properties/>
<scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
<configVersion>2</configVersion>
<userRemoteConfigs>
<hudson.plugins.git.UserRemoteConfig>
<url>https://github.com/jimzucker/cucumber-example.git</u

[2016-02-01 21:54] tabladrum commented on #304
Agree - should be a part of unit test. Thanks!

[2016-02-01 22:14] jimzucker opened #305 "All Collectors need a container, but we need a way to configure what runs"
I have a proposal.  As I was about to add containers for the remaining collectors, I realized the number is growing and everyone may not want to run all of them when the run docker-compose.

Does anyone know a pattern in docker-compose for this, I was unable to find one.

PROPOSAL: I have a proposal that we add an option "DISABLE_COLLECTOR" which can be set on any collector in the docker-cmpose.ov

[2016-02-01 22:31] jimzucker commented on #304
How do we want to incorporate this in the build, can we require that docker is always available, that would be the easiest way to add these tests to the build, we can start a jenkins server in a container with the test jobs loaded.  I see we can use docker in travis.ci https://docs.travis-ci.com/user/docker/

[2016-02-01 23:03] jimzucker opened #306 "jacoco 0.7.5 is not compatible with sonar - error 1007"
Trying to run sonar against our own build to create test/sample data for the dashboard I got an error, to fix this I have to change the version of jacoco.

Error: [ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.0.1:sonar (default-cli) on project Hygieia: Unable to read /Users/jaz/work/Hygieia/api/target/jacoco.exec: Incompatible version 1007. -> [Help 1]

I found

[2016-02-02 01:50] jimzucker commented on #305
I opened up a feature request for docker-compose, lets see if they let me do it.

https://github.com/docker/compose/issues/2803

[2016-02-02 14:57] apb66 commented on #300
@tabladrum what you suggested works, thanks! Now getting stuck on another issue - Fixed based on proxy issue #292 #293

[2016-02-02 21:06] amp5208 commented on #300
@apb66 , if you are having difficulty running the new versions of the Jira/VersionOne feature collector, please let me know.  The pull request fix that you are referring to allows the use of no proxy, unauthenticated proxy, and an authenticated proxy.  Also, there are additional properties required to be set at runtime with the Jira collector, which can be found below (from the README.md):

<pre>

[2016-02-02 21:27] xeon22 opened #309 "Jira feature collector pageSize property ignored"
When the property is set, it is essentially ignored and the default of 1000 is used.

[2016-02-02 21:31] xeon22 opened #310 "jira-feature-collector: Allow for a custom timeout for large datasets"
When the pageSize default is exceeded, the resulting payload can take longer than the default socket timeout of 20000ms.  Adjusting this default would help with the larger datasets coming back from jira.

The result of the default is a timeout exception:

`
No result was available from Jira unexpectedly - defaulting to blank response. The reason for this fault is the following:java.net.SocketTimeo

[2016-02-03 05:50] papithag commented on #309
same while I was executing as well... though I changed to 50 in properties file, it takes 1000 by default and hence timeout error

[2016-02-03 06:34] papithag commented on #300
@amp5208 ,
I was setting 50 as pagesize in property file as suggested to fix the time out exception.
Though property file value is 50, it carries 1000 in the code and provides time out exception

[2016-02-03 12:24] BibinCTS commented on #249
I am getting below build failure. Please can someone help
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 06:03 min
[INFO] Finished at: 2016-02-03T06:50:30-05:00
[INFO] Final Memory: 101M/241M
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal com.github.eirslett:fron

[2016-02-03 15:23] jimzucker commented on #249
Did u try a

Mvn clean install package?

Sent from my iPhone

On Feb 3, 2016, at 04:24, BibinCTS <notifications@github.com<mailto:notifications@github.com>> wrote:

I am getting below build failure. Please can someone help
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 06:03 min
[INFO] Finished at: 2016-02-03T06:50:30-05:00
[

[2016-02-04 03:53] jimzucker opened #311 "Add container for ChatOps - seems to create a problem for the dashboard"
Added a docker container to run the chat-ops-collector but have commented in out i the docker-compose file because when I enable it the dashboard stops working, not sure what the issue is.  (I will commit the container on the original issue for that).

[2016-02-04 07:21] BibinCTS commented on #192
Hi , I am also facing same issue.

 Hygieia]$ mvn com.github.eirslett:frontend-maven-plugin:0.0.25:bower -rf :UI
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building com.capitalone.dashboard:UI 1.5.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- frontend-ma

[2016-02-04 07:22] BibinCTS commented on #249
Thanks for your Reply Jim. Yes i tried. Now npm issue has gone. But i am facing issue reported below

https://github.com/capitalone/Hygieia/issues/192

[2016-02-04 12:03] smsuresh commented on #276
@amp5208   Pasting you the contents from JIRA, can you help to verify them..

[{"self":"https://abcd.com/rest/api/2/issuetype/3","id":"3","description":"A task that needs to be done.","iconUrl":"https://abcd.com/images/icons/issuetypes/task.png","name":"Task","subtask":false},{"self":"https://abcd.com/rest/api/2/issuetype/10000","id":"10000","description":"The sub-task of the issue","iconUrl":"htt

[2016-02-05 06:46] smsuresh commented on #276
config has

feature.jiraIssueTypeId=10000
feature.jiraSprintDataFieldName=customfield_10360
feature.jiraEpicIdFieldName=customfield_11560

######################
#Chron schedule: S M D M Y [Day of the Week]
feature.cron=0 * * * * *

#StartDate
feature.deltaStartDate=2015-03-01T00:00:00.000000
feature.masterStartDate=2015-01-01T00:00:00.000

----------------------------------------------------

CON

[2016-02-05 06:47] smsuresh commented on #276
Still no data in the Hygieia console..

[2016-02-05 06:55] smsuresh commented on #301
Please fix this ASAP, This is exactly we also missing!!

[2016-02-05 15:41] vignesh89 opened #312 "Authorization and HTTPs error for collectors"
Hi ,

Is it possible to use the https protocol for the collectors because I don’t see any information has been shared on the same. If it is possible please share the steps to achieve the same.

As of now while I’m trying to connect or use  Hygieia with my organization’s Jenkins , sonarqube and SVN, I’m facing **authentication** error and **certificate** error. Below are the error messages.

**Jenk

[2016-02-07 15:16] vishalbisa opened #313 "Information regarding Build widget"
Attaching the files :

[config.html.txt](https://github.com/capitalone/Hygieia/files/120738/config.html.txt)
[config.js.txt](https://github.com/capitalone/Hygieia/files/120739/config.js.txt)

Hi Team,

I have below queries regarding Build widget in Hygieia, can you please provide some info

Query:
we have modified the Build widget by removing the graphs and created a tabular form so that we can di

[2016-02-07 15:29] amitmawkin commented on #312
For Jenkins &  Sonarqube Your organization is using self signed certificate which java does not trust , you would have to use the java keytool to import the certificate into your jdk default truststore.

Subversion is getting an authentication error , please check the credentials used

[2016-02-07 17:30] vishalbisa commented on #291
Hi @daniuniperu ,

Can you please elaborate more on this, as we are customising the widgets UI according to our need.

Thanks,
Vishal

[2016-02-07 18:06] vishalbisa commented on #283
Hi @amitmawkin / @JulienAu

can you please refer to the issue #313 .

in short, we have created a 2 dropdowns for jenkins job and customized the widget to look like a table.
but we are unable to save in components collection in mongo DB, assuming that it might be a small code change as we are able to see the collector item id's in console.

Thanks,
Vishal

[2016-02-07 18:29] vishalbisa commented on #289
Hi @daniuniperu

Ideas for above queries :

1) From the collector prespective you can use XML parser to parse your xml file , by adding Jsoup jar files as your project reference (change pom.xml file so that while building it would take care ).

2) after XML parsing the same collector code can be re-used for saving data in DB.

GUI.
1) Since you are using monitor widget, you can server list by addi

[2016-02-07 18:34] vishalbisa commented on #303
Hi @jimzucker

As a workaround you can modify the links in details.html file in Build widget to rename the link as View in Jenkins.

Thanks,
Vishal

[2016-02-07 18:40] vishalbisa commented on #302
Hi @jimzucker

Have you tried adding an entry in host file in etc. for localhost mapping to 10.0.2.2
just a trail :)

Thanks,
Vishal

[2016-02-07 18:50] vishalbisa commented on #301
Hi @jimzucker / @smsuresh

As a work around you can import jsch package and change the code to connect, hope it works.

please find below sample code .

`int assigned_port;
    int local_port=3309;

    // Remote host and port
    int remote_port=3306;
    String remote_host = "<SSH host goes here>";
    String login = "<SSH login goes here>";
    String password = "<SSH password goes here>";

[2016-02-07 18:57] vishalbisa commented on #298
Hi @oshingc

please find below information, hope this helps :

1) while you sign up for the dashboard authentication would create.
2) While you start the API the feature, scope are created.
3) once you start creating new dashboard dashboard item gets saved .
4) saving the widgets, components would created.
5) once you run the collector , collector would saved,
6) once you save any Job (JIRA-COLLEC

[2016-02-07 19:18] jimzucker commented on #302
If I do that locally on my mac they will work. I have to fix the integration to map localhost->10.0.2.2, I have dont it other places.

[2016-02-07 19:40] vishalbisa commented on #302
locally it worked :)

I haven't went through this scenario , may be the developers might have any clue on it.

[2016-02-07 19:43] jimzucker commented on #302
the pulls to trunk and other merges lost some files, I am going to go through and make a fully working branch,then I will fix this next week.

On Feb 7, 2016, at 11:40 AM, vishalbisa <notifications@github.com<mailto:notifications@github.com>> wrote:

locally it worked :)

I haven't went through this scenario , may be the developers might have any clue on it.

—
Reply to this email directly or view

[2016-02-07 23:49] jimzucker commented on #302
I know whet is happenig, jenkins has hardcoded localhost in the urls it creates. I fixed it everywhere elae to mapp this to 10.0.2.2, seems i missed a place (you can see where i did this if you egrep for localhost or 10.0.2.2 in the collectors.

[2016-02-08 12:17] smsuresh opened #314 "github collector not working for plain git installations ( no GUI)"
SETUP:
  Centos 6 & 7
  Git installed
  Apache configured for http, No authentication ,just http://,machineIP>/repos.git/   --> this is working in browser..

Where as, in Hygieia dashboard
When i give
RepoType - github
repoURL = http://<machine IP>/repos
Branch = refs/heads/master

---------------

ERROR IN LOG

2016-02-08 12:14:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: GitHu

[2016-02-08 12:20] smsuresh commented on #276
@amp5208   or ANYONE  @tabladrum

Can you please help with this..

[2016-02-08 16:23] jimzucker opened #315 "Changes lost in merges from b93e6dd - Merge pull request #244 from jimzucker/collectors (11 days ago) jdamick"
If found we have lost changes in the merges to master after b93e6dd.

**git diff --summary b93e6dd..HEAD**
<img width="982" alt="screenshot 2016-02-08 08 12 47" src="https://cloud.githubusercontent.com/assets/14372687/12891488/14ab2d0c-ce3d-11e5-8e6a-2ff002d9264f.png">

Can you review how to correct master, I think the merges after this one have to be rolled back and redone.
<img width="1071" alt=

[2016-02-08 19:05] tabladrum commented on #315
Let me check.

[2016-02-08 19:24] tabladrum commented on #315
Looks like this one was the bad one:
https://github.com/capitalone/Hygieia/pull/293

[2016-02-08 19:28] tabladrum commented on #315
@jimzucker can you verify if I revert #293 if your changes are back? I think they are. Wanted a second eye.

[2016-02-08 21:29] jimzucker commented on #315
Yes this is it:
*   4bf717f - (HEAD -> master, upstream/master, origin/master, origin/HEAD) Merge pull request #293 from amp5208/master (6 days ago) Tapabrata "Topo" Pal
|\
| *   b497082 - Merge remote-tracking branch 'upstream/master' (7 days ago) amp5208

it is actually b497082 that deleted the files..

[2016-02-09 06:34] smsuresh commented on #276
@timgifford  @msabramo @hongluovz

[2016-02-09 08:14] BibinCTS commented on #192
Please can someone help me to resolve error mentioned above..

[ERROR] Failed to execute goal com.github.eirslett:frontend-maven-plugin:0.0.25:bower (default-cli) on project UI: Failed to run task: 'bower install' failed. (error code 1) -> [Help 1]

[2016-02-09 14:09] tabladrum commented on #315
Done. Can you check?

[2016-02-09 15:09] amp5208 commented on #310
@xeon22 , Actually, this would obviously be preferable. However, the collector is now using the <a href="https://marketplace.atlassian.com/plugins/com.atlassian.jira.jira-rest-java-client/server/overview" target="about:blank">JRJC</a>.  To my knowledge, the newest version of the JRJC does not have a timeout setting override.  If you know of an override option for this, outside of overriding the en

[2016-02-09 15:10] amp5208 commented on #309
@xeon22 & @papithag :  Thank you for informing me of this.  I will look into your issue and push a fix as soon as possible.

[2016-02-09 15:44] jimzucker commented on #315
I just did a diff against my feature branch and looks OK, the diff is what I expect the files I changed. FYI  I am going to rebase and submit a pull request to put my changes back.  I have created containers for more of the collectors and also fixed up the pom files so we can do a man docker:build from the root and also fixed sonar so  svn sonar:sonar works correctly.

➜  Hygieia git:(mergecollect

[2016-02-09 15:48] aleitner opened #320 "Go.cd Connector development information"
Hey,

We are using your Hygieia dashboard with various collectors for obtaining useful metrics here at Equifax, and we decided that it would be useful to collect information from [GO.cd](https://www.go.cd/). I do not see any information on writing a custom connector in your documentation.

What do I need to do to get a collector jar for taking information from Go, putting that information into mon

[2016-02-09 18:25] #306 closed

[2016-02-09 18:26] #305 closed

[2016-02-09 18:26] #239 closed

[2016-02-09 18:28] #227 closed

[2016-02-09 18:29] jimzucker commented on #315
Looks OK now.

[2016-02-09 18:29] #315 closed

[2016-02-09 18:30] tabladrum commented on #320
We are about to release Hygieia 2.0. With that we have a set of ingest api's that you can use to push data into Hygieia. We are going to release a Jenkins Hygieia Plugin along with that too.

[2016-02-09 18:40] jimzucker commented on #311
Closing this is not reproducible - everything seems to be working OK with #321

![screenshot 2016-02-09 10 39 48](https://cloud.githubusercontent.com/assets/14372687/12926697/7c6774fa-cf19-11e5-9d80-09ebfb78cee6.png)

[2016-02-09 18:40] #311 closed

[2016-02-09 18:40] tabladrum commented on #314
I do not know if the GitHub api's will work for plain git. Do you have any api reference for plain git?

[2016-02-09 18:42] jimzucker commented on #239
Here is how it looks using the demo data as described in Setup.md, for chat-ops I just pointed to my own hip chat, I have to see why JIRA is not working.

![screenshot 2016-02-09 10 39 48](https://cloud.githubusercontent.com/assets/14372687/12926762/c0036ed0-cf19-11e5-986b-b890e65caf3c.png)

[2016-02-09 18:43] tabladrum commented on #239
Awesome!!!!!!!!

[2016-02-09 18:53] jimzucker commented on #314
HI,

I believe the values you are entering are not correct.

For the url and branch try these values to get the syntax correct, see the screen shots below:

URL: https://github.com/capitalone/Hygieia.git
branch: master

[cid:88D28869-4C0D-44D5-943F-EDF98E98ED40]

[cid:7CD7412B-55B1-498A-9D39-94F7A8A53763]

On Feb 8, 2016, at 4:18 AM, Suresh S <notifications@github.com<mailto:notifications@github.c

[2016-02-09 20:09] jimzucker opened #323 "Upgrade to Java 1.8"
We should upgrade the POMs from 1.7 to 1.8.  I will try the upgrade, if I dont get any objection/see any issues I will submit the pull request.

[2016-02-09 21:53] amp5208 commented on #300
@apb66 and @papithag :  The fixes have been re-merged to master as of https://github.com/capitalone/Hygieia/pull/322 pull request.  Please fetch from upstream and rebuild/deploy to verify that the pageSize property settings are included again.

[2016-02-09 21:53] amp5208 commented on #309
@xeon22 and @papithag :  The fixes have been re-merged to master as of https://github.com/capitalone/Hygieia/pull/322 pull request.  Please fetch from upstream and rebuild/deploy to verify that the pageSize property settings are included again.

[2016-02-10 09:54] smsuresh commented on #314
@tabladrum  --- Yes , there is no support API in plain git.. Should we write a new collector for this?!!

@jimzucker -- The given http URL is correct,  Iam able to open the repository using the same URL in browser.

[2016-02-11 01:25] jimzucker opened #326 "Need help running JIRA collector"
Hi,

I have been trying to get the JIRA connector to work but I can't figure out why I get a 401 error.

Error:  **RestClientException{statusCode=Optional.of(401), errorCollections=[]} **
I verified the URL and Id/Password being pasted are correct in the browser. (FYI I am using the cloud versions of JIRA)

Can you give me a hint/pointer on how to debug this?

	public List<BasicProject> getJiraTea

[2016-02-11 01:27] softwareklinic commented on #326
Using the clear text password for api key or the actual ali key

Regards,
Keyur

On Feb 10, 2016, at 7:25 PM, Jim Zucker <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,

I have been trying to get the JIRA connector to work but I can't figure out why I get a 401 error.

Error: *RestClientException{statusCode=Optional.of(401), errorCollections=[]} *
I verified the URL and Id/

[2016-02-11 03:18] jimzucker commented on #326
Hmm, I am not sure where to specify the api key, here is my properties file from the test instance of JIRA I created.. the login is jim:password

Sorry to be dense, can you give me the step by step to get this up and running?

➜  Hygieia git:(java18) ✗ cat /tmp/hygieia-jira-feature-collector.properties
#Database Name
database=dashboard

#Database HostName - default is localhost
dbhost=172.17.0.4

[2016-02-11 03:22] softwareklinic commented on #326
Sure will check in few and get back

Regards,
Keyur

On Feb 10, 2016, at 9:18 PM, Jim Zucker <notifications@github.com<mailto:notifications@github.com>> wrote:

Hmm, I am not sure where to specify the api key, here is my properties file from the test instance of JIRA I created.. the login is jim:password

Sorry to be dense, can you give me the step by step to get this up and running?

➜ Hygieia gi

[2016-02-11 18:44] mrh666 commented on #157
@jimzucker , I want to use git collector with Gitlab. Is there is any way to provide credentials (user/pass or key) for Gitlab?

[2016-02-12 12:52] BeenaMP opened #327 "Build error for Hygieia project"
I have done a mvn clean install package for Hygieia project and got the below error:Please help.

Downloading: https://repo.maven.apache.org/maven2/com/spotify/docker-maven-plugin/0.4.0/docker-maven-plugin-0.4.0.pom
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] com.capitalone.dashboard:Hygieia ................... FAILURE [  1.

[2016-02-12 15:27] jimzucker commented on #327
@BeenaMP - I believe the error is related to your build env,potentially your JAVA install.  The error is a connectivity issue between maven and the repo to download the plugins.  If you google "sun.security.validator.ValidatorEx
on: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target"  you will find a bu

[2016-02-14 15:13] gituseranh commented on #67
Nice discussion and useful documentation. In many places, we are requird to specify the proxy id/pwd if our computer is located behind an authenticated corporate proxy: eg,
export HTTPS_PROXY=http://companyId:yourPassword@your.proxy.domain.name:8080

Has anyone tried using encrypted password - how to replace 'yourPassword' with an encrypted password?

[2016-02-14 19:17] #113 closed

[2016-02-14 19:17] #170 closed

[2016-02-14 19:17] #265 closed

[2016-02-14 19:17] #275 closed

[2016-02-14 23:20] jimzucker opened #330 "Error after pull #329 - bower install fails"
I tried building after the #329 was merged and I get an error, I am trying to research it..

[INFO] --- frontend-maven-plugin:0.0.27:bower (bower install) @ UI ---
[INFO] Found proxies: []
[INFO] Running 'bower install' in /Users/jaz/work/Hygieia/UI
[INFO] bower bootstrap-sweetalert#~0.4.5           cached git://github.com/lipis/bootstrap-sweetalert.git#0.4.5
[INFO] bower bootstrap-sweetalert#~0.4

[2016-02-14 23:25] tabladrum commented on #330
Can you do a fresh clone into a clean folder? There is also one more thing to resolve. The jacoco version. We have to revert back the version - it was somehow failing on compilation. We look at it again tonight or tomorrow.

[2016-02-15 00:01] jimzucker commented on #330
@tabladrum I found that adding a resolution for chartist solves it, see this thread: https://github.com/bower/bower/issues/866

I am not sure I picked the right version,but this will allow it to compile:

  "resolutions": {
    "angular": "~1.3.4",
    "chartist": "~0.9.5"
  },

[2016-02-15 13:12] JulienAu commented on #283
`    public void addCollectorItem(CollectorType collectorType, CollectorItem collectorItem) {
        // Currently only one collectorItem per collectorType is supported
         ...
    }`

" // Currently only one collectorItem per collectorType is supported"

Can you explain to me why , please ?

[2016-02-15 15:10] vishalbisa commented on #283
Hi @JulienAu ,

you might have checked only for one collector item, but hygieia tool can support multiple collectorids.

please find below the code snippet, that needs to be added in config.js file

`var CollectorItemIds = [];
// you can add multiple collector item id's
form.collectoritemid1
form.collectoritemid2

CollectorItemIds.push(CollectorItems1.id,CollectorItems2.id);

`
Thanks,
Vishal

[2016-02-16 06:03] manjunath2008 commented on #314
Hi All,
Thanks to the whole team for building such a wonderful software.

I am not able to run the github-collector.

My Config file contents is

#Database Name
database=dashboarddb

#Database HostName - default is localhost
dbhost=localhost

#Database Port - default is 27017
dbport=27017

#Database Username - default is blank
dbusername=db

#Database Password - default is blank
dbpassword=dbpass

[2016-02-16 06:13] jimzucker commented on #314
is your mongo-db running ?  I dont think you are pointing to it correctly and

Are you running it locally or in the docker container? (if in the latter then you have to get the ip of the vm you are running for docker not localhost’

You can test using this:
mongo localhost/admin  --eval 'db.getSiblingDB("dashboard").createUser({user: "db", pwd: "dbpass", roles: [{role: "readWrite", db: "dashboard"

[2016-02-16 09:05] manjunathv08 commented on #314
Hi,
Thanks for the response.

I am running mongodb locally.

My first question is when i run the jar with following configuration

#Database Name
database=dashboarddb

#Database HostName - default is localhost
dbhost=localhost

#Database Port - default is 27017
dbport=27017

#Database Username - default is blank
dbusername=db

#Database Password - default is blank
dbpassword=dbpass

#Collector sch

[2016-02-16 09:11] manjunathv08 commented on #314
Hi,
Thanks for the quick response.

I am running mongodb locally.

My first question is when i run the jar with following configuration

#Database Name
database=dashboarddb

#Database HostName - default is localhost
dbhost=localhost

#Database Port - default is 27017
dbport=27017

#Database Username - default is blank
dbusername=db

#Database Password - default is blank
dbpassword=dbpass

#Collect

[2016-02-16 15:07] jimzucker commented on #314
Couple of questions:

1. Can you do an ls on the directory where the properties file is?
2. What command r u using to run the jar?
3. Can you rub with setting DEBUG=1 in the environment and send the output?

Sent from my iPhone

On Feb 16, 2016, at 01:12, manjunathv08 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,
Thanks for the quick response.

I am running mongodb locall

[2016-02-16 16:25] jimzucker commented on #326
@softwareklinic - any update?

[2016-02-16 17:14] #312 closed

[2016-02-16 17:35] jimzucker commented on #314
One more thing, I came up with an isolated test.

If you are running locally this should run:

docker exec -t -i mongodb mongo <IP mongodb>/admin  --eval 'db.getSiblingDB(“<your DB>").getUsers()’

If you are using container:
docker exec -t -i mongodb mongo <IP docker-machine>/admin --eval 'db.getSiblingDB("<your DB>").getUsers()'

So in your case see if this works, I dont expect it to. IF you debu

[2016-02-16 17:56] manjunath2008 commented on #314
Hi,
I am actually setting up in Windows O.S

Please refer to the attached screenshot for list of file. sry i dont  have Cygwin installed.
![git](https://cloud.githubusercontent.com/assets/17257736/13085474/7ebb9a74-d504-11e5-85d1-bb5536e07ccf.PNG)

Command used to run the jar is

java -jar github-scm-collector-1.5.0-SNAPSHOT.jar --spring.config.name=newgit.properties
--spring.config.location=C:\Us

[2016-02-16 17:57] manjunath2008 commented on #314
I dont know how docker works, i am new to it .. let me try running the jar with setting=1 and get back to you.

Thanks

[2016-02-16 18:06] jimzucker commented on #314
I think I see the issue:

Try this:  java -jar github-scm-collector-1.5.0-SNAPSHOT.jar --spring.config.location=C:\Users\Manju\Downloads\Hygieia-master\Hygieia-master\github-scm-collector\newgit.properties

I think --spring.config.name=newgit.properties   is messing you up…

I think this will work also:

java -jar github-scm-collector-1.5.0-SNAPSHOT.jar  --spring.config.name =newgit.properties  --

[2016-02-16 18:13] jimzucker opened #334 "Eclipse flags 37 maven build file issues"
This look pretty mechanical to clean up.  If we get eclipse clean it is easier to see when a new issue is raised.  Once Java8 is merged I will pull a branch and clean these up.

Description	Resource	Path	Location	Type
Duplicating managed version 1.1.1 for json-simple	pom.xml	/chat-ops-collector	line 93	Maven pom Loading Problem
Duplicating managed version 1.1.1 for json-simple	pom.xml	/core	line 1

[2016-02-16 18:27] jimzucker commented on #334
Looks like all of them are 'noise' except jodi-time needs to be upgraded 2.5->2.7 (api/pom.xml has 2.7)

[2016-02-16 18:31] manjunath2008 commented on #314
Yes i have this in the spring docs but it does support and throws some exception when running the jar. Hence i am explicitly specifying the location of the properties file.

Exception encountered during context initialization - cancelling refresh attempt
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'gitHubCollectorTask': Invocation of init method failed; n

[2016-02-16 18:37] jimzucker commented on #314
the properties are not being picked-up, do you get the same error with this command?
java -jar github-scm-collector-1.5.0-SNAPSHOT.jar --spring.config.location=C:\Users\Manju\Downloads\Hygieia-master\Hygieia-master\github-scm-collector\newgit.properties

If you set DEBUG=1 in your ENV we may get some useful info..

On Feb 16, 2016, at 10:06 AM, Jim Zucker <jim@stratengllc.com<mailto:jim@stratengll

[2016-02-16 19:04] gitfan89 opened #335 "JIRA feature collector failure - Need help !"
Hi ,

While  trying to get the JIRA connector to work I’m facing below error
[code]
I’m trying to connect to JIRA from my  corporate secure connection and I have imported the certificate into the  jdk default truststore. It would be really helpful if any assistance is offered. Thanks.Also, I’m not sure about the values in the application.properties, it will be much appreciated if a working applica

[2016-02-16 19:04] tabladrum commented on #314
In your command line, --spring.config.name should be github (or to match whatever name you want spring to pickup). Then --Spring.config.location should be the properties file name, best is to fully specify the file name with full path.

[2016-02-16 19:11] manjunath2008 commented on #314
@jimzucker . NO i dont get the error with the above command.

@tabladrum Yes that's what i am doing and i am able to run the jar. But i have two questions which i have mentioned in my first comment can u please have a look into it.

[2016-02-16 20:10] jimzucker commented on #314
Hi,

The defaults where kicking in because the code was not properly picking up the config file.

Now that you can start the collector can we close this?

Sent from my iPhone

On Feb 16, 2016, at 11:11, manjunath2008 <notifications@github.com<mailto:notifications@github.com>> wrote:

@jimzucker<https://github.com/jimzucker> . NO i dont get the error with the above command.

@tabladrum<https://gith

[2016-02-17 04:38] daniuniperu commented on #192
Failed to execute goal com.github.eirslett:frontend-maven-plugin:0.0.25:install-node-and-npm (install node and npm) on project UI: The plugin com.github.eirslett:frontend-maven-plugin:0.0.25 requires Maven version 3.1.0 -> [Help 1]

[2016-02-17 04:38] daniuniperu commented on #192
Failed to execute goal com.github.eirslett:frontend-maven-plugin:0.0.25:install-node-and-npm (install node and npm) on project UI: The plugin com.github.eirslett:frontend-maven-plugin:0.0.25 requires Maven version 3.1.0 -> [Help 1]

[2016-02-17 05:17] manjunath2008 commented on #314
Hi,
But even after start running the github-collector jar successfully, i dont see any data being pushed to mongodb. Can you please tell me have i missed anything in configuration. Please guide me.

Thanks

[2016-02-17 05:46] jimzucker commented on #314
you have to go into the UI and configure the URL and branch setting, there is an example in the Setup.md doc..

On Feb 16, 2016, at 9:17 PM, manjunath2008 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,
But even after start running the github-collector jar successfully, i dont see any data being pushed to mongodb. Can you please tell me have i missed anything in configurati

[2016-02-17 11:21] gitfan89 commented on #335
@amitmawkin @amp5208 @tabladrum : Could you pls. give me any inputs on the above issue. Thanks much !

[2016-02-18 05:08] manjunathv08 commented on #314
Hi,
Thanks a lot... It worked... How do we config github-scm-collector to extract data from private repo. Can u please tell me in detail steps. Once again thanks a lot.

[2016-02-18 05:14] manjunath2008 commented on #314
Hi,
Thanks a lot. It worked.. Can you please tell me steps to how to configure github-scm-collector to extract data from private repo. Once again thanks a lot.

[2016-02-18 11:02] BeenaMP commented on #327
Thanks Jim.I succeeded from that steps.

[2016-02-18 11:02] #327 closed

[2016-02-18 11:23] BeenaMP opened #336 "Maven build error:"
I got the error cannot find symbol as below:looks like the classes are missing.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.3.2:compile (default-compile) on project api: Compilation failure: Compilation failure:
[ERROR] \Users\468683\workspace\DE_Hygieia\api\src\main\java\com\capitalone\dashboard\Application.java:[3,45] error: cannot find symbol
[ERROR] \Users\

[2016-02-18 16:16] jimzucker commented on #314
HI,

Currently only github urls are supported.

-Jim

On Feb 17, 2016, at 9:14 PM, manjunath2008 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,
Thanks a lot. It worked.. Can you please tell me steps to how to configure github-scm-collector to extract data from private repo. Once again thanks a lot.

—
Reply to this email directly or view it on GitHub<https://github.com/cap

[2016-02-18 16:26] jimzucker opened #337 "Add Docker Containers for product/stash/svn/udeploy/versionone"
We need to add containers for these collectors to finish the docker setup.  We should create them and also add optional test servers that we can use for demo and automated testing (test servers are under $ROOT/docker, today there is a jenkins and a sonar server you can optionally build for testing).

I plan to add them to the compose file commented out, people can enable them by adding them to the

[2016-02-18 19:03] jimzucker commented on #336
try a

mvn clean install package

from the root

On Feb 18, 2016, at 3:23 AM, BeenaMP <notifications@github.com<mailto:notifications@github.com>> wrote:

I got the error cannot find symbol as below:looks like the classes are missing.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.3.2:compile (default-compile) on project api: Compilation failure: Compilation failur

[2016-02-18 20:48] amp5208 commented on #335
@gitfan89 , Thank you for reaching out.  Two questions for you first:  1)  Have you set a proxy or auth proxy setting for the feature collector properties file? 2) Have you pull the latest code from upstream master?

[2016-02-18 20:57] jimzucker commented on #336
can you try a 'mvn clean install package'  as the master looks OK for me and also builds on travis OK.

[2016-02-19 05:36] BeenaMP commented on #336
I did 'mvn clean install package -Dmaven.test.skip=true' in root only.But I skipped test due to test case failures.I have taken the code on Feb 10th.Please let me know any code update happened after that.

[2016-02-19 14:23] tabladrum commented on #336
We make sure that the master is clean as it is auto built by Travis. So, Feb 10th code should be fine.
Are you behind a proxy?

[2016-02-19 14:24] tabladrum commented on #334
Simple to clean up. Will do.

[2016-02-19 14:53] jimzucker commented on #334
@tabladrum Ill take care of them i am just waiting for the java 1.8 pull req to be merged. (I am going thru cleaning up eclipse and wiill create a ticket for each category of cleanups to give the team visibility. Please assign to me.

Sent from my iPhone

On Feb 19, 2016, at 06:24, tabladrum <notifications@github.com<mailto:notifications@github.com>> wrote:

Simple to clean up. Will do.

-
Reply t

[2016-02-21 05:25] jimzucker opened #342 "34 java warnings in Eclipse "Unsupported @SuppressWarnings("PMD..""
Is this happening in other peoples eclipse?  I am thinking it is a missing plugin or something in my env.

Description	Resource	Path	Location
Unsupported @SuppressWarnings("PMD.UnusedPrivateField")	HudsonCollectorTask.java	/jenkins-build-collector/src/main/java/com/capitalone/dashboard/collector	line 34
Unsupported @SuppressWarnings("PMD.UnusedPrivateField")	SonarCollectorTask.java	/sonar-codequal

[2016-02-21 05:26] jimzucker opened #343 "Type safety Java Error in eclipse (10 cases)"
We should clean this up so a developer can see new issues when changing code.

Description	Resource	Path	Location
Type safety: The method add(Object) belongs to the raw type ArrayList. References to generic type ArrayList<E> should be parameterized	DefaultUDeployClient.java	/udeploy-deployment-collector/src/main/java/com/capitalone/dashboard/collector	line 242
Type safety: The expression of type M

[2016-02-21 05:32] jimzucker opened #344 "Java Errors - The value of the local variable - 13 cases."
To enable developers to see new issues introduced we should cleanup the eclipse warnings.  These should be reviewed and either cleaned up or flagged so eclipse ignores them if they are necessary.

Description	Resource	Path	Location
The value of the local variable u is not used	DefaultHudsonClientTests.java	/jenkins-build-collector/src/test/java/com/capitalone/dashboard/collector	line 95
The value

[2016-02-21 05:34] jimzucker opened #345 "28 PMD warnings to cleanup"
We should clean these up, it makes it hard to see new issues.

Description	Resource	Path	Location	Type
Unnecessary use of fully qualified name 'com.capitalone.dashboard.model.Service' due to existing import 'com.capitalone.dashboard.model.*'	DashboardServiceImpl.java	/api/src/main/java/com/capitalone/dashboard/service	line 89	PMD Marker
Unnecessary use of fully qualified name 'com.capitalone.dashb

[2016-02-21 05:36] jimzucker opened #346 "Eclipse Warnings: cleanup incorrect calls to static methods (5 cases)"
This is straight forward, please assign to me and I will clean it up.
(Working to make eclipse clean so we can see new issues)

Description	Resource	Path	Location	Type
The static method getChatopsServerUrl() from the type ChatOpsRepo should be accessed in a static way	ChatOpsRepo.java	/chat-ops-collector/src/main/java/com/capitalone/dashboard/model	line 48	Java Problem
The static method getChatops

[2016-02-21 22:31] jimzucker opened #347 "Eclipse Warnings Cleanup - serializable does not declare a static final serialVersionUID(4 cases)"
Cleaning up eclipse warning so new issues are visible.

It should be safe to just add the defaults via eclipse.

Please assign to me and I will cleanup.

The serializable class UnsafeDeleteException does not declare a static final serialVersionUID field of type long	UnsafeDeleteException.java	/core/src/main/java/com/capitalone/dashboard/util	line 6
The serializable class HygieiaException does not

[2016-02-21 22:33] jimzucker opened #348 "Eclipse Warnings Cleanup - Unused local variables (13 Cases)"
Usually these are for debugging and the warning should be suppressed.

The method nullSafe(Set<Build>) from the type JenkinsCucumberTestCollectorTask is never used locally	JenkinsCucumberTestCollectorTask.java	/jenkins-cucumber-test-collector/src/main/java/com/capitalone/dashboard/collector	line 221
The method makeRestCall(String) from the type DefaultChatOpsClient is never used locally	DefaultCha

[2016-02-21 22:36] jimzucker opened #349 "eclipse warnings cleanup - References to generic type (20 Cases)"
This one I think somebody more familiar with code should cleanup, preferably by setting the correct types, or as a last resort suppress the warning..

ResponseEntity is a raw type. References to generic type ResponseEntity<T> should be parameterized  DashboardController.java    /api/src/main/java/com/capitalone/dashboard/rest    line 56

ResponseEntity is a raw type. References to generic type Res

[2016-02-21 22:55] jimzucker opened #350 "Eclipse warnings cleanup - Resource leak (1 Case)"
This should be reviewed and addressed.

Resource leak: '<unassigned Closeable value>' is never closed	MarkdownTest.java	/core/src/test/java/com/capitalone/dashboard	line 63

[2016-02-21 23:05] jimzucker opened #351 "PMD Warning - Overridable method called during object construction (5 cases)"
PMD warnings to be addressed.

Description	Resource	Path	Location	Type
Overridable method 'setTodayDateISO' called during object construction	FeatureDataClientSetupImpl.java	/versionone-feature-collector/src/main/java/com/capitalone/dashboard/client/story	line 57	PMD Marker

Overridable method 'setTodayDateISO' called during object construction	ProjectDataClientSetupImpl.java	/jira-feature-collect

[2016-02-21 23:06] jimzucker opened #352 "PMD Warnings - Avoid catching NullPointerException; consider removing the cause of the NPE (14 cases)"
This needs input from the team, do we want to fix these or configure PMD to just ignore them?

Description Resource    Path    Location    Type
Avoid catching NullPointerException; consider removing the cause of the NPE.    FeatureServiceImpl.java /api/src/main/java/com/capitalone/dashboard/service line 77 PMD Marker

Avoid catching NullPointerException; consider removing the cause of the NPE.

[2016-02-22 00:46] jimzucker opened #353 "PMD Warnings - Overridable method 'setTodayDateISO' called during object construction (5 cases)"
Solution is simple to make the method final

Description	Resource	Path	Location	Type
Overridable method 'setTodayDateISO' called during object construction	FeatureDataClientSetupImpl.java	/versionone-feature-collector/src/main/java/com/capitalone/dashboard/client/story	line 57	PMD Marker

Overridable method 'setTodayDateISO' called during object construction	ProjectDataClientSetupImpl.java	/jira-f

[2016-02-22 00:48] jimzucker opened #354 "PMD Warnings - Avoid instantiation through private constructors from outside of the constructors class"
Description	Resource	Path	Location	Type
Avoid instantiation through private constructors from outside of the constructors class.	DashboardServiceImpl.java	/api/src/main/java/com/capitalone/dashboard/service	line 191	PMD Marker

Avoid instantiation through private constructors from outside of the constructors class.	DeployServiceImpl.java	/api/src/main/java/com/capitalone/dashboard/service	line 131

[2016-02-22 00:49] jimzucker opened #355 "PMD Warnings - Avoid unnecessary comparisons in boolean expressions(5 cases)"
Some cosmetic changes, but we have to be careful to get the expression correct.

Description	Resource	Path	Location	Type
Avoid unnecessary comparisons in boolean expressions	FeatureServiceImpl.java	/api/src/main/java/com/capitalone/dashboard/service	line 166	PMD Marker

Avoid unnecessary comparisons in boolean expressions	FeatureServiceImpl.java	/api/src/main/java/com/capitalone/dashboard/service

[2016-02-22 00:50] jimzucker opened #356 "PMD Warning - method search() has an NPath complexity of 264"
Description Resource    Path    Location    Type
The method search() has an NPath complexity of 264  TestResultServiceImpl.java  /api/src/main/java/com/capitalone/dashboard/service line 45 PMD Marker

[2016-02-22 00:51] jimzucker opened #357 "PMD Warning - Avoid unused private fields such as 'pipelineRepository"
Looks like we can just remove this.

Description	Resource	Path	Location	Type
Avoid unused private fields such as 'pipelineRepository'.	DashboardServiceImpl.java	/api/src/main/java/com/capitalone/dashboard/service	line 23	PMD Marker
Perhaps 'pipelineRepository' could be replaced by a local variable.	DashboardServiceImpl.java	/api/src/main/java/com/capitalone/dashboard/service	line 23	PMD Marker

[2016-02-22 00:58] jimzucker opened #358 "PMD Warning - Unnecessary use of fully qualified name(2 cases)"
The first one resolves OK if we remove the full qualification, but the second resolves to a spring library, so we may have to suppress the PMD error.

Description	Resource	Path	Location	Type
Unnecessary use of fully qualified name 'com.capitalone.dashboard.model.Component' due to existing import 'com.capitalone.dashboard.model.*'	DashboardServiceImpl.java	/api/src/main/java/com/capitalone/dashboar

[2016-02-22 01:25] #345 closed

[2016-02-22 01:26] jimzucker commented on #345
this was opened by mistake, I did a ticket for each category so reviewing the pull request will be clearer as to what was changed.

[2016-02-22 05:39] jimzucker commented on #342
This seems to be an eclipse issue and the only option is to disable flagging unknown SuppressWarnings.
I will research it further as I was not able to get the recommended change to work on my env.

[2016-02-22 07:22] BeenaMP commented on #336
Yes I am behind a proxy.

[2016-02-22 07:37] BeenaMP commented on #336
Can I get some resolution on proxy issues?

[2016-02-22 08:20] tabladrum commented on #336
So you know how to use a maven settings file and set up your proxy to get to maven central etc? If not Google up maven settings proxy.

[2016-02-22 11:24] BibinCTS commented on #192
I could resolve bower issue. Now i am facing a different error on gulp as shown below:

[INFO] --- frontend-maven-plugin:0.0.25:bower (bower install) @ UI ---
[INFO] Running 'bower install' in /usr/local/Hygieia/UI
[INFO]
[INFO] --- frontend-maven-plugin:0.0.25:gulp (gulp build) @ UI ---
[INFO] Running 'gulp.js build --no-color' in /usr/local/Hygieia/UI
[ERROR] module.js:338
[ERROR]     throw err;

[2016-02-22 17:52] stlouisweb opened #359 "Skipping docker build for UI"
I'm trying to run Hygieia via Docker-Compose on my mac.

I seem to have made it through the api portion of the install alright, but when I try to build the UI container mvn goes through its tasks, and seems to move along fine until it hits the docker build task

This leads me to believe that npm, bower and gulp do their thing, not seeing any errors there. So why is the docker build being skipped?

[2016-02-22 18:11] jimzucker commented on #359
I am taking a look at this...

On Feb 22, 2016, at 9:52 AM, Jeremy Plack <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm trying to run Hygieia via Docker-Compose on my mac.

I seem to have made it through the api portion of the install alright, but when I try to build the UI container mvn goes through its tasks, and seems to move along fine until it hits the docker build ta

[2016-02-22 18:31] jimzucker commented on #359
@stlouisweb take a look at the commit I made on this ticket, if you pull that change it will fix your pom.xml

[2016-02-22 18:32] stlouisweb commented on #359
that was quick! I'm testing it out now. I'll let you know how it goes in a few.

[2016-02-22 18:43] stlouisweb commented on #359
it works, no more `Skipping docker build`

[2016-02-22 18:44] stlouisweb commented on #359
figured maybe leave this open until your change gets merged?

[2016-02-22 18:52] jimzucker commented on #353
This is a duplicate, closing ticket.

[2016-02-22 18:52] #353 closed

[2016-02-22 18:53] jimzucker commented on #342
Closing, no code changes each developer must configure their eclipse to handle this.

![screenshot 2016-02-22 10 45 26](https://cloud.githubusercontent.com/assets/14372687/13228780/80efd6aa-d952-11e5-9c34-b83e500b1073.png)

[2016-02-22 18:53] #342 closed

[2016-02-22 21:37] jamesjlee commented on #277
Thanks for the help javakthar.

I found the issue. For some reason, the 'serve' command wasn't being run. I had to modify gulpfile and add it in the function runSequence:

gulp.task('build', function(callback) {
    runSequence('clean', ['assets', 'themes', 'fonts', 'js', 'views', 'test-data', 'serve'], 'html', callback);
});

[2016-02-22 21:37] #277 closed

[2016-02-22 22:22] jamesjlee opened #361 "How to set proxy for github collector?"
Hello,

I have the database, the UI, and the api all running fine. However, when I add a github repo  (**Repo URL**: https://github.com/capitalone/Hygieia.git, **Branch**: master), I am getting the following error from the github-scm-collector, and I don't see any data being posted on the UI:

2016-02-22 16:40:20,058 ERROR c.c.d.collector.DefaultGitHubClient - I/O error on GET request for "https:/

[2016-02-22 23:03] tabladrum commented on #361
You can use -D in command line and use the proxy setup for the collector.

[2016-02-23 00:49] jamesjlee commented on #361
An example would be greatly appreciated! I understand that the -D command is used to create variables with a certain value, but I'm unsure how to "use the proxy setup for the collector". Does this require modifying any code in the GitHubSettings.java/DefaultGitHubClient.java?

[2016-02-23 05:50] suniltantry opened #362 "Unable to configure github collector"
Team,
Thank you for developing such a great tool, however, we are currently unable to configure GIT and JIRA collectors.

We have an git running on our corporate server and we get the below error, Can you kindly assist.?

2016-02-23 16:31:46,032 ERROR c.c.d.collector.DefaultGitHubClient - 403 Forbidden:https://github.xx.xx.xx..com/api/v3/repos/api/v3/repos/xxxxx/depscripts/commits?sha=Eod&since=20

[2016-02-23 15:04] jimzucker commented on #350
@jdamick  - can you take a look at this one, it was introduced with your commit in Dec.

[2016-02-23 15:05] #323 closed

[2016-02-23 15:06] #334 closed

[2016-02-23 15:06] #330 closed

[2016-02-23 16:55] SubramaniMurthy commented on #220
Hi,
I have configured JIRA Collector. And, collector is not throwing any error when i executing it.
It displays Agile Content Tool Type: Jira and all Project Names from JIRA tool in Feature Widget.

But, after selecting a project and saving the widget, it displays as _SPRINT: [NO SPRINT AVAILABLE]_ and everything with '0' value.

Would like to understand what would i have missed in the properties

[2016-02-23 16:58] amitmawkin commented on #361
java -Dhttps.proxyHost=<proxy> -Dhttps.proxyPort=<proxyport  -jar

[2016-02-23 16:59] #361 closed

[2016-02-23 23:44] jimzucker opened #363 "Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.0.1:sonar ... Incompatible version 1007"
This error is back when trying to run:
mvn sonar:sonar -Dsonar.host.url=http://$(docker-machine ip default):9000 -Dsonar.jdbc.url="jdbc:h2:tcp://$(docker-machine ip default)/sonar"

           [ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.0.1:sonar (default-cli) on project Hygieia: Unable to read /Users/jaz/work/Hygieia/api/target/jacoco.exec: Incompatible versi

[2016-02-23 23:48] suniltantry commented on #362
All,
Is there a way we can pass github authentication information in the application.properties file?
Kindly assist.

[2016-02-23 23:54] softwareklinic commented on #362
You should be able to.. If not its easy to modify code to accept it from properties file…

From: Sunil Tantry <notifications@github.com<mailto:notifications@github.com>>
Reply-To: capitalone/Hygieia <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, February 23, 2016 at 5:48 PM
To: capitalone/Hygieia <Hygieia@noreply.github.com<mailto:Hygieia@noreply.github.com>>
Subject: [E] R

[2016-02-23 23:59] jimzucker commented on #363
Rolling back to 0.7.4.201502262128 I get this error in eclipse;

Description	Resource	Path	Location	Type
Plugin execution not covered by lifecycle configuration: org.jacoco:jacoco-maven-plugin:0.7.4.201502262128:prepare-agent (execution: default, phase: initialize)	pom.xml	/api	line 56	Maven Project Build Lifecycle Mapping Problem

[2016-02-24 11:03] BeenaMP commented on #336
My setting XML has proxy settings.

[2016-02-24 15:11] BeenaMP commented on #336
The issue resolved as my workspace got corrupted .I could proceed further and facing the below issue.

[ERROR] Failed to execute goal on project jira-feature-collector: Could not resolve dependencies for project com.capitalone.dashboard:jira-feature-collector:jar:1.5.0-SNAPSHOT: Failed to collect dependencies at com.atlassian.jira:jira-rest-java-client-core:jar:3.0.0: Failed to read artifact descr

[2016-02-24 22:03] #362 closed

[2016-02-25 00:03] jimzucker opened #364 "Upgrade maven-compiler-plugin to 3.5.1"
Upgrade to solve sonar version issue.

<groupId>org.apache.maven.plugins</groupId>
<artifactId>maven-compiler-plugin</artifactId>
<version>3.5.1</version>

[2016-02-25 00:03] jimzucker commented on #363
Solved error in eclipse by upgrading compiler plugin reference #364

[2016-02-25 00:32] jimzucker opened #365 "Jacoco not running for all subprojects"
Right now it is only running for the API, adding to all projects so we can get accurate coverage info in SONAR.

[2016-02-25 07:28] BeenaMP commented on #336
It was a cert issue and got resolved

[2016-02-25 07:28] #336 closed

[2016-02-25 07:41] BeenaMP opened #366 "Maven build error in UI while building from root"
I have done a "mvn clean install package" from root and got the build error.I can see issue no 192 may be similar.But unable to understand the term "Please run this without root as a user "

]Failed to execute goal com.github.eirslett:frontend-maven-plugin:0.0.25:gulp (gulp build) on project UI: Failed to run task: 'gulp.js build --no-color' failed. (error code 1) -> [Help 1]

Build stacktrace:
[c

[2016-02-25 14:05] gangadharahn opened #367 "Team/Project Name is not updated"
under feature widget >if  I am choosing Tool Type than Team/Project Name is not updating.
Plz help me out about this.I am finding scope owners with respective team id,But I nead Project name by pid where I need to do the necessary correction .
Thanks,
siba

[2016-02-25 14:52] papithag opened #368 "Code collector widget showing different tech debt value"
Hello
I am using SonarQube for code quality and coverage, technical debt value is varying in Sonarqube dashboard and in Hygieia code collector widget.

Is there any fix around so that I can use in Hygieia dashboard code?

[2016-02-25 15:49] RichSteele opened #369 "Failure in core tests with proxy without user info"
Maven build fails with:

15:39:35.202 [main] DEBUG d.f.e.p.store.ArtifactStoreBuilder - Build ArtifactStore(useCache: true)
Download PRODUCTION:Linux:B64 START
15:39:35.269 [main] ERROR c.c.d.repository.EmbeddedMongoDBRule - Unexpectedly, something in your proxy configuration was blank or misreferenced for com.capitalone.dashboard.repository.EmbeddedMongoDBRule$SystemProxy
java.lang.NullPointerExc

[2016-02-26 00:50] jimzucker commented on #368
I ran a test using sonar 5.3 and the Hygieia code base and reproduced the issue.  It will need to be investigated.

Here is my review:
***Tech Debt: 6d on Hygieia and 15d in Sonar
% Coverage  - LGTM
#issues - LGTM

<img width="710" alt="screenshot 2016-02-25 16 47 29" src="https://cloud.githubusercontent.com/assets/14372687/13339701/7e72de7e-dbdf-11e5-95c1-cf0834ecffa1.png">

<img width="354" alt=

[2016-02-26 00:57] jimzucker opened #370 "Sonar disabled for github and stash collectors - SonarQube is unable to analyze file"
Currently  <sonar.skip>true</sonar.skip> is set on these 2 projects and we get the error below in both projects.  It took a while (1.5d to figure out all of the other sonar/eclipse compatibly issues and I wasn't able to solve this last one, more research needed.

Sonar Version: 5.3
Sonar Plugin: 3.0.1
Jacob Plugin: 0.7.4.201502262128

github-scm-collector:
[ERROR] Failed to execute goal org.sonars

[2016-02-26 01:01] amitmawkin commented on #370
Just exclude all the github, stash  files from sonar analysis. I suspect that they have a special character  > which causes issues with Sonar 5.3

[2016-02-26 01:01] jimzucker commented on #370
Note: I have to submit a pull req for #363 before this will be visible to everyone else.

[2016-02-26 01:03] jimzucker commented on #370
I did set it to skip these 2 projects, let me re-type the @suppress line it is complaining about.

[2016-02-26 01:31] jimzucker commented on #365
@tabladrum I have this completed once my pending pull requests are merged I will rebase then submit this.

[2016-02-26 01:31] jimzucker commented on #364
@tabladrum I have this completed once my pending pull requests are merged I will rebase then submit this.

[2016-02-26 01:32] jimzucker commented on #363
@tabladrum I have this completed once my pending pull requests are merged I will rebase then submit this.

[2016-02-26 07:03] gangadharahn commented on #232
Yes I am getting the same issue.Data mongo data is not updated in project list

[2016-02-26 09:48] gitfan89 commented on #335
Thanks for you input . Sorry that I couldn't reply back earlier.  My answers for your questions.

	 1. NO , I'm not using any proxy. I have commented out that section in feature collector properties file.

	 2. Yes, I have taken the latest code from the upstream master.

	 3. Not sure that I have provided the correct status mappings for Jira in the properties file. I have attached feature collecto

[2016-02-26 18:53] aleitner opened #371 "API Connectivity issue with 2.0.0"
i am trying to set up an instance of Hygieia 2.0.0 but my UI is displaying that there is a Connectivity issue.

When I navigate to localhost:3000 I see a red 'x' next to API connectivity.
Gulp is printing the following line on the terminal:
 `[Proxy] { [Error: getaddrinfo ENOTFOUND] code: 'ENOTFOUND', errno: 'ENOTFOUND', syscall: 'getaddrinfo' }`

Why is the api not connecting with the UI? My mong

[2016-02-26 19:33] aleitner commented on #371
Actually my version 1.5.0 is doing this too

[2016-02-26 19:40] amitmawkin commented on #371
Can you check chrome js debug logs , usually it will output a lot more if you could paste it here

[2016-02-26 19:53] aleitner commented on #371
When I try to go to 2.0.0 I see:
`WebSocket connection to 'ws://XXX.XX.XX.XXX:3000/browser-sync/socket.io/?EIO=3&transport=websocket&sid=USIjLd3A5flo73bUAAAE' failed: Invalid frame header`

When I go to 1.5.0 I see:
`WebSocket connection to 'ws://XXX.XX.XX.XXX:3000/browser-sync/socket.io/?EIO=3&transport=websocket&sid=qiJ69aJijxMTcgTEAAAN' failed: Invalid frame header
2http://XXX.XX.XX.XXX:3000/ap

[2016-02-26 19:56] amitmawkin commented on #371
Is this a newmongodb instance withno data in it?

[2016-02-26 19:57] aleitner commented on #371
2.0.0 has no data, but when I go to the XXX.XX.XX.XXX:8080/api/dashboard of the 1.5.0 instance there is a lot of JSON data returned.

[2016-02-26 20:00] amitmawkin commented on #371
So are they pointing to seperate mongodb instances ?

[2016-02-26 20:02] aleitner commented on #371
They are on separate servers pointing to unique mongo instances.

[2016-02-26 20:46] amitmawkin commented on #371
With 2.0 we have a dedicated healthcheck endpoint /api/ping  all it return is true. can you check that,
Secondly can you paste your api startup log from the new instance.

[2016-02-26 21:11] aleitner commented on #371
/api/ping just returns 'true'

Log:

2016-02-26 21:00:38,298 INFO  o.s.b.c.e.AnnotationConfigEmbeddedWebApplicationContext - Refreshing org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext@52c7652d: startup date [Fri Feb 26 21:00:38 UTC 2016]; root of context hierarchy
2016-02-26 21:00:41,359 INFO  o.s.b.f.a.AutowiredAnnotationBeanPostProcessor - JSR-330 'javax.i

[2016-02-26 21:22] amp5208 commented on #335
Thank you for following up.  I believe your issue is here in your properties settings:

<pre>
#Core Artifacts

feature.todoStatuses[0]=
feature.doingStatuses[0]=
feature.doneStatuses[0]=
</pre>

You need to create an array mapping of all possible statuses in your Jira instance, mapping them to either, "todo, doing done".  Here is an example:

<pre>
feature.todoStatuses[0]=Backlog
feature.todoStatu

[2016-02-26 21:27] amp5208 commented on #220
@SubramaniMurthy , Thank you for reaching out, and I apologize for the delay.  I noticed this, myself, after a revert and re-merge activity that happened recently.  I believe that something in the API and/or Core was not properly pushed upstream during a pull request merge.

I plan on following up with this item as soon as possible and as soon as priorities allow me.

To verify, however, can you c

[2016-02-27 03:58] softwareklinic opened #372 "Is the 2.0 Docker image available on hub.docker?"

[2016-02-27 04:47] amitmawkin commented on #372
Not yet ,  I will release this weekend.

[2016-02-28 14:32] amitmawkin commented on #371
api layer looks fine...

[2016-02-28 16:51] vishalbisa opened #373 "UI error"
Hi @jimzucker / @tabladrum / @amitmawkin / @vtjiles / @johnkangcurd

i am changes few UI file changes on the fly, but most of the time my gulp serve crashes with below error.

after undoing those changes also but it stills fails .

as a work around i need to delete the bower componets and re-install the UI components (npm install, bower install , gulp serve)
Error:

events.js:141
      throw er; /

[2016-02-29 03:55] papithag commented on #368
Hi @jimzucker ,
any update to this issue?

[2016-02-29 05:24] jimzucker commented on #368
@papithag I took a look at the issue it the calc in the dashboard

There is a method, calculateTechnicalDebt.  I don think the calculation for Day and year are correct, the is what I see

A day is counted as 1440 min, I think it should be 480.

Year is counted as 525600 minutes I think it should be 105,600 minutes. This is what I think it should be:
 Min 	          Hours 	     Days 	 Year
 60.000

[2016-02-29 05:30] papithag commented on #368
Hi @jimzucker
Awaiting for the fix :-)

[2016-02-29 05:49] jimzucker commented on #368
To get the #s to tie to sonar I had to use 8.25 hours/day.

 Min 	          Hours 	     Days 	 Year
 60    	         1.000 	     0.125 	 0.001
 495 	          8.250 	     1.000 	 0.005   *assume a day == 8.25 hours
 113850 	          1,760           230	 1.000  * assume a year is 230 workdays in a year (46 weeks)

[2016-02-29 05:51] papithag commented on #368
I am also working on the changes in my local as u suggested... Can u send me ur modified changes?

[2016-02-29 05:54] jimzucker commented on #368
you can take a look at this branch:  git@github.com:jimzucker/Hygieia.git

I haven’t tested it yet I have to do that tomorrow…

On Feb 28, 2016, at 9:51 PM, papithag <notifications@github.com<mailto:notifications@github.com>> wrote:

I am also working on the changes in my local as u suggested... Can u send me ur modified changes?

—
Reply to this email directly or view it on GitHub<https://github.

[2016-02-29 07:50] papithag commented on #368
Hi @jimzucker ,
I modified the code as you mentioned, still the values are not same in sonar and hygieia.
Hygieia shows tech debt (+1 or 2 days) higher than sonar.

Still need some tuning in the calculations

[2016-02-29 11:12] BeenaMP commented on #366
Can I get any resolution for the above issue?

[2016-02-29 17:21] gitfan89 commented on #335
@amp5208 :   Thanks much for your continuous help here.

Re- configured core artifacts values as below :

feature.todoStatuses[0]=Open
feature.doingStatuses[0]=In Progress
feature.doneStatuses[0]=Done

and

feature.jiraSprintDataFieldName=customfield_11800
feature.jiraEpicIdFieldName=customfield_11800

but still facing the same issue .

2016-02-29 11:42:00,015 INFO  c.c.d.collector.FeatureCollecto

[2016-02-29 17:29] jimzucker commented on #368
@papithag can you attach the following information:

1. Screen shots of what you see in your sonar & Hygieia (with and without the modification)
2. can you provide the output of this rest call, you may have to modify the <resource id> in the URL

http://<sonar host>:<port>/api/resources?format=json&resource=1&metrics=-ncloc,line_coverage,violations,critical_violations,major_violations,blocker_viol

[2016-02-29 19:35] amp5208 commented on #335
Thank you and no problem.  Actually, after looking more closely at your stack-trace, it appears that you may have an issue with your Jira collector's proxy setting.  Are you using a proxy?  May I see a mock-up of how you are setting your proxy within your properties files?  Proxy configurations should map as follows:

[code]

... Where the proxy fields should either be blank, or included with an a

[2016-02-29 21:28] aleitner commented on #371
It seems as if it's only the UI that is giving me trouble. I have collectors running and saving data into Mongo, and my api.jar is also connected successfully. I moved the UI from the src code to a separate folder, and I am running it from there with` gulp serve`. Does that matter?

[2016-02-29 23:08] jimzucker commented on #368
@papithag - I did some research today and it looks like we should use floor vs ceil on the resulting # of days.  In my test case I tied out. (the root cause issues was the divisor for minutes/day where off)

Here is my test case, you can see the UI ties to the values found in the rest call now.

![screenshot 2016-02-29 15 04 50](https://cloud.githubusercontent.com/assets/14372687/13412164/3642db1c

[2016-03-01 04:01] tabladrum opened #378 "Now you can use Jenkins Plugin and Github Webhook"
With Hygieia 2.0, you can publish Build, Sonar Analysis, Artifact Info, Deployment (if using Jenkins to deploy), Cucumber Test Results from Jenkins to Hygieia. Use the latest Jenkins Plugin (https://github.com/capitalone/Hygieia/tree/master/hygieia-jenkins-plugin).

For Github webhook, the  payload url should be set to: http://hygieia-base-url/api/commit/github/v3
Select to publish just the "push"

[2016-03-01 04:10] softwareklinic commented on #378
So we need API, mongodb, and UI with Jenkins plugin?

Sent from my iPhone

On Feb 29, 2016, at 10:01 PM, tabladrum <notifications@github.com<mailto:notifications@github.com>> wrote:

With Hygieia 2.0, you can publish Build, Sonar Analysis, Artifact Info, Deployment (if using Jenkins to deploy), Cucumber Test Results from Jenkins to Hygieia. Use the latest Jenkins Plugin (https://github.com/capital

[2016-03-01 05:23] softwareklinic opened #379 "Mongo & API authentication error"
I followed the guidelines in the documentation for bringing up the mongo docker container and followed up linking it with API container but receiving following error

I created the user named db with password dbpass as per guidelines in doc...

$ mongo 192.168.99.100/admin --eval 'db.getSiblingDB("db").createUser({user: "db", pwd: "dbpass", roles: [{role: "readWrite", db: "dashboard"}]})'

	at org

[2016-03-01 06:11] papithag commented on #368
Hi @jimzucker
As per your recommended changes, I updated the code and finally added FLOOR method also.
I still see slight variations in the value

![image](https://cloud.githubusercontent.com/assets/14195791/13419203/3391b584-dfb7-11e5-8607-e2eaf254b6fc.png)

![image](https://cloud.githubusercontent.com/assets/14195791/13419222/4e8b127c-dfb7-11e5-9396-a41ed2751c8f.png)

Sonarqube dashboard has 12d

[2016-03-01 14:16] softwareklinic opened #380 "Host parameter is null - Hygieia Publisher in Jenkins"
Tried this URL for both parameters Hygieia Server URL and Name your jenkins...
http://192.168.99.100:8080/api

but it throws an error as below...

A problem occurred while processing the request. Please check our bug tracker to see if a similar problem has already been reported. If it is already reported, please vote and put a comment on it to let us gauge the impact of the problem. If you think t

[2016-03-01 14:32] softwareklinic commented on #379
Never mind - i fixed it... I was running the mongo command from my mac command line v.s bash'ing into the container

[2016-03-01 14:32] #379 closed

[2016-03-01 14:35] softwareklinic commented on #380
I've verified - the API and UI docker are able to interact - and the Dashboard UI does show API layer is connected... no issues with that... my docker default host IP is 192.168.99.100 --- and the port mapping is 8080:8080 for API --

http://192.168.99.100:8080/api/dashboard

[{"id":"56d5a716c9e77c000e156b62","template":"capone","title":"Search","widgets":[],"owner":"v585896","type":"Team","applic

[2016-03-01 14:40] tabladrum commented on #380
Which Jenkins version are you using?
Also, can you first "Apply" the config and then click "Test Connection"?
I am processing a new PR for better handling proxies. Give me a few mins.

[2016-03-01 14:47] softwareklinic commented on #380
Bingo - APPLY and then TEST... should be documented... :) maybe I'm not a PRO user...

[2016-03-01 14:49] tabladrum commented on #380
Cool. Jenkins is a little weird at times :-). Will add it to the readme. Thanks.

[2016-03-01 14:52] tabladrum commented on #373
Did you change anything in the code? What are those?

[2016-03-01 14:55] vishalbisa commented on #373
Hi @tabladrum ,

i am working on chartist , changing the view.js file and .html files.

i have even observed that the index.html file size is 0 bytes.

Thanks,
Vishal

[2016-03-01 14:58] jimzucker commented on #368
Please make a day = hour * 8

Sent from my iPhone

On Feb 29, 2016, at 22:11, papithag <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @jimzucker<https://github.com/jimzucker>
As per your recommended changes, I updated the code and finally added FLOOR method also.
I still see slight variations in the value

[image]<https://cloud.githubusercontent.com/assets/14195791/13419203

[2016-03-01 15:16] tabladrum commented on #380
Close this?

[2016-03-01 15:20] softwareklinic commented on #380
yes

[2016-03-01 15:21] softwareklinic opened #382 "About Artiactory, deployment, and test results"
In the new dashboard where will we show the following data

1. artifact
2. deployment (i guess widget exists)
3. test results

[2016-03-01 15:25] aleitner commented on #371
I realized I couldn't ping localhost so I found that the issue was my /etc/hosts file needed to have the line 127.0.0.1 localhost.localdomain localhost.

This solved my issue with getting 2.0.0 working

[2016-03-01 15:25] #371 closed

[2016-03-01 15:27] amitmawkin commented on #371
:8ball: :)

[2016-03-01 17:04] softwareklinic opened #384 "About web hook for Stash"
Would the web hook work the same way for Stash as well?

[2016-03-01 17:07] tabladrum commented on #384
Depends upon the payload. I don't know stash payload. Can you paste one?

[2016-03-01 18:45] gitfan89 commented on #335
@amp5208 : Thanks once again for your inputs :)

We didn't have any proxy configured for our JIRA,so went with a dummy value like below :+1:

feature.jiraProxyUrl=http://proxy.com
feature.jiraProxyPort=9999

and facing the below issues

2016-03-01 12:19:59,998 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2016-03-01 12:20:00,019 INFO  c.c.d.collector.FeatureCollectorTask - Starting

[2016-03-01 21:00] joshku opened #386 "Jenkins Plugin gives IllegalArgumentException"
I did a `mvn clean install` on the hygieia-jenkins-plugin folder and uploaded the hpi to my Jenkins instance. When I tried to connect I got the following error
[code]

My global configurations is
Token: [I left it blank]
Hygieia Server URL: http://hygieiaurl.com/api
Name of Jenkins: Jenkins

What else is missing that is causing this null error?

[2016-03-01 21:01] softwareklinic commented on #386
Click the Apply button — and then run Test Connectivity… with API

From: joshku <notifications@github.com<mailto:notifications@github.com>>
Reply-To: capitalone/Hygieia <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, March 1, 2016 at 3:00 PM
To: capitalone/Hygieia <Hygieia@noreply.github.com<mailto:Hygieia@noreply.github.com>>
Subject: [E] [Hygieia] Jenkins Plugin gives Ille

[2016-03-01 21:02] joshku commented on #386
Ahh great it works! Thanks a lot

[2016-03-01 21:02] #386 closed

[2016-03-02 01:33] jimzucker commented on #352
@tabladrum @jdamick  - What do we want to do with this category?  Maybe we should just disable it the PMD rules and allow it, seems like make-work to keep surpassing them, do you really want to re-write such code?

[2016-03-02 01:35] tabladrum commented on #352
I really want @amp5208 fix this code.

[2016-03-02 04:53] vishalbisa commented on #373
As a work around, we are replacing the index.html file ...

but still i wonder even small changes are causing the gulp serve to fail and the index file size is reduced to 0. undoing the changes doesnt even work in this scenario.

[2016-03-02 05:17] jimzucker commented on #354
merged in 4f20dca - (upstream/master, origin/master, origin/HEAD, master) Merge pull request #341 from jimzucker/eclipseCleanup

[2016-03-02 05:18] #354 closed

[2016-03-02 05:18] jimzucker commented on #346
merged in 4f20dca - (upstream/master, origin/master, origin/HEAD, master) Merge pull request #341 from jimzucker/eclipseCleanup

[2016-03-02 05:18] #346 closed

[2016-03-02 05:19] jimzucker commented on #347
merged in 4f20dca - (upstream/master, origin/master, origin/HEAD, master) Merge pull request #341 from jimzucker/eclipseCleanup

[2016-03-02 05:19] #347 closed

[2016-03-02 05:19] jimzucker commented on #348
merged in 4f20dca - (upstream/master, origin/master, origin/HEAD, master) Merge pull request #341 from jimzucker/eclipseCleanup

[2016-03-02 05:19] #348 closed

[2016-03-02 05:20] jimzucker commented on #358
merged 4f20dca - (upstream/master, origin/master, origin/HEAD, master) Merge pull request #341 from jimzucker/eclipseCleanup

[2016-03-02 05:20] #358 closed

[2016-03-02 05:21] jimzucker commented on #359
merged 4f20dca - (upstream/master, origin/master, origin/HEAD, master) Merge pull request #341 from jimzucker/eclipseCleanup

[2016-03-02 05:26] jimzucker opened #387 "java Errors - Type Safety - 11 cases."
This came in sometime in Feb 2016

Description	Resource	Path	Location	Type
Type safety: The constructor HttpEntity(MultiValueMap) belongs to the raw type HttpEntity. References to generic type HttpEntity<T> should be parameterized	DefaultHudsonClientTests.java	/jenkins-build-collector/src/test/java/com/capitalone/dashboard/collector	line 106	Java Problem

Type safety: The constructor HttpEntity(Mu

[2016-03-02 05:27] jimzucker commented on #387
duplicate

[2016-03-02 05:27] #387 closed

[2016-03-02 13:44] tabladrum opened #388 "Allow Hygieia UI to see Hygieia Status and Critical Errors"
UI option should allow the user to view
- collector status, error
- api status, errors

[2016-03-02 14:55] aleitner commented on #320
Any chance there will be documentation for writing a collector?

[2016-03-02 15:02] tabladrum commented on #320
I think that the best way would be to copy an existing collector (such as Jenkins collector) and modify it. The main parts are in each collector module's collector package.

[2016-03-02 19:47] amp5208 commented on #335
@gitfan89, That's the problem I would think - if you leave dummy values in, the program will try to use them as valid if they pass validation checks (which you dummy values would).  Just leave the fields blank and re-build/run.

[2016-03-02 19:48] amp5208 commented on #352
@tabladrum , I plan on it - however, further work on Hygieia was de-scoped based on my current capacity and priorities.  I am trying to get it back on my radar.  Feel free to speak with more about this offline.

[2016-03-03 13:47] papithag commented on #368
hi @jimzucker
After making day =hour*8, Sonarqube and Hygieia dashboard are showing same values if Sonarqube has single value like 3d, 8d, 12d.... but if SonarQube has double values like 1d 3 h, then Hygieia dashboard shows +1 or 2 days.

![image](https://cloud.githubusercontent.com/assets/14195791/13496094/59e8ad36-e189-11e5-8b98-a2e7c17071fa.png)

![image](https://cloud.githubusercontent.com/ass

[2016-03-03 17:13] wflentje opened #394 "Hygieia 2.0 build issue"
Am getting this when running clean build with fresh hygieia 2.0 download on rhel 7.x.  Any help appreciated.

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 5.709s
[INFO] Finished at: Thu Mar 03 12:10:11 EST 2016
[INFO] Final Memory: 28M/61M
[INFO

[2016-03-03 17:20] wflentje commented on #394
Need Java 1.8 .

[2016-03-03 17:20] #394 closed

[2016-03-03 17:21] tabladrum commented on #394
Can you paste a little more of the stack trace? What's your JDK version?

[2016-03-03 18:41] wflentje commented on #394
I was on 1.7, upgraded to 1.8 and worked fine.  Sorry did not do proper research before opening the issue.

[2016-03-03 18:43] tabladrum commented on #394
np. let us know how the rest of it goes.

[2016-03-04 05:34] jimzucker commented on #352
@tabladrum  @amp5208  - I marked the all as:
	@SuppressWarnings("PMD.AvoidCatchingNPE") // TODO: Avoid catching NullPointerException; consider removing the cause of the NPE

For now to clear up PMD and will leave this open for you to review.  FYI in total of 14 cases to review: (4 where previously suppressed)

/api/src/main/java/com/capitalone/dashboard/service/FeatureServiceImpl.java:	@SuppressWa

[2016-03-04 12:17] davenicoll commented on #280
I also had this problem. Thanks @apb66, this was the solution. Running Ubuntu 15.10.

[2016-03-04 14:22] #351 closed

[2016-03-04 15:20] jimzucker commented on #343
There are a few cases left to be addressed:

Type safety: The expression of type Collection needs unchecked conversion to conform to Collection<ObjectId>	CollectorServiceTest.java	/api/src/test/java/com/capitalone/dashboard/service	line 36	Java Problem

Type safety: The expression of type Collection needs unchecked conversion to conform to Collection<SVNLogEntry>	DefaultSubversionClient.java	/subv

[2016-03-05 00:49] jimzucker commented on #368
@papithag I am not sure if we want to fix this as the dashboard is meant to be a radiator, and putting 2d 11h may require chasing the layout of the UI.

@tabladrum let us know what you think...

@papithag  Can you run this (modify the hostname) so we can see what is returned by the JSON server as my 5.3 sonar is returning only in Days so I match exactly.

http://*dockerhost:9000*/api/resources?for

[2016-03-05 01:11] jimzucker commented on #368
@papithag you can try the change I just pushed, but please send me the json output from your server if it doesn't match.

[2016-03-07 08:37] papithag commented on #368
Hi @jimzucker

Added the change and working as expected.
Checked for technical debt with the combination of hours, days + hours, mins alone... all are working fine.

Thanks a lot for the support

[2016-03-07 11:17] Nandini-RL commented on #159
Is it mandatory to have a database by name 'dashboard' in MongoDB?
In fact once I created a DB called 'dashboard' in MongoDB then it started working. I was able to create the dasboard widgets.

So, the other names like 'dashboardb' or 'dashboarddb' will not work for creating dashboard widgets

So the sample properties files are misleading.

[2016-03-07 15:03] joshku commented on #159
So you should really use `dashboarddb` BUT in all honesty you really just need to make sure you stick to one database name. If stick to one database name then you will be able to connect all your collectors and everything to that database and it will work.

[2016-03-07 19:24] camillone commented on #156
user error in mongodb setup :)

[2016-03-07 19:24] #156 closed

[2016-03-07 19:34] camillone opened #399 "Jenkins collector does not support folders which will significantly reduce the usability of the collector. The collector is a preferred method over the Jenkins plugin for large deployments as the plugin requires modifying every job"
The Jenkins collector is unable to traverse within folders so it is unable to see any jobs within a folder. It marks the folder as a job within the Hygieia UI.

[2016-03-07 19:34] camillone opened #400 "GitHub Enterprise collector does not support SAML authentication"
SAML authentication isn't really the correct term but the collector really doesn't support authentication. If a GHE instance is behind a firewall and is access controlled then the collector is unable to authenticate itself to grab the repo information. There is not way through the UI or through an environment variable to authenticate itself.

[2016-03-07 19:35] camillone opened #401 "GitHub Enterprise push requires adding a web hook to every repo"
If there are a lot of repositories to monitor then configuring a webhook for every repo will be very cumbersome. There should be a better method to add the webhooks for all the repositories.

[2016-03-07 19:36] camillone opened #402 "GitHub Enterprise web hook does support pulling history so we cannot view historical data"
Hygieia is unable to pull the history of any repo through the webhook or the collector. This is a huge issue as when you first load the collectors, plugins and webhooks you can't see any data loading in the dashboard. You have to wait a while before information starts filling in.

[2016-03-07 19:36] camillone opened #403 "No Ldap authentication support for the UI"
This application should be something that only allows employees of an organization to access. There should be a way to connect to the LDAP server to authenticate a user otherwise anybody with the url will be able to access Hygieia and there needs to be a greater degree of security.

[2016-03-07 19:37] tabladrum commented on #399
Are the jobs not being collected? Or are the folder organization is messed up?

[2016-03-07 19:47] camillone commented on #399
It does not seem as though folders are working, but I'll get more details.

[2016-03-08 06:56] manjunath2008 opened #405 "Jenkins-build-collector not fetching build details for a given Job"
Hi All,

I have configured the Jenkins-build-collector successfully and the collector is working fine. In the configure build widget, i am able to see list of Job's name. But when i select one of the job from that list and save it. The collector is not extracting build related details for the job configured. And when i check the log i see the following error.

2016-03-08 11:55:06,293 ERROR c.c.d.c

[2016-03-08 14:51] tabladrum commented on #405
Can you paste the properties file here? Remove sensitive info.

[2016-03-08 14:54] tabladrum commented on #405
One more thing to check... Go to your Jenkins -> Manage Jenkins -> Configure Jenkins page.
Scroll down to Jenkins location section. Make sure you have the right URL of jenkins in there with http:// or https://. Example:

![image](https://cloud.githubusercontent.com/assets/6014941/13605025/92f3efea-e513-11e5-800b-c56e15167059.png)

[2016-03-08 15:35] softwareklinic commented on #382
Can someone respond to this one please...

[2016-03-08 15:44] tabladrum commented on #382
Please see the Hygieia 2.0 documentation for reference: https://github.com/capitalone/Hygieia/blob/master/Hygieia2.md

Test Results:
- If you publish (via Jenkins hygieia plugin) the cucumber test results, you can select those jenkins jobs in your Quality widget: Functional Test:
![image](https://cloud.githubusercontent.com/assets/6014941/13606509/287695ee-e51a-11e5-8379-e19aabb8fed2.png)

Deploym

[2016-03-09 11:14] gillianwilson opened #408 "Jira Feature Collector - Failure to find jira-rest-java-client-core during mvn clean install package"
Hi

I'm getting the following error when trying to run mv clean install package in the Hygieia checkout folder...any ideas?
.
.
.
[INFO] com.capitalone.dashboard:Hygieia ................... SUCCESS [  1.070 s]
[INFO] com.capitalone.dashboard:core ...................... SUCCESS [ 21.409 s]
[INFO] com.capitalone.dashboard:api ....................... SUCCESS [ 11.150 s]
[INFO] com.capitalone.dashboar

[2016-03-09 14:22] #408 closed

[2016-03-10 03:28] #368 closed

[2016-03-10 10:01] smsuresh commented on #276
No proper assistance by Hygieia team. Till now i did not see any dashboard with all the contents as mentioned in Your home page/publishings.

[2016-03-10 13:09] tabladrum commented on #276
That's sad. Checking in an hour.

[2016-03-10 15:16] amp5208 commented on #276
@smsuresh , I apologize for the delay in our being able to directly help you faster.  For transparency, there are two factors that have made it difficult to help resolve your issue:

 - Your issue appeared to be related to property file settings, that are custom to your internal instance of Jira (similar to this issue's resolution statement: https://github.com/capitalone/Hygieia/issues/220 - note

[2016-03-10 15:49] aleitner opened #413 "JIRA configuration only getting 1 sprint data"
My Jira collector is pulling data from my JIRA instance, but it only is getting information from 1 of the 7 sprints. I'm not seeing anything in my application.properties file that would actually change what sprints are seen.

Do you know of any potential cause for this?

Here's my application.properties file

feature.cron=0/15 * * * * *

feature.pageSize=1000

feature.queryFolder=jiraapi-queries

[2016-03-10 19:39] camillone opened #415 "UI should support flexibility in widgets"
There are cases when you have one repo with multiple branches that you want to monitor and having to switch between dashboards just to monitor a different branch but using the same UCD environment and same Jenkins builds can be cumbersome. There should be a way to add more widgets onto the dashboard to monitor multiple branches or repos within a specific application dashboard.

[2016-03-10 19:42] tabladrum commented on #415
This is a very valid ask.

[2016-03-10 19:57] amitmawkin commented on #415
you can play around with the existing templates..:)

[2016-03-10 20:06] deepakasa opened #416 "Build & Running on Windows environment"
I am facing issues while building code. I have commented bower and gulp sections from UI pom.xml and able to successfully build the application. While trying to run the application also am getting errors.

Do you any documentation which explains how to build and run the application on windows environment?

[2016-03-10 21:52] amp5208 commented on #276
@smsuresh , Please provide me some more information that would help us better help you:

 - Please run the JiraFeatureCollector while debugging with a break-point on the following class:  <em>FeatureDataClientSetupImpl</em> @ line 99.  Let me know what the object instance "rs" contains at that point
 - On your deployment region, please run the following command (or Windows equivalent) to test conn

[2016-03-10 22:01] tabladrum commented on #416
Can you paste the error log? Thanks

[2016-03-11 05:48] smsuresh commented on #276
@tabladrum  Thankyou very much for your attention!
@amp5208   Happy to hear from you!

For point 1 - I 'll  reply shortly
                2 - {"state":"RUNNING"}   is the response for  https://MYjira.com/status

               3 -   {
	"self": "https://MYjira.com/rest/api/2/issuetype/10000",
	"id": "10000",
	"description": "The sub-task of the issue",
	"iconUrl": "https://MYjira.com/download/resou

[2016-03-11 12:46] smsuresh commented on #276
I took the latest code & the latest .properties as per   ( https://github.com/capitalone/Hygieia/tree/master/jira-feature-collector)

Below is the error im seeing now..

2016-03-11 12:43:00,965 INFO  com.capitalone.dashboard.Application - Started Application in 4.125 seconds (JVM running for 5.519)
2016-03-11 12:44:00,001 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2016-03-11 12:

[2016-03-11 12:49] smsuresh commented on #276
Below is the file..

#Database Name - default is test
spring.data.mongodb.database=dashboard

#Database HostName - default is localhost
spring.data.mongodb.host=localhost

#Database Port - default is 27017
spring.data.mongodb.port=27017

#Database Username - default is blank
spring.data.mongodb.username=dashboarduser

#Database Password - default is blank
spring.data.mongodb.password=1qazxS23

#Co

[2016-03-11 13:29] tabladrum commented on #415
@camillone - can you propose some screen sketch as to how we want to visualize it?

[2016-03-11 14:27] tabladrum opened #417 "Every collection must have an "insertTimeStamp""
This will be used to clean up MongoDB.

[2016-03-11 14:53] amp5208 commented on #276
Try this; your property file still seems to have some problems.  Please take not of the comments that I left in this version of the property file for you:

<pre>
feature.pageSize=50

feature.queryFolder=jiraapi-queries
feature.storyQuery=story
feature.epicQuery=epic
feature.projectQuery=projectinfo
feature.memberQuery=memberinfo
feature.sprintQuery=sprintinfo
feature.teamQuery=teaminfo
feature.tre

[2016-03-11 14:53] tabladrum opened #418 "Enable swagger for api"

[2016-03-11 14:53] deepakasa commented on #416
Thanks, The build errors are as follows

[INFO] com.capitalone.dashboard:subversion-collector ...... SUCCESS [  3.174 s]
[INFO] com.capitalone.dashboard:github-scm-collector ...... SUCCESS [  3.795 s]
[INFO] com.capitalone.dashboard:versionone-feature-collector SUCCESS [  6.831 s]
[INFO] com.capitalone.dashboard:udeploy-deployment-collector SUCCESS [  4.911 s]
[INFO] com.capitalone.dashboard:jira-

[2016-03-11 14:56] tabladrum commented on #402
You can run the collector and GitHub push together. After few days (say 14 days) you can stop the collector and not run anymore.

[2016-03-11 14:56] tabladrum commented on #399
Send me the details when you get a chance.

[2016-03-11 15:00] tabladrum commented on #416
Looks like bower does not have permission to write. Not very familiar with Windows. I will look around. Hold tight.

[2016-03-11 16:49] aleitner commented on #413
I verified that customfield_10300 is that for all sprints when going to /rest/api/2/issue/[some-issue-name] for an issue from each sprint. Still unsure why the dashboard is only displaying information for only 1 sprint. Any ideas?

[2016-03-11 16:59] amp5208 commented on #220
@SubramaniMurthy, This issue has been continued in the following Issue post:  https://github.com/capitalone/Hygieia/issues/276.  I have also provided a concise "working" property example in that post.  Please reference that post for more information.

@tabladrum , This post can be closed in lieu of the related issue.

[2016-03-11 16:59] amp5208 commented on #231
@tabladrum , This issue can be closed, as customer is no longer having related problem since previous merge.

[2016-03-11 17:01] amp5208 commented on #300
@tabladrum , This issue can be closed, as it was resolved in the merge mentioned above.

[2016-03-11 17:13] tabladrum commented on #300
@papithag can you confirm and/or close this issue?

[2016-03-11 17:20] amp5208 commented on #335
@gitfan89, Just checking back on this:  I noticed that your error response is SSL related.  Does your Jira instance require SSL verification?  If so, add your Jira instance's public certificate to your Java keystore and re-run the Jira collector; should work, so long as your property settings are correct.

[2016-03-11 17:21] amp5208 commented on #352
@jimzucker , Thank you for this.  I will be working on cleaning up existing code and PMD annotations next sprint (in 1.5 weeks from today).

[2016-03-11 17:43] amp5208 commented on #196
@aniketvsawant , Thank you for reaching out; sorry I was not able to respond sooner - I just noticed this question.

The VersionOneFeatureCollector and subsequent Hygieia Feature Widget was tested on VersionOne Ultimate Edition.  Do you have 4090 story points currently in the VersionOne out-of-the-box "In Progress" status, or similar?  This collector will retrieve data for your current active spri

[2016-03-11 17:45] amp5208 commented on #224
@tabladrum , if @oshingc confirms, this issue can be closed, as a previous merge resolved this issue.

[2016-03-11 17:48] amp5208 commented on #413
@aleitner , Thank you for your question.  The way the collectors for the Feature Widget are currently configured, it assumes the following Jira configuration:  1 active project (that would align to a "team"), 1 active sprint, and many issues-type-story aligned to that active sprint.  Is this your current configuration, or does this assumption not hold for your implementation of Jira?

[2016-03-11 17:50] amp5208 commented on #309
@tabladrum , This issue was fixed in the above-mentioned pull request.  Please close if @xeon22 and @papithag have no concerns.

[2016-03-11 17:52] amp5208 commented on #290
@tabladrum , This issue can be closed, as the user's direct question was answered.

[2016-03-11 17:53] amp5208 commented on #266
@tabladrum , This issue can be closed, as it was resolved on a previous merge.  @cfmaley, please confirm if you have any open questions related to this issue.

[2016-03-11 17:56] amp5208 commented on #310
@tabladrum , As mentioned in the above comment, socket timeout overrides are not an option for the Jira collector's JRJC.  However, using the default pageSize settings, implemented in a previous merge, will resolve this issue.  I recommend closing this issue, pending any further questions from @xeon22 .

[2016-03-11 18:54] tabladrum commented on #401
You can use webhook API to do this
https://developer.github.com/v3/repos/hooks/

[2016-03-11 19:15] aleitner commented on #413
Our Jira is 1 active project, multiple teams, multiple sprints(1 for each team), and many issues assigned to each sprint.

So is the collector getting the data like so:
`for each feature.jiraEpicIdFieldName count all feature.jiraSprintDataFieldName with application.properties statuses`

some of them numbers aren't lining up correctly.

[2016-03-11 19:41] sureshkumarat opened #420 "How to install Hygieia on a Windows server"
I have to setup Hygieia proof of concept for my team, can i get steps to setup/ install on Windows server. Thanks

[2016-03-11 20:36] amp5208 commented on #413
There is a disparity in our current design assumptions and your implementation then, unfortunately.  Are you using a custom "Team" field to differential teams within the project?  If so, there is currently an open enhancement request on this particular item:  https://github.com/capitalone/Hygieia/issues/82.

Our current implementation is more like this:

<pre>
GIVEN: 1 active Jira project AND 1 ac

[2016-03-12 01:39] #220 closed

[2016-03-12 11:20] smsuresh commented on #276
@amp5208 Awesome! Though it's weekend i'll go to office shortly just for this & share you the findings! !
Thankyou very much!!

[2016-03-12 12:39] smsuresh commented on #276
Yes, curl is working, no firewall issue either

[2016-03-12 12:58] smsuresh commented on #276
[config details.docx](https://github.com/capitalone/Hygieia/files/170408/config.details.docx)

[2016-03-12 12:59] smsuresh commented on #276
2016-03-12 12:58:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2016-03-12 12:58:00,008 INFO  c.c.d.collector.FeatureCollectorTask - Starting Feature collection...
2016-03-12 12:58:00,027 INFO  c.c.d.c.team.TeamDataClientSetupImpl - Beginning collection of team data at Sat Mar 12 12:58:00 UTC 2016
2016-03-12 12:58:00,029 ERROR o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpecte

[2016-03-13 16:59] tabladrum commented on #42
Fixed.

[2016-03-13 16:59] #42 closed

[2016-03-14 02:46] papithag commented on #309
@tabladrum , @amp5208 , I have no issues, fix is working fine

[2016-03-14 02:52] papithag commented on #300
@tabladrum , Working fine, closing the issue

[2016-03-14 02:52] #300 closed

[2016-03-14 14:13] amp5208 commented on #276
Based on the following error stack trace:

<pre>
java.lang.NullPointerException: null
at com.capitalone.dashboard.client.team.TeamDataClientSetupImpl.updateObjectInformation(TeamDataClientSetupImpl.java:85) ~[jira-feature-collector.jar!/:1.5.0-SNAPSHOT]
</pre>

I can assume that the issue is coming from the following logical evaluation in the code:

<pre>
        if (!this.featureSettings.getJiraP

[2016-03-14 15:55] gillianwilson opened #425 "Error 404 when running Jenkins collector"
I have configured the Jenkins collector and added the widget to the dashboard.  However, when I try to run it I get a 404 error when it tries to connect to a URL.  However, the URL seems correct.  Here's the error:

[code]

[2016-03-14 15:58] gillianwilson opened #426 "Security issue connecting to Git"
Hi

Ive set up Git collector but it's complaining about security.  Do I need to do anything with certificates to get it working?

[code]

[2016-03-14 16:05] tabladrum commented on #425
For a test can you try with a new job without the spaces in them?

[2016-03-14 16:06] tabladrum commented on #426
yes. you need to import the cert into the jvm.

[2016-03-14 16:21] gillianwilson commented on #425
Thanks.  Yes that seems to work.  Great!

[2016-03-14 19:03] gillianwilson commented on #426
Thanks for your help.  I think I've got it imported now.  The error is no longer happening.  Instead however I am now getting:
`2016-03-14 18:57:00,495 ERROR c.c.d.collector.DefaultGitHubClient - null`

[2016-03-14 21:13] #425 closed

[2016-03-14 21:25] tabladrum commented on #426
We haven't tested with Gitlab. Using the Github API's.
Does Gitlab support Github Hook type of event publish? If yes, you can do that.
See this: https://github.com/capitalone/Hygieia/blob/master/Hygieia2.md

[2016-03-15 04:55] smsuresh commented on #276
@amp5208   Thankyou very much, Will modify accordingly & share the findings.

[2016-03-15 04:57] smsuresh commented on #276
Regarding the array values.. Actually i populated the "id"s i see in our jira/status  json response. I've attached that also in my previous comment.  Do you mind verifying that once.

[2016-03-15 04:59] smsuresh commented on #276
No luck..  Below is the response now..
-------------

2016-03-15 04:55:15,123 INFO  com.capitalone.dashboard.Application - Started Application in 3.922 seconds (JVM running for 5.394)
2016-03-15 04:56:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2016-03-15 04:56:00,018 INFO  c.c.d.collector.FeatureCollectorTask - Starting Feature collection...
2016-03-15 04:56:00,116 INFO

[2016-03-15 08:36] manjunath2008 commented on #405
Hi,
Really sorry for the late reply. Now it is working fine. The mistake was in Manage Jenkins -> Configure Jenkins , there was no protocol defined in jenkins Url. Once i made the changes, it is working fine. Thanks for the help.. Sorry once again for the late replay.

Regards
Manjunath.V

[2016-03-15 08:36] #405 closed

[2016-03-15 09:23] gillianwilson commented on #426
Ok thanks for your help.

I was able to add the hygieia webhook in my gitlab and test with a "Hook executed successfully" message.

However, still getting the same error of DefaultGitHubClient null.  Is there any other reason for this particular error message?  Or is it most likely a case of not supported?

[2016-03-15 13:49] amp5208 commented on #276
@smsuresh , again, i want to apologize for the time it is taking to get you up and running... All of your recent errors in this thread suggest a bad property configuration somewhere.

In particular, this error is valid and is describing a Jira Unauthorized exception (HTTP 401) :  https://answers.atlassian.com/questions/29623409/error-message-401-while-trying-to-get-issue.  Please validate your Jir

[2016-03-15 14:26] smsuresh commented on #276
@amp5208 Thankyou very much!!
Now i say, "Hygieia is awesome" & you too !! :+1:

Im getting all details ( sprint, days, issues,) but stil getting  0 0 0 for (total, wip,done)  - can you please tell what could be the issue!!

[2016-03-15 16:14] amp5208 commented on #276
That's great! :D   The "0 0 0" response could be for a couple of things regarding either how you setup the status mapping portion (described here:  https://github.com/capitalone/Hygieia/issues/276#issuecomment-196324494), or simply how your Jira implementation is configured. Please first validate your status mappings for your Jira installation.

Secondly, our team noticed an issue with the databas

[2016-03-15 17:05] gillianwilson commented on #426
I've been looking into it further and think the issue is because it's looking for username and password.  Is there a property that needs defined for this?  Or an alternative means to pass in?

[2016-03-16 04:58] smsuresh commented on #276
dbname=dashboarddb
dbhost=localhost
dbport=27017
dbusername=[USERNAME]
dbpassword=[PASSWORD]

This change is working fine..

But still not getting, how exactly to populate Array values for "statuses".. 0 0 0 still..

[2016-03-16 05:16] smsuresh commented on #276
Below are the property values..

feature.todoStatuses[0]=Open
feature.todoStatuses[1]=Reopened
feature.todoStatuses[2]=More Info Required
feature.todoStatuses[3]=To Do

feature.doingStatuses[0]=In Progress
feature.doingStatuses[1]=Resolved
feature.doingStatuses[2]=RTT
feature.doingStatuses[3]=BigTrouble
feature.doingStatuses[4]=Backlog
feature.doingStatuses[5]=Testing
feature.doingStatuses[6]=Dev

[2016-03-16 05:17] jimzucker commented on #326
HI, can I get some help wth this?    I have not been able to get JIRA to work.

Here are the current details:
1. This is how I created JIRA:
docker create --restart=no --name "jira-server"  --publish "9200:8080" --env "CATALINA_OPTS= -Xms256m -Xmx512m" cptactionhank/atlassian-jira-software:latest

2. I updated my config file based on the log from the lira instance:
feature.jiraIssueTypeId=10001
fe

[2016-03-16 05:20] smsuresh commented on #276
Can you refer the [https://github.com/capitalone/Hygieia/files/170408/config.details.docx](my prop) and help to correc the config error, if any for status

[2016-03-16 14:16] tabladrum commented on #426
Right now there is not a way to pass in the userid/password. Part of the solution is there - i.e., the collector can use a userid password if it was configured on the UI. We have not made changes to UI to capture that yet.

If Gitlab can use the Github webhook endpoint that we have in the API today, that will be a way to handle the situation.

[2016-03-16 14:18] tabladrum commented on #66
With the current version, you can pass in the userid/token to jenkins via the configuration in jenkins collectors config file:
jenkins.server[0]=https://user:token@myjenkins.com

[2016-03-16 14:18] #66 closed

[2016-03-16 14:19] tabladrum commented on #82
@amp5208  can we close this?

[2016-03-16 14:20] #124 closed

[2016-03-16 14:21] tabladrum commented on #134
@jdamick @amitmawkin can we close this?

[2016-03-16 14:22] tabladrum commented on #132
Closing this as @hughbrien and we are working towards a better push solution.

[2016-03-16 14:22] #132 closed

[2016-03-16 14:24] tabladrum commented on #130
See latest Hygieia 2.0 documentation for how to publish test results from jenkins to hygieia. Here is a picture sample working job:

![image](https://cloud.githubusercontent.com/assets/6014941/13815521/496ce968-eb61-11e5-969a-832400ac4db7.png)

[2016-03-16 14:24] #130 closed

[2016-03-16 14:25] tabladrum commented on #133
@jas5843 do you still see the issue? If not can we close this?

[2016-03-16 17:19] DeepakA opened #431 "Application components and environment details"
Hi

I am planning to host the dashboard in Ubuntu. Can you please provide the details on the application components.

Also please let me know if can we host all the components on the server. Also let me if you have sizing details for the hosting server (CPU, Memory and Storage)\\

Thanks,
Deepak

[2016-03-17 00:35] deepakasa commented on #431
Team, quick response will be much appreciated.

[2016-03-17 00:40] tabladrum commented on #431
It will depend upon the amount of data you are expecting to store etc.
Give me some estimate on (1) how many git repositories (2) how many total jenkins jobs sonar jobs etc and (3) How many people will be using the dashboard?

[2016-03-17 00:50] deepakasa commented on #431
Thanks much for quick response.

The details are as follows:
I am planning to host the dashboard in AWS using the Ubuntu for demonstration purposes.
(1) Currently we don't have git repositories, we will use svn ( 2 repositories) and tfs ( 2 large collections)
(2) We are around 100+ Jenkins jobs,  around 25+ SonarCube analysis jobs, around 20+ IBM Appscan jobs.
(3) At this point am not sure how man

[2016-03-17 12:41] amitmawkin commented on #431
if you are hosting all of the layers of Hygieia on a single box with above mentioned load you are good in AWS with a m3-large. you should also be able to run collectors on the same box if you wish too.

[2016-03-17 16:40] amp5208 commented on #276
@smsuresh , actually, your updated status mappings above should be working fine.  In that case, the problem now lies upstream from the collector, especially if you are seeing that data is being populated in your _feature_ collection of your database.  Please give me more details of the upstream configuration.

_Note:  I am using a Mac and am unable to open the docx file contents that you have prov

[2016-03-17 16:42] amp5208 commented on #82
No - This enhancement request has not yet been implemented, nor evaluated and tagged by your team.  Please evaluate for business need and label as an enhancement for prioritization.

[2016-03-17 17:52] jas5843 commented on #133
Yes, this is fixed, this can be closed. Thank you.

[2016-03-17 17:52] #133 closed

[2016-03-17 19:54] deepakasa commented on #431
Thanks all for your quick response.

I will start working on this and get back to you soon (Already started ad installed the DB, UI and API, working on setting up collectors).

Couple of things to update to the setup.md & api configuration file are
- I was new to Mongo DB and I was executing the create user query with the results part and it was throwing error, It took me some time to get to that.

[2016-03-18 08:35] benathmane opened #436 "Error build maven"
Hello,

Whene i launch this "sudo mvn clean install package" into hygieia directory
i have this error :
[ERROR] FATAL ERROR
[INFO] ------------------------------------------------------------------------
[INFO] org.apache.maven.reporting.MavenReportException: Could not find resource 'null/pmd.xml'.
[INFO] ------------------------------------------------------------------------
[INFO] Trace
java.la

[2016-03-18 10:36] smsuresh commented on #276
[status.txt](https://github.com/capitalone/Hygieia/files/179455/status.txt)
@amp5208  Attached in text format, can you please help to verify the status part alone.

[2016-03-18 15:32] tabladrum commented on #436
Do you need to do sudo?

[2016-03-18 15:34] tabladrum commented on #431
@deepakasa It will be great if you can do a Pull Request with the setup.md etc changes that can help the other new users.

[2016-03-18 15:51] benathmane commented on #436
Command : sudo mvn clean install package

Stack :
[INFO] Reactor Summary:
[INFO]
[INFO] com.capitalone.dashboard:Hygieia ................... SUCCESS [  1.414 s]
[INFO] com.capitalone.dashboard:core ...................... SUCCESS [ 41.952 s]
[INFO] com.capitalone.dashboard:api ....................... SUCCESS [ 13.557 s]
[INFO] com.capitalone.dashboard:jenkins-build-collector ... SUCCESS [  5.747 s]

[2016-03-18 17:47] amitmawkin commented on #436
look at this issue https://github.com/capitalone/Hygieia/issues/280

they did the same for resolving this

[2016-03-18 19:19] ianceicys commented on #420
I too am trying to get this setup on a Windows Server and am running into several issues.

I've been following the steps in https://github.com/capitalone/Hygieia/blob/master/Setup.md

I am unclear on how to build the API layer. The instructions are exactly clear on what steps are necessary to build the API layer. "Please click on the link below to learn about how to build and run the API layer."

[2016-03-18 21:34] tabladrum commented on #420
I am not too familiar with Windows. But overall these should the steps (will publish detailed steps once I get some help from some other developers)
1. Install Maven on Windows (http://www.mkyong.com/maven/how-to-install-maven-in-windows/)
2. Install node etc (http://blog.teamtreehouse.com/install-node-js-npm-windows)
3. clone the hygieia repo
4. from the Hygieia directory, run "mvn clean package"

[2016-03-18 21:41] tabladrum commented on #70
Not hearing about this issue any more. Closing. If someone sees this issue again, please add a new one.

[2016-03-18 21:41] #70 closed

[2016-03-18 21:56] tabladrum commented on #365
Close this @jimzucker?

[2016-03-18 22:01] tabladrum commented on #384
@softwareklinic - stash push payload looks different. If you are going to use it, I might create an new end point. Let me know.

[2016-03-18 22:02] tabladrum commented on #225
Closing it. If the issue is seen again, please reopen it.

[2016-03-18 22:02] #225 closed

[2016-03-18 22:03] #223 closed

[2016-03-18 22:04] softwareklinic commented on #384
Yes we are using stash for enterprise

Sent from my iPhone

On Mar 18, 2016, at 5:01 PM, tabladrum <notifications@github.com<mailto:notifications@github.com>> wrote:

@softwareklinic<https://github.com/softwareklinic> - stash push payload looks different. If you are going to use it, I might create an new end point. Let me know.

—
You are receiving this because you were mentioned.
Reply to this em

[2016-03-18 22:04] tabladrum commented on #367
@gangadharahn do you still have this issue? If not can you close it?

[2016-03-18 22:04] #178 closed

[2016-03-18 22:06] tabladrum commented on #384
Are you looking to push from Stash to Hygieia?

[2016-03-18 22:12] #365 closed

[2016-03-18 22:19] #337 closed

[2016-03-18 22:20] #370 closed

[2016-03-18 22:21] #363 closed

[2016-03-18 22:21] #364 closed

[2016-03-18 23:18] tabladrum commented on #359
closed now with @jimzucker comment above.

[2016-03-18 23:18] #359 closed

[2016-03-18 23:20] tabladrum commented on #356
@jimzucker can you confirm again if it is line#45? My IntelliJ doesn't complain.

[2016-03-18 23:22] tabladrum opened #438 "Integrate with Performance Monitoring tools"
Replace/repurpose Monitoring widget with Application Performance monitoring widget. First version will be integrating with AppDynamics

[2016-03-18 23:23] tabladrum commented on #211
Closing with this https://github.com/capitalone/Hygieia/issues/438

[2016-03-18 23:23] #211 closed

[2016-03-18 23:24] jimzucker commented on #356
Confirmed: Description	Resource	Path	Location	Type
The method search() has an NPath complexity of 264	TestResultServiceImpl.java	/api/src/main/java/com/capitalone/dashboard/service	line 45	PMD Marker

It is this method,     public DataResponse<Iterable<TestResult>> search(TestResultRequest request) {
as this is only a Test it might be OK to suppress it.
![screenshot 2016-03-18 16 23 06](https://cl

[2016-03-18 23:29] tabladrum commented on #135
I would like to put this out of Hygieia as there are similar work going on elsewhere.

[2016-03-18 23:29] #135 closed

[2016-03-18 23:32] tabladrum commented on #198
@softwareklinic Thanks for the input. For now we will stay the course of current Hygieia.

[2016-03-18 23:32] #198 closed

[2016-03-18 23:32] tabladrum commented on #182
@mallsjr do you still have this issue? If not can you close this?

[2016-03-18 23:34] tabladrum commented on #185
@hongluovz I think your issue was resolved. Can you confirm?

[2016-03-18 23:36] tabladrum commented on #192
@BibinCTS can you see if you're getting this error with the latest master?

[2016-03-18 23:39] tabladrum commented on #279
We tested it internally. Closing this.

[2016-03-18 23:39] #279 closed

[2016-03-18 23:40] tabladrum commented on #273
@papithag can you please report on this issue?

[2016-03-18 23:44] tabladrum commented on #366
@BeenaMP See this issue: https://github.com/capitalone/Hygieia/issues/280

[2016-03-18 23:47] tabladrum commented on #274
Closed as it was implemented with Hygieia 2.0 release.

[2016-03-18 23:47] #274 closed

[2016-03-18 23:49] tabladrum commented on #350
Merged.

[2016-03-18 23:49] #350 closed

[2016-03-18 23:51] tabladrum commented on #326
@amp5208 can you look at this?

[2016-03-19 00:07] tabladrum commented on #400
@camillone Need a little more on the auth. Is it GHE token based auth? Or userid/password based basic auth? In either case, is there an "admin" type of access that can read all repo? This will be easy to implement. The collector as of now can actually read a repo with user id/password based auth. We just need to change the UI and some API to accept the user id/password from the UI.

[2016-03-19 00:09] tabladrum commented on #399
@camillone Can you please send me more details on this?

[2016-03-19 00:40] #343 closed

[2016-03-19 00:42] jimzucker commented on #357
resolved with Merge pull request #396

[2016-03-19 00:42] #357 closed

[2016-03-19 00:43] jimzucker commented on #355
Merge pull request #396

[2016-03-19 00:43] #355 closed

[2016-03-19 00:43] jimzucker commented on #352
closed by accident

[2016-03-19 00:44] jimzucker commented on #344
Merge pull request #396

[2016-03-19 00:44] #344 closed

[2016-03-19 00:45] jimzucker commented on #349
Mostly fixed with Merge pull request #396

One item remaining:
Description	Resource	Path	Location	Type
Type safety: The method add(Object) belongs to the raw type ArrayList. References to generic type ArrayList<E> should be parameterized	DefaultUDeployClient.java	/udeploy-deployment-collector/src/main/java/com/capitalone/dashboard/collector	line 242	Java Problem

[2016-03-19 00:46] jimzucker opened #440 "Java Problem: The expression of type Collection needs unchecked conversion to conform to Collection (2 cases)"
Description	Resource	Path	Location	Type
Type safety: The expression of type Collection needs unchecked conversion to conform to Collection<ObjectId>	CollectorServiceTest.java	/api/src/test/java/com/capitalone/dashboard/service	line 36	Java Problem
Type safety: The expression of type Collection needs unchecked conversion to conform to Collection<SVNLogEntry>	DefaultSubversionClient.java	/subversion

[2016-03-19 00:47] jimzucker opened #441 "Java Error: Type safety: Unchecked cast from Object to Map (2 cases)"
Remaining after cleanup merged:

Description Resource    Path    Location    Type
Type safety: Unchecked cast from Object to Map<String,String>   Dashboard.java  /core/src/main/java/com/capitalone/dashboard/model  line 84 Java Problem
Type safety: Unchecked cast from Object to Map<String,String>   PipelineServiceImpl.java    /api/src/main/java/com/capitalone/dashboard/service line 106    Java Prob

[2016-03-19 16:02] softwareklinic commented on #384
Yes - webhook would be great

Sent from my iPhone

On Mar 18, 2016, at 5:06 PM, tabladrum <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you looking to push from Stash to Hygieia?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/capitalone/Hygieia/issues/384#issuecomment-198561966>

[2016-03-19 19:40] VVasanth opened #443 "Code Repo - Github Collector - Save button not working"
Hi Everyone,

I am facing below issue where I am not able to perform 'Save' operation in 'Configure' section of 'Code Repo'. When I click on 'Save' button, system does not respond and it stays as it is.

From other threads, I found that api and collector needs to be run for this. I have executed both of them and both of them are running properly.

Could you please help me here?

I have pasted my p

[2016-03-20 01:29] tabladrum commented on #443
@VVasanth Follow this property files format

   #Database Name
    database=dashboarddb

    #Database HostName - default is localhost
    dbhost=10.0.1.1

    #Database Port - default is 27017
    dbport=9999

    #Database Username - default is blank
    dbusername=db

    #Database Password - default is blank
    dbpassword=dbpass

    #Collector schedule (required)
    github.cron=0 0/5 * * *

[2016-03-20 01:30] tabladrum commented on #382
@softwareklinic do you have more questions on this? If you want we can have an offline chat.

[2016-03-20 01:30] #373 closed

[2016-03-20 01:38] softwareklinic commented on #382
Yes let's talk offline - I have something to share as well

Sent from my iPhone

On Mar 19, 2016, at 8:30 PM, tabladrum <notifications@github.com<mailto:notifications@github.com>> wrote:

@softwareklinic<https://github.com/softwareklinic> do you have more questions on this? If you want we can have an offline chat.

—
You are receiving this because you were mentioned.
Reply to this email directly o

[2016-03-20 04:02] papithag commented on #273
@tabladrum , new code worked. Closing this issue

[2016-03-20 04:02] #273 closed

[2016-03-20 07:34] VVasanth commented on #443
@tabladrum - Thanks for the input!!

I am able to get the github details and closing this ticket.

[2016-03-20 07:34] #443 closed

[2016-03-20 18:35] tabladrum commented on #288
Closing

[2016-03-20 18:35] #288 closed

[2016-03-20 18:36] tabladrum commented on #304
@jimzucker  see: https://github.com/capitalone/Hygieia/pull/444

[2016-03-20 19:56] kv113813 commented on #276
I also have same issues, I am getting the project name but shows:
Scope: Jira - Dashboard
Sprint: [No Sprint Available] [N/A]
Total
0
WIP
0
Done
0

[2016-03-20 21:23] amitmawkin commented on #134
yes the docker images are published under correct org

[2016-03-20 21:23] #134 closed

[2016-03-20 21:24] amitmawkin commented on #179
no response , assuming this issue does not exist anymore

[2016-03-20 21:24] #179 closed

[2016-03-20 21:24] amitmawkin commented on #182
no response, assuming the issue does not exist any more

[2016-03-20 21:24] #182 closed

[2016-03-20 21:25] amitmawkin commented on #185
@hongluovz no response, hence closing this issue, please open another one if you encounter the same issue again

[2016-03-20 21:25] #185 closed

[2016-03-20 21:27] amitmawkin commented on #258
@txappmkr the delivery pipeline view is tied to usage of uDeploy tool, in case you don't use udeploy we are working on to make sure the delivery pipeline view is not dependent on uDeploy usage

[2016-03-20 21:27] #258 closed

[2016-03-20 21:30] tabladrum commented on #258
@txappmkr @amitmawkin If Jenkins plugin is used to publish deployment details into Hygieia, you should be able to use the pipeline. The instruction on how to use the plugin is here -> https://github.com/capitalone/Hygieia/tree/master/hygieia-jenkins-plugin

[2016-03-20 21:38] tabladrum commented on #302
This is to do with jenkins configuration (jenkins -> manage jenkins -> configure jenkins).
@jimzucker should we close this?

[2016-03-20 21:44] hygieia commented on #205
@softwareklinic is this still an issue...?

[2016-03-20 21:45] amitmawkin commented on #205
@softwareklinic is this still an issue?

[2016-03-20 21:59] softwareklinic commented on #205
No - closing - we have these sorted out

[2016-03-20 21:59] #205 closed

[2016-03-20 22:09] tabladrum commented on #301
@jimzucker @smsuresh Fixed. Please test:

![image](https://cloud.githubusercontent.com/assets/6014941/13907531/c284281c-eec6-11e5-8e45-0ef0d7d4608a.png)

[2016-03-20 22:10] tabladrum commented on #298
@oshingc If your issue is resolved, can you close this?

[2016-03-20 22:11] #290 closed

[2016-03-20 22:11] #309 closed

[2016-03-20 22:13] tabladrum commented on #283
@vishalbisa can you paste a screen shot? Would like to discuss if you can do a PR.

[2016-03-20 22:27] amitmawkin commented on #280
closing this issue thanks for the tip @apb66

[2016-03-20 22:27] #280 closed

[2016-03-20 22:28] amitmawkin commented on #238
closing this , as it's not an issue per se @jimzucker

[2016-03-20 22:28] #238 closed

[2016-03-20 22:42] tabladrum commented on #246
@vishalbisa I can upload fortify collector on my personal github page. Is that okay?

[2016-03-20 22:43] tabladrum commented on #246
@jimzucker Can you see if @papithag 's question above is resolved via your Sonar changes?

[2016-03-20 22:43] #241 closed

[2016-03-20 22:44] #231 closed

[2016-03-20 22:44] #229 closed

[2016-03-20 22:45] #218 closed

[2016-03-20 22:45] #224 closed

[2016-03-20 22:46] tabladrum commented on #320
@aleitner let me know if you need further help.

[2016-03-20 22:47] #310 closed

[2016-03-20 22:50] tabladrum commented on #314
@manjunath2008 any update on this issue?

[2016-03-20 22:54] jimzucker commented on #246
@tabladrum @papithag I think this should be closed, with a related change I removed the internal calc and we display the Tech Debt provided by Sonar with not modification now.

[2016-03-20 22:56] jimzucker commented on #302
@tabladrum you an assign this to me I will retest, I think I have to make a change for it.

[2016-03-20 23:28] #246 closed

[2016-03-20 23:30] tabladrum commented on #302
@jimzucker Somehow I cant assign it you. Let me know when you are done testing.

[2016-03-21 00:19] jimzucker commented on #302
I just tested the use case on the current master build and it works OK.

[2016-03-21 00:19] #302 closed

[2016-03-21 00:21] jimzucker commented on #301
@tabladrum - works OK, closing it.

[2016-03-21 00:21] #301 closed

[2016-03-21 03:39] jimzucker opened #445 "Sonar Blocker issue: NullPointerException might be thrown as 'jiraConnect' is nullable here"
File: StoryDataClientImpl.java
Line: 498

Snippet:
     } finally {
			jiraConnect.destroy();

[2016-03-21 03:44] jimzucker opened #446 "Sonar Critical: Printf-style format strings should not lead to unexpected behavior at runtime 1"
File:DefaultSonarClient.java
Line:83

    public CodeQuality currentCodeQuality(SonarProject project) {

        try {

[2016-03-21 03:46] jimzucker opened #447 "Sonar Critical: Throwable.printStackTrace(...) should not be called"
File: Encryption.java
Line: 129

Snippet:
        } catch (EncryptionException e) {
            e.printStackTrace();

[2016-03-21 03:50] jimzucker opened #448 "Sonar Critical: Correct this "&" to "&&""
Sonar Critical: Correct this "&" to "&&"

File:ChatOpsRepo.java
Line:46
        return getChatopsServerUrl().equals(ChatOpsRepo.getChatopsServerUrl()) & getChatopsServerUrl().equals(ChatOpsRepo.getChatopsServerUrl()) & getChatopsAuthToken().equals(ChatOpsRepo.getChatopsAuthToken());

[2016-03-21 04:36] smsuresh commented on #276
@kv113813   Do you see epic/Issue details below that..

[2016-03-21 05:17] vishalbisa commented on #283
@tabladrum

Attached the screenshot and config.html and config.js

Thanks,

![image](https://cloud.githubusercontent.com/assets/16570454/13911092/0020b81c-ef52-11e5-9dae-bec4f088e45c.png)

[config.html.txt](https://github.com/capitalone/Hygieia/files/181702/config.html.txt)
[config.js.txt](https://github.com/capitalone/Hygieia/files/181701/config.js.txt)
[module.js.txt](https://github.com/capitalo

[2016-03-21 05:23] vishalbisa commented on #246
Hi @tabladrum

please upload the fortify collector to your personal github page and provide necessary permissions to access it, also can you please let me know which files (HP fortify) should be added in collector code as reference.

Thanks

[2016-03-21 05:50] vishalbisa commented on #84
Hi @yqbjtu

Can you paste the application.properties file, any API/collector errors might help to investigate further.

Thanks

[2016-03-21 13:32] tabladrum commented on #447
See https://github.com/capitalone/Hygieia/pull/449

[2016-03-21 13:49] tabladrum commented on #447
Merged.

[2016-03-21 13:49] #447 closed

[2016-03-21 14:07] amp5208 commented on #326
@jimzucker , Thank you for reaching out regarding your Jira collector question.  Currently, the implementation of JiraFeatureCollector only accepts a base64-encoded basic authentication string in the following format:  <strong>username:password</strong>.  This should be entered at the following property:  <code>feature.jiraCredentials=dXNlcm5hbWU6cGFzc3dvcmQK</code>

Currently, Jira authentication

[2016-03-21 14:11] amp5208 commented on #352
@jimzucker , thank you - keep this open.  I will be fixing these in our next iteration (0.5 weeks from now)

[2016-03-21 14:15] jimzucker commented on #326
@amp5208 i am using that format and i login but have not been able to figure out how to get this to work. I think upu are saying something is wrong with my properties?

[2016-03-21 14:17] jimzucker commented on #447
@tabledrum - thanks for fixing it, i ddint mean to create work for youbinwas opening tickets for changes i was going to do this week to cleanup sonar errrors(critical & blockers)

[2016-03-21 14:27] amp5208 commented on #326
Yes:  You need to update your property files to be more like what is described at this current/open issue:  https://github.com/capitalone/Hygieia/issues/276#issuecomment-195399194

[2016-03-21 17:27] amp5208 commented on #276
@smsuresh , Your statuses seem to be mapped correctly... confirm if the following is correct within your Jira instance:

 - The Project is associated to a single Sprint
 - The Sprint for that project is Active (i.e., today's date lies within the Sprint's timebox)
 - Active stories are assigned to the given Sprint and Project
 - Stories are using the "Remaining Estimate" out-of-the-box estimate fie

[2016-03-21 17:28] amp5208 commented on #276
@kv113813:  Can you confirm that you are seeing any collector-level errors?  If so, please refer to this section of this forum to update your property file configurations:  https://github.com/capitalone/Hygieia/issues/276#issuecomment-196324494.  If not, please validate my statement above:  https://github.com/capitalone/Hygieia/issues/276#issuecomment-199388906

[2016-03-21 21:18] kv113813 commented on #276
@amp5208 @smsuresh I do not see any error at collector side, Let me validate your pointers provided above.

[2016-03-21 22:54] tabladrum commented on #246
https://github.com/tabladrum/fortify-collector
see the pom file and look for com.fortify group. You should have these jar 's from HP. You can install those in your company's maven repo or on your own laptop.

[2016-03-22 00:46] tabladrum commented on #249
With the reference to #192 closing this issue.

[2016-03-22 00:46] #249 closed

[2016-03-22 00:47] tabladrum commented on #213
We are following the first format...
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=1qazxSw2
dbhost=127.0.0.1
dbport=11500
server.contextPath=/api
server.port=8080

[2016-03-22 00:47] #213 closed

[2016-03-22 00:49] tabladrum commented on #197
Closing this. Will stay the course an revisit this later.

[2016-03-22 00:49] #197 closed

[2016-03-22 00:50] tabladrum commented on #204
@softwareklinic this should be fine now. If you agree, lets close it.

[2016-03-22 00:51] tabladrum commented on #196
Closing it due to no activities.

[2016-03-22 00:51] #196 closed

[2016-03-22 01:51] softwareklinic commented on #204
Yes closing

[2016-03-22 01:51] #204 closed

[2016-03-22 04:41] vishalbisa commented on #246
Thanks @tabladrum

[2016-03-22 12:34] sibaom opened #456 "ProjectNameList under Team Name"
Hi All,
[Hygieia.docx](https://github.com/capitalone/Hygieia/files/184078/Hygieia.docx)

I need something like this.in hygieia dashboard in feature widget.
If one will click on Team Name then Respective project Name will populate on another dropdown list bellow to team name drop down list .
Can you please give some information about this.The data is pull out from version one.
How to develop this k

[2016-03-22 12:38] sibaom opened #457 "ProjectNameList under Team Name"
Hi All,
[Hygieia.docx](https://github.com/capitalone/Hygieia/files/184078/Hygieia.docx)

I need something like this.in hygieia dashboard in feature widget.
If one will click on Team Name then Respective project Name will populate on another dropdown list bellow to team name drop down list .
Can you please give some information about this.The data is pull out from version one.
How to develop this k

[2016-03-22 14:41] gillianwilson commented on #426
Thanks for the quick reponse...i'll have a look into what you suggest.

[2016-03-22 14:43] tabladrum commented on #457
Duplicate of https://github.com/capitalone/Hygieia/issues/456

[2016-03-22 14:43] #457 closed

[2016-03-23 06:49] roykaushik07 opened #460 "I am having trouble getting the custom field value for "feature.jiraEpicIdFieldName". I ran the rest api against a jira issue that has super issue as EPIC. Please help here."
I am having trouble getting the custom field value for "feature.jiraEpicIdFieldName". I ran the rest api against a jira issue that has super issue as EPIC. Please help here.

[2016-03-23 13:59] softwareklinic opened #463 "About sitespeed.io integration"
I have a suggestion - I'm aware that the collector for appdynamics is being developed... but that is a paid product... and ofcourse there would be companies using the product... but there are lot of companies using open source products as well e.g. sitespeed.io...

Sitespeed.io already has a plugin for Jenkins and it gives great length of details related to web page performance... we should see th

[2016-03-23 19:02] camechis commented on #320
I would be really interested in this

[2016-03-23 19:06] tabladrum commented on #460
@amp5208 - can you please take a look?

[2016-03-23 19:12] tabladrum commented on #463
See: https://github.com/capitalone/Hygieia/issues/438
Keeping both together.

[2016-03-23 19:12] tabladrum commented on #438
Also see https://github.com/capitalone/Hygieia/issues/463

[2016-03-23 19:13] tabladrum commented on #431
@deepakasa do a PR when you get a chance. Closing this for now.

[2016-03-23 19:13] #431 closed

[2016-03-23 19:21] #382 closed

[2016-03-23 19:22] tabladrum commented on #367
Closing due to inactivity. @gangadharahn if you see this issue please reopen this.

[2016-03-23 19:22] #367 closed

[2016-03-23 19:24] tabladrum commented on #257
You can also use it if you use the hygieia jenkins plugin.

[2016-03-23 19:24] #257 closed

[2016-03-24 13:48] tabladrum commented on #436
@benathmane closing this. If you run into issues, open a new one or re-open this one.

[2016-03-24 13:48] #436 closed

[2016-03-24 13:51] tabladrum commented on #303
the name actually comes from the collector name. Will change the collector name in the near future.

[2016-03-24 16:37] rohans84 opened #466 "Need widget for github teams"
Need a widget for GitHub teams that shows commits, pull requests created and pull requests merged by team members. Or modify the existing github widget to show pull requests raised, and merged

[2016-03-24 16:39] tabladrum commented on #466
:+1:

[2016-03-25 04:15] vishalbisa commented on #303
Hi @tabladrum ,

Should we change it in the HudsonCollector.java file ?

[code]

Thanks,

[2016-03-25 13:25] #448 closed

[2016-03-25 13:40] aleitner opened #468 "Jenkins Collector phase naming"
Is there a way to rename DEV, QA, INT, PERF, and PROD to match our phases: Build, Inspect, Acceptance, Capacity and PROD?

[2016-03-25 13:49] tabladrum commented on #468
We want to do that from the get go. Should be a good enhancement. I think code changes are not that complicated either.

[2016-03-26 04:27] amp5208 commented on #460
@roykaushik07 , Thank you for reaching out regarding the jiraEpicIdFieldName.  To get this field name, you have to perform the following API actions manually against your Jira instance, using a sample Jira issue that has a super issue as Epic, as you have indicated:

[code]

Essentially, you have to use the Jira API to look up an existing issue that has a super issue tied to it, then Ctrl-F on the

[2016-03-28 15:48] hmellal opened #469 "API Connectivity"
Hi team, i have this message in the ferst connection in interface Hygieia API Connectivity X ..
![test](https://cloud.githubusercontent.com/assets/17890712/14081898/455bb9d4-f50d-11e5-9d18-234625b7d1b4.png)

[2016-03-28 21:27] #469 closed

[2016-03-28 21:28] hmellal commented on #469
re create database

[2016-03-29 00:18] kv113813 opened #470 "stash only shows one commit!!"
Hi All,

Stash only shows one commit on code repo:
I using below properties..
 - STASH_HOST=gitscm.com/
  - STASH_API=git.api=/rest/api/1.0/
  - STASH_CRON:-0 * * * * *
  - git.commitThresholdDays=30
  - git.firstRunHistoryDays=30
  - git.jpa.show-sql=true

code repo type=stash
code repo url= https://gitscm.com/projects/projectname/repos/demo.git
branch=master

[2016-03-29 00:18] kv113813 commented on #199
Hi All,

Stash only shows one commit on code repo:
I using below properties..

STASH_HOST=gitscm.com/
STASH_API=git.api=/rest/api/1.0/
STASH_CRON:-0 * * * * *
git.commitThresholdDays=30
git.firstRunHistoryDays=30
git.jpa.show-sql=true
code repo type=stash
code repo url= https://gitscm.com/projects/projectname/repos/demo.git
branch=master

[2016-03-29 17:35] gillianwilson opened #471 "Issue reporting Jira Collector Stats"
Hi

I've got my Jira collector running, and mapped the status' in my customised Jira worksflow etc.
I can select my Jira project from the DB drop down.
I can see the Dashboard listing the current active Sprint (with correct name) but the stats aren't reporting correctly.

Total = 60 (but i can't see how that matches anything in my Sprint)
WIP = 0
Done = 0
No Features listed under In Progress

Some

[2016-03-29 21:09] mcloud42 opened #472 "DB Setup alternatives"
Did anyone tried to setup Hygieia with an alternative database (non MongoDB)? Appreciate suggestion on alternatives.

[2016-03-30 12:59] tabladrum commented on #472
We haven't tried with any other.
Can be an interesting addition.

[2016-03-30 13:01] tabladrum commented on #470
Can you curl the stash api and see the result?

[2016-03-30 14:23] softwareklinic opened #473 "Scroll rate is very slow"
I believe the scrolling rate is impairing the user from viewing other metrics in the product view....
The scroll should be like stock ticker (with a pause functionality) - which can pause certain metrics... and still keep updating those in realtime..

![test](https://cloud.githubusercontent.com/assets/7537289/14145284/ed3cb71a-f658-11e5-9194-10c4792b333c.png)

[2016-03-30 14:25] softwareklinic commented on #472
is it generic enough to plug-in any other DB... or does the code have any dependency on mongo... if not - then we can try out some of the other options..

[2016-03-30 14:28] tabladrum commented on #472
There is a MongoConfig class in the core. There are other springframework.data.mongodb imports in the code.

[2016-03-30 14:31] softwareklinic commented on #403
I'm going to request one of our team members to look @ hygieia code and see if they can contribute to LDAP integration

[2016-03-30 14:31] tabladrum commented on #473
:+1: We have received same feedback internally.
There are few enhancements needed -
1. Configure scrolling (pause time, pause for ever etc)
2. Sync scrolling across rows (when you have more than 1 row)
3. Allow manual scrolling.

[2016-03-30 18:17] kv113813 commented on #470
I did curl, it gives all available commit details. UI shows only one commit
(curl -L https://gitscm.com/rest/api/1.0/projects/TOOL/repos/devopsdemo/commits)

[2016-03-31 08:55] harishamrale opened #475 "Hygieia API list"
Hi, I am looking for Hygieia REST API list and each API purpose and syntax to call.
Please help me to get complete Hygieia api list with their description.

[2016-03-31 10:48] roykaushik07 opened #476 "I am new in setting up Hygieia and i am unable to find commands to get the UI up and running in Linux platform"
I am new in setting up Hygieia and I am unable to find commands to get the UI up and running in Linux platform. Can I get the prerequisite for getting Hygieia up and running in Linux platform?
I tried the below command though:
[code]
But I am getting the below error:
[code]
Any quick updates would be appreciated.

[2016-03-31 10:50] roykaushik07 commented on #250
I am also facing the same issue, though my db is correct. Any suggestions?

[2016-03-31 12:54] tabladrum commented on #250
@roykaushik07 can you paste your command line and also the api properties file and location?

[2016-03-31 13:02] tabladrum commented on #250
The content looks good. Are you running from 8081 for a reason?
Also, can you paste the command that you are executing ... java -jar .etc.

[2016-03-31 13:33] roykaushik07 commented on #250
Thanks for the reply. I am using port 8081 because 8080 is being used by another application. Following is the command I am executing:
java -jar api.jar --spring.config.name=api --spring.config.location=dashboard.properties --debug

I am executing it from the location where dashboard.prop file is present.

What are the prerequisite for getting dashboard running? I am doing installation on Linux se

[2016-03-31 13:43] hygieia commented on #250
can you run the command http://<hostname:8081/api/dashboard and paste the output.

[2016-03-31 14:44] tabladrum commented on #475
We have put swagger in. However, we hit a spring fox bug. Opened a ticket with Spring. In the mean time, you will probably have to look at the api controller and other codes.

[2016-03-31 16:04] emoshaya-cognito opened #477 "Ansible Role"
Any chance you can open source the ansible roles?  jgensler8.hygieia-api and jgensler8.hygieia-ui?

[2016-03-31 16:09] emoshaya-cognito opened #478 "Can't get UI working"
API is up and running but I can't get to the UI for some reason. Here's output of running gulp serve:

[centos@ip-10-255-36-170 ui]$ sudo gulp serve
[17:05:30] Warning: gulp version mismatch:
[17:05:30] Global gulp is 3.9.1
[17:05:30] Local gulp is 3.8.11
[17:05:50] Using gulpfile /opt/hygieia/bin/ui/gulpfile.js
[17:05:50] Starting 'build'...
[17:05:50] Starting 'clean'...
[17:05:51] Finished 'cle

[2016-03-31 17:24] tabladrum commented on #478
Looks ok to me! what do you see when you point your browser to localhost:3001?

[2016-03-31 21:07] binkley opened #480 "API to support other CI systems than Jenkins"
Do you have plans to support other CI systems than Jenkins?  Examples: Go, TeamCity.

The issue title includes "API" to cover either you building out that support, or providing an API for others to hook into Hygieia with alternate CI systems.

The HudsonClient interface in the build collector is, obviously, specific to Jenkins.

[2016-03-31 21:14] tabladrum commented on #480
The API supports a data push from another CI. Our Jenkins plugin uses that API. We were trying to get swagger implemented for API documentation but got stuck with a spring bug. I can post the details of the API and a sample JSON a little later.

[2016-03-31 21:36] emoshaya-cognito commented on #478
Absolutely nothing.. This is running on AWS EC2 instance

[2016-03-31 21:57] tabladrum commented on #478
@amitmawkin can you check this out? We run this on EC2 too.

[2016-03-31 22:21] jimzucker commented on #478
Can you provide the output of theses actions

Are you connecting from the same ec2 i stance or a different one?

0. Try this in the browser:
http://10.255.36.170:3001/

1. Ping localhost
2. Ping 10.255.36.170
3. Telnet 10.255.36.170 3001

[2016-03-31 22:33] amitmawkin commented on #478
Also make sure  your aws ec2 security group allows traffic on ports above

[2016-03-31 22:43] tabladrum commented on #480
API end point to post build
http://<hygieia>/api/build

Sample JSON:
``
{
  "number": "68",
  "buildUrl": "http://localhost:8082/job/Hygieia-Common/68/",
  "jobName": "Hygieia-Common",
  "buildStatus": "SUCCESS",
  "startTime": 1459463955301,
  "jobUrl": "http://localhost:8082/job/Hygieia-Common/",
  "instanceUrl": "http://localhost:8082/",
  "niceName": "LocalTopoJenkins",
  "endTime": 1459463964

[2016-04-01 09:20] harishamrale opened #481 "Why we need docker to run API ,MongoDB and UI"
HI,As per the installation instructions there is a docker to run API ,MongoDB and UI components.
I like to know why we are using docker here ,please help to understand .

[2016-04-01 09:41] roykaushik07 commented on #250
I am getting a epmty json response.

[2016-04-01 10:48] emoshaya-cognito commented on #478
I started again today on a clean ec2 instance and now I can't even get the api up.

2016-04-01 11:02:54,591 INFO  com.capitalone.dashboard.Application - Starting Application v2.0.0-SNAPSHOT on ip-10-255-36-106 with PID 1805 (/opt/hygieia/bin/api/api.jar started by root in /)
2016-04-01 11:02:54,655 INFO  o.s.b.c.e.AnnotationConfigEmbeddedWebApplicationContext - Refreshing org.springframework.boot.

[2016-04-01 10:50] emoshaya-cognito commented on #478
and before you ask yes I've created the dashboard db in mongodb set the default username to db and password to dbpass... I've got the spring config set as

dbname=dashboard
dbusername=db
dbpassword=dbpass
dbhost=127.0.0.1
dbport=27017
server.contextPath=/api
server.port=8080

[2016-04-01 12:17] emoshaya-cognito commented on #478
I got this working in the end

[2016-04-01 12:17] #478 closed

[2016-04-01 12:18] emoshaya-cognito opened #482 "Sonar Credentials"
How does the sonar collector connect to our sonarqube server without credentials? When do you setup the username and password for sonar?

[2016-04-01 12:44] gitfan89 commented on #335
@amp5208 : My apologies , was caught up with other works , so couldn't look into this and get back to you immediately.

Yes, My JIRA instance requires a SSL verification and I 've fixed the same by importing the certificate but I'm facing a different issue now - 403 error.

Could you pls. help me here. Thanks in advance.

2016-03-31 11:17:55,431 INFO  org.mongodb.driver.connection - Opened connect

[2016-04-01 14:17] tabladrum commented on #481
Docker is an option. You do not need to.
You can always do the usual way as mentioned in the setup.

[2016-04-01 16:05] amitmawkin commented on #298
No response closing this issue

[2016-04-01 16:05] #298 closed

[2016-04-01 16:28] gitfan89 commented on #335
attaching the application.properties
[application.properties.txt](https://github.com/capitalone/Hygieia/files/199975/application.properties.txt)

[2016-04-01 18:27] deepakasa opened #483 "Collector data flow"
Hi, how the data flows from collectors to API is in clear text or uses any encryption mechanisms?

[2016-04-01 19:16] tabladrum commented on #483
Collectors save data to MongDB.
API exposes the data via Rest API.
There is no data encryption in MongoDB.
Your API should be https.

[2016-04-01 19:36] tabladrum commented on #482
We do not support (yet) auth based collector for sonar.
Will take this as an enhancement.

[2016-04-01 19:52] kv113813 commented on #470
Please help me in fixing this

[2016-04-01 19:55] tabladrum commented on #470
@softwareklinic @srid99 I think you are using stash. Did you see this in your instance?

[2016-04-01 23:01] deepakasa commented on #483
Thank you.

[2016-04-01 23:01] #483 closed

[2016-04-02 04:09] stein321 commented on #272
hey @papithag , git.api determine which stash api you are using since there are different versions. I believe the most current one is " git.api=/rest/api/1.0/"

[2016-04-04 00:49] azedu commented on #250
same for me, empty json response. Any updates on this?

[2016-04-04 15:12] amp5208 commented on #335
@gitfan89 , It appears that two things are going on here which would affect your error response:

 - You are receiving a 403 HTTP response, meaning that your SSL certificate keystore has not been updated correctly with your remove Jira instance
 - You still have some property configuration issues

For the first issue, please ensure that you 1) can reach the Jira instance via HTTPS from your Hygiei

[2016-04-04 17:49] markpaychex commented on #270
I am also looking for an answer to this. Any updates?

[2016-04-04 17:52] softwareklinic commented on #270
We
Modified the code internally for stash collector for:

1. To pass the username / password from properties file
2. To be able to point to any branch and not just the master

Sent from my iPhone

On Apr 4, 2016, at 12:49 PM, Mark <notifications@github.com<mailto:notifications@github.com>> wrote:

I am also looking for an answer to this. Any updates?

—
You are receiving this because you are subsc

[2016-04-04 17:54] tabladrum commented on #270
Great. Are you looking to submit a PR?

[2016-04-04 18:06] softwareklinic commented on #270
Yes

Sent from my iPhone

On Apr 4, 2016, at 12:54 PM, tabladrum <notifications@github.com<mailto:notifications@github.com>> wrote:

Great. Are you looking to submit a PR?

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub<https://github.com/capitalone/Hygieia/issues/270#issuecomment-205416211>

[2016-04-04 18:57] softwareklinic commented on #481
We have found docker to be useful - especially if I have other teams who want to try out - they can just pull the image and get going quickly...

[2016-04-05 09:21] #313 closed

[2016-04-05 16:43] tabladrum commented on #250
An empty json is a good sign IF you do not have ANY dashboard configured yet.
It means your API is running.

[2016-04-05 16:49] tabladrum commented on #250
You can change the default api port in gulpfile.js

[2016-04-06 07:15] smsuresh commented on #460
@roykaushik07  Better copy the result of the above mentioned URL into some json editor & navigate/search. You can easily find the value.

[2016-04-06 14:33] jaspreetsinghmadan commented on #217
Hi,
I am facing the same issue with Stash collector. The collector doesn't throw any error but it neither give any data for repos, commits etc. I have set up a local stash server.

![image](https://cloud.githubusercontent.com/assets/14577901/14320351/6013d730-fc32-11e5-8313-f5a5beaa7370.png)

Application.properties --
#Database Name
spring.data.mongodb.database=dashboardb

#Database HostName - def

[2016-04-06 14:50] softwareklinic commented on #217
Did you check the stashcollector code - check the API URL for stash is different than git

	-	String queryUrl = apiUrl.concat("/commits?sha=" + repo.getBranch()
	+	String queryUrl = apiUrl.concat("/commits?until=" + repo.getBranch()

[2016-04-06 18:43] aryasunny opened #485 "Compilation Errors"
I downloaded the source and imported all the projects as maven projects in eclipse.
After building them using Java 8, I get compilation errors where in few classes are not being available.

1) Qbuild.Java -
2) QCodeQuality - com.capitalone.dashboard.model.QCodeQuality
3) QCommit - com.capitalone.dashboard.model.QCommit;
4) QScopeOwner
5) QTestResult

Am I missing any jar from the classpath ?? Conf

[2016-04-06 18:45] tabladrum commented on #485
If you are building the modules independently, please make sure that you do a "mvn clean install" on Core module first.

[2016-04-06 19:24] aryasunny commented on #485
Thanks for replying debabrata.

I am getting an error on core module -->
"You need to run build with JDK or have tools.jar on the classpath".

I have JDK1.8 added to the build path and i have tools.jar in the lib folder of my java installation.
I went ahead and even added tools.jar to the classpath as an external jar but still that error persists.

I chose to ignore the error and ran a mvn clean i

[2016-04-06 19:56] #485 closed

[2016-04-06 19:57] aryasunny commented on #485
Thanks Topo. Was able to figure this out.

[2016-04-07 13:44] jaspreetsinghmadan commented on #217
It is String queryUrl = apiUrl.concat("/commits?sha=" + repo.getBranch() in DefaultStashClient. Do i need to change it to String queryUrl = apiUrl.concat("/commits?until=" + repo.getBranch()?

[2016-04-07 13:45] softwareklinic commented on #217
Yes. Also, if it is not a publicly accessible repo – you need to modify the client code to accept username/password from the properties file… just like what Jenkins collector does…

From: jaspreetsinghmadan [mailto:notifications@github.com]
Sent: Thursday, April 07, 2016 8:45 AM
To: capitalone/Hygieia
Cc: Shah, Keyur
Subject: [E] Re: [capitalone/Hygieia] UI Build from docker - Save button - no act

[2016-04-07 13:47] jaspreetsinghmadan commented on #217
Moreover i think its not getting anything in
`enabledRepos(collector)`
`gitRepoRepository.findEnabledGitRepos(collector.getId())` is returning []
And that's why its not even making a call to getcommits.

[2016-04-07 13:48] tabladrum commented on #217
Did you configure a repo in a dashboard?

[2016-04-07 13:49] jaspreetsinghmadan commented on #217
Yes, it just show the modal window even after pressing save and nothing happens

[2016-04-07 13:50] tabladrum commented on #217
Can you check if you have a Collector for this in Collector collection in MongoDB?

[2016-04-07 13:58] jaspreetsinghmadan commented on #217
Nope...

{ "_id" : ObjectId("56c5beb0b0269915a0678bc9"), "_class" : "com.capitalone.dashb
oard.model.Collector", "name" : "Product", "collectorType" : "Product", "enabled
" : true, "online" : true, "lastExecuted" : NumberLong(0) }
{ "_id" : ObjectId("56caf4bc68673320bc736772"), "_class" : "com.capitalone.dashb
oard.model.HudsonCollector", "buildServers" : [ "http://localhost:9080" ], "nice
Names"

[2016-04-07 14:05] tabladrum commented on #217
Ok. I would run the collector once at least - that will create the Collector.
Then your Save on the UI will work (assuming the API running).
The Save will create the CollectorItem.
So on.

[2016-04-07 14:32] jaspreetsinghmadan commented on #217
I have followed these steps -
1) Run API
2) Run Collector
3) Run UI

The collector shows --
{ "_id" : ObjectId("56c5beb0b0269915a0678bc9"), "_class" : "com.capitalone.dashb
oard.model.Collector", "name" : "Product", "collectorType" : "Product", "enabled
" : true, "online" : true, "lastExecuted" : NumberLong(0) }
{ "_id" : ObjectId("56caf4bc68673320bc736772"), "_class" : "com.capitalone.dashb
oard.

[2016-04-07 14:33] jaspreetsinghmadan commented on #217
{ "_id" : ObjectId("56c5beb0b0269915a0678bc9"), "_class" : "com.capitalone.dashb
oard.model.Collector", "name" : "Product", "collectorType" : "Product", "enabled
" : true, "online" : true, "lastExecuted" : NumberLong(0) }
{ "_id" : ObjectId("56caf4bc68673320bc736772"), "_class" : "com.capitalone.dashb
oard.model.HudsonCollector", "buildServers" : [ "http://localhost:9080" ], "nice
Names" : [ ], "n

[2016-04-07 14:39] tabladrum commented on #481
Closing this.

[2016-04-07 14:39] #481 closed

[2016-04-07 14:42] tabladrum commented on #217
Can you paste the documents from Collector collection?

[2016-04-07 14:42] jaspreetsinghmadan commented on #217
{ "_id" : ObjectId("56c5beb0b0269915a0678bc9"), "_class" : "com.capitalone.dashb
oard.model.Collector", "name" : "Product", "collectorType" : "Product", "enabled
" : true, "online" : true, "lastExecuted" : NumberLong(0) }
{ "_id" : ObjectId("56caf4bc68673320bc736772"), "_class" : "com.capitalone.dashb
oard.model.HudsonCollector", "buildServers" : [ "http://localhost:9080" ], "nice
Names" : [ ], "n

[2016-04-07 14:43] jaspreetsinghmadan commented on #217
{ "_id" : ObjectId("56c5beb0b0269915a0678bc9"), "_class" : "com.capitalone.dashb
oard.model.Collector", "name" : "Product", "collectorType" : "Product", "enabled
" : true, "online" : true, "lastExecuted" : NumberLong(0) }
{ "_id" : ObjectId("56caf4bc68673320bc736772"), "_class" : "com.capitalone.dashb
oard.model.HudsonCollector", "buildServers" : [ "http://localhost:9080" ], "nice
Names" : [ ], "n

[2016-04-07 14:43] tabladrum commented on #217
I am not seeing the stash collector in there. Making sure you ran the stash collector and it didnt have any error

[2016-04-07 14:44] jaspreetsinghmadan commented on #217
[collectors.txt](https://github.com/capitalone/Hygieia/files/208585/collectors.txt)

[2016-04-07 14:44] jaspreetsinghmadan commented on #217
check this file. Sorry earlier It was not getting copied correctly.

[2016-04-07 14:47] tabladrum commented on #217
You dont have a StashCollector -
Can you see the log for stash collector?

[2016-04-07 14:51] jaspreetsinghmadan commented on #217
[stash-collector-2016-04-07.0 - Copy.txt](https://github.com/capitalone/Hygieia/files/208602/stash-collector-2016-04-07.0.-.Copy.txt)

[2016-04-07 14:55] tabladrum commented on #217
I am pretty sure (at this point) that you have two databases in MongoDB. One is the good one that is read by API and other collectors that you pasted above. I think your Stash Collector is configured to go to another database. Can you confirm
1. How many databases you have in Mongo
2. Properties file for the Stash Collector and your command line

[2016-04-07 15:09] jaspreetsinghmadan commented on #217
BINGO.... Thanks a lot. Its working now.
The problem was it was referring to another db.

Configuration was
#Database Name
spring.data.mongodb.database=dashboardb

And i changed to
#Database Name
dbname=dashboardb

It worked fine.

[2016-04-07 15:10] tabladrum commented on #217
:+1:
Close this if you are good to now.
Thanks

[2016-04-07 15:12] jaspreetsinghmadan commented on #217
Awesome help...Quick response, i haven't such a quick response ever...
You people ROCK....

[2016-04-07 23:41] amitmawkin commented on #372
Its releases please check and close this

[2016-04-07 23:43] #372 closed

[2016-04-08 11:53] MahaSannasi opened #486 "Hygieia build failed - api jar"
[INFO] Compiling 69 source files to C:\hygieia\api\target\classes
[INFO] -------------------------------------------------------------
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] \hygieia\api\src\main\java\com\capitalone\dashboard\request\WidgetReques
t.java:[104,27] error: cannot find symbol
[ERROR] \hygieia\api\src\main\java\com\capita

[2016-04-08 14:54] aryasunny opened #488 "Not able to build UI module"
When i try to build the UI module. It fails with the following error

[ERROR] bower modernizr#~2.8.3          ENOGIT git is not installed or not in the PATH
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE

I have installed GIT and it is set under PATH in my environment variables as well

[2016-04-08 15:08] aryasunny commented on #488
logging off the machine did the trick. The change in the environment variable was not getting reflected..arrrgghhhh

[2016-04-08 15:08] #488 closed

[2016-04-08 17:42] aryasunny opened #489 "Dashboard.properties is to be present at what path ??"
When we say that API layer will need a properties file called dashboard.properties.

At what location it expects this property file to be present at ??

Thanks

[2016-04-08 17:55] deepakasa commented on #489
Any name is fine. If you have your own then specify it in the command line as specified in the documentation.

https://github.com/capitalone/Hygieia/tree/master/api

[2016-04-08 17:59] deepakasa commented on #91
Any updates on TFS collector is anyone working on this?

[2016-04-08 18:08] aryasunny commented on #489
This is what i did. I created a dashboard.properties file with the content

# dashboard.properties
dbname=dashboard
dbusername=db
dbpassword=dbpass
dbhost=localhost
dbport=27017

And placed this in the target folder of api module and then ran the command
java -jar api.jar --spring.config.location="C:\Users\saryan2\Desktop\Hygieia-master\api\target\dashboard.properties"

Now even though i have ment

[2016-04-08 18:26] deepakasa commented on #489
I have faced the same issue earlier... Update the property file @following location and rebuild Api and execute the command. The default properties file has the value of 3333

./src/main/resources/application.properties

[2016-04-08 18:55] aryasunny commented on #489
So basically, configuration are being read from application.properties and not from dashboard.properties file. Then whats the point of command taking path of dashboard.properties ??

Thanks for the help Deepak.

I have one more question. Do we need to do anything with the docker thing ?? Now I am opening this URL --> http://127.0.0.1:8080/api/dashboard and all i get is a blank page with []

I beli

[2016-04-08 19:02] deepakasa commented on #489
It does read from the dashboard.properties or custom properties file. Its up to you if you would like to explore docker image
For Dashboard to run
Mongod needs to running
API needs to be running (its already up and running)
Dashboard UI needs to running ( from UI directory run the command gulp serve)
refer to the documentation for more details: https://github.com/capitalone/Hygieia/tree/master/UI

[2016-04-08 19:13] aryasunny commented on #489
Ok thanks. One more thing.
Collectors module basically would pull data from multiple tools and insert into mongoDB right ??

So for dashboard to show anything, shouldn't the collectors be up and running ??

I have MongoD running already but it doesn't have nay data right now.

Am I understanding this right ??

Thanks

[2016-04-08 19:15] deepakasa commented on #489
Yes, Collectors needs to up and running for you to use the collector data in the dashboard. Please go through collector documentation.

[2016-04-08 20:30] amp5208 commented on #460
@roykaushik07 , @smsuresh  is correct:  That is the best option for retrieving the value at this time:  Save the output from the Jira response to a JSON file, use a JSON linter to format or "beautify" the JSON, and look for the field name and value pair.

[2016-04-08 20:31] amp5208 commented on #276
@kv113813 , Please let me know if you have any further open issues regarding this forum.  If not, I will have the issue closed.

[2016-04-08 20:58] aryasunny commented on #489
I am trying to set-up the UI module and when I run the command --> bower install from the GIT shell, it gives me an error --> bower ENOENT        No bower.json present

I can see there is a bower.json that is present under UI project but not under the root (i.e project).

[2016-04-08 21:06] aryasunny commented on #489
ran all this from inside UI module. Was able to get the UI working.

[2016-04-08 22:16] kv113813 commented on #470
Please give your suggestions

[2016-04-08 22:18] aryasunny commented on #489
deepak, i am very new to front-end development. So wanted to ask you this.
is the front end developed in AngularJS ??

[2016-04-08 22:22] kv113813 commented on #276
I still have the same issue, I am getting the project name (Jira - Dashboard) but no other details:
Scope: Jira - Dashboard
Sprint: [No Sprint Available] [N/A]
Total
0
WIP
0
Done
0

I suspect on Epic & sprint field id/name. Is there a way to precisely check this since I see lots of "customfield_xxxxX" in json

[2016-04-09 02:16] smsuresh commented on #276
Better take the latest code again n try. Use some online json tool to find custom values correctly

[2016-04-09 02:28] #489 closed

[2016-04-09 04:03] aryasunny opened #490 "Clarification needed on the technology being used for hygieia"
Is there a document that clearly explains the technology/tools being used in hygieia.

My understanding is that
There is a collector that runs and collects stats and inserts into MongoD.
A rest API is used to fetch this data from the MongoD
AngularJS is being used in UI module which invokes the REST APIs to render the view.
(Question - why installation of NodeJS is a requirement for UI module)

Is

[2016-04-09 20:20] aryasunny opened #491 "Error while working with Code Repo Widget"
I am trying to configure the code repo widget but running into an error.
Does it work only with remote repository ??

I have downloaded github on my machine and created a local repository and a branch.

When i give the local repo URL (C:\GitHub\Hygieia) and branch name(Hygieia-Code).
It throws me an error "Please enter a valid URL

[2016-04-09 20:41] softwareklinic commented on #491
What is the url

Sent from my iPhone

On Apr 9, 2016, at 3:20 PM, aryasunny <notifications@github.com<mailto:notifications@github.com>> wrote:

I am trying to configure the code repo widget but running into an error.
Does it work only with remote repository ??

I have downloaded github on my machine and created a local repository and a branch.

When i give the local repo URL (C:\GitHub\Hygieia) an

[2016-04-09 20:43] tabladrum commented on #491
You download Github on your machine?

[2016-04-09 20:48] aryasunny commented on #491
Sorry, i have basically downloaded github client on my machine. And i have crated a local repository using that.

[2016-04-09 20:51] aryasunny commented on #491
What I am trying to do is that I am creating a local repository where I have all my code. I don't have my code remotely. How should I get the URL for this local repository to be provided to the repo widget. I am sorry for asking naive questions. It's my first time with Github.

[2016-04-09 20:52] tabladrum commented on #491
Your git url is still http://github.com/<repo owner>/<repo name>.
Example: https://github.com/capitalone/Hygieia

[2016-04-09 20:53] softwareklinic commented on #491
Unless you have some server eg stash - I'm not sure how are you going to point to that repo - especially the rest api

Sent from my iPhone

On Apr 9, 2016, at 3:51 PM, aryasunny <notifications@github.com<mailto:notifications@github.com>> wrote:

What I am trying to do is that I am creating a local repository where I have all my code. I don't have my code remotely. How should I get the URL for this

[2016-04-09 21:09] aryasunny commented on #491
thanks guys, I got the hang of this. So I have created my own repository here and will use it's URL as repo URL and branch name as needed.

but for now, this is what I did

I used this as Repo URL --> https://github.com/capitalone/Hygieia.git
and branch as "master"

After I hit save, nothing happens. If I have to check the logs for any errors, where should i check those ??

[2016-04-10 04:28] dejames commented on #192
@BibinCTS try this :
`$ rm -fr ./node_modules/
$ npm cache clean
$ npm install`

[2016-04-10 11:28] bimalvv commented on #270
@softwareklinic Did your changes merge to master?

[2016-04-10 11:45] bimalvv commented on #272
I am also facing the same issue. It is showing zero repo count and zero commits. When I debug the code, it was not going inside the for loop in GitCollectorTask class
`for (GitRepo repo : enabledRepos(collector)) {`

[2016-04-10 13:45] aryasunny commented on #491
Keyur/Topo,

any directions on how to progress from here ??

I used this as Repo URL --> https://github.com/capitalone/Hygieia.git
and branch as "master"

After I hit save, nothing happens. If I have to check the logs for any errors, where should i check those ??

Thanks

[2016-04-10 13:53] softwareklinic commented on #491
Is your api connectivity good? From UI

Sent from my iPhone

On Apr 10, 2016, at 8:46 AM, aryasunny <notifications@github.com<mailto:notifications@github.com>> wrote:

Keyur/Topo,

any directions on how to progress from here ??

I used this as Repo URL --> https://github.com/capitalone/Hygieia.git
and branch as "master"

After I hit save, nothing happens. If I have to check the logs for any errors

[2016-04-10 14:08] tabladrum commented on #491
Two things:
Make sure the api is running and the UI shows green for API connectivity

Make sure that you ran the github collector and it created eateries in Collector and CollectorItem collection in Mongo. Use a mongo browser or command line to do this.

[2016-04-10 14:13] softwareklinic commented on #491
And if you need get this UI for mongo - http://3t.io/mongochef/download/

Sent from my iPhone

On Apr 10, 2016, at 9:09 AM, tabladrum <notifications@github.com<mailto:notifications@github.com>> wrote:

Two things:
Make sure the api is running and the UI shows green for API connectivity

Make sure that you ran the github collector and it created eateries in Collector and CollectorItem collection in

[2016-04-10 15:00] aryasunny commented on #491
thanks for replying guys.

1) API connectivity is good.
2) I was able to run the collector yesterday but today I am getting errors while doing so and may be that is the reason.

I have few questions though

1) git-hub collector requires application.properties and the application properties that is being used is this one --> /api/src/main/resources/application.properties. Right ??

2) Documentation

[2016-04-10 15:03] softwareklinic commented on #491
Snapshot jar from target folder should be good

Sent from my iPhone

On Apr 10, 2016, at 10:00 AM, aryasunny <notifications@github.com<mailto:notifications@github.com>> wrote:

thanks for replying guys.

1) API connectivity is good.
2) I was able to run the collector yesterday but today I am getting errors while doing so and may be that is the reason.

I have few questions though

1) git-hub colle

[2016-04-10 15:12] aryasunny commented on #491
keyur,

and for application.properties, it is under api module ?? I found this a bit confusing.

Any directions on the error that I am getting ??

[2016-04-10 15:59] tabladrum commented on #491
When you run the jar, make sure you provide the properties file path correctly with the right properties set.

[2016-04-10 16:30] aryasunny commented on #491
thanks topo for replying.

So this is what I did.

I created an application.properties file and placed it here -->
/github-scm-collector/src/main/resources/application.properties

After this I ran this command from inside target folder of github-collector module -->
java -jar github-scm-collector-2.0.0-SNAPSHOT.jar

my collector module runs successfully and I am able to configure the widget now.

[2016-04-10 16:35] softwareklinic commented on #490
I created a presentation about it for internal audience - will eliminate proprietary stuff and share.

[2016-04-10 16:44] softwareklinic commented on #270
Bimal - if I cannot do it by tomorrow - will send you the fix

Sent from my iPhone

On Apr 10, 2016, at 6:28 AM, Bimal <notifications@github.com<mailto:notifications@github.com>> wrote:

@softwareklinic<https://github.com/softwareklinic> Did your changes merge to master?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/capit

[2016-04-10 17:08] tabladrum commented on #490
@aryasunny Please see the video for a quick reference.
@softwareklinic Looking forward to the presentation. Thanks!!!!

[2016-04-10 18:02] aryasunny commented on #490
Topo,

I did see the video but this is the part I am confused about.
AngularJS is being used in UI module which invokes the REST APIs to render the view.
(Question - why installation of NodeJS is a requirement for UI module)

[2016-04-11 05:55] MahaSannasi opened #493 "Hygieia Dashboard build is failed"
Hi ,

Please anyboby help me on this

[INFO] Node v0.12.0 is already installed.
[INFO] Found NPM version 2.7.1
[INFO]
[INFO] --- frontend-maven-plugin:0.0.25:npm (npm install) @ UI ---
[INFO] Running 'npm install --color=false --proxy=http://mahals:***@proxy.ebiz.
erizon.com:80' in C:\hygieia\UI
[ERROR] npm WARN package.json karma-phantomjs-launcher@0.1.4 No README data
[INFO]
[INFO] --- frontend-

[2016-04-11 07:07] sibaom opened #494 "Jenkins Plugin"
Hi,
I want to see all project names from jenkins in hygieia dashboard.So can you please say which plugin
available from hygieia to see all projects in a drop down.I searched in hygieia-jenkins-plugin and jenkins-build-collector but unable to find such api  which give the information about projects from jenkins and also let me know how the jenkins plugin works to pull out information  in hygieia.

[2016-04-11 08:12] anadimisra commented on #493
I faced same issue, was building Hygieia-2.0.0 tag

[2016-04-11 09:27] MahaSannasi opened #495 "[ERROR] bower lodash#~2.4.1 ENOTFOUND Package lodash not found"
Please help on this

[ERROR] npm WARN package.json karma-phantomjs-launcher@0.1.4 No README data
[INFO]
[INFO] --- frontend-maven-plugin:0.0.25:bower (bower install) @ UI ---
[INFO] Running 'bower install' in C:\hygieia\UI
[ERROR] bower lodash#~2.4.1          ENOTFOUND Package lodash not found
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[

[2016-04-11 10:33] sibaom commented on #495
run npm install and bower install in UI root package.
build core then build hygieia package again

[2016-04-11 10:42] sibaom commented on #493
Before Build you should install Node 5.0 and
run the command
1.npm install -g bower and npm install -g gulp on command line as administrator.
2.npm install and bower install on UI root package.
run this -git config --global url."https://".insteadOf git://   on git then
bower install on UI package.
If you are facing problem then run npm clean chache first then run the above command.

[2016-04-11 10:47] sibaom commented on #473
if I have more than 500 project name in a drop down then its really slow down the UI so please suggest
an optimum scrolling option.

[2016-04-11 11:03] MahaSannasi commented on #493
Yeah I have done the steps which you mentioned and executed the "Bower install"

C:\hygieia\UI>bower install
bower ENOTFOUND     Package angular-ui-router not found

C:\hygieia\UI>cd node_modules

C:\hygieia\UI\node_modules>cd bower

C:\hygieia\UI\node_modules\bower>cd bin

C:\hygieia\UI\node_modules\bower\bin>bower install
bower ENOENT        No bower.json present

C:\hygieia\UI\node_modules\bowe

[2016-04-11 11:06] MahaSannasi commented on #493
but json file is there in the directory and their content is

#!/usr/bin/env node

require('../lib/bin/bower');

[2016-04-11 12:12] sibaom commented on #493
I think its not appropriate bower.json file.
{
  "name": "devops-dashboard",
  "version": "0.0.0",
  "dependencies": {
    "modernizr": "~2.8.3",
    "angular-animate": "~1.3.4",
    "angular-sanitize": "~1.3.4",
    "angular-route": "~1.3.4",
    "angular-cookies": "~1.3.4",
    "angular": "~1.3.4",
    "angular-ui-router": "~0.2.13",
    "angular-bootstrap": "~0.12.0",
    "angular-validation-ma

[2016-04-11 12:15] sibaom commented on #493
try to run the command bower install in git.after enable the proxy.like  C:\hygieia\UI> bower install

[2016-04-11 12:52] tabladrum commented on #494
Jenkins plugin is to push build, artifact, test etc information to Hygieia.
To get ALL projects, the collector needs to be run.

[2016-04-11 12:57] tabladrum commented on #490
Need npm to build the package.

[2016-04-11 12:58] tabladrum commented on #486
Can you do a fresh clone and try again?

[2016-04-11 13:00] tabladrum commented on #493
@sibaom I think you are right... this seems like proxy related issue.

[2016-04-11 13:12] sibaom commented on #494
if I hit my jenkins api -https://<jenkins......>/api/json?pretty=true
"jobs" : [
    {
      "name" : "ALM-VersionOne-IntegrationTool",
      "url" : "https://<       >/ALM-VersionOne-IntegrationTool/",
      "color" : "blue"
    },
    {
      "name" : "Archive",
      "url" : "https://<    >/job/Archive/"
    },
    {
      "name" : "BIS",
      "url" : "https://< >/job/BIS/"
    },
    {

[2016-04-11 13:16] sibaom commented on #494
and collector is also running in my machine @tabladrum

[2016-04-11 13:25] tabladrum commented on #494
I am not sure if I understand what you are trying to do. Can you join the gitter chat?

[2016-04-11 13:53] MahaSannasi commented on #486
I have done that..

[INFO] Running 'bower install' in C:\hygieia\UI
[ERROR] bower alasql#^0.2.4          ENOTFOUND Package alasql not found
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] com.capitalone.dashboard:Hygieia ................... SUCCESS [  1.717 s]
[INFO] com.capitalone.dashboard:core ...................... SUCCESS [

[2016-04-11 17:11] amp5208 commented on #276
:+1:  to @smsuresh 's comment.  To add, unfortunately the only way to validate the custom_field attributes from Jira is to manually open an issue that you know is using the fields, and verify the field name that stores relevant content from the Story-type issue.

[2016-04-11 17:31] bimalvv commented on #270
@softwareklinic Thanks!

[2016-04-11 18:10] softwareklinic commented on #490
Check my fork until the PR is approved softwareklinic/hygieia

[2016-04-11 19:07] aryasunny opened #496 "Instructions for stash-scm-collector"
Are there any instructions available for stash-scm-collector ??

I am assuming that it would need application.properties file to run but what exactly are the tokens in that property file that this collector would be looking for ??

Thanks

[2016-04-11 19:11] softwareklinic commented on #496
# Default server configuration
debug=true
spring.jpa.show-sql: true
# Default server configuration values

server.contextPath=/api
server.port=${PORT:0}
#server.port=${PORT:0}

# dashboard.properties
#dbhost= xxxxxxxxxx
dbhost= localhost
dbport= 27017
dbname=
dbusername=
dbpassword=

#Collector schedule (required)
git.cron=0 0/1 * * * *

#mandatory
git.host = https://xxxx.xxxxxx.com/

#mandatory
g

[2016-04-11 19:40] aryasunny opened #497 "Property file for JIRA collector"
Need help with figuring these properties
# Jira API Query file names (String template requires the files to have .st extension) (required)

feature.storyQuery=story
feature.epicQuery=epic
feature.projectQuery=projectinfo
feature.memberQuery=memberinfo
feature.sprintQuery=sprintinfo
feature.teamQuery=teaminfo
feature.trendingQuery=trendinginfo

What I am able to understand is that JIRA collector re

[2016-04-11 19:59] aryasunny commented on #496
Keyur,

For the property, git.api.

 /rest/api/1.0/, Is this an api exposed by stash ??

Shall i simply replace this as a value for this property

Source code of hygieia has /!api/2.0/repositories/ as value for this property.

Will either work ??

Thanks

[2016-04-11 20:19] softwareklinic commented on #496
You need to make code change to read these properties inside the client code in collector

Sent from my iPhone

On Apr 11, 2016, at 2:59 PM, aryasunny <notifications@github.com<mailto:notifications@github.com>> wrote:

Keyur,

For the property, git.api.

/rest/api/1.0/, Is this an api exposed by stash ??

Shall i simply replace this as a value for this property

Source code of hygieia has /!api/2.

[2016-04-11 20:48] aryasunny commented on #496
I thought these properties are already being read and that is why we need to furnish these properties values to make the code work.

What is this git api being used for ??
source code has host as bitbucket.org and git.api as /!api/2.0/repositories/
So what i believe is that there is an api being exposed here --> bitbucket.org/!api/2.0/repositories/ which is being used inside the code.

so I i repl

[2016-04-11 21:26] aryasunny commented on #496
This is what I am doing
I am giving the repository URL for my internal bitbucket server and a corresponding branch name.

I am getting connection timeout on that URL. Now this URL when I am trying to access through my browser it asks me for an username and password.But inside the code I am not giving any username or password. So will we get a connection timeout in this case because username and pa

[2016-04-11 21:48] aryasunny opened #498 "Do we have authentication support in stash collector"
Do we have support for authentication in stash collector

my internal bitbucket repositor URL needs username/password to access the URL.

When I am trying to configure the repo widget, I am getting a connection timeout to the repository URL that I am providing. I believe this is because that URL is expecting username and password and when it doesn't get it until specific time limit, the request ti

[2016-04-12 01:08] aryasunny commented on #496
@softwareklinic will you have time to provide some help here

[2016-04-12 01:30] softwareklinic commented on #496
Yes I will send out changes tonight - I may not have time to PR - but will upload the code and send you the link - which you can test / merge / PR

Sent from my iPhone

On Apr 11, 2016, at 8:10 PM, aryasunny <notifications@github.com<mailto:notifications@github.com>> wrote:

@softwareklinic<https://github.com/softwareklinic> will you have time to provide some help here

—
You are receiving this be

[2016-04-12 01:55] aryasunny commented on #496
thanks keyur, I understand that you are writing some code for support for authentication.

But can you spare 2 minutes to answer this question of mine, it will help me understand the flow of the code. I will really appreciate that.

What is this git api being used for ??
source code has host as bitbucket.org and git.api as /!api/2.0/repositories/
So what i believe is that there is an api being exp

[2016-04-12 06:43] sibaom commented on #494
I joined gitter chat with same user name.
one more query is,in jnekins project configuration time under Post-build Actions>HygieiaPublish
1.Publish Build Status
2.Publish Artifact Information-Artifact Directory,Artifact Filename pattern,Artifact Group,ArtifactVersion
3.Publish Sonar Analysis
4.Publish Deployment Results
5.Publish Test Results
these options are coming so what kind of information sh

[2016-04-12 08:59] abhayshukla01 commented on #138
Hi  I am planning to develop collector for Teamcity..what are the pre requisites I need to have? Can you guys guide me? You guys already have collector for certain tools...can those codes be reused for teamcity? or I have to design it from scratch..?

[2016-04-12 09:08] sibaom commented on #472
I am also trying to implement MySql in hygieia  for one of my requirement.
so instead of spring data mongo query is it possible to write named queries and different service
in a collector?

[2016-04-12 09:10] abhayshukla01 commented on #138
Hi @amitmawkin can you help me with my confusion

[2016-04-12 09:49] mpujari opened #499 "Not able to add a team, getting "Could not read document: Unrecognized field 'title'""
Not able to add a new Team in Dashboard, when we try to getting error as below. Am I missing something?

[code]

[2016-04-12 10:11] tabladrum commented on #138
Copy Jenkins collector and start from there. The DefaultClient is where the Jenkins API calls are - you will need corresponding TeamCity APIs.

[2016-04-12 14:16] aryasunny commented on #496
@softwareklinic @tabladrum - Need your help

I was looking into the code and found that there is a Rest service call being made to this URL --> https://<hostname provided in properties file>/<api provided in properties file>/reponame

So is this a REST api provided by bitbucket to give the stats of the repository provided in reponame ??

And so I can assume that my internal bitbucket server also w

[2016-04-12 14:46] subesokun commented on #269
Is there any progress on that topic? I've also a SonarQube server which requires authentication but so far there is no property like `sonar.user` and `sonar.password` I could set in the Sonar collector or?

[2016-04-12 14:47] tabladrum commented on #496
I am not familiar with bitbucket api. I would google it up unless @softwareklinic knows it for sure.

[2016-04-12 14:51] aryasunny commented on #496
thanks for replying. If this is not an api exposed by bitbucket, then how are we gathering stats of the repository to show on dashboard.

Sorry for asking so many questions

[2016-04-12 14:56] raviAmlani opened #500 "Docker configuration Error - HTTP 404 Not Found | TCP protocol not supported"
Hi Team,

I am trying to install Hygieia on my windows machine, starting from cloning the Github repo to Mvn install it worked. Though got some error but those got resolved. Then I am able to run the api also.

Now as per the set up instruction,  I am trying to build the docker image. Using `mvn docker:build` command which is failing. I am pasting the stack trace below.

[INFO] Reactor Summary:
[I

[2016-04-12 15:03] aryasunny commented on #496
it does actually
https://developer.atlassian.com/static/rest/bitbucket-server/4.0.0/bitbucket-build-rest.html

[2016-04-12 16:50] ianceicys commented on #420
This is definitely helpful. Thank you. I'm going to try this out and I'll report on my success or if I run into any issues.

[2016-04-12 16:51] ianceicys commented on #480
Definitely helpful. I am looking to hook into VSTS (Visual Studio Team Services) Build. https://msdn.microsoft.com/en-us/library/vs/alm/build/vs/define-build?f=255&MSPPError=-2147217396

[2016-04-12 18:26] jdamick commented on #500
you shouldnt have to change the pom, did you source your dockermachine env?

[2016-04-12 18:37] raviAmlani commented on #500
Hi @jdamick

I didn't create the env variable `dockermachine` instead I made one entry in POM configuration only for `<dockerMachineName>default</dockerMachineName>`

Should I remove these entries from config?

But by doing so it tries to connect to 127.0.0.1 & 0.0.0.0 which again gives `Connection refused` error.

[2016-04-12 20:45] aryasunny commented on #496
@softwareklinic @tabladrum  - any suggestions/answer for the question

If this is not an api exposed by bitbucket, then how are we gathering stats of the repository to show on dashboard.

[2016-04-13 02:23] #498 closed

[2016-04-13 02:33] aryasunny commented on #496
@softwareklinic @tabladrum - any insights into --> how are we gathering stats of the bitbucket repository to show on dashboard. What is the service that is giving us the stats for dashboard.

I created a repository on bitbucket, but when i use the below URL, I get "404 not found"
https://bitbucket.org/rest/api/1.0/aryasunny/renewal/commits?sha=feature/develop&since=2016-0
4-12T21:08Z

[2016-04-13 02:45] softwareklinic commented on #496
Give me few - will get back

Sent from my iPhone

On Apr 12, 2016, at 9:33 PM, aryasunny <notifications@github.com<mailto:notifications@github.com>> wrote:

@softwareklinic<https://github.com/softwareklinic> @tabladrum<https://github.com/tabladrum> - any insights into --> how are we gathering stats of the bitbucket repository to show on dashboard. What is the service that is giving us the stats fo

[2016-04-13 03:03] aryasunny commented on #199
@vtaneeru what are the properties you are using in your application.properties file.

And your bitbucket widget works even though you chose repo type as stash while setting up the widget ??

Do you know what exactly is the api URL that is being used to fetch the stats from bitbucket server ??

I have a repository on bitbucket but when I try to configure my bitbucket widget, I get an error in my st

[2016-04-13 03:34] #491 closed

[2016-04-13 09:16] vickylalit commented on #260
Hi
I am using the GitHub collector, but my URL need user/password. So is there any way to configure the user/password for the same.

[2016-04-13 10:14] manjunath2008 commented on #266
Hi All,

Can anyone please tell me how is the Done value in Hygieia dashboard is being computed.

Thanks & Regards
Manjunath

[2016-04-13 11:56] gangadharahn opened #502 "Need more information on Hygieia-jenkins Plugin configuration"
Hi Team,

I am trying to setup the Hygieia-Jenkins Plugin. I am able to update the Jenkins with HPI file and able to see the post build configuration settings. but i am not sure what needs to be filled in the testxt boxes for for  Publish Artifact Information and Publish Deployment Results.

Could you please help me with this information.

1.Publish Artifact Information(Artifact Directory,Artifact

[2016-04-13 12:10] softwareklinic commented on #502
Check add build step

Sent from my iPhone

On Apr 13, 2016, at 6:56 AM, gangadharahn <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Team,

I am trying to setup the Hygieia-Jenkins Plugin. I am able to update the Jenkins with HPI file and able to see the post build configuration settings. but i am not sure what needs to be filled in the testxt boxes for for Publish Artifact

[2016-04-13 13:22] #490 closed

[2016-04-13 14:15] aryasunny commented on #496
Was able to make the bitbucket collector work

This has to be the properties in properties file

#mandatory
git.host=api.bitbucket.org
#mandatory
git.api=/2.0/repositories/

And had to made one change in the clientcode for bitbucket collector.

[2016-04-13 14:27] tabladrum commented on #496
Sounds like we should have a separate bit bucket collector? Or should stash collector be able to handle it via properties configuration?

[2016-04-13 14:29] softwareklinic commented on #496
I will check it out at our end.

From: tabladrum [mailto:notifications@github.com]
Sent: Wednesday, April 13, 2016 9:27 AM
To: capitalone/Hygieia
Cc: Shah, Keyur
Subject: [E] Re: [capitalone/Hygieia] Instructions for stash-scm-collector (#496)

Sounds like we should have a separate bit bucket collector? Or should stash collector be able to handle it via properties configuration?

—
You are receivi

[2016-04-13 14:29] softwareklinic commented on #496
Most likely it is just properties… not a whole lot – since – it’s a natural progression of stash --> bitbucket

From: tabladrum [mailto:notifications@github.com]
Sent: Wednesday, April 13, 2016 9:27 AM
To: capitalone/Hygieia
Cc: Shah, Keyur
Subject: [E] Re: [capitalone/Hygieia] Instructions for stash-scm-collector (#496)

Sounds like we should have a separate bit bucket collector? Or should stash

[2016-04-13 14:36] aryasunny commented on #496
@tabladrum @softwareklinic
for me, the stash-scm collector itself worked. We have client code for both stash and bit-bucket both in stash collector module itself

When working with stash I had to place @component annotation in class DefaultStashClient.java
When working with bit-bucket then, I had to place @component annotation in class DefaultBitbucketClient.java

and had to make small code change

[2016-04-13 14:38] tabladrum commented on #496
@aryasunny Can you do a PR for a new BitBucketCollector? Unless there is a smart way to handle the annotation? @softwareklinic - thoughts?

[2016-04-13 15:19] aryasunny commented on #496
@tabladrum  I am too new for this thing. I would need some time before I can get a good handle on this to do a PR. Will keep you posted.

[2016-04-13 15:32] mcloud42 opened #503 "Hygieia 2.0 with jdk 1.7 - what features would not work?"
I have Hygieia 2.0 version with jdk 1.7 (got the version before you upgraded to jdk 1.8) and had it working with Sonar, Subversion and Jenkins collectors.
I was wondering what features of Hygieia 2.0 would not work with jdk 1.7? Can I dockerize it with jdk 1.7?
It will really help me plan when I need to go to jdk 1.8? Appreciate your feedback.

[2016-04-13 18:26] amp5208 commented on #212
@amitmawkin / @tabladrum :  As mentioned above, this issue can be closed.

[2016-04-13 19:00] aryasunny commented on #496
closing this issue. Will work on getting the code ready for PR

[2016-04-13 19:00] #496 closed

[2016-04-13 19:03] aryasunny commented on #471
@gillianwilson
Can you please share your properties file.

#Jira API Query file names (String template requires the files to have .st extension) (required)
feature.storyQuery=story
feature.epicQuery=epic
feature.projectQuery=projectinfo
feature.memberQuery=memberinfo
feature.sprintQuery=sprintinfo
feature.teamQuery=teaminfo
feature.trendingQuery=trendinginfo

What I am able to understand is that J

[2016-04-13 19:04] aryasunny commented on #497
@tabladrum can you please guide here ?

[2016-04-13 21:09] aryasunny opened #504 "Do the collectors support passing through a proxy"
Do the collectors support passing through a proxy while making the REST API call.

[2016-04-13 21:58] amp5208 commented on #497
@aryasunny , I will be able to provide guidance; I will reach out tomorrow via this issue with help.  Tagging myself for awareness:  @amp5208

[2016-04-13 22:01] amp5208 commented on #471
@aryasunny , @gillianwilson :  Thank you for reaching out.  @aryasunny has already asked this question on the following post, which I will follow-up on:  https://github.com/capitalone/Hygieia/issues/497.  Please look to that post for further details.

[2016-04-13 22:04] amp5208 commented on #266
@manjunath2008 , Thank you for reaching out regarding your question.  Currently, the Done value is calculated using either the Detail Estimate value (VersionOne) or the Remaining Estimate value (Jira) summed and rounded-down for any stories mapped to the following statuses:  Done, Accepted.  Let me know if you need more specific details.

[2016-04-13 22:10] amp5208 commented on #326
@jimzucker , please let me know if you have resolved your issue.

[2016-04-13 22:11] amp5208 commented on #82
@tabladrum , updated with full customizability requests from user @rashisaxena and @aleitner

[2016-04-13 22:14] amp5208 opened #505 "Request: Feature Widget does not support Jira Kanban"
**Narrative:**

As a user of the Jira Feature Widget, I want to be able to use the Feature widget for Kanban boards, so that my Kanban teams can better understand where they are currently regarding intent.

**Acceptance Criteria:**
- [x] Kanban (sprintless) boards in Jira show valid data on the Hygieia Feature Widget

**Use Case:**

[code]

[2016-04-13 22:16] amp5208 commented on #505
@tabladrum , updated with full customizability requests from user @rashisaxena and @aleitner

[2016-04-14 00:53] aryasunny commented on #504
was able to get this working behind proxy.

[2016-04-14 00:53] #504 closed

[2016-04-14 00:58] aryasunny commented on #470
@tabladrum @kv113813 I am getting the same issue when I am using bitbucket. It shows only one commit.

Were you able to get a solution for this ??

[2016-04-14 01:07] tabladrum commented on #503
There are some java 1.8 language features used in core package and else where. Sorry !

[2016-04-14 01:09] tabladrum commented on #502
Artifact Directory - with respect to your workspace, where the artifacts (such as .jar) file are
Artifact Filename pattern - "*.jar" for example
Artifact Group - com.capitalone.dashboard for example
Artifact Version - "2.0.0" for example

[2016-04-14 01:11] tabladrum commented on #499
Can you detail the steps?

[2016-04-14 01:13] tabladrum commented on #494
See this > https://github.com/capitalone/Hygieia/issues/502

[2016-04-14 03:30] mpujari commented on #499
Seems its not an issue, as it comes up when we start UI with **gulp serve --local true** which actually runs with mock.

@tabladrum  Can you please close the issue.

[2016-04-14 03:39] #499 closed

[2016-04-14 08:58] rashisaxena commented on #505
thanks @amp5208

let me know when you want me to test the branch :)

[2016-04-14 09:00] abhayshukla01 commented on #138
@tabladrum thank you sir. That is what I am doing. how can I get Teamcity APIs? can you please lemme know what changes need to be made in DefautClient for Teamcity and which other files from Jenkins collector need change?

[2016-04-14 17:44] aryasunny commented on #497
@amp5208  Arnold, were you able to find some time to look into this ??

Thanks

[2016-04-14 20:47] tabladrum commented on #500
@jdamick can you see this?

[2016-04-15 18:16] tabladrum commented on #503
Closing this as the question is answered.

[2016-04-15 18:16] #503 closed

[2016-04-15 18:17] tabladrum commented on #502
Closing this as the question is answered.

[2016-04-15 18:17] #502 closed

[2016-04-15 18:17] tabladrum commented on #495
@MahaSannasi is your question is answered, can you close this?

[2016-04-15 18:18] tabladrum commented on #494
Refer to issue# 502.

[2016-04-15 18:18] #494 closed

[2016-04-15 18:18] tabladrum commented on #493
@MahaSannasi can we close this?

[2016-04-15 18:19] tabladrum commented on #486
@MahaSannasi Do you still have the issue? If not can you close this?

[2016-04-15 18:20] tabladrum commented on #472
I don't using RDBMS is a good choice for this.

[2016-04-15 18:26] sibaom commented on #472
Hi ,

But if some project usings mysql and if suppose if we are trying to display the data in hygieia
as a bar chart or line chart.so is that suitable.can you please say the reason why its not possible to
configure with other db.is it performance over head or something other.
please give your response its something that i am looking for.
Thanks

[2016-04-15 18:29] aryasunny commented on #335
@amp5208
Arnold, need some help here.

I am using proxy.But there is no specific proxy URL for JIRA. It's just that all traffic goes through a proxy.

 And this is the error I am getting

2016-04-15 13:23:00,073 ERROR c.c.d.d.jira.JiraDataFactoryImpl - There was a problem parsing or reading the proxy configuration settings during openning a Jira connection
. Defaulting to a non-proxy URI.
2016-04-

[2016-04-15 18:30] aryasunny commented on #497
@amp5208
Arnold, need some help here.

I am using proxy.But there is no specific proxy URL for JIRA. It's just that all traffic goes through a proxy.

 And this is the error I am getting

2016-04-15 13:23:00,073 ERROR c.c.d.d.jira.JiraDataFactoryImpl - There was a problem parsing or reading the proxy configuration settings during openning a Jira connection
. Defaulting to a non-proxy URI.
2016-04-

[2016-04-15 18:38] manjunath2008 commented on #266
Hi,

Thanks for the response. I am using Jira collector, I have couple of questions
1) Can you please tell me what information is Jira widget in the dashboard is displaying.
2) What does numeric value above Total, WIP, Done indicate

Thanks & Regards
Manjunath

[2016-04-17 00:46] aryasunny commented on #497
finally I am able to pass through the proxy and all. But I am ending up getting the below error.

@amp5208 @tabladrum any guidance from here ??

2016-04-15 15:21:06,524 ERROR o.a.h.n.p.HttpAsyncRequestExecutor - http-outgoing-14 [ACTIVE] HTTP protocol exception: An existing connection was forcibly closed by the re
mote host
java.io.IOException: An existing connection was forcibly closed by the rem

[2016-04-17 07:11] #486 closed

[2016-04-17 07:12] #493 closed

[2016-04-19 21:41] jdamick commented on #500
does your docker machine work from cmd line? did you source in your docker-machine env to your shell?

[2016-04-19 23:36] gnvsuneetha commented on #267
is this functionality available?

[2016-04-20 01:30] amitmawkin commented on #267
Yes since 2.0 release

[2016-04-20 04:32] gnvsuneetha commented on #267
Can you please tell me when is it going live
On Apr 19, 2016 6:31 PM, "Amit Mawkin" <notifications@github.com> wrote:

[2016-04-20 12:04] sibaom opened #507 "Jenkins-cucumber-test-collector unable to start collector"
Error starting ApplicationContext. To display the auto-configuration report enable debug logging (start with --debug)

2016-04-20 17:23:05,793 ERROR o.s.boot.SpringApplication - Application startup failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'jenkinsCucumberTestCollectorTask': Invocation of init method f
ailed; nested exception is java.lang.NullPoi