[2018-12-10 12:47] Sharmakartik commented on #2627
Best way to go on AWS EC2 INSTANCE.
SPIN UP IN SECONDS.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: udiakasnuke <notifications@github.com>
Sent: Monday, December 10, 2018 6:16:28 PM
To: Hygieia/Hygieia
Cc: Sharmakartik; Mention
Subject: Re: [Hygieia/Hygieia] getting error "Could not resolve dependencies" (#2627)

Sure!! In the mean time i will try and ar

[2018-12-10 13:19] Sbrenthughes commented on #2627
@udiakasnuke your issue is with mvn not having connectivity to pull down a jira dependency. It is not with Hygieia.

[2018-12-10 13:21] Sbrenthughes commented on #2627
@ansha1 like @sharmakartik mentioned, have you downloaded and ran mvn clean install in Hygieia/hygieia-core first?

[2018-12-10 13:22] Sharmakartik commented on #2627
Yes

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sbrenthughes <notifications@github.com>
Sent: Monday, December 10, 2018 6:51:39 PM
To: Hygieia/Hygieia
Cc: Sharmakartik; Mention
Subject: Re: [Hygieia/Hygieia] getting error "Could not resolve dependencies" (#2627)

@ansha1<https://github.com/ansha1> like @Sharmakartik<https://github.com/Sharmakartik> menti

[2018-12-10 13:32] Sbrenthughes commented on #2607
It doesn’t look like you have passed the mongo info correctly. I will post an example in just a little bit.

[2018-12-10 13:33] Sbrenthughes commented on #2606
Rvema suggested
“That's weird. However can you do git clone https://github.com/Hygieia/hygieia-core.git followed by mvn clean install of hygieia-core. Then run mvn clean install of Hygieia?”

[2018-12-10 14:01] Sbrenthughes commented on #2415
@yuhong02 Please reopen if you are still facing an issue here. I am closing due to inactivity.

[2018-12-10 14:01] #2415 closed

[2018-12-10 15:07] udiakasnuke commented on #2627
@Sbrenthughes - how do i set this up correctly... I haven't configured mvn to anything extra.. I just installed it and set it's path in bash_profile ....

Thanks!! Any help is greatly appreciated!!

[2018-12-10 16:21] etsauer opened #2628 "How to push commit data via DeployPublishStep"
We are publishing deploy environment data to our hygieia stack using the Jenkins plugin. For example:

[code]

However, the team dashboard cannot calculate average lead time because the build and deploy widgets don't have the commit information in them. Is there some way to explicitly send a commit id in the publish steps?

cc: @pcarney8

[2018-12-10 16:24] etsauer commented on #2628
Another observation.. one of my jenkinsfiles pulls in a global library from github, and the build widget is interpretting that as my source code repository, and pulling commit data from it. It would be nice to have a parameter in the `hygieiaBuildPublishStep` to override that data.

[2018-12-10 16:52] udiakasnuke commented on #2627
yes possible!!

[2018-12-10 16:53] Sbrenthughes commented on #2627
You need to look up how to configure maven with a proxy

[2018-12-10 17:20] RameshMuthuraj commented on #2601
Now i can see the jobs in widgets..thanks

[2018-12-10 19:20] celamb4 commented on #2272
So, digged a little more. Cleared the mongo feature collection. Reran the collector, it started parsing everything. Lots of errors from some stories parsing the Sprint.. Regardless, the DB now has fresh documents. I can actually see the documents and see ProjectName. However, when I select the feature widget --> Project=myproject , All issues.. Nothing shows up. Not for scrum or kanban.

Is the AP

[2018-12-10 19:20] celamb4 commented on #2272
Running jira collector 3.0.1 which is the latest.

[2018-12-10 19:23] celamb4 commented on #2557
Related to #2272
Not sure if the issue is in the API

[2018-12-10 21:30] celamb4 commented on #2600
I see a commit to the JIRA collector 11 days ago to fix some issues. Have you tried pulling the latest code, rebuilding and running?

[2018-12-10 22:09] celamb4 commented on #2627
Documentation needs to be updated to show new structure.

[2018-12-10 23:25] liutsi opened #2629 "Can we remoteCreate a product dashboard?"
Hi, actually we have 2 questions.
1. we need to create product dashboard by remoteCreate, but I've read through Hygieia Swagger API page and have drilled down into api source code, it seems that Hygieia hadn't implement remoteCreating product dashboard now.
2. we want to remoteCreate a pipeline widget in the team dashboard, just like above, I guess it's not implemented yet.
Just want to make sure

[2018-12-11 02:22] Sbrenthughes commented on #2601
Can you confirm that you are able to see data being populated on the build widget ?

[2018-12-11 02:31] Sbrenthughes commented on #2627
@ansha1 Any updates?

[2018-12-11 02:40] Sbrenthughes commented on #2293
feature.jiraBoardAsTeam Is used when the team name is the jira bored name. There are other instances where there is a separate field for the team name. I’m going to close this as your original issue has been resolved. Please feel free to open a new issue if you face anything else.

[2018-12-11 02:40] #2293 closed

[2018-12-11 02:41] Sbrenthughes commented on #2375
Please check this thread https://github.com/Hygieia/Hygieia/issues/2293

[2018-12-11 02:42] Sbrenthughes commented on #2600
Can you review https://github.com/Hygieia/Hygieia/issues/2293

[2018-12-11 02:43] Sbrenthughes commented on #2597
Have you tried reviewing https://github.com/Hygieia/Hygieia/issues/2293

[2018-12-11 04:49] babujii commented on #2624
[root@logserver api]# cat dashboard.properties | grep -v ^#
dbname=hyg
dbusername=hyg
dbpassword=hyg
dbhost=localhost
dbport=27017
dbhostport=127.0.0.1:27017
server.contextPath=/api
server.port=8080

[root@logserver target]# cat jenkins.properties | grep -v ^#
dbname=hyg

dbhost=localhost

dbport=27017

dbreplicaset=false
dbhostport=127.0.0.1:27017

dbusername=hyg

dbpassword=hyg

jenkins.cron= *

[2018-12-11 12:39] udiakasnuke opened #2630 "Bamboo Collector - Certificate Error"
This is my application.properties file --
dbname=dashboarddb
dbhost=localhost
dbport=27017
dbusername=dashboarduser
dbpassword=dashboarduser123
dbreplicaset=false
bamboo.savelog=false
bamboo.cron=0 0/5 * * * *
bamboo.servers[0]=https://bamboo.company.com // full URL to my company name
bamboo.username=my_bamboo_username
bamboo.apiKey=my_bamboo_password

I am getting the following error

2018-12-11

[2018-12-11 12:43] udiakasnuke commented on #2627
@Sbrenthughes  - Looked like it was a proxy issue... I created my mobile hotspot to work around this because i couldn't get the proxy details... it was built successfully then

[2018-12-11 15:42] rvema commented on #2630
please ensure that the certificates for your bamboo collector are imported into cacerts part of your jdk off which you are launching the collector.

[2018-12-11 16:26] celamb4 commented on #2272
@Sbrenthughes Any thoughts?

[2018-12-11 19:22] celamb4 commented on #2272
Cleaned the feature collection and reran the collector. Seems like parser is having issues with line breaks. I do think this is a separate issue since the DB does end up being populated with documents that include Story, Sprint and Epic name such as my previous comment.

[code]

[2018-12-12 04:56] udiakasnuke commented on #2630
Yes... i added certificate in cacerts and it works fine now....This can be closed now... but @rvema can u tell me how to add widgets to UI... I can run my api module.. i can run the UI.. i can even run my bamboo collector.. but how to show that to Hygieia dashboard..

Thanks!! help is greatly appreciated!!

[2018-12-12 12:22] avarne commented on #2301
I am getting Close connection error in between transactions. It will autoconnects again to mongo server.
2018-12-12 17:42:21,304 INFO  org.mongodb.driver.connection - Closed connection [connectionId{localValue:9, serverValue:43}] to 127.0.0.1:27018 because it is past its maximum allowed idle time.
2018-12-12 17:43:55,451 INFO  org.mongodb.driver.connection - Opened connection [connectionId{localVa

[2018-12-12 15:34] Sbrenthughes commented on #2301
Mongo isn’t causing this issue. The time out is happening when connecting to Jenkins.

[2018-12-12 15:36] Sbrenthughes commented on #2301
Please open a new issue.

[2018-12-12 17:37] #2630 closed

[2018-12-12 18:05] udiakasnuke opened #2631 "Unable to see login fields + Create Dashboard option"
Hi,

I am facing some unwanted issues---- This is the setup.

1. mongod is setup and running, it accepts incoming connections from API as well as collector.
2. API runs fine via  ----- java -jar /Users/user/Documents/Hygieia/Hygieia/api/target/api.jar --spring.config.location=/Users/user/Documents/Hygieia/Hygieia/dashboard.properties

My dashboard.properties --
dbname=dashboarddb
dbusername=dashbo

[2018-12-12 18:43] Sbrenthughes commented on #2631
If this is a local deployment then remove the following from API
[code]

[2018-12-12 18:46] udiakasnuke opened #2632 "Don't see the bamboo collector data in mongodb"
Hi,

My mongod, API, bamboo colllector is running fine. I can see the connections been accepted by mongod, collector is fetching the build plans as i can see in terminal but it's not reflecting in my mongoDB because of which i think it's not reflecting on dashboard build widget. Drop down shows nothing..

dashboard.properties
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dashboarduser123

[2018-12-12 18:48] Sbrenthughes commented on #2632
This issue is being addressed in the other issue you already opened. https://github.com/Hygieia/Hygieia/issues/2631

[2018-12-12 18:48] #2632 closed

[2018-12-12 18:54] udiakasnuke commented on #2631
@Sbrenthughes - the api properties changes you referring above will it solve my mongodb issue... wherein my plan details are not getting updated to mongo database??

and for JWT error, i need to clear cache right ??

[2018-12-12 19:03] Sbrenthughes commented on #2631
If you paste `http://localhost:8080/api/collector/type/Build` in your browser, what do you get

[2018-12-12 19:05] udiakasnuke commented on #2631
@Sbrenthughes - I changed my api file to

dbname=dashboarddb
dbhost=localhost
dbport=27017
dbreplicaset=false
server.contextPath=/api
server.port=8080
corsEnabled=false
auth.expirationTime=10000
auth.authenticationProviders=STANDARD

still i don't see build data in mongodb?.... clearing the browser cache is resolving the JWT issue though..

[2018-12-12 19:08] udiakasnuke commented on #2631
This is the result -
[{"id":"5c0fa46883da93d95875541a","name":"Bamboo","collectorType":"Build","enabled":true,"online":true,"errors":[],"uniqueFields":{"jobName":"","jobUrl":"","instanceUrl":""},"allFields":{"jobName":"","jobUrl":"","instanceUrl":""},"lastExecuted":1544614480578,"searchFields":["description"]}]

[2018-12-12 20:02] Sbrenthughes commented on #2624
If you paste `http://localhost:8080/api/collector/type/Build` in your browser, what do you get

[2018-12-12 20:49] #2621 closed

[2018-12-12 23:09] Sbrenthughes commented on #2631
When you go to mongo do you see anything in the build document? And there are no builds in the drop down on the build widget?

[2018-12-13 05:14] ansha1 commented on #2627
Hey @Sbrenthughes thanks for responding in such a short time !
We are in need of a dashboard which we can display on our LED display screen for our managers and scrum masters. And someone in my team suggested about Hygieia tool.

You should update your documentations about the fix you suggested above. It passed the last failure step for missing jar. Right now its failing for bower install, because

[2018-12-13 05:31] ansha1 commented on #2627
You should enable it for root as well. Will ease our work :)

[2018-12-13 08:35] udiakasnuke commented on #2631
@Sbrenthughes  - Yes i do see some data... approx 156 entries but all those entries corresponds to 1 build plan.. I have many plans in my bamboo. Not all the data is saved here. But surprisingly if i configure a Build widget and in drop down menu for entering the build plan i can search for all the plans but the entries for those plans are not present in mongodb.

[2018-12-13 08:49] buradeshruti opened #2633 "Can someone please help in configuring Bamboo pipeline widget in hygieia."
Jenkins has hygieia publisher plugin, is there any similar plugin for Bamboo? Any help in configuring Bamboo pipeline would be useful.

[2018-12-13 12:53] Sbrenthughes commented on #2631
Select a plan in the widget and the run the collector again

[2018-12-13 13:05] udiakasnuke commented on #2631
Is it supposed to be like this?? I mean after adding a plan in UI and saving we need to start collector again..??

[2018-12-13 14:37] Sbrenthughes commented on #2633
We only have the Bamboo collector. Have you tried configuring it?

[2018-12-13 14:38] Sbrenthughes commented on #2631
It is a collector.. it needs to run on a schedule.. This is how you would get updated data to hygieia.

[2018-12-13 15:46] RameshMuthuraj commented on #2616
Got this error In jenkins GUI page ( jenkins -> manage jenkins -> hygieia settings)

 now i can connect to hygieia server and got msg "connected all Endpoints" but i'm not able to configure this publish settings in jenkins & this prompting me error as below

**Problem accessing /job/tpaas-hygieia/descriptorByName/jenkins.plugins.hygieia.HygieiaPublisher/checkValue. Reason:
Not found**

![jenkins_p

[2018-12-13 18:33] RameshMuthuraj commented on #2616
jenkins Log:-

WARNING: Caught exception evaluating: descriptor.calcFillSettings(field,attrs) in /job/tpaas-hygieia/configure. Reason: java.lang.IllegalStateException: class jenkins.plugins.hygieia.HygieiaPublisher$DescriptorImpl doesn't have the doFillTestTypeItems method for filling a drop-down list
java.lang.IllegalStateException: class jenkins.plugins.hygieia.HygieiaPublisher$DescriptorImpl do

[2018-12-13 19:01] RameshMuthuraj opened #2634 "Sonar credentials as security token feature"
I wanna use Sonar security token property instead of sonar.username & sonar.password..

Let me know if its possible to pass this value ? since we used SAML for authentication

[2018-12-14 04:39] RameshMuthuraj commented on #2501
@matthewbeasley So i beleive either should use pull or push ? what will happen if we use both (jenkkins collector & jenkins publisher )
have installed jenkins collector & am able to pull all the data, but i want to publish code quality,security & some other reports to hygieia..in this case what would be the best option ?

[2018-12-14 05:32] RameshMuthuraj commented on #2616
integrated with jenkinsfile

Hygieia: Publishing to Hygieia using hygieia-publisher version 2.1.6-SNAPSHOT (private-9dd0a33b-root)
Hygieia: *** Publish to API Endpoint - 1 ***
Hygieia: Auto Published Build Complete Data. Response Code: 201. 5c1337f138887e1d5766d8da,5c1337f138887e1d5766d8d9
Hygieia: Auto Published Sonar Result. Nothing to publish
java.lang.NullPointerException
	at jenkins.plugins.h

[2018-12-14 05:43] RameshMuthuraj commented on #2600
2018-12-14 05:41:06,735 INFO  org.mongodb.driver.cluster - Monitor thread successfully connected to server with description ServerDescription{address=localhost:27017, type=STANDALONE, state=CONNECTED, ok=true, version=ServerVersion{versionList=[4, 0, 4]}, minWireVersion=0, maxWireVersion=7, electionId=null, maxDocumentSize=16777216, roundTripTimeNanos=452802}
2018-12-14 05:41:06,742 INFO  org.mong

[2018-12-14 06:06] RameshMuthuraj commented on #2600
Getting error as below

2018-12-14 06:04:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2018-12-14 06:04:00,002 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2018-12-14 06:04:00,004 INFO  c.c.d.collector.CollectorTask - https://jira.trimble.tools/
2018-12-14 06:04:00,004 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2018

[2018-12-14 06:07] RameshMuthuraj commented on #2600
![jira_collector](https://user-images.githubusercontent.com/4685029/49986108-9253ac80-ff94-11e8-90b3-468a6d7e7560.JPG)

[2018-12-14 06:44] RameshMuthuraj commented on #2600
2018-12-14 06:44:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2018-12-14 06:44:00,023 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2018-12-14 06:44:00,026 INFO  c.c.d.collector.CollectorTask - https://jira.trimble.tools/
2018-12-14 06:44:00,027 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2018-12-14 06:44:00,030 DEBU

[2018-12-14 06:46] RameshMuthuraj commented on #2600
Properties

# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
#dbhostport=localhost:27017

# Database Username - default is blank
dbusername=dashboarduser

# Database Password - default is blank
dbpassword=dbpassword

# Logging File location
logging.file=./logs/ji

[2018-12-14 07:39] rvema commented on #2616
Current version of plugin is 2.1.7 can you get the latest code and retry?

[2018-12-14 17:46] Sbrenthughes commented on #2631
@udiakasnuke any update?

[2018-12-14 23:15] johndifoolpi commented on #2474
[code]

[2018-12-14 23:54] Sbrenthughes commented on #2474
Is this command line or IDE?

[2018-12-15 00:00] Sbrenthughes commented on #2633
As far as I know the bamboo collector does not pull artifact information which is what is used for the pipeline widget.

[2018-12-15 03:19] john-difool commented on #2474
Cli built from HEAD.

[2018-12-18 00:13] liutsi opened #2637 "Configure pipeline for the first time always fails"
Just create a new team dashboard and select Deploy and Pipeline.
After Deployed is configured ok and data pops up, configure Pipeline, click Save. It will always fail to save the data, and after looking into mongoDB, the data is gone.
Then configure Pipeline for the second time, then it's ok.
After digging down into the code, it seems DashboardController.addWidget() gets the data lost.

[2018-12-18 03:52] admiresail commented on #2627
@Sharmakartik

I cloned Hygieia core and when I run "mvn clean install" , the build is failing with the below error:

_org.apache.maven.plugin.MojoExecutionException: You need to run build with JDK or have tools.jar on the classpath.If this occures during eclipse build make sure you run eclipse under JDK as well_

Can you please help ?? I am using windows machine, tried in unix box as well .. same

[2018-12-18 10:10] ansha1 opened #2638 "getting error "no such cmd: saslStart" while launching API"
Caused by: com.mongodb.MongoCommandException: Command failed with error -1: 'no such cmd: saslStart' on server localhost:27017. The full response is { "ok" : 0.0, "errmsg" : "no such cmd: saslStart", "bad cmd" : { "saslStart" : 1, "mechanism" : "SCRAM-SHA-1", "payload" : { "$binary" : "biwsbj1tb25nbyxyPW5cKD1BbEByMDx5OyY2USQvdE0/e3hXSA==", "$type" : "0" } } }
	at com.mongodb.connection.CommandHelp

[2018-12-18 12:50] Sbrenthughes commented on #2638
You probably shouldn’t be connecting to the admin database. Did the documentation say that somewhere ?

[2018-12-18 13:35] #2627 closed

[2018-12-18 17:48] Sharmakartik opened #2639 "cant create any job in hygieia dashboard"

[2018-12-18 17:49] Sharmakartik commented on #2639
please help to to create jobs in hygieia.

[2018-12-18 17:52] Sharmakartik commented on #2639
my gihub ang sonar collector are working fine.
my sonar collector fetching project from sonar server BUT
my github collector is not working in Hygieia dashboard (repo type).

NEED HELP.

[2018-12-18 17:53] Sbrenthughes commented on #2638
Also, what version of mongo are you using?

[2018-12-18 17:54] Sbrenthughes commented on #2639
Are you able to configure the sonar widget?

[2018-12-18 17:56] Sharmakartik commented on #2639
i have to create sonar widget under code analysis????

[2018-12-18 17:57] Sharmakartik commented on #2639
where static code ,functional test etc??
cant see any job under their panel..

[2018-12-18 18:00] Sbrenthughes commented on #2639
`http://localhost:8080/api/collector/type/SCM` navigate here. What does this return?

[2018-12-18 18:02] Sharmakartik commented on #2639
i have one more question??

1. which database we are using
 1.a dashboard
 1.b dashboraddb(documents as well as .properties files)

when im putting in my chrome browser localhost:8080/api/dashboard (its giving json type data)
BUT not in localhost:8080/api/dashboarddb(as per in documents)

PLZ Clear my Confusion.

[2018-12-18 18:03] Sbrenthughes commented on #2639
Lets please fix one thing at a time. What does `http://localhost:8080/api/collector/type/SCM` return?

[2018-12-18 18:03] Sharmakartik commented on #2639
i have done this
getting a json format but in that got **string** type repo.
want github type repo...

HELP!!

[2018-12-18 18:04] Sbrenthughes commented on #2639
Can you just copy and paste the response here.

[2018-12-18 18:05] Sharmakartik commented on #2639
ok sure

[2018-12-18 18:14] Sbrenthughes commented on #2638
You could also try looking at https://github.com/Hygieia/Hygieia/issues/478, https://github.com/Hygieia/Hygieia/issues/2336, or https://github.com/Hygieia/Hygieia/issues/2414

[2018-12-18 18:16] Sharmakartik commented on #2639
[{"id":"5c1906c0d4c45e1638ad1a90","name":"GitHub","collectorType":"SCM","enabled":true,"online":true,"errors":[],"uniqueFields":{"branch":"","url":""},"allFields":{"password":"","personalAccessToken":"","branch":"","userID":"","url":""},"lastExecuted":1545156600054,"searchFields":["description"]}]

[2018-12-18 18:16] Sharmakartik commented on #2639
i think its working fine
but cant log into my dahboard.

[2018-12-18 18:17] Sbrenthughes commented on #2639
I am not sure what you mean log into the dashboard? Are you saying you can't login to hygieia?

[2018-12-18 18:18] Sharmakartik commented on #2639
yes.

[2018-12-18 18:18] Sharmakartik commented on #2639
green.

[2018-12-18 18:19] Sbrenthughes commented on #2639
Have you try to sign up?

[2018-12-18 18:20] Sharmakartik commented on #2639
yes. i am admin as well as a dummy user.
but now none is working

[2018-12-18 18:23] Sbrenthughes commented on #2639
Can you screenshot the dashboard page
and post it

[2018-12-19 06:59] Sbrenthughes commented on #2638
If it’s not 3.0 or above, that’s the problem.

[2018-12-19 10:26] ksrivalli41 opened #2642 "Jira data is not collected"
Below error ids displayed while running jira collector

2018-12-19 15:13:00,110 INFO  c.c.d.collector.CollectorTask - Finished                         0s
2018-12-19 15:14:00,001 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2018-12-19 15:14:00,022 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2018-12-19 15:14:00,026 INFO  c.c.d.collector.CollectorTask -

[2018-12-19 10:50] rvema commented on #2642
Can you share the properties file used to launch the jira collector?

[2018-12-19 11:01] ksrivalli41 commented on #2642
# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=9.195.178.201

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
dbhostport=9.195.178.201:27017

# Database Username - default is blank
dbusername=dashboarduser

# Database Password - default is blank
dbpassword=dashboarduser123

# Logging File location
logging.file=./logs/j

[2018-12-19 16:10] #2639 closed

[2018-12-20 06:48] jaikumarmansukhani opened #2643 "Mongo DB exception while configuring appdynamics collector"
Hi,

I am working on setting the appdynamics collector for Hygieia and getting below error.

please note api was running successfully with same config.

Can someone please review and advise.

application.properties ::>>
database=dashboarddb

#Database HostName - default is localhost
dbhost=127.0.0.1
#dbhost=localhost

#Database Port - default is 27017
dbport=27017
#dbreplicaset=false
#dbhostport=1

[2018-12-22 17:52] zerolaser commented on #1289
@rvema @swizzley any update on Go CD collector ?

[2018-12-25 10:32] yamazakei331 opened #2645 "Jira colloector not work, throw error : c.c.dashboard.util.ClientUtil - rapidViewId found is not number"
jira:v7.12.3
hygieia:tag v3.0.0
application.properties file as follow
dbname=dash
dbhost=192.168.65.103
dbport=27017
dbusername=dash
dbpassword=dash

logging.file=./logs/jira.log

feature.pageSize=100

feature.deltaStartDate=2016-03-01T00:00:00.000000
feature.masterStartDate=2016-03-01T00:00:00.000000
feature.deltaCollectorItemStartDate=2016-03-01T00:00:00.000000

feature.cron=0/15 * * * * *

feat

[2018-12-25 13:55] Aomine-Daiki-5 opened #2646 "Sonar collector not working from command prompt"
When I am trying to run the collector from command prompt, I am getting error with sonar certificate issue.  But when I trigger the application program from Eclipse, the program runs successfully. Any idea why this is happening?

[2018-12-25 14:00] Aomine-Daiki-5 opened #2647 "Github collector is not working properly"
When I am triggering the github collector, the job is running and is only connecting with 6 repo. I have downloaded the latest code from here and created the new jar file. But the result is still the same.

[2018-12-25 14:03] Aomine-Daiki-5 opened #2648 "Can make the collectors run as services in windows machine?"
I want to run the mongodb, API, and the collectors to run as services from a windows machine.  We are trying to install Hygieia and make it as a stand alone in that particular machine.

[2018-12-26 19:45] jaikumarmansukhani commented on #2643
Can someone look into this please and help

[2018-12-27 13:09] abhishekyadav01 opened #2649 "jenkins-codequality collector not returning any jobs"
I have started the jenkins-codequality collector with  the following properties file

# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

#Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
dbhostport=[host1:port1,host2:port2,host3:port3]

# Database Username - default is blank
dbusername=dashboarduser

# Database Pas

[2018-12-28 20:55] #2638 closed

[2019-01-02 14:08] Sbrenthughes commented on #2647
@Aomine-Daiki-5 are those 6 repos public?

[2019-01-02 14:11] Sbrenthughes commented on #2643
For local testing can you do the following and try again
[code]

[2019-01-02 14:14] Sbrenthughes commented on #2634
Hey @RameshMuthuraj this is certainly possible it just isn't implemented for the sonar collector. We will add it to the backlog but if you want to work on this and create a PR that would be awesome!

[2019-01-02 14:16] Sbrenthughes commented on #2624
@babujii any update?

[2019-01-02 21:21] rvema commented on #2616
Is your Jenkins instance running on jetty? And what jdk are you on?

[2019-01-02 21:33] nsaud01 commented on #2616
@rvema It is running Jetty. I'm on JDK 1.8.0_181.

[2019-01-03 06:56] admiresail commented on #52
Unable to configure my github collector:
When I tried to enter my URL and click "SAVE", nothing happens.
I changed my db to "dashboard" and used the same in the collector.properties file and tried again but didn't work.  This is my api contents. Please help with your inputs in configuring the same.
![capture3](https://user-images.githubusercontent.com/33215272/50626173-bcc0d600-0f52-11e9-997a-1f5d

[2019-01-03 07:04] Aomine-Daiki-5 commented on #2648
Yes,.
I have created the services from the jar file running the command
'sc create "GithubHygieia" binPath= "C:\Program Files\Java\jdk1.8.0_151\jre\bin\java.exe -jar D:\Hygieia\collectors\scm\github\target\github-scm-collector-2.0.5-SNAPSHOT.jar" type= own start= auto error= ignore'

But not able to trigger the services. Is there a documentation where it is defined to check the Hygieia jar files a

[2019-01-03 07:47] admiresail commented on #52
Hurray.. I was able to configure the GIT dashboard.  This is what I did:

1. Switched to "dashboard" db.
2. Created the user in "dashboard" db.
3. Changed my application.properties file and dashboard.properties file to point to "dashboard" db.
4. Ran my API , gulp serve, and my collector again.
5. Deleted my cookies and browsing history and temp files and logged into my dashboard.
6. Configured th

[2019-01-03 08:19] anayyadav opened #2651 "Jenkins code quality collector"
Hi,

I need some information about Jenkins code quality collector that can we monitor selenium test result from Jenkins Server (Jenkins is integrated with Selenium).

Please comment on that.

[2019-01-03 16:38] nsaud01 commented on #2616
Correction, doesn't look like jetty is running.

[2019-01-03 17:11] Sbrenthughes commented on #2647
So it is only connecting to 6 private repos?

[2019-01-03 19:44] nsaud01 opened #2652 "Jenkins plugin"
I've been wrestling with the Hygieia Jenkins plugin for some time now. The plugin is version 2.1.7 and I'm running Jenkins 2.156 with JDK 1.8.0_181. I'm able to get a successful connection to Hygieia with the plugin but configuring the pipeline-syntax bombs out.

![image](https://user-images.githubusercontent.com/1648297/50657921-cb64b880-0f65-11e9-8766-47478049f44a.png)

![image](https://user-ima

[2019-01-03 21:16] Sbrenthughes commented on #2629
You are correct it doesn't exist. Currently there are no plans to implement this in the near future.

[2019-01-03 22:43] rvema commented on #2652
Please post the syntax used for publish step . Since you have enabled the build pad Bligh in global preferences you may remove the publish step from your pipeline code

[2019-01-04 02:10] Sbrenthughes commented on #2648
No not really most users either use Linux or deploy using docker.

[2019-01-04 13:56] jochenparm commented on #2645
I've got the same problem, I can see in the response that the rapidViewId is <null> in my case.
Any help please? Can I tell the collector to ignore this field somehow, since I don't think it's of any concern to me.

[2019-01-07 06:19] KalhariL opened #2656 "Widgets in team dashboard lose data when switching between widget & pipeline views"
You can reproduce the issue using following steps.

Create a team dashboard with build,deploy, repo widgets
View widget view and ensure data is displayed properly in all widgets
Switch to pipeline view and click on save (not required to add environments)
Switch back to widget view and one widget is (usually build widget) in a not-configured state
Switch to pipeline view and click on configure, sav

[2019-01-07 06:46] FDU-SE-LAB opened #2657 "Your project capitalone/Hygieia is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 13:07] rajkumaradass opened #2658 "Coverity data in hygieia"
We are looking to sync coverity code analysis data(from Coverity server) with  code quality widget in hygieia.  Currently it appears only sonar collector and jenkins code quality collector are available. Is there a way to fetch coverity data through jenkins code quality collector along with possibly running  jenkins-coverity plugin in jenkins. Appreciate if any thoughts on achieving this with exis

[2019-01-07 15:59] Sbrenthughes commented on #2656
Thank you for the detailed steps on how to recreate! I think there is a PR currently awaiting approve for this.

[2019-01-07 16:08] Sbrenthughes commented on #2651
Can you check the following: https://github.com/Hygieia/Hygieia/issues/1229

[2019-01-07 16:42] Sbrenthughes commented on #2646
https://github.com/Hygieia/Hygieia/issues/2630

[2019-01-07 17:41] harish123321 opened #2659 "Jira - Unable to display Scrum data in dashboard"
Jira collector is not displaying any data on widget if I select sprint type is Scrum while configuring widget
Can any one help me what to do in order to display scrum data

[2019-01-07 23:39] KalhariL commented on #2656
Hi, Thanks for the response. Yes if we refresh the page it's fine. It's not removing the widget entirely., the widget is displayed in a non-configured state as shown below
![image](https://user-images.githubusercontent.com/46436360/50799773-92e02880-1331-11e9-98f8-c7e70b73a44b.png)

[2019-01-07 23:41] Sbrenthughes commented on #2656
Thank you for confirming. We will see if the existing PR addresses this. If not we will add it to the backlog to be fixed.

[2019-01-07 23:46] KalhariL commented on #2656
Great, if it gets fixed pls do update so that I can merge the solution. Thanks again.

[2019-01-08 02:38] kana112233 opened #2661 "do we have i18n in UI?"
do we have  i18n in UI?

[2019-01-08 07:42] meetgds commented on #2036
@gupatsachin  @Capone1983 were you able to find the problem? I'm facing this issue too.

[2019-01-08 13:40] Sbrenthughes commented on #2661
By looking in the package.json, we do not.

https://github.com/Hygieia/Hygieia/blob/master/UI/package.json

[2019-01-08 14:04] Sbrenthughes commented on #2659
We are working on refactoring the Jira collector to address all the issues. Stay tuned.

[2019-01-09 04:42] meetgds opened #2662 "Code Repo widget only not showing pull requests"
I have the bitbucket collector running and it is able to pull data from my repository. In the code repo widget, however, I can only see the commit data but can't see pull requests and other data. Do I have to change anything to see the pull requests?
![screen shot 2019-01-09 at 10 08 59 am 2](https://user-images.githubusercontent.com/16129018/50877220-e8cad400-13f6-11e9-8554-4a753b294e34.png)

[2019-01-09 06:47] udiakasnuke commented on #2659
@Sbrenthughes - I am also experiencing problems wherein i don't see any data been shown .. I selected project name, Team name and configured the UI with various other fields but i don't see any data been shown. Will your refactoring fix all these issues?? Thanks!!

[2019-01-09 10:47] udiakasnuke opened #2664 "Jira Collector throwing error"
I am running my jira collector but getting the following exception

2019-01-09 16:24:00,004 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-01-09 16:24:00,006 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-01-09 16:24:00,006 INFO  c.c.d.collector.CollectorTask - https://jira.xxx.com/
2019-01-09 16:24:00,006 INFO  c.c.d.collector.CollectorTask - --

[2019-01-09 10:48] udiakasnuke commented on #2664
My properties file -

# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
# dbhostport=[host1:port1,host2:port2,host3:port3]

# Database Username - default is blank
dbusername=dashboarduser

# Database Password - default is blank
dbpassword=dashboarduser123

# Loggi

[2019-01-09 10:50] udiakasnuke commented on #2664
I think there is some problem with jiraTeamFieldName and jiraBoardAsTeam fields... but to my knowledge i have set them correctly... We don't use boardsas team so i set that to false...and I get the value of 15870 whrn i check the 'Team' ..

Please help @Sbrenthughes  .. Thanks!!

[2019-01-09 17:44] fidelcoria commented on #2574
@Naveenraaj was the premature EOF resolved? if so, how?
I think the null pointer exception is unrelated to the original issue you opened. You may want to open a new issue if you are not able to solve it yourself.

[2019-01-09 18:44] Sbrenthughes commented on #2647
@Aomine-Daiki-5

[2019-01-09 18:58] etsauer commented on #2628
Bump. Any ideas?

[2019-01-09 19:55] admiresail commented on #2285
Even I am facing the same issue with Hygieia GIT configurations . Please find below the error from the log:

2019-01-09 00:45:00,185 ERROR c.c.d.collector.DefaultGitHubClient - Cannot decrypt this message

Input length must be multiple of 8 when decrypting with padded cipher

2019-01-09 00:45:00,185 INFO  c.c.d.collector.DefaultGitHubClient - Executing https://git.farmersinsurance.com/api/v3/repos

[2019-01-09 21:36] Sbrenthughes commented on #2664
@udiakasnuke We are in the testing phase of a rewrite for the Jira collector. Stay tuned.

[2019-01-10 11:01] Crozy opened #2665 "Bitbucket private repo error 401"
Hello,

I can't get the data from my private repo on bitbucket. I have an error code 401. While with a public repo it works.
I followed the Bitbucket documentation and added the key generated from the "Generate Api Tokens" application page. I also added the key to my api.properties file but I still have error 401.

Can you help me?
Thank you.

api.properties

bitbucket.properties

[2019-01-10 11:14] anayyadav opened #2666 "Urgent: Appdynamics"
Hi friends,

I am trying to configure performance widget fro AppD in Hygieia.

Properties file:

#Database Name
database=dashboard

#Database HostName - default is localhost
dbhost=localhost

#Database Port - default is 27017
dbport=27017

#Database Username - default is blank
dbusername=

#Database Password - default is blank
dbpassword=

#Logging File
logging.file=./logs/appd-collector.log

#Col

[2019-01-10 13:03] Crozy commented on #2665
I found the problem. I had set up my widget before I added the key to my 2 property files. This has the effect of not encrypting my credentials. I just had to re-enter my username in the widget settings to make it encrypted properly.

Now it works.

[2019-01-10 13:03] #2665 closed

[2019-01-10 14:37] tabladrum commented on #2664
Two options:
immediately: set the last boolean property "feature.jiraBoardAsTeam=true"
coming up soon: a complete rewrite of the collector to account for data correctness, performance - you can take a look at my fork: https://github.com/tabladrum/Hygieia/tree/master/collectors/feature/jira
You also need to locally clone and "mvn clean install" on hygieia-core from my fork - https://github.com/tabl

[2019-01-10 14:41] tabladrum opened #2667 "JIRA collector re-write"
I am re-writing JIRA collector for many reasons
1. Simplify code
2. Performance
3. Data correctness

Here is my fork: https://github.com/tabladrum/hygieia-core (little modifications to some models) and https://github.com/tabladrum/Hygieia/tree/master/collectors/feature/jira the collector (work in progress to add good amount of test cases with real data).

Would love people to take a test drive and

[2019-01-10 15:50] harish123321 commented on #2667
I tried to build the code but the
<img width="942" alt="capture" src="https://user-images.githubusercontent.com/43177923/50979920-272ac680-14bd-11e9-8acc-8d453b05a63a.PNG">
build was failure with error message.

[2019-01-10 15:55] tabladrum commented on #2667
Bummer. Give me couple of hours.

[2019-01-10 16:01] tabladrum commented on #2667
In the meantime you can go to jira collector folder and build using mvn -Dpmd.skip=true package

[2019-01-10 18:00] arunmk108 opened #2668 "Commit repo widget graph is in-consistent"
I have setup commit repo widget to retrieve the metrics from gitlab repository. Iam able to retrieve the all metrics and graph perfectly(refer Screen-1). But i have problem with inconsistency of graph. Graph stands perfectly for 30sec/1min and then immediately its falling down(refer screen-2 below).
Getting graph after several refreshes and same problem after 30sec/1min. I dont see any abnormal lo

[2019-01-10 19:00] harish123321 commented on #2667
Did that when I run the Jira Collector I am getting the following error.

<img width="946" alt="jira error" src="https://user-images.githubusercontent.com/43177923/50990432-a200db00-14d7-11e9-8f58-f1491736f67e.PNG">

[2019-01-10 19:23] Sbrenthughes commented on #2666
` Invalid 'expires' `. Can you do some research and see if the header requirements have changed and try making that update? If that works can you provide a PR back?

[2019-01-10 20:38] admiresail opened #2669 "Issue with Rally collector configuration"
N Rally, I am unable to save the widget as after clicking save button nothing is happening and rally log is not having any info.

From api.log, I got the following error

2019-01-09 22:13:34,535 WARN  c.c.d.rest.RestApiExceptionHandler - Bad Request - bind exception:

org.springframework.validation.BindException: org.springframework.validation.BeanPropertyBindingResult: 1 errors

Field error in ob

[2019-01-10 21:10] tabladrum commented on #2667
Looks like in your properties file you dont have this property set:
``feature.jiraTeamFieldName=customfield_<whatever>``

[2019-01-10 21:11] Sbrenthughes commented on #2667
@udiakasnuke

[2019-01-10 21:18] Sbrenthughes commented on #2645
Can you both test the collector rewrite found here: https://github.com/Hygieia/Hygieia/issues/2667

[2019-01-10 21:50] tabladrum commented on #2667
Pushed a few more changes in the above mentioned fork.
(1) Tie up boards to project - this will be used later for some other functionalities
(2) Do not refresh team/boards during every run. Refresh them only after certain number of hours since the last run - configured in properties file like this: ``feature.refreshTeamAndProjectHours=4``

[2019-01-10 22:13] harish123321 commented on #2667
I can able to display display story level data in dashboard but how can I display Sub task level data and Story points  in dashboard. Should I need to add any properties.

[2019-01-10 22:18] Sbrenthughes commented on #2667
Currently that functionality is not possible.

[2019-01-11 02:52] yamazakei331 commented on #2667
fail in compiling jira collector
![image](https://user-images.githubusercontent.com/12411817/51010350-ed29f500-158e-11e9-8878-73d0b64a3fbc.png)

[2019-01-11 03:36] tabladrum commented on #2667
Please clone the core from here and "mvn clean install" before building the main project.
https://github.com/tabladrum/hygieia-core

[2019-01-11 03:36] admiresail commented on #2669
@Sbrenthughes please advise on the above issue. We are unable to save anything in the dashboard for rally.

[2019-01-11 03:41] tabladrum commented on #2667
Found some interesting things with Jira apis. For example https://jira.xxxxxxxxx.com/rest/agile/1.0/board/17/issue returns issues assigned to project A (say) but https://jira.xxxxxxxxx.com/rest/agile/1.0/board/17/project  may or may not return project A depending upon how stuff is setup by users. I will be changing some more code .. arghh

[2019-01-11 05:18] anayyadav commented on #2666
The same collector is working for on-premise Appdynamics server but now I am configuring for saas Appdynamics.

[2019-01-11 06:45] yamazakei331 commented on #2667
git checkout 3935d364613e5f13aac3f772647822611cecd999   build success

git checkout HEAD 4bacec53e071e3e50788cf7beaeb19efe78bfa77 build fail
![image](https://user-images.githubusercontent.com/12411817/51017370-d1cee200-15ae-11e9-959a-63383032dd50.png)

I use 3935d364613e5f13aac3f772647822611cecd999 in test env.
And the properties feature.jiraBoardAsTeam=true

But console output :Jira has Teampo Te

[2019-01-11 07:12] kalpanaparthasarathy opened #2671 "Issue in publishing the build and deploy data to dashboard through hygieia jenkins plugin"
Hello Team,

I am trying to publish my build and deploy data in the dashboard through hygieia jenkins publisher plugin,The version is 2.1.8-SNAPSHOT and my code base is stable version of 3.0.1.
Though my Test connection is successful in Global configuration,am getting error like Full authentication is required to access the resource.
Any Help would be highly appreciated.Thanks!!

Please find my da

[2019-01-11 11:17] rvema commented on #2671
Can you check api logs and post the related stacktrace here?

[2019-01-11 11:35] kalpanaparthasarathy commented on #2671
Sure Ragha...I am repeatedly getting the below Authentication object not found,RestApi nullpointerexceptions and JWT errors in api logs.Please have a look.
2019-01-11 11:05:00,614 ERROR c.c.d.rest.RestApiExceptionHandler - An Authentication object was not found in the SecurityContext
org.springframework.security.authentication.AuthenticationCredentialsNotFoundException: An Authentication object wa

[2019-01-11 14:04] tabladrum commented on #2667
Looks like we still need the ability to have user decide if they want team or board even if tempo team is enabled. Working on it this morning. Will update the issue as soon as I am done.

[2019-01-11 14:46] yamazakei331 commented on #2667
This is my step:

[2019-01-11 14:55] yamazakei331 commented on #2667
Yes,my jira server has tempo plugin,but it is not active. Properties of feature.jiraBoardAsTeam is useful for me.

[2019-01-11 15:06] kalpanaparthasarathy commented on #2671
And am constantly getting the below warnings in jenkins logs..Just Fyi..
INFO: sample-war #53 main build action completed: SUCCESS
Jan 11, 2019 8:17:58 PM org.apache.commons.httpclient.HttpMethodDirector processWWWAuthChallenge
WARNING: Unable to respond to any of these challenges: {authorization=Authorization}
Jan 11, 2019 8:17:58 PM jenkins.plugins.hygieia.DefaultHygieiaService publishBuildDataV

[2019-01-11 15:07] tabladrum commented on #2667
Pushed latest to my fork. Get both hygieia-core and Hygieia. Add feature.jiraBoardAsTeam=true to your  properties file.

[2019-01-11 16:05] yamazakei331 commented on #2667
I got the latest build: api jira.But got error
![image](https://user-images.githubusercontent.com/12411817/51044895-2f8a1b00-15fd-11e9-913f-4b4654123766.png)
config as below
![image](https://user-images.githubusercontent.com/12411817/51044935-4af52600-15fd-11e9-9185-135ab4d7a3da.png)
jira board
![image](https://user-images.githubusercontent.com/12411817/51045118-c8209b00-15fd-11e9-9a54-0c091e4ce66

[2019-01-11 17:08] tabladrum commented on #2667
Can you curl that API that shows up in the log from command line or postman and see if you get any response?

[2019-01-12 01:06] yamazakei331 commented on #2667
Morning,attach the response in postman
http://192.168.65.101:8080/rest/agile/1.0/board/2/issue?jql=issueType in ('Story') and updatedDate>='2019/01/12 00:03'&fields=id,key,issuetype,status,summary,updated,project,issuelinks,assignee,sprint,aggregatetimeoriginalestimate,timeoriginalestimate,,customfield_10100,customfield_10103&startAt=0
![image](https://user-images.githubusercontent.com/12411817/51

[2019-01-12 01:42] yamazakei331 commented on #2667
I found the reason.There is temop data in my mongodb,del it and console looks normal
![image](https://user-images.githubusercontent.com/12411817/51067554-46a52900-164e-11e9-95f9-490950ff5445.png)
![image](https://user-images.githubusercontent.com/12411817/51067562-50c72780-164e-11e9-8c77-dbf0297918d8.png)

[2019-01-12 01:43] Sbrenthughes commented on #2667
@yamazakei331 Thank you! Please continue to test and let us know if you run into any issues!

[2019-01-12 01:45] Sbrenthughes commented on #2642
We are working on a jira collector rewrite here https://github.com/Hygieia/Hygieia/issues/2667. Please use this and let us know if you any issues.

[2019-01-12 01:45] #2642 closed

[2019-01-12 01:45] Sbrenthughes commented on #2645
@yamazakei331 Seems to have success with the comment above. Closing this out.

[2019-01-12 01:45] #2645 closed

[2019-01-12 01:46] #2664 closed

[2019-01-12 01:47] Sbrenthughes commented on #2664
Please refer to the above comment and if you face issues follow up here #2667.

[2019-01-12 01:48] Sbrenthughes commented on #2659
Please refer to the above comment and if you face issues follow up here #2667.

[2019-01-12 01:48] #2659 closed

[2019-01-12 01:49] Sbrenthughes commented on #2600
@RameshMuthuraj Please refer to #2667. As this is the collector rewrite in progress.

[2019-01-12 01:49] #2600 closed

[2019-01-12 01:50] Sbrenthughes commented on #2557
Please refer to #2667. As this is the collector rewrite in progress @devopstrainer2017

[2019-01-12 01:50] #2557 closed

[2019-01-12 01:50] Sbrenthughes commented on #2375
@stangem @shardulsrivastava - Please refer to #2667. As this is the collector rewrite in progress

[2019-01-12 01:50] #2375 closed

[2019-01-12 01:51] Sbrenthughes commented on #2229
@venkiradkris  Please refer to #2667. As this is the collector rewrite in progress

[2019-01-12 01:51] #2229 closed

[2019-01-12 01:52] Sbrenthughes commented on #2297
@venkateshmadala - Please refer to #2667. As this is the collector rewrite in progress

[2019-01-12 01:52] #2297 closed

[2019-01-12 01:52] Sbrenthughes commented on #2286
@NeomiS1993 @Sandeep-Mandori @han2013 - Please refer to #2667. As this is the collector rewrite in progress

[2019-01-12 01:52] #2286 closed

[2019-01-12 01:53] Sbrenthughes commented on #2272
@panshaobin @MummanaSubramanya  @suohaonan - Please refer to #2667. As this is the collector rewrite in progress

[2019-01-12 01:53] #2272 closed

[2019-01-12 01:54] Sbrenthughes commented on #2476
@ndamania @shishirchaturvedi - Please refer to #2667. As this is the collector rewrite in progress

[2019-01-12 01:54] #2476 closed

[2019-01-12 01:55] Sbrenthughes commented on #2597
@hmangala -Please refer to #2667. As this is the collector rewrite in progress

[2019-01-12 01:55] #2597 closed

[2019-01-12 01:56] Sbrenthughes commented on #1865
@lenalevy @samalg91 - Please refer to #2667. As this is the collector rewrite in progress

[2019-01-12 01:56] #1865 closed

[2019-01-12 01:56] Sbrenthughes commented on #1850
@jagnathan @lenalevy - Please refer to #2667. As this is the collector rewrite in progress

[2019-01-12 01:56] #1850 closed

[2019-01-12 01:57] #2533 closed

[2019-01-12 01:58] Sbrenthughes commented on #2624
@babujii Please Reopen if you are still facing issues

[2019-01-12 01:59] Sbrenthughes commented on #2601
When you run the builds from the multi branch pipeline and then run the collector do you see them in the search drop down?

[2019-01-12 02:00] Sbrenthughes commented on #2214
Closing do to inactivity

[2019-01-12 02:00] #2214 closed

[2019-01-12 02:04] yamazakei331 commented on #2667
If i choose Estimate Metric to story points ,dashboard didn't show correct number,only 0 0 0
![image](https://user-images.githubusercontent.com/12411817/51067867-2165ea00-1651-11e9-806d-1401281617a1.png)
mongodb
![image](https://user-images.githubusercontent.com/12411817/51067881-65f18580-1651-11e9-9562-eaa97690a880.png)
jira board
![image](https://user-images.githubusercontent.com/12411817/510678

[2019-01-12 02:05] Sbrenthughes commented on #2671
@kalpanaparthasarathy could you try running jenkins without tomcat and then try

[2019-01-12 02:06] Sbrenthughes commented on #2668
@arunmk108 are there any errors in the console when this happens?

[2019-01-12 02:08] Sbrenthughes commented on #2666
So the only difference is one is on prem and one is in the cloud?

[2019-01-12 02:08] tabladrum commented on #2667
On the first postman screenshot I am seeing a 404 for id 2. Meaning that board is not setup correctly in Jira

[2019-01-12 02:11] yamazakei331 commented on #2667
Yes, id 2 for tempo data,this is history data.Should be delete

[2019-01-12 02:11] tabladrum commented on #2667
Let me check on the estimate numbers. Some of the Jira api’s are funky.

[2019-01-12 02:14] yamazakei331 commented on #2667
Lol,

[2019-01-12 02:33] tabladrum commented on #2667
Done. get the latest. I haven't tested yet though.

[2019-01-12 02:34] yamazakei331 commented on #2667
Let me test

[2019-01-12 02:43] tabladrum commented on #2667
make sure you add this property to the properties file ``feature.jiraStoryPointsFieldName=customfield_xxxxxx``

[2019-01-12 02:45] yamazakei331 commented on #2667
It works,great,continue to other test
![image](https://user-images.githubusercontent.com/12411817/51068297-262d9c80-1657-11e9-82b5-7210f8dd5b00.png)
![image](https://user-images.githubusercontent.com/12411817/51068299-2e85d780-1657-11e9-8203-80a9326da6cd.png)

[2019-01-12 02:51] #2661 closed

[2019-01-12 02:53] #2648 closed

[2019-01-12 02:54] #2646 closed

[2019-01-12 02:58] Sbrenthughes commented on #2628
What version of the plugin are you using? I am thinking the latest solves the global library issue.

Your deploy steps don’t need commit. You need to push the artifact data in the build and then once you do your first deploy with that same artifact name, version etc the commit data will automatically sync up. If this isn’t happening you are missing a step.

[2019-01-12 03:00] yamazakei331 commented on #2667
"Epic in progress"  is null
![image](https://user-images.githubusercontent.com/12411817/51068439-ea93d200-1658-11e9-93c1-89aa44b6abbc.png)
![image](https://user-images.githubusercontent.com/12411817/51068449-2cbd1380-1659-11e9-90c6-3f4f5d921b4f.png)
configure change as below
`feature.jiraIssueTypeNames=Story,Epic`

[2019-01-12 03:15] tabladrum commented on #2667
ok, another bug.. I think .. I need to quote each type Story and Epic etc instead of quoting all together. Hold on.

[2019-01-12 03:20] tabladrum commented on #2667
@Sbrenthughes please add the above - ie, fetching multiple issue types - in your test case.

[2019-01-12 04:02] tabladrum commented on #2667
epic is also a valid issuetype. hmmm :-)

[2019-01-12 04:13] tabladrum commented on #2667
Can you take the latest? I see that issues have epics in them too. something like below. This may not be sufficient as epics without issues will not be here?
[code]

[2019-01-12 04:15] yamazakei331 commented on #2667
ok,good night

[2019-01-12 07:12] yamazakei331 commented on #2667
epic works,but with some bug
![image](https://user-images.githubusercontent.com/12411817/51070376-2a6bb100-167b-11e9-87d2-8d1626a7bc19.png)
In jira the epic status is done
![image](https://user-images.githubusercontent.com/12411817/51070386-63a42100-167b-11e9-950e-49ba17935dc3.png)
![image](https://user-images.githubusercontent.com/12411817/51070387-6acb2f00-167b-11e9-9b4b-378d78fc0d9a.png)
But in

[2019-01-12 10:01] MummanaSubramanya commented on #2667
Hello Guys, I know this is  be invalid request but from user point of view i feel there should good documentation about how to get the field name details. It took me a while to understand the field names and how to get them from my jira account. It would be great if we have a detailed documentation about jira collector. Thank you for providing an awesome tool

[2019-01-12 11:18] babujii commented on #2624
Still same issue, which branch is working one. Can you give me please.i will use that one..

[2019-01-12 13:38] Sbrenthughes commented on #2624
What do you get when you paste in the browser http://localhost:8080/api/collector/type/Build

[2019-01-12 22:10] Sbrenthughes commented on #2662
Looks like that collector wasn’t updated to add pull requests. Is that something you make the necessary changes and contribute back? You can check out the GitHub collector as a reference.

[2019-01-12 23:16] tabladrum commented on #2667
@yamazakei331 working on the epic status. Jira deleted issue is a problem - I was looking at at Jira's user forums. I may have a way to do to do sync up with while doing full refresh.

[2019-01-13 05:48] anayyadav commented on #2666
yes, and one more thing the application whose id is 309 does not exist in my server. So how is this error coming.

[2019-01-13 05:54] anayyadav commented on #2666
@tabladrum , Can you please tell me our the root cause of above error which I am getting in AppD (Saas).

[2019-01-13 05:57] anayyadav commented on #2651
I have gone through that and found that  If your test case results are a cucumber format file, it is supported.
But if I don't have my result in cucumber format then how can I publish my functional test result in Quality Widget.
Do I need to create a custom collector for that ?
@tabladrum Please share your ideas.

[2019-01-14 02:35] kalpanaparthasarathy commented on #2671
Sure.. Since it doesn't work through CLI deployment, I tried using Tomcat.Will try the former one and let you know the results..

[2019-01-14 02:45] Sbrenthughes commented on #2671
What command are you using to start the Jenkins server?

[2019-01-14 03:42] tabladrum commented on #2667
Updated my fork to handle epic status. Testing in progress ->
 https://github.com/tabladrum/hygieia-core and https://github.com/tabladrum/Hygieia/tree/master/collectors/feature/jira

[2019-01-14 05:48] meetgds commented on #2662
I have started work on it and written a collector alrerady, which is fetching the pull data. But I have no clue about how I can create the widget for it, or make changes to the existing one. Is there a guide available for that somewhere?

[2019-01-14 05:50] kalpanaparthasarathy commented on #2671
I mean Jenkins has started fine via Cli..The command used was
java -jar jenkins.war --httpPort=8081
Still I was not able to view the trend.As  attached above,got those Api 401 Authentication errors in Jenkins job console.
So thought of starting the Jenkins using tomcat.But no luck.
Same authentication errors have occurred.

[2019-01-14 13:30] Sbrenthughes commented on #2662
no need to write a new collector. Just update the existing one to pull the PR. Give me a little time and I will give you an example data model.

[2019-01-14 13:40] Crozy commented on #2662
I have also this problem.

If the solution exists I am interested.

[2019-01-14 13:46] prateekasthana opened #2673 "xlDeploy Collector not working as Container , Not able to connect with mongodb"
xlDeploy Collector not working as Container , Not able to connect with Mongodb , While other collectors are using same credentials and working fine. Seems xlDeploy  collector is not able to parse the properties file and using Default host and port ,

Properties File:

#Database Name
dbname=admin

#Database HostName - default is localhost
dbhost=hygiea-mongodb

#Database Port - default is 27017
dbp

[2019-01-14 14:03] Sbrenthughes commented on #2669
Can you post your properties for the collector

[2019-01-14 14:43] shishirchaturvedi commented on #2662
@meetgds @Sbrenthughes I have working solution in local code. There is OSS code review going for my code changes. I am hoping to submit a PR to add PR data for Bitbucket collector soon(possibly tomorrow).

[2019-01-14 15:36] yamazakei331 commented on #2667
Up to lastest ,but epic not work correct.An epic is done,the data in DB is done,but the epic still in the UI panel.
![image](https://user-images.githubusercontent.com/12411817/51122331-948b7e00-1854-11e9-9ac8-6a46f82f8e8b.png)
![image](https://user-images.githubusercontent.com/12411817/51122352-9ce3b900-1854-11e9-9350-8da9ee9c7a0e.png)
![image](https://user-images.githubusercontent.com/12411817/51

[2019-01-14 16:34] Sbrenthughes commented on #2671
Have you updated the API?

[2019-01-14 16:55] admiresail commented on #2669
dbname=dashboard
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=127.0.0.1
dbport=27017
dbreplicaset=false
rally.cron=0 0/5 * * * *
rally.servers[0]=http://rallydev.com
rally.usernames[0]=myrallyuserid
rally.passwords[0]=myrallypassword

I selected the 'Rally' option which is outside the main dashboard configuration window instead of the one which was mentioned in Feature-->Rally and it work

[2019-01-14 16:59] Sbrenthughes commented on #2669
Can you clarify what documentation needs updating?

[2019-01-14 22:37] Sbrenthughes commented on #2667
You need to pull his latest core.

[2019-01-14 23:01] rvema commented on #2652
Can you remove this publish step and try using the enable publish of build data from Global Settings of Jenkins? Also please ensure that you are running the latest version of API

[2019-01-14 23:02] rvema commented on #2608
@willyyang Closing this issue due to inactivity

[2019-01-14 23:02] #2608 closed

[2019-01-14 23:05] rvema commented on #2571
@ysnoussi closing the issue due to inactivity

[2019-01-14 23:05] #2571 closed

[2019-01-14 23:06] rvema commented on #2384
@xUnholy Please submit a PR with the proposed changes. Closing it due to inactivity

[2019-01-14 23:06] #2384 closed

[2019-01-15 00:00] carlosjer commented on #2616
Hi. I have just recently used Hygieia in setting up a consolidated dashboard for our project. Currently I am working on the deploy widget but I have been having the same problem as above. The artifact part in Hygieia Publisher always yields a Not found error. I would very much appreciate any assistance in resolving this.

I am currently using the latest code and (plugin 2.1.8) with JDK version 1.8

[2019-01-15 03:00] kalpanaparthasarathy commented on #2671
Oh..Currently I have Hygieia 3.0.1 Release source code.Earlier I updated my plugin version alone.Will try with the latest API package.

[2019-01-15 05:03] meetgds commented on #2662
Thanks @shishirchaturvedi , were you able to display the data on the UI too? I also have local changes to fetch the data but have not made any progress on the UI side.

[2019-01-15 14:25] shishirchaturvedi commented on #2662
@meetgds After enhancing scm collector I can see pull-request on UI. There is no code change required on UI.

[2019-01-15 14:56] tabladrum commented on #2667
updated by fork to show done epics. should address all of @yamazakei331 issues. Testing in progress.

[2019-01-15 16:04] Chris147uk commented on #67
Was the outcome of this the current set up instructions? or is there another guide that I can follow to set up? I'm currently trying to follow - https://hygieia.github.io/Hygieia/setup.html

[2019-01-15 18:46] tabladrum commented on #708
This implemented already.

[2019-01-15 18:46] #708 closed

[2019-01-15 18:49] #2583 closed

[2019-01-15 18:49] #1371 closed

[2019-01-15 18:50] tabladrum commented on #1444
Long term goal is to create GraphQL api layer. Closing this.

[2019-01-15 18:50] #1444 closed

[2019-01-15 18:54] #2629 closed

[2019-01-15 19:05] Sbrenthughes commented on #1304
Please refer to #2667. As this is the collector rewrite in progress.

[2019-01-15 19:05] #1304 closed

[2019-01-15 19:13] Sbrenthughes commented on #2643
@jaikumarmansukhani any update here?

[2019-01-16 05:44] #2647 closed

[2019-01-16 12:13] rvema commented on #2652
Any update on this?

[2019-01-16 12:53] kalpanaparthasarathy commented on #2671
Hello sbrenthughes and Ragha,
Able to view the build data via plugin with latest Hygieia repo.But still deploy widget couldn't be configured.
Not able to view the application name in the dropdown of deploy widget.
In the Post build actions of my job,enabled 3 functions by following #884
1.Publish Build starts--It works fine..
2.Publish Artifact information--->Doesn't work..
3.Publsih Deployment Re

[2019-01-16 12:57] kalpanaparthasarathy commented on #2671
And getting the below error in jenkins log.Fyi,Running my jenkins via CLI.
INFO: Jenkins is fully up and running
Jan 16, 2019 5:55:49 PM hudson.ExpressionFactory2$JexlExpression evaluate
WARNING: Caught exception evaluating: descriptor.calcFillSettings(field,attrs) in /job/SpringProject/configure. Reason: java.lang.IllegalStateException: class jenkins.plugins.hygieia.HygieiaPublisher$DescriptorImp

[2019-01-16 13:42] Sbrenthughes commented on #2662
@shishirchaturvedi update on the PR?

[2019-01-16 13:51] #2669 closed

[2019-01-16 13:51] Sbrenthughes commented on #2669
Closed as your issue is resolved

[2019-01-16 16:10] arunmk108 commented on #2668
I can see below errors in chrome console logs when graph drops.
[Violation] 'setInterval' handler took x ms
![image](https://user-images.githubusercontent.com/28533803/51261671-b4b75c00-197e-11e9-9bb0-dc78558292ab.png)

[2019-01-16 17:07] Sbrenthughes commented on #2668
Thanks for the info. We will take a look and try to figure out what is going on.

[2019-01-16 18:50] shishirchaturvedi commented on #2662
@Sbrenthughes Internal OSS review is taking longer than I expected. Hope to get it completed by tomorrow.

[2019-01-16 19:17] rvema commented on #2671
#2677 will fix the above issue.

[2019-01-17 10:47] lyndomiao commented on #2078
@thadguidry did you solve this issue?

[2019-01-17 10:59] kalpanaparthasarathy commented on #2671
Hello Team,
Cloned the 7db8218(HygieiaPublisher.java
) commit and had rebuilt the parent Hygieia folder using mvn.
Still same error have occurred below every Tex box.
PFB error from jenkins job post-build configurations page.
HTTP ERROR 404

Problem accessing /job/AutoDeploy/descriptorByName/jenkins.plugins.hygieia.HygieiaPublisher/checkValue. Reason:

    Not Found

Powered by Jetty:// 9.4.z-SNAP

[2019-01-17 14:10] yamazakei331 commented on #2667
Up to lastest. Jira collector not work ,no issue sync to mongodb，no error log in console
![image](https://user-images.githubusercontent.com/12411817/51323798-2b9a4500-1aa4-11e9-84f3-c48a9a9bc498.png)
revert to core 1d3af20b0c0c2d618039f9458706518419efe273 hygieia c692842a393c6cc49feba4abef4823a5968d3e00 ,it works

[2019-01-17 15:36] thadguidry commented on #2078
No.  Gitlab has improved in many areas.  We have moved on to Gitlab Premium and incorporating Sensu, Prometheus, etc.  which offers all that Hygieia was trying to solve.

[2019-01-17 16:51] Sbrenthughes commented on #2668
Have you tried pulling the latest and testing there ?

[2019-01-17 16:58] Sbrenthughes commented on #2673
Are your others connecting to the admin db as well? Our documentation says to create a new db called dashboarddb

[2019-01-17 22:19] daniel-ng commented on #2489
Agree with @sbabutk. Following the instructions on this site regarding creating and running the Docker Containers using docker-compose doesn't actually work and won't work for ANY of the collectors as they ALL have the same pattern of using application.properties rather than the name of what the actual properties files should be. I think it's worth correcting. Should just be a matter of changing t

[2019-01-17 22:20] Sbrenthughes commented on #2489
Can you make a PR?

[2019-01-18 01:12] lyndomiao commented on #2078
@Sbrenthughes this is my docker-compose.yml
hygieia-api:
  image: docker.io/capitalone/hygieia-api:latest
  container_name: hygieia-api
  volumes:
  - ./hygieia-api/logs:/hygieia/logs
  - ./hygieia-api/conf:/hygieia/config
  environment:
    - jasypt.encryptor.password=hygieiasecret
    - SPRING_DATA_MONGODB_DATABASE=dashboarddb
    - SPRING_DATA_MONGODB_HOST=mongo
    - SPRING_DATA_MONGODB_PORT=2

[2019-01-18 01:13] lyndomiao commented on #2078
@Sbrenthughes this is my docker-compose.yml
hygieia-api:
image: docker.io/capitalone/hygieia-api:latest
container_name: hygieia-api
volumes:

./hygieia-api/logs:/hygieia/logs
./hygieia-api/conf:/hygieia/config
environment:
jasypt.encryptor.password=hygieiasecret
SPRING_DATA_MONGODB_DATABASE=dashboarddb
SPRING_DATA_MONGODB_HOST=mongo
SPRING_DATA_MONGODB_PORT=27017
SPRING_DATA_MONGODB_USERNAME=dashb

[2019-01-18 07:48] kalpanaparthasarathy commented on #2671
Hello Team,
Hi,I have an another issue.just found out.
In the build widget,not able to view the newly created jenkins job name in the drop down menu.
Am able to view the trend only for already existing jobs.
Tried with the latest plugin version( latest one with changes on Hygieiapublisher.java file) and the earlier version.

[2019-01-18 07:50] kalpanaparthasarathy commented on #2671
And i got the below errors in jenkins logs...and few Restapiexceptions from api logs
INFO: Jenkins is fully up and running
Jan 18, 2019 12:45:53 PM hudson.model.Run execute
INFO: Dodeploy #4 main build action completed: SUCCESS
Jan 18, 2019 12:47:13 PM hudson.model.Run execute
INFO: AutoDeploy #114 main build action completed: SUCCESS
Jan 18, 2019 12:50:48 PM jenkins.plugins.util.ReadUtil getJobPr

[2019-01-18 18:34] Sbrenthughes commented on #2667
@yamazakei331 The collector is designed to only pull updates since the last run. Can you confirm that you updated something and reran the collector with no data pulled?

[2019-01-18 19:32] rvema commented on #2671
Did the publish occur or not?

[2019-01-18 19:36] Sbrenthughes commented on #2078
When running the API can you go to http://localhost:8080/api/collector/type/scm and let me know the response?

[2019-01-18 21:46] arunmk108 commented on #2668
yes, do you want me to paste any more logs?

[2019-01-19 09:11] lyndomiao commented on #2311
@jyotimittal01 I met the same problem now.The project url is right,but  gitlab scm collector returned 404.How did u resolve it?

[2019-01-19 12:06] rvema commented on #2671
Currently the auto publish form global configuration has been implemented to work with build and static code analysis widgets. We are working in enabling it in future releases.

[2019-01-19 18:04] Sbrenthughes commented on #2628
@etsauer

[2019-01-20 12:37] yamazakei331 commented on #2667
Test again.
Up to 69398e8208f4a13b1e249d8ceedb0076f44a4e9d,build ,use latest jar.
No change in properties file
Clean all data in mongo - "feature" ,delete all jira issues.
Add a epic,a story in jira
![image](https://user-images.githubusercontent.com/12411817/51439275-c4be9b00-1cf2-11e9-9794-282e9c9eb70b.png)
![image](https://user-images.githubusercontent.com/12411817/51439280-d142f380-1cf2-11e9-8d

[2019-01-20 12:43] Sbrenthughes commented on #2667
Can you go to the collectors document, find the jira collector, and delete it? And rerun.

[2019-01-20 12:46] yamazakei331 commented on #2667
Wait for a  minute.

[2019-01-20 12:47] #2556 closed

[2019-01-20 12:51] #1973 closed

[2019-01-20 12:52] yamazakei331 commented on #2667
Stop service api,jira
Delete jira collector in mongo collectors document.
Start api, start jira
Add a epic,a story
No data in mongo
Console log as attach,no error msg
![image](https://user-images.githubusercontent.com/12411817/51439446-37307a80-1cf5-11e9-8c4b-6a887cdd6e3f.png)

[2019-01-20 12:53] Sbrenthughes commented on #1702
Currently there isn’t a way. We have it in the backlog to revamp the monitoring as a while. Closing this.

[2019-01-20 12:53] #1702 closed

[2019-01-20 12:55] Sbrenthughes commented on #2454
We will be revamping the monitoring as a whole. Closing this due to inactivity.

[2019-01-20 12:55] #2454 closed

[2019-01-20 15:00] Sbrenthughes commented on #2667
Reverting to c692842 works though?

[2019-01-20 15:43] Sharmakartik opened #2679 "Quality widget"
cant see any quality widget in hygieia dashboard. and i have connected my hygieia to sonarqube with .properties file .
help me
Thanks

[2019-01-21 03:05] lyndomiao commented on #2295
@jyotimittal01 how did u resolve the issue?I'm now facing the same problem

[2019-01-21 10:13] kalpanaparthasarathy commented on #2671
Oh Okay.

[2019-01-21 12:33] lyndomiao opened #2680 "hygieia jenkins plugin cannot match the latest SonarQube domain"
the latest sonarqube api of project url is "http://127.0.0.1:9000/dashboard?id=app",while the hygieia jenkins plugin cannot match the sonarqube domian,and throws an exception.
`INFO: ANALYSIS SUCCESSFUL, you can browse http://127.0.0.1:9000/dashboard?id=app`
[code]

[2019-01-21 12:34] lyndomiao commented on #2680
in the source code ,the match domain method is
` this.sonarServer = sonarBuildLink.substring(0, sonarBuildLink.indexOf("/dashboard/index/" + this.sonarProjectName));`

[2019-01-21 12:44] anayyadav commented on #2679
share your prop. file.

[2019-01-21 14:34] rvema commented on #2671
@kalpanaparthasarathy Please advise if this issue can be closed? Thanks! We will update you once other features are rolled out

[2019-01-21 14:36] Sharmakartik commented on #2679
properties file

dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=127.0.0.1
dbport=27017
dbreplicaset=false
sonar.cron=0 0/5 * * * *
# Sonar server(s) (required) - Can provide multiple
sonar.servers[0]=http://localhost:9000
# Sonar version, match array index to the server. If not set, will default to version prior to 6.3.
sonar.versions[0]=6.7
# For Sonar version 6.3 and ab

[2019-01-21 14:41] Sharmakartik commented on #2679
logs

2019-01-18 10:29:47,386 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-01-18 10:29:47,386 INFO  c.c.d.collector.CollectorTask - server1
2019-01-18 10:29:47,386 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-01-18 10:29:47,401 INFO  c.c.d.collector.CollectorTask - Fetched projects   0             0s
2019-01-18 10:29:47,401 INFO

[2019-01-21 14:53] Sharmakartik commented on #2679
![screenshot 1](https://user-images.githubusercontent.com/23272565/51481663-6230d200-1dba-11e9-946d-db4836598557.png)

[2019-01-21 14:54] Sharmakartik commented on #2679
cant see Quality widget
HELP!!!

[2019-01-21 15:07] Sbrenthughes commented on #2679
Do you have any sonar projects? Because the collector isn’t pulling anything. Also, it would be under codeanalysis

[2019-01-21 15:14] Sharmakartik commented on #2679
without widget how can i define my project

[2019-01-21 15:16] Sharmakartik commented on #2679
as i have upload a pic

[2019-01-21 15:17] Sbrenthughes commented on #2679
Again, it is under the “codeanalysis” section.

[2019-01-21 15:18] Sharmakartik commented on #2679
please let me know how to define a sample project in codeanalysis section

[2019-01-21 15:21] Sbrenthughes commented on #2679
http://hygieia.github.io/Hygieia/create_team_dashboard.html

[2019-01-21 15:25] Sharmakartik commented on #2679
i will connect you if i fail while connecting.

Thanks

[2019-01-21 15:25] #2679 closed

[2019-01-21 15:26] yamazakei331 commented on #2667
Test in c692842a393c6cc49feba4abef4823a5968d3e00,it works.
And the bug "estimate metric " was fixed

[2019-01-21 15:38] Sharmakartik commented on #2679
![screenshot 3](https://user-images.githubusercontent.com/23272565/51484078-a1fab800-1dc0-11e9-860e-821aa43d8a88.png)

[2019-01-21 15:38] Sharmakartik commented on #2679
cant see any job in code analysis widget

[2019-01-21 15:39] Sbrenthughes commented on #2679
Please reach out via gitter for configuration help

[2019-01-21 15:40] Sharmakartik commented on #2679
ok im testing you directly
Thanks

[2019-01-21 15:50] kalpanaparthasarathy commented on #2671
Yeah sure.
Thanks to Ragha,Sbrenthughes & Team for your immense support.

[2019-01-21 17:30] spyoungtech commented on #2673
The error seems to indicate it's trying `localhost:27017`. Make sure you're building the container with your properties. If you're using `docker-compose`, there's the `properties-builder.sh` that can configure your collector app.properties based on environment variables.

[2019-01-21 22:19] spyoungtech commented on #2624
I have a similar issue. Result of /api/collector/type/Build is an empty array `[]`.

Also the Jenkins collector doesn't seem to respect settings. Despite setting the mongo host / port in settings, I see logs of error connecting to `localhost:27017` but it should be connecting to `db:27017`

[2019-01-22 00:23] spyoungtech opened #2681 "Inconsistencies in docker property-builder script causing unexpected failure due to misconfiguration"
Have been tracking down the source of a frustrating issue where Jenkins build collector doesn't seem to respect settings from configuration.

Commented out these lines from the `properties-builder.sh` and it resolved the issue

[code]

It would seem this would allow for the properties file to be created in the wrong location. Where the config would be written to `config/hygieia-jenkins-build-colle

[2019-01-22 00:38] spyoungtech commented on #2681
Also noteworthy is that this "local testing" block doesn't appear in all the collectors' `properties-builder.sh`.

Similar code is found in scripts for xldeploy, appdynamics, and gitlab. I don't use those collectors, but presumably, this problem would exist for those using these collectors with docker-compose.

[2019-01-22 01:17] spyoungtech commented on #2667
It would be really nice if this widget could be configured with just a JQL query or saved filter from Jira, instead of needing to tie to particular projects/boards and issue types.

To me, this would be a more simple, intuitive, and flexible configuration and shouldn't require users to figure out the custom field ids for their instance.

[2019-01-22 01:41] spyoungtech commented on #2673
Check out #2681 -- I discovered a bug that I believe affects a few collectors when configured with docker.

[2019-01-22 01:46] spyoungtech commented on #2383
The `mongo_port` also threw me for a bit. Key is that the scheme should be included like

[code]

Without the `:` in the scheme, the `sed` command groups don't work out.

Honestly, I would find it better if we just uniformly used the environmetn variables `MONGODB_HOST` and `MONGODB_PORT`.

[2019-01-22 01:59] Sbrenthughes commented on #2681
Please see MatthewBeasley’s comment here: https://github.com/Hygieia/Hygieia/issues/2489. It describes how to override the properties file.

[2019-01-22 02:10] spyoungtech commented on #2681
Thanks for that link @Sbrenthughes . Looking forward to changes in the docker setup.

I have a couple reservations about overriding the environment variable, particularly because the `PROP_FILE` variable in the shell script can change based on the presence of this `TEST_SCRIPT` environment variable, and will change regardless of what value is supplied in the environment variable.

In other words,

[2019-01-22 12:10] arunmk108 commented on #2668
I created hygieia dashboard around in october month with latest code present at that time.
Do you want me to clone current latest UI code to use to fix this issue(commit graph drop)? Please confirm. Thanks

[2019-01-22 13:12] Sharmakartik opened #2682 "Parse exception while running sonar collector"

[2019-01-22 13:13] Sharmakartik commented on #2682
properties file of sonar
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=127.0.0.1
dbport=27017
dbreplicaset=false
sonar.cron=0 0/5 * * * *
# Sonar server(s) (required) - Can provide multiple
sonar.servers[0]=http://localhost:9000
# Sonar version, match array index to the server. If not set, will default to version prior to 6.3.
sonar.versions[0]=6.7
# For Sonar version 6.

[2019-01-22 13:14] Sharmakartik commented on #2682
this is coming in CMD while running sonar collector

Sbrenthughes @Sbrenthughes Jan 21 20:59
Just realized I helped you on the issue.
Feel free to reach out to me here if you have anymore questions

Sharmakartik @Sharmakartik Jan 21 21:10
thanks

Sbrenthughes @Sbrenthughes Jan 21 21:11
So has you project in sonar done a scan yet?

Sharmakartik @Sharmakartik Jan 21 21:11
yes
pls let me know how to

[2019-01-22 13:15] Sharmakartik commented on #2682
something json parsing problem.

PLZ HELP!!
Thanks

[2019-01-22 13:17] Sbrenthughes commented on #2682
Can you update the title to be more appropriate? Like “Parse exception while running sonar collector”

[2019-01-22 18:53] sajithmajeed opened #2683 "Application performance management & Log Search Integration with Hygieia for Continuous feedback"
1. APM (Dynatrace)

As we continue our journey towards continuous delivery we realized that if we can have the performance test results published to Hygieia it will help the teams to review the quality and performance of the code in a single place.

Different teams use different APM solutions out of which the prominent names are Appdynamics, Dynatrace etc. Our use case is dynatrace. Is there any p

[2019-01-23 13:18] #2673 closed

[2019-01-23 13:32] jigneshmehta1984 opened #2684 "ServiceNow CMDB support"
Is there a plan for adding ServiceNow CMDB support? In absense of ServiceNow CMDB, we are not able to leverage Hygieia Executive Dashboard.

[2019-01-23 17:02] syedafirdaus commented on #2667
I tried the above steps but failing to get data. I just get below log
2019-01-23 17:01:14,615 INFO  c.c.d.collector.CollectorTask - Story Data Collected since 2019-01-23T17:00:14.562 0       14s
2019-01-23 17:01:14,616 INFO  c.c.d.collector.FeatureCollectorTask - Collecting 35 of 42 boards.
2019-01-23 17:01:14,768 INFO  c.c.d.collector.CollectorTask - Story Data Collected since 2019-01-23T17:00:14

[2019-01-23 22:08] Sbrenthughes commented on #2667
You’ll need to delete scope, team, and feature documents. As well as the jira collector in the collector document then start the collector

[2019-01-24 02:02] syedafirdaus commented on #2667
I dropped the whole db and started fresh. Still don't see any data in UI. It just shows 0 0 0

[2019-01-24 02:03] Sbrenthughes commented on #2667
Can you verify you have the correct custom fields?

[2019-01-24 02:30] syedafirdaus commented on #2667
YEs I did. They are correct. When I cloned the original Hygieia repo and ran jira collector I could fetch all data and also I rechecked in db as well. Data was present. But while running jira collector i got below error
ERROR c.c.d.c.story.StoryDataClientImpl - Failed to obtain sprint data from ["com.atlassian.greenhopper.service.sprint.Sprint

 Unparsable sprint: com.atlassian.greenhopper.service

[2019-01-24 04:59] tabladrum commented on #2667
https://github.com/tabladrum/Hygieia/tree/master/collectors/feature/jira

[2019-01-24 07:40] ansha1 opened #2685 "not able to fetch jobs from jenkins collector (not showing list of jobs in dropdown of build widget)"
# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
#dbreplicaset=[false if you are not using MongoDB replicaset]
#dbhostport=[host1:port1,host2:port2,host3:port3]

# Database Username - default is blank
dbusername=dashboarduser

# Database Password - default is blank
dbpassword=dbpas

[2019-01-24 11:24] #2671 closed

[2019-01-24 13:25] syedafirdaus commented on #2667
Now when I ran again, there was no error in api logs, but still I cannot see Story Data being collected. And UI is still blank
This is my properties file
# Database Name
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=127.0.0.1
dbport=27017
# Logging File location
logging.file=./logs/jira.log
feature.pageSize=100
feature.deltaStartDate=2018-03-01T00:00:00.000000
feature.ma

[2019-01-24 14:32] syedafirdaus commented on #2667
In db, I cannot see anything . Its empty
show collections

[2019-01-24 15:09] etsauer commented on #2628
@Sbrenthughes thanks, that fixed it!

[2019-01-24 15:09] #2628 closed

[2019-01-24 15:20] #2682 closed

[2019-01-24 17:35] daniel-ng commented on #2681
Thanks for your work, @Sbrenthughes .

Agree with @spyoungtech . Which is why I never did the PR for documentation - I felt that it should be fixed rather than workaround documented.

Glad to see it will be addressed in the Docker setup overhaul.

[2019-01-24 17:38] daniel-ng opened #2686 "CA Certificates for Docker containers"
I think it might be worth added the 'certificates' if-condition to all of the collectors' property-builder scripts so that someone doesn't have to go in and manually add that block and the env variable in the Dockerfile. Will create a PR when I get a chance to.

[2019-01-24 20:07] nsaud01 commented on #2652
Thanks @rvema. I've given up on the plugin and went with the collector instead. I also found that the plugin would hold up builds for a very long period of time. I'll close this ticket.

[2019-01-24 20:08] #2652 closed

[2019-01-24 20:13] nsaud01 opened #2689 "Can't access Hygieia API with Rundeck or Postman"
I have my webhooks setup through rundeck to the hygieia api but I'm not getting anything through the deploy widget on the dashboard

`http://ip-addr:8080/api/deploy/rundeck?envName=Dev&appName=FMS&artifactNameParam=deploymentUnit&niceName=test`

![image](https://user-images.githubusercontent.com/1648297/51705615-14021580-1fea-11e9-85b4-2a50e00689d8.png)

I don't have any authentication setup for t

[2019-01-24 20:23] nsaud01 commented on #1370
![image](https://user-images.githubusercontent.com/1648297/51706290-fdf55480-1feb-11e9-8eca-4838e0dc6da5.png)

[2019-01-25 00:21] spyoungtech commented on #2681
Also noticed that api-audit properties file contains a similar issue. The propfile location is hard-coded:

https://github.com/Hygieia/Hygieia/blob/master/api-audit/docker/properties-builder.sh#L19

[2019-01-25 04:32] rvema commented on #2689
You need authorization token in order to use api. Please checkout the documentation for further information - http://hygieia.github.io/Hygieia/api.html

[2019-01-25 04:34] rvema commented on #2680
What version of the plugin are you seeing this issue?

[2019-01-25 04:35] rvema commented on #2658
@rajkumaradass You would need to write a collector to start collecting data from coverity. Here is the link on how to create a collector - http://hygieia.github.io/Hygieia/create_collector.html

[2019-01-25 04:37] rvema commented on #2616
The fix for this issue is on the way, The PR is ready and will update you once done.

[2019-01-25 04:37] rvema commented on #2616
The fix for this issue is on the way, The PR is ready and will update you once done.

[2019-01-25 04:38] rvema commented on #2616
The fix for this issue is on the way, The PR is ready and will update you once done.

[2019-01-25 04:38] rvema commented on #2616
The fix for this issue is on the way, The PR is ready and will update you once done.

[2019-01-25 04:41] rvema commented on #2684
@jigneshmehta1984 Please feel free to contribute by creating a ServiceNow collector. Here is the link on how to create a collector - http://hygieia.github.io/Hygieia/create_collector.html

[2019-01-25 05:55] lyndomiao commented on #2680
@rvema Hygieia 3.0.1 Release

[2019-01-25 06:53] rvema commented on #2680
On the Jenkins job console output, can you search for the hygieia Jenkins plugin version and update the issue?

[2019-01-25 07:56] syedafirdaus commented on #1194
What is the solution for this error?

[2019-01-25 16:27] syedafirdaus opened #2690 "Hygieia Jira widget not showing data for teams"
Jira collector is putting data to mongo db in backend but not populating on UI widget. When I choose Team field as Any, it shows data but it is not appropriate. But when I choose specific team, it shows all 0s. Any idea?
<img width="289" alt="jira" src="https://user-images.githubusercontent.com/42797555/51758614-18aef280-20ec-11e9-85eb-f257af1186e1.PNG">
<img width="290" alt="jira1" src="https://u

[2019-01-25 16:43] Sbrenthughes commented on #2690
The current implementation has too many issues. That is why we are working on the refactor here: https://github.com/Hygieia/Hygieia/issues/2667

[2019-01-25 16:45] #2690 closed

[2019-01-25 16:50] Sbrenthughes commented on #2577
@isuru89 any update here?

[2019-01-26 11:17] stevegal opened #2692 "Core - why separate project?"
How come this has moved out of the main repo. Especially as I can't seem to find it on man central. makes building the project harder.

[2019-01-26 20:38] spyoungtech commented on #2692
I like the direction of splitting out collectors and such. One difficulty I've found with the split of Hygieia Core is that I couldn't find exactly which version of Core I should be using with a particular tagged release of Hygieia. For example, there is no 3.0.1 tag for Hygieia-Core.

[2019-01-26 20:40] rvema commented on #2692
We are working on splitting the components and creating their own repos. Please hang on :)

[2019-01-28 06:06] ansha1 commented on #2685
Thanks for responding @Sbrenthughes !
I have tried same command, its not showing that drop down list of jobs i have in jenkins. My jenkins instance is having 16 project folders and 2 jobs on home page. Why its interacting with jenkins but not able to fetch jobs to dashboard. I tried restarting UI and API, tried logging out and page refresh as well.

Also can you clear above mentioned doubts please

[2019-01-28 14:38] prateekasthana opened #2695 "Query Regarding Team Dashboard Creation"
While Creating  a New Team Dashboard.  Business Service and business application Drop Down is always blank , I did not get any help on How to Populate these fields. Any Help is appreciated.

Thanks in Advance.
![11111](https://user-images.githubusercontent.com/26957140/51843112-5d2ece00-2338-11e9-8c33-677de96e95af.png)

[2019-01-28 14:46] Sbrenthughes commented on #2695
This is populated by running the /cmdb/hpsm collector.

[2019-01-28 14:52] Sbrenthughes commented on #2685
The collector only collectors build information once a build has been tied to a dashboard. If you are not seeing any builds in the drop down then either your api or your collector is pointing to the wrong db.

Can you paste your api properties here as well?

Collectors need to run continually to refresh data. UI and API only need to be restarted when there are updates.

[2019-01-28 17:39] #2634 closed

[2019-01-28 21:02] nsaud01 commented on #2664
@tabladrum Upon running your forked Jira collector, I'm running into an error I was hoping you could clarify.

[code]

Here is my application.properties file:
[code]

[2019-01-29 04:00] rvema commented on #2692
Can we close this as its not an issue? Please clone the hygieia-core project and run mvn clean install to resolve any issues you may be seeing

[2019-01-29 04:04] rvema commented on #2680
@lyndomiao Can you provide the above information?

[2019-01-29 04:07] rvema commented on #2658
@rajkumaradass please confirm if this issue can be closed?

[2019-01-29 04:08] rvema commented on #2689
@nsaud01 can you check the comments above and confirm if you are able to get through?

[2019-01-29 04:26] rvema opened #2697 "Issue publishing Sonar results from Hygieia Publisher Plugin"
When `Publish all sonar scan data` is selected from `Global Hygieia Publisher Settings` error 503 happens while publishing to Hygieia via api.

[2019-01-29 04:31] rvema opened #2698 "Issue in Hygieia Publisher plugin with Publish custom collector items delete"
The delete button in `Global Hygieia Publisher Settings` for Publish custom collector items is not functional. Also when Publish custom collector items are configured to be published build needs to be forced similar to Sonar Publish.

[2019-01-29 04:44] ansha1 commented on #2685
api.properties
=========
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=localhost
dbport=27017
dbreplicaset=false
#dbhostport=[host1:port1,host2:port2,host3:port3]
server.contextPath=/api
server.port=8080
------------------------------------------
I have checked db configurations for api and collector, which is same. Please find attached api logs. I can see some errors li

[2019-01-29 06:46] ansha1 commented on #2624
facing similar issue on which we are working #2685.

link "http://10.132.208.173:8080/api/collector/type/Build" giving output "[]" on screen.

[2019-01-29 06:54] rajkumaradass commented on #2658
@rvema, Yes, I have written the collector. Could you please let me know the process if i can submit this as a contribution?

[2019-01-29 06:55] rvema commented on #2658
Please submit the PR and once it is reviewed and approved will automatically be merged to the project.

[2019-01-29 12:14] BoomaBaskaran opened #2700 "Track User actions for Team Dashboard"
Hi,

Is there any way to track user actions for team dashboard such as Who creates/updates/deletes the dashboard? Are you maintaining those details into DB?

Thanks,
Booma.

[2019-01-29 13:11] rvema commented on #2700
@BoomaBaskaran we don’t support this feature but a nice enhancement to be considered. Please feel free to contribute back if you can.

[2019-01-29 14:45] #2692 closed

[2019-01-29 17:10] rvema commented on #2689
@nsaud01 can you run `db.getCollection('apiUser').find({"apiUser":"hygieia"})` on your mongodb and check if the record exists?

[2019-01-29 17:11] rvema commented on #2616
This issue is resolved now, please get the latest version of plugin and retry. Do reopen this issue if it persists.

[2019-01-29 17:11] #2616 closed

[2019-01-29 17:12] rvema commented on #2697
This issue should be resolved now with the above PR.

[2019-01-29 17:12] #2697 closed

[2019-01-29 17:12] rvema commented on #2698
This issue should be resolved now with the above PR

[2019-01-29 17:12] #2698 closed

[2019-01-29 17:13] rvema commented on #2658
Closing this issue as its resolved.

[2019-01-29 17:13] #2658 closed

[2019-01-29 17:14] rvema commented on #2524
@caiohcl Do you still need help with this issue?

[2019-01-29 17:54] nsaud01 commented on #2689
This is what that command came back with:

[code]

[2019-01-29 17:56] nsaud01 commented on #2689
Same thing when using admin:

[code]

[2019-01-29 18:14] nsaud01 commented on #2689
logged in with proper credentials and getting nothing from the command.

[code]

[2019-01-29 19:05] rvema commented on #2689
Sorry I gave the wrong collection name, I will give the right one shortly

[2019-01-29 21:31] rvema commented on #2689
here is the correct query `db.getCollection('apitoken').find({"apiUser":"hygieia"})`

[2019-01-29 21:50] nsaud01 commented on #2689
I'm getting the same result:
[code]

[2019-01-29 21:52] rvema commented on #2689
looks like somehow there is an issue with authentication at the mongodb. Can you walk me through how you setup your mongo db so that I can find any missing pieces.

[2019-01-29 22:13] nsaud01 commented on #2689
Here is my compose file settings. I'm using a vanilla mongodb docker image, not the one included with the Hygieia project.

[code]

[2019-01-30 04:45] rvema commented on #2689
@nsaud01 There was a PR merged earlier fixing some of the docker configuration for Hygieia. Can you get the latest code from Hygieia workspace and retry?

[2019-01-30 04:47] rvema commented on #2680
@lyndomiao Can you get the latest code from Hygieia and retry? Please reopen this issue in case you run into issues.

[2019-01-30 04:47] #2680 closed

[2019-01-30 04:47] rvema commented on #2524
closing this issue due to inactivity

[2019-01-30 04:47] #2524 closed

[2019-01-30 04:50] rvema commented on #2383
This has been fixed as part of PR #2694 . Please retrieve the latest code and retry. Do reopen if you run into this issue.

[2019-01-30 04:50] #2383 closed

[2019-01-30 04:57] rvema commented on #2577
@isuru89 Please see the code review comments on #2693 . As soon as they are addressed we will close this issue.

[2019-01-30 04:58] rvema commented on #2684
Closing this issue by requesting contribution back

[2019-01-30 04:58] #2684 closed

[2019-01-30 05:10] rvema commented on #2686
@daniel-ng We value your contributions back to this open source project

[2019-01-30 05:12] rvema commented on #2662
@shishirchaturvedi Please address the code review comments and we will get this merged as soon as possible.

[2019-01-30 05:13] rvema commented on #2637
@liutsi If you have a solution for this issue please feel free to contribute back by submitting a PR. We will review it and get it merged.

[2019-01-30 05:15] rvema commented on #2371
@bryan0817 Can you retry and update us?

[2019-01-30 05:16] rvema commented on #2075
There is currently no widget to support information collected from artifactory. This is being prioritized and worked upon.

[2019-01-30 15:12] #2577 closed

[2019-01-30 15:46] fidelcoria commented on #2574
We found a workaround. By increasing the timeout the connection is kept opened and no premature EOF.
[code]
What you really want to do is to paginate the requests.

[2019-01-30 16:38] nsaud01 commented on #2689
I'm getting the following error when running `mvn clean install package` on the api. I successfully ran `mvn clean install on the core project and root of `Hygieia`.

[code]

[2019-01-30 16:50] rvema commented on #2689
Let me check and get back. We had a successful build last night. Meanwhile can you post the maven version and jdk version here

[2019-01-30 17:42] shishirchaturvedi opened #2701 "[Caused by: PR 2696]Latest Hygieia build is not including submodules"
https://github.com/Hygieia/Hygieia/pull/2696 has introduced erroneous behavior to the build. Hygieia latest source code in my development machine is only including root project. Thus none of the submodules are getting included in the build.  I saw this behavior on the PR build as well. I noticed it when I committed breaking changes to my PR and PR build succeeded.

Build for PR https://github.com/

[2019-01-30 17:57] rvema commented on #2701
#2702 is on the way to fix this.

[2019-01-30 17:59] rvema commented on #2701
@shishirchaturvedi please update your workspace and this issue should be resolved now

[2019-01-30 17:59] #2701 closed

[2019-01-30 18:00] rvema commented on #2689
@nsaud01 can you get the latest from master branch now and retry. The fix has been merged.

[2019-01-30 18:21] shishirchaturvedi commented on #2701
@rvema Latest code build looks good now. Thank you for your prompt response.

[2019-01-30 18:42] nsaud01 commented on #2689
Looks like the fix solved the issue! My maven and jdk versions are as follows:

Maven 3.6.0
JDK 1.8.0_191

[2019-01-30 19:35] rvema commented on #2689
Regarding the mongo installation, Have you tried mongo as a standalone service and retry? There was a PR (#2694 ) to help with configuration with standalone mongo instead of running it in a container.

[2019-01-30 19:58] JoeOffenberg opened #2703 "Best practices regading collector for OverOps"
I am looking for some best practices on creating a new collector that involves creating a new group of metrics related to errors resulting in new builds collected from OverOps.  Somewhat overlaps with both builds and "code quality" but more specifically around regression of error rates and introduction of new erros from one build to the next.  What should I create and can I reuse from other collec

[2019-01-30 20:22] JoeOffenberg commented on #2703
Here is the blogpost on release scoring.  I envision a build list with scores in the Hygieia dashbaord:
https://blog.overops.com/the-4-quality-gates-every-sre-team-must-check-before-promoting-code/

[2019-01-30 22:21] nsaud01 commented on #2689
I haven't tried a standalone mongo instance. My goal is to get it up and running in a container. So far everything but the api token seems to be working. I'll dig in more and let you know what I find. :)

[2019-01-30 22:47] Sbrenthughes commented on #2689
@nsaud01 you are able to create an account and login via ui, correct?

[2019-01-30 23:36] nsaud01 commented on #2689
@Sbrenthughes that is correct.

[2019-01-31 16:17] nsaud01 commented on #2689
I am getting this error in the api logs:

[code]

[2019-01-31 18:49] rvema commented on #2652
@nsaud01 The jenkins plugin is much lighter, Can you ping me on gitter in private so that I can help with the same?

[2019-01-31 20:03] rvema commented on #2680
@lyndomiao I think you are using sonar version 7. This plugin currently supports up to v 6.7.x

[2019-01-31 23:09] Sbrenthughes commented on #2689
Usually that happens when the api has restarted and the UI is trying to pass an invalid token. Clear the cache on the UI

[2019-01-31 23:16] Sbrenthughes commented on #2668
No need. We have it on the backlog to be worked.

[2019-02-01 05:43] jigneshmehta1984 commented on #2684
Is it possible to provide some kind of mapping of data model of servicenow and hpsm with respect to CMDB collection to create a collector?

[2019-02-01 05:45] jigneshmehta1984 opened #2704 "Sample Data for Hygieia"
If sample data is available for Hygieia, it will be easier to evaluate Hygieia and integrate with other products like Hygieia Executive Dashboard. This would significantly promote Hygieia adoption.

[2019-02-01 06:37] Naveenraaj commented on #2574
thank you @fidelcoria , i will try to update mine and post in the thread with results 👍

[2019-02-01 07:17] bryan0817 commented on #2371
@rvema The problem is still the same, I always get null returned from this line `gitHubClient.getRateLimit(repo);`. Probably my company has special deal with GitHub?

[2019-02-01 08:38] rvema commented on #2704
This is WIP as we are trying to build a starter package that can be leveraged by users with sample data. We will keep you updated on this

[2019-02-01 08:41] rvema commented on #2704
To begin with once you start running the appropriate collectors you should have  the necessary data (github, Jenkins, jira etc.)

[2019-02-02 06:19] rishi-mukherjee opened #2708 "Hygieia dashboard build is failing"
[INFO] com.capitalone.dashboard:jira-xray-testresult-collector SUCCESS [ 21.023 s]
[INFO] Hygieia Publisher Plugin ........................... SUCCESS [01:39 min]
[INFO] com.capitalone.dashboard:UI ........................ FAILURE [ 33.637 s]
[INFO] com.capitalone.dashboard:ui-tests .................. SKIPPED
[INFO] ------------------------------------------------------------------------
[INFO] BU

[2019-02-02 16:40] Sbrenthughes commented on #2708
the error says it’s failing because of your proxy...

[2019-02-02 17:50] rishi-mukherjee commented on #2708
Thank you so much for your comment **Sbrenthughes**

Without proxy setting I am getting the same exception. Stack trace below -

[INFO] com.capitalone.dashboard:UI ........................ FAILURE [ 45.709 s]
[INFO] com.capitalone.dashboard:ui-tests .................. SKIPPED
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ---------------

[2019-02-02 17:52] Sbrenthughes commented on #2708
Try updating your proxy settings for npm not passing them via command line.

[2019-02-02 18:18] rishi-mukherjee commented on #2708
Thank you Sbrenthughes

I solved the problem by running multiple times this command -
"npm update -g"

After this mvn clean install executed successfully

[2019-02-02 18:18] #2708 closed

[2019-02-04 13:03] rishi-mukherjee opened #2709 "Jira: Collector issue : Error 401 connecting to JIRA server, your credentials are probably wrong. Note: Ensure you are using JIRA user name not your email address."
I have given correct credential in base64 encoding, since decoding the text giving me back correct <username>:<password>

Might be the issue is with Captcha, from browser client apart from username password, captcha is required. Please suggest the needful

[2019-02-04 15:32] manuq21 opened #2710 "How to automatically grab new build Jenkins jobs in Hygieia?"
Hello, installed Hygieia as part of a project we have, and the idea is for Hygieia to automatically refresh the build jobs status (successful, failure, unstable and aborted) for all the build jobs run in each of the Jenkins folders/projects.
For ex, we have a Jenkins folder that represents a project in Jenkins, and for that project/folder several jobs run per day (more than 100 sometimes). We need

[2019-02-04 16:06] rvema commented on #2710
We have a Hygieia Jenkins Publisher Plugin, you could leverage that. The plugin needs to be installed on all Jenkins masters and that way all the build information can be pushed from Jenkins to Hygieia on a event basis. This will eliminate the need to run Jenkins Collector. Do let me know if you need help.

[2019-02-04 16:08] Sbrenthughes commented on #2667
Are you running the UI from the https://github.com/tabladrum/Hygieia/tree/master/UI?

[2019-02-04 16:12] manuq21 commented on #2710
Hi rvema, we have the "Hygieia Publisher Plugin" installed in Jenkins, is that the one ?
Description of it: This plugin is publisher that can publish build status to Hygieia Dashboard.

If that's the one, do you have the specific steps to get it worked as you said, instead of using the Hygieia build collector ?

Thanks!

[2019-02-04 18:21] rishi-mukherjee commented on #2709
Let me rephrase - decoding base64 password entered in application.properties file returned the correct credential <username>:<password>

Hence my doubt is whether Captcha is creating 401 issue. Please suggest.

[2019-02-04 19:50] cesarcabral opened #2711 "Is there a way to automate dashboard creation?"
Can a dashboard be automatically created after a new job is created in jenkins?
Because having to add a job in a team dashboard is not an issue but having to add hundreds manually is a pain...

[2019-02-04 20:08] Sbrenthughes commented on #2711
There is the remoteCreate/remoteUpdate APIs that you could use in your automation.

[2019-02-04 21:25] cesarcabral commented on #2711
Sounds good, can you point me how to use them?

[2019-02-05 03:32] ctgdevops commented on #2221
Any update for this issue? i am facing same issue

[2019-02-05 04:55] rishi-mukherjee commented on #2709
Executing echo -n username:password | base64 in ubuntu system solved the issue.
Previously I was using online tool to encode.

[2019-02-05 04:55] #2709 closed

[2019-02-05 06:03] rishi-mukherjee opened #2713 "No result was available from Jira unexpectedly - defaulting to blank response. The reason for this fault is the following:RestClientException{statusCode=Optional.of(403), errorCollections=[]"
I am using correct base64 encoded credential. While I try the same URI https://support.tavant.com/rest/api/2/status/
from browser it returns me appropriate result

[2019-02-05 06:41] syedafirdaus commented on #2667
I will tell you what I did, I cloned this repo
https://github.com/tabladrum/Hygieia.git
and ran UI from what I get after cloning in UI folder.

I am not getting how do I clone https://github.com/tabladrum/Hygieia/tree/master/UI which has tree in between.
I think I am missing this step.
Please advise.

[2019-02-05 09:12] rishi-mukherjee commented on #2713
Resolved after providing correct base64 encoded credential

[2019-02-05 09:12] #2713 closed

[2019-02-05 11:43] rishi-mukherjee opened #2714 "jira-widget in dashboard showing no data found"
![jira-widget](https://user-images.githubusercontent.com/47267131/52271308-48ba8900-2969-11e9-906a-1cb8b1d6ff7e.JPG)

**LOG SNIPPET:**

2019-02-05 17:03:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-02-05 17:03:00,025 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-02-05 17:03:00,025 INFO  c.c.d.collector.CollectorTask - https://support.my

[2019-02-05 11:55] rishi-mukherjee commented on #2714
One sample record from my mongo DB: (Please check if something I have forgot to fill it in Jira itself?)

{
    "_id" : ObjectId("5c5935a02867308408a177c5"),
    "_class" : "com.capitalone.dashboard.model.Feature",
    "collectorId" : ObjectId("5c5835e82867300ee41065c7"),
    "sId" : "409003",
    "sNumber" : "DSP-2526",
    "sName" : "Production checklist",
    "sTypeId" : "34",
    "sTypeName" :

[2019-02-06 04:11] rishi-mukherjee commented on #2714
@MarkRx  can you please help me

[2019-02-06 06:20] rishi-mukherjee commented on #2078
I am seeing empty array []
log showing
2019-02-06 11:50:00,011 INFO  c.c.d.collector.CollectorTask - Starting...
2019-02-06 11:50:00,011 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-02-06 11:50:00,016 INFO  c.c.d.collector.CollectorTask - Issues Added/Updated    0        0s
2019-02-06 11:50:00,016 INFO  c.c.d.collector.CollectorTask - Issues Deleted          0

[2019-02-06 07:33] rishi-mukherjee opened #2716 "java.lang.IllegalArgumentException: Invalid character ':' for HOST_IPV4"
2019-02-06 12:56:00,003 INFO  c.c.d.collector.CollectorTask - Running Collector: Gitlab
2019-02-06 12:56:00,011 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-02-06 12:56:00,011 INFO  c.c.d.collector.CollectorTask - Starting...
2019-02-06 12:56:00,011 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-02-06 12:56:00,033 ERROR o.s.s.s.Task

[2019-02-06 09:40] rishi-mukherjee commented on #2716
Mentioned issue is resolved by changing the property to
gitlab.host=gitlab.mycompany.com

After this I am seeing this exception in log -

2019-02-06 15:07:00,039 INFO  c.c.d.gitlab.GitlabUrlUtility - ---> Gitlab URI: https://gitlab.tavant.com/api/v4/projects/finxservicing%2Fservicing/repository/commits/?ref_name=development&since=2019-01-23T09:37:00.039Z&per_page=100
2019-02-06 15:07:00,163 INFO

[2019-02-06 12:04] rishi-mukherjee commented on #2311
@jyotimittal01  how did you pass projectid in the URL, can you please paste the URL with projectid.

[2019-02-06 12:22] Sbrenthughes commented on #2716
Your properties file is wrong.. even compared to the issue you posted.. here is the docs https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/feature/feature-gitlab.md

[2019-02-06 14:16] rishi-mukherjee commented on #2716
Thank you @Sbrenthughes for looking into

https://gitlab.tavant.com/api/v4/projects/finxservicing%2Fservicing/repository/commits/?ref_name=development&since=2019-01-23T09:37:00.039Z&per_page=100

is returning 404

Please suggest...I am stuck badly

[2019-02-06 14:59] Sbrenthughes commented on #2716
Is this a private repo?

[2019-02-06 15:43] rishi-mukherjee commented on #2716
yes Sbrenthughes

[2019-02-06 17:04] Sbrenthughes commented on #2716
Can you try collect against a public repo?

[2019-02-06 17:41] mirageglobe opened #2717 "Issue (failure) with dashboard ui on installation"
docker - jdk8/alpine3.8/maven3.6.0
preinstalled nodejs/nodejs-npm/gulp/bower

any pointers will be great.. cheers. following is the log.
...
...
[INFO] com.capitalone.dashboard:UI 3.0.1 .................. FAILURE [  5.829 s]
[INFO] com.capitalone.dashboard:ui-tests 3.0.1 ............ SKIPPED
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO]

[2019-02-06 20:19] nsaud01 commented on #2689
The `JWT signature does not match locally computed signature` error was indeed a caching issue. I'm still not able to authenticate to the api after the latest api build.

[2019-02-07 04:36] poojithkumar commented on #2717
[ERROR] bower angular-animate#~1.5.9                   ECMDERR Failed to execute "git ls-remote --tags --heads https://github.com/angular/bower-angular-animate.git", exit code of #128 fatal: unable to access 'https://github.com/angular/bower-angular-animate.git/': error:14094419:SSL routines:ssl3_read_bytes:tlsv1 alert access denied
[ERROR]
[ERROR] Additional error details:
[ERROR] fatal: unable t

[2019-02-07 07:35] vinayak159 opened #2719 "Sonar Collector - new metrics"
I need to show new Sonar metrics (data since leak period) in Code Analysis Widget. I tried configuring the sonar.properties accordingly with new metrics as provided by Sonar, but still we are seeing the total metric values and not the new metric values. Can anyone help or suggest how to show new Sonar metrics only in widgets?

[2019-02-07 07:55] rishi-mukherjee commented on #2716
Thanks for your suggestion Sbrenthughes

with Public repo I am not seeing the said exception. Snippet of log below -

2019-02-07 13:19:59,914 INFO  c.c.d.collector.CollectorTask - Running Collector: Gitlab
2019-02-07 13:19:59,917 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-02-07 13:19:59,918 INFO  c.c.d.collector.CollectorTask - Starting...
2019-02-07 13:19:59,91

[2019-02-07 08:46] mirageglobe commented on #2717
Hi kurma. yours looks like git is unable to access the url. you sure if its not timed out/firewall .. might be worth trying to run from another connection.

@all if anyone can help in ^ the node issue (its already installed but why is it trying to run node/node?) thanks

[2019-02-07 13:29] mirageglobe commented on #2627
latest pull from hygieia core and clean build results in these issues:

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  6.215 s
[INFO] Finished at: 2019-02-07T13:24:48Z
[INFO] -----------------------------------------------------------------------

[2019-02-07 13:56] poojithkumar commented on #2717
I tried from another also...it didn't work too...

On Thu 7 Feb, 2019, 2:16 PM Jimmy MG Lim <notifications@github.com wrote:

[2019-02-07 19:36] Sbrenthughes commented on #2716
With the public repo can you make some commits etc? And then run the collector. Let’s see if we can collect the data. But my suspicion is that your gitlab token isn’t working for the private repo

[2019-02-07 21:29] siva-veeraraj commented on #2285
any updated on this issue

[2019-02-08 05:31] RameshMuthuraj commented on #2616
Still im getting the same isue. i just pulled the latest code base & placed jar file under jenkins plugins folder

![image](https://user-images.githubusercontent.com/4685029/52460473-7cc3c300-2b90-11e9-82a3-328eddd9c9d2.png)

after all this i can see still error pages

![image](https://user-images.githubusercontent.com/4685029/52460531-c90f0300-2b90-11e9-9405-ba76146ba494.png)

![image](https://us

[2019-02-08 05:33] RameshMuthuraj commented on #2616
![image](https://user-images.githubusercontent.com/4685029/52460618-3327a800-2b91-11e9-8837-1e665caa13b8.png)

[2019-02-08 09:42] RameshMuthuraj commented on #2616
deployed latest 2.1.9 version now

![image](https://user-images.githubusercontent.com/4685029/52470230-93c7dc80-2bb3-11e9-9839-30f163e1e8b0.png)

![image](https://user-images.githubusercontent.com/4685029/52470269-b0fcab00-2bb3-11e9-9c74-076cee23c719.png)

Below jenkins log:-
Hygieia: Automatically publishing build data to Hygieia using hygieia-publisher version 2.1.9-SNAPSHOT (private-60c52f7f-ec

[2019-02-08 12:55] rvema commented on #2616
201 response is for the publish event. The Jenkins job failed hence you see Finished: Failure. The publish to hygieia is independent of the build status

[2019-02-08 14:17] rvema commented on #2717
@andrewalvintran Can you look into this issue?

[2019-02-08 14:49] mirageglobe commented on #2717
Just an update to help.. it seems that the issue is caused by the npm plugin defined in pom.xml (UI/pom.xml)

I disabled the installation by (frontend-maven-plugin) and manually installed npm/bower/gulp as well as running gulp before mvn clean install package (run in both UI and root)
  <properties>
    <frontend-maven-plugin.skip>true</frontend-maven-plugin.skip>
  </properties>

the issue is not

[2019-02-08 16:23] poojithkumar opened #2720 "Hygieia backend setup failure"
ile:/C:/opt/Hygieia-master/api/target/api.jar!/lib/jjwt-0.6.0.jar!/, jar:file:/C:/opt/Hygieia-master/api/target/api.jar!/lib/jackson-databind-2.5.0.jar!/, jar:file:/C:/ opt/Hygieia-master/api/target/api.jar!/lib/jackson-annotations-2.5.0.jar!/, jar:file:/C:/opt/Hygieia-master/api/target/api.jar!/lib/jackson-core-2.5.0.jar!/, jar:file:/C:/o pt/Hygieia-master/api/target/api.jar!/lib/jackson-core-asl

[2019-02-08 17:15] rishi-mukherjee commented on #2716
Hi Sbrenthughes, dashboard is displaying the commits which I made in my public repo. This signifies that collector/UI is working as desired for public repo.

Now the question comes what is the problem with private repo, is it credential/permission. I am suspecting it is permission. Since you are suspecting it is credential, can you please suggest the path forward to debug the issue

[2019-02-10 05:52] jigneshmehta1984 commented on #2704
Yes. I was able to add data and integrate Hygieia with Hygiea Executive Dashboard by putting dummy entries in CMDB and linking team dashboard with CMDB entries (Product in CMDB -> Business Service for Dashboard and Component in CMDB -> Business Application in Dashboard).

[2019-02-11 05:52] vkg1234 opened #2723 "standard login and Ldap login in hygieia"
Hi , can you tell me how standard login and ldap login work in hygieia . which file are used for standard login and ldap login in UI and Api

[2019-02-11 06:45] buradeshruti opened #2724 "Bamboo collector not storing data in database even after successful run of collector."
On running the Bamboo collector it is scanning through all the plans. There is no error or exception raised. But the data is not written in mongoDB database hence it is not displayed on dashboard.
**Following is my application.properties file:**
dbname=dashboarddb

dbhost=localhost

dbport=27017

dbreplicaset=false

dbusername=dashboarduser

dbpassword=dashboarduser123

bamboo.cron=0 0/1 * * * *

[2019-02-11 11:11] RameshMuthuraj commented on #2616
Hygieia: Automatically publishing build data to Hygieia using hygieia-publisher version 2.1.9-SNAPSHOT (private-60c52f7f-ec2-user), Please refresh your browser to see the status.
Hygieia: Auto Published Build Complete Data. Response Code: 201. 5c614a729e2f4b157fea4059,5c614a729e2f4b157fea4058
Hygieia: *** Hygieia publish completed in 0 seconds at 2019-02-11T10:12:02.198 ***
Finished: SUCCESS

Now

[2019-02-11 13:39] Sbrenthughes commented on #2724
If it wasn’t written to mongo then it wouldn’t have completed successfully. Your api is not pointing to the same db that the collector is pointing at.

Since this is local then remove the dbuser and db pass from the collector/api properties and try again.

[2019-02-11 16:14] #2717 closed

[2019-02-11 19:39] siva-veeraraj commented on #2669
am facing the same issue now. i dont see any data in the feature collection in the mongodb and i couldnt save the rally configuration in the dashbaord. Please advice

[2019-02-11 19:47] siva-veeraraj opened #2725 "rally collector not fetching any data"
2019-02-11 13:04:09,970 INFO  com.capitalone.dashboard.Application - Started Application in 14.703 seconds (JVM running for 17.898)
2019-02-11 13:05:00,004 INFO  c.c.d.collector.CollectorTask - Running Collector: Rally
2019-02-11 13:06:00,003 INFO  c.c.d.collector.CollectorTask - Running Collector: Rally
2019-02-11 13:07:00,003 INFO  c.c.d.collector.CollectorTask - Running Collector: Rally
2019-02

[2019-02-11 22:30] siva-veeraraj commented on #2725
please find the output of db.collectors.find(). I think properties mentioned in the property file are not updated in the DB.

{ "_id" : ObjectId("5c61a8e4d79c5f0b60dc1597"), "_class" : "com.capitalone.dashboard.model.RallyCollector", "rallyServers" : [ ], "name" : "Rally", "collectorType" : "AgileTool", "enabled" : true, "online" : true, "errors" : [ ], "uniqueFields" : {  }, "allFields" : {  }, "

[2019-02-11 23:19] rvema commented on #2616
@RameshMuthuraj The build data is pushed to hygieia, If you have access to Mongo DB please check the build collection for id - ObjectId("5c614a729e2f4b157fea4059")

[2019-02-11 23:21] rvema commented on #2720
Can you try with

[2019-02-11 23:21] rvema commented on #2720
Also do check the contents of the dashboard.properties file. If possible paste it here which helps in debugging the issue.

[2019-02-12 08:18] kalpanaparthasarathy opened #2726 "Issue in publishing the functional test data onto the dashboard via Jenkins- Cucumber Integration."
**Hello Team,**
I am trying to publish my test data onto the dashboard.Had Installed Cucumber Reports plugin in Jenkins and have my pipeline script for this.Though my jenkins build is successful, there is some 500 Internal Error appearing while publishing the data.From Api logs, noticed an error like invalid hexadecimal representation of an objectid.

Please find the below details for more informa

[2019-02-12 11:24] poojithkumar opened #2727 "collector build"
C:\opt\Hygieia-master\collectors\build\jenkins\target>java -jar jenkins-build-collector-3.0.1.jar --spring.config.name=jenkins --spring.config.location=C:\opt\Hygieia-master\collectors\build\jenkins\application.properties
16:50:07,997 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback.groovy]
16:50:08,001 |-INFO in ch.qos.logback.classic.LoggerContext[defaul

[2019-02-12 11:26] poojithkumar commented on #2727
this is my properties  file

#Database Name
dbname=dashboarddb

#Database HostName - default is localhost
dbhost=localhost

#Database Port - default is 27017
dbport=27017

#Database Username - default is blank
#dbusername=dashboarduser

#Database Password - default is blank
#dbpassword=dbpass

jenkins.servers[0]=http://localhost:8190/jenkins/
#Collector schedule (required)
jenkins.cron=0 0/1 * * *

[2019-02-12 11:40] buradeshruti commented on #2724
Is there any dependency of Bamboo Collector on api? The api and collector properties file have same database details.

I have tried out both the options mentioned by you. I cannot see any data in drop down. I am using Robo 3T. I can see "Fetched 0 record(s) in 4ms" for this "db.getCollection('builds').find({})" query.

Whereas jira collector's data is stored in database with same set of credential

[2019-02-12 11:42] buradeshruti commented on #2725
I guess this issue is similar to #2724.

[2019-02-12 12:53] rvema commented on #2726
We put a fix for this in plugin version 2.1.9. Can you get the latest plugin version and retry?

[2019-02-12 13:39] siva-veeraraj commented on #2725
@buradeshruti ... it didnt work.. actually my problem is something the rally configuration details are not getting stored in collector collection in mongodb.

{ "_id" : ObjectId("5c61a8e4d79c5f0b60dc1597"), "_class" : "com.capitalone.dashboard.model.RallyCollector", **"rallyServers" : [ ], "n**ame" : "Rally", "collectorType" : "AgileTool", "enabled" : true, "online" : true, "errors" : [ ], "unique

[2019-02-12 13:40] siva-veeraraj commented on #2725
if the properties are stored in the DB then it will work i guess.

[2019-02-12 14:00] siva-veeraraj commented on #2725
@tabladrum . Hi can you please help me in this issue

[2019-02-12 14:54] Sbrenthughes commented on #2724
When you run `db.collectors.find()` what do you see?

[2019-02-12 17:52] siva-veeraraj commented on #2725
@matthewbeasley

Hi Can you please help me on this. I dont see any data fetched from rally. I think problem with loading the application properties.

[2019-02-12 18:25] siva-veeraraj commented on #2724
please find the output of db.collectors.find(). I think properties mentioned in the property file are not updated in the DB.

{ "_id" : ObjectId("5c61a8e4d79c5f0b60dc1597"), "_class" : "com.capitalone.dashboard.model.RallyCollector", "rallyServers" : [ ], "name" : "Rally", "collectorType" : "AgileTool", "enabled" : true, "online" : true, "errors" : [ ], "uniqueFields" : { }, "allFields" : { }, "la

[2019-02-12 18:26] siva-veeraraj commented on #2724
@Sbrenthughes

[2019-02-12 18:26] siva-veeraraj commented on #2725
@Sbrenthughes
Hi,

I have all the details  mentioned above

[2019-02-12 18:55] Sbrenthughes commented on #2725
When you created a dashboard did you select the Rally widget?
![image](https://user-images.githubusercontent.com/26173728/52660508-cdf3ef80-2ecd-11e9-9115-9c614dd5cbc2.png)

[2019-02-12 19:02] Sbrenthughes commented on #2724
This confirms that the collector is not inserting into the same db. Can you print the list of dbs you have on your local mongo?

[2019-02-12 19:12] siva-veeraraj commented on #2725
@Sbrenthughes .. Thank you so much for replying and please find the details below.

i removed the .springBeans file from the code and build the code and ran the collector and now i can see the configurations are inserted into the db. As you mentioned i have selected the rally widget and now i can see the list of projects. i selected one project and saved the widget and now am seeing the below erro

[2019-02-12 19:24] Sbrenthughes commented on #2716
The `gitlab.apiToken` you are using, is that for this repo?

[2019-02-12 19:28] Sbrenthughes commented on #2725
When you run the collector what is the output now?

[2019-02-12 19:29] Sbrenthughes commented on #2711
When you start the api locally go to http://localhost:8080/api/swagger/index.html and see dashboard-remote-controller

[2019-02-12 20:03] siva-veeraraj commented on #2725
@Sbrenthughes .. you are right.. it takes time to fetch the data but its working as expected.  i can see the data populated to rally widget. The only thing i did was removed the .springBean file from the rally collector repo and selected the rally widget.

Thank you so much for the help

[2019-02-12 20:04] Sbrenthughes commented on #2725
No problem can we close this?

[2019-02-12 20:42] siva-veeraraj commented on #2725
@Sbrenthughes .. I have one more doubt in github configuration. in dashboard.properties we have property

# API token generated for basic authentication to secure APIs.
key=***********************

github collector application property contains
# This is the key generated using the Encryption class in core
    github.key=<your-generated-key>

Is this both are same if so do i need to give the key g

[2019-02-12 21:23] siva-veeraraj commented on #2725
@Sbrenthughes

Hi,

I gave the same the key generated through UI in both the property file and it worked. Before  giving the key i have configured that repo in the widget so it showed an error like below.
![repo](https://user-images.githubusercontent.com/47429392/52668730-f08c0580-2ed9-11e9-9df6-9da01d6633fc.png)

after giving the key it started pulling the data but still that 404 error is showing

[2019-02-12 22:22] siva-veeraraj commented on #2725
@Sbrenthughes ... one last question does rally collector collect the feature id details ?

[2019-02-13 04:39] ansha1 commented on #2685
Somehow DB i have created earlier was not able to collect the data. I created a new DB and reconfigured everything which fixed the issue.
Thanks for your support !

[2019-02-13 08:22] poojithkumar opened #2728 "hygieia jenkins collector"
## ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP@34cdf69e - Setting initial period to Wed Feb 13 12:39:47 IST 2019 12:39:47,969 |-INFO in ch.qos.logback.core.joran.action.NestedComplexPropertyIA - Assuming default type [ch.qos.logback.classic.encoder.PatternLayoutEncoder] for [encoder] property 12:39:47,971 |-INFO in ch.qos.logback.core.rolling.RollingFileAppender[ROLLING] - Active log file na

[2019-02-13 09:23] poojithkumar opened #2729 "> `http://localhost:8080/api/collector/type/SCM` navigate here. What does this return?"
i have done this
getting a json format but in that got **string** type repo.
want github type repo...

HELP!!

_Originally posted by @Sharmakartik in https://github.com/Hygieia/Hygieia/issues/2639#issuecomment-448313764_

hey .when i run above command i get
[]

[2019-02-13 09:28] poojithkumar commented on #2685
[] is for me

[2019-02-13 12:33] jochenparm commented on #2645
Giving some feedback: no, I wasn't able to fix the issue. I gave up on the Jira collector instead...

[2019-02-13 17:35] Sbrenthughes commented on #2729
Can you update this with information about an actual issue please? The above could happen for many reasons. Without more information we cannot help.

[2019-02-13 17:40] Sbrenthughes commented on #2728
`java.lang.NullPointerException: null at org.springframework.scheduling.support.CronSequenceGenerator.pars` What is the command you are running?

[2019-02-13 17:49] Sbrenthughes commented on #2725
I am not sure what the feature id is in Rally. I can only help with general collector setup issues in the instance.

[2019-02-13 17:50] Sbrenthughes commented on #2728
Also, can we close https://github.com/Hygieia/Hygieia/issues/2727 or this issue? Since the issue you are having are with the same collector?

[2019-02-13 17:55] Sbrenthughes commented on #2685
@poojithkumar that is because, based on the other 2 issues you have open, you haven't successfully ran the collector yet.

@ansha1 thank you for responding with your fix. I apologize for not getting back sooner.

[2019-02-13 17:55] #2685 closed

[2019-02-13 17:56] Sbrenthughes commented on #2724
@buradeshruti see: https://github.com/Hygieia/Hygieia/issues/2685#issuecomment-463055214

[2019-02-13 17:58] Sbrenthughes commented on #2624
@babujii take the latest master and check out what @ansha1 did to resolve this issue

[2019-02-13 17:58] #2624 closed

[2019-02-13 21:42] Sbrenthughes commented on #2667
@syedafirdaus can you pull the last master [https://github.com/tabladrum/Hygieia](https://github.com/tabladrum/Hygieia) and [https://github.com/tabladrum/hygieia-core](https://github.com/tabladrum/hygieia-core)?

[2019-02-14 03:20] #2725 closed

[2019-02-14 07:22] syedafirdaus commented on #2105
Hi @syedsfayaz , I have configured as you mentioned in above comments. And i dont have a deploy tool. I use Jenkins to deploy using shell script. I have added deployment in post-build actions like below. Still I cannot see env in Hygieia pipeline view.
I have also set feature.dynamicPipeline=enabled in api properties file
FYI all screenshots

Deploy widget
![image](https://user-images.githubuserco

[2019-02-14 11:15] navjottiwana commented on #902
Did anyone find a solution for the issue why the code is appending /projects/repos/ to the URL.
I am facing the same issue.

[2019-02-14 12:28] syedafirdaus commented on #1743
@syedsfayaz  please see my question https://github.com/Hygieia/Hygieia/issues/2105 here and advise.

[2019-02-14 12:44] syedafirdaus commented on #2616
Hi ,
I am using lastest version of hygieia-jenkins publisher

I have configured as you mentioned in above comments. And i dont have a deploy tool. I use Jenkins to deploy using shell script. I have added deployment in post-build actions like below. Still I cannot see env in Hygieia pipeline view.
I have also set feature.dynamicPipeline=enabled in api properties file
FYI all screenshots

Deploy wid

[2019-02-14 12:59] lyndomiao commented on #1393
@nireeshT @saranyasasidharan Hi,what I am facing is that the gitlab scm collector shows data,but it only show commit data,doesn't show pulls and issues data.Do u know why?

[2019-02-14 13:03] lyndomiao opened #2730 "gitlab scm collector show no pulls and issues data"
my gitlab scm collector works,but it only shows the commits data,no any pulls or commits data.How to resovle it?

[2019-02-14 13:06] lyndomiao commented on #2730
@Sbrenthughes can u helo me?

[2019-02-14 13:57] Sbrenthughes commented on #2730
For the branch you are collecting, are there PRs within the last 14days ?

[2019-02-14 14:18] Sbrenthughes commented on #2689
@nsaud01  use the method here to get make token http://hygieia.github.io/Hygieia/api.html#basic-authentication-for-secure-apis. `echo PasswordIsAuthToken:{"apikey":"<api-token-generated>"} | base64` doesn't generate the correct way. This is the problem.

[2019-02-14 15:14] rvema commented on #2616
@syedafirdaus Do you see any lines showing the version of plugin from the jenkins
job console?

[2019-02-14 15:25] lyndomiao commented on #2730
@Sbrenthughes yes,there are PRs within the last 14days.And there is no error in the container's log

[2019-02-14 15:30] Sbrenthughes commented on #2730
Are the PRs for the branch you have configured in the UI?

[2019-02-14 17:54] Sbrenthughes commented on #2724
@siva-veeraraj can you post your API properties?

[2019-02-15 01:17] lyndomiao commented on #2730
@Sbrenthughes yes,I have configured in the UI,and  the commits data shown in widget is right

[2019-02-15 08:46] zhenweiding commented on #2730
@lyndomiao according to the source code, the gitlab scm collector only get the commits data, no pulls and issues data.

https://github.com/Hygieia/Hygieia/blob/master/collectors/scm/gitlab/src/main/java/com/capitalone/dashboard/collector/GitlabGitCollectorTask.java#L101

https://github.com/Hygieia/Hygieia/blob/master/collectors/scm/gitlab/src/main/java/com/capitalone/dashboard/gitlab/GitlabGitClie

[2019-02-15 10:48] buradeshruti commented on #2724
Hi @Sbrenthughes,
**Following is my API properties file:**
# api.properties
dbname=dashboarddb

dbhost=localhost
dbport=27017
dbreplicaset=false
#dbhostport=[host1:port1,host2:port2,host3:port3]
server.contextPath=/api
server.port=8080
logRequest=false
#logSplunkRequest=false
#corsEnabled=false
#corsWhitelist=http://domain1.com:port,http://domain2.com:port
version.number=1.0

auth.expirationTime=7

[2019-02-15 12:41] georgejinu commented on #2593
Hello Ismael, is that any update on the Octopus Integration with Hygieia? can you please let me know..

[2019-02-15 12:54] IAPOLINARIO commented on #2593
Hey @georgejinu,
Unfortunately, so far, no updates.

[2019-02-15 13:32] Sbrenthughes commented on #2730
@zhenweiding thanks for looking into this. I should not have assumed that logic was present. Can either of you implement it and make a PR back ?

[2019-02-15 13:40] Sbrenthughes commented on #2724
Can you try “dropping” dashboarddb? Afterwards restart the collector and api. A fix will be coming for this issue.  Unfortunately, it won’t be in the near future.

[2019-02-15 13:48] buradeshruti commented on #2724
I actually tried creating an altogether new database, that also did not help.

[2019-02-15 14:12] Sbrenthughes commented on #2729
Please reopen and provide answers to the listed questions.

[2019-02-15 14:12] #2729 closed

[2019-02-17 02:57] lyndomiao commented on #2730
@zhenweiding thank u for help!I did not read the Hygieia source code,and I thought Hygieia collector had implemented all the functions.I can implement the function of 'issues count' of Gitlab SCM Collector by Gitlab API '/projects/:id/issues',but I can not find the API to get 'pulls count'.Do u know how to resolve it?

[2019-02-18 10:55] yash4necro opened #2735 "Hygieia Jenkins collector issue"
I am trying to get build data on my Hygieia dashboard via Jenkins. I am using Jenkins version 1.623.
My Jenkins build collector's application.properties file:

dbname=dashboarddb
dbhost=localhost
dbusername=dashboarduser
dbpassword=dbpassword
dbport=27017
dbreplicaset=false
dbhostport=localhost:27017
jenkins.servers[0]=http://172.31.235.120:8080/
jenkins.cron=0 0/1 * * * *
jenkins.usernames[0]=611

[2019-02-18 14:45] syedafirdaus commented on #2667
@Sbrenthughes  I followed what you mentioned above. And I am getting below error when I run jira collector

2019-02-18 14:33:44,846 ERROR c.c.d.c.story.StoryDataClientImpl - Failed to obtain sprint data from ["com.atlassian.greenhopper.service.sprint.Sprint@4ce48635

Whereas I have given sprint data field name properly.

# Database Name
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpass

[2019-02-18 15:22] lyndomiao commented on #930
@nireeshT the Up & down arrows in deploy widget specify the count of servers online/offline,but I dont understand what are the servers online/offline.Could u please explain this?

[2019-02-18 16:57] mirageglobe opened #2736 "Jenkins Collector configuration issues"
Jenkins collector is picking up "localhost" even though the environment variable is set to:

In configuration override..
- MONGO_PORT=tcp://db:27017
- MONGODB_HOST=db

resulting application.properties
- Database HostName - default is localhost
- dbhost=db

it seems like the collector has hardcoded the mongodb location to localhost. it should pickup environment variable "MONGODB_HOST" which updates

[2019-02-18 16:59] rvema commented on #2736
Can you share the properties files and your launch command used for starting the collector?

[2019-02-18 17:45] mirageglobe commented on #2736
** using docker **
ENV PROP_FILE /hygieia/config/application.properties
CMD ./properties-builder.sh &&\
  java -Djava.security.egd=file:/dev/./urandom -jar *.jar --spring.config.location=$PROP_FILE

** the properties file **
root@031ebf1b18ab:/hygieia/config# cat hygieia-jenkins-build-collector.properties

#Database Name
dbname=dashboarddb

#Database HostName - default is localhost
dbhost=db

#Dat

[2019-02-19 00:47] nireeshT commented on #2735
@yash4necro  application.properties are specific to api or jenkins collector or both ?

[2019-02-19 00:52] nireeshT commented on #2728
@poojithkumar  modify props to
`
jenkins.usernames[0]=admin`
jenkins.apiKeys[0]=`

[2019-02-19 00:58] nireeshT commented on #2727
@poojithkumar  use index for usernames
`jenkins.usernames[0]=admin`
`jenkins.usernames[1]=admin`

[2019-02-19 01:06] nireeshT commented on #2724
@buradeshruti  did you try creating dashboard from UI after setting up UI and api. Follow these steps after setting up dashboarddb.
1) build project Hygieia
2) run api
3) run UI with gulp serve
4) from UI create a dashboard
5) verify dashboards collection in dashboarddb.

[2019-02-19 01:11] nireeshT commented on #2723
@vkg1234  standard login is authentication/authorization provided with in Hygieia(i.e sign up users via UI in Hygiea) User data is store in MongoDB connected to Hygieia instance. You can also integrate Hygieia with LDAP (aka SSO) with your organization active directory. Refer https://github.com/Hygieia/Hygieia/issues/1731 for LDAP configuration

[2019-02-19 01:13] nireeshT commented on #2719
@vinayak159  can you be more specific on "new metrics" you want to see on UI.

[2019-02-19 05:22] yash4necro commented on #2735
@nireeshT the above application.properties are specific to jenkins collector only.
Below is the application.properties for API:
dbname=dashboarddb
dbhost=localhost
dbusername=dashboarduser
dbpassword=dbpassword
dbport=27017
dbreplicaset=false
dbhostport=localhost:27017
server.contextPath=/api
server.port=9090

[2019-02-19 07:36] #2735 closed

[2019-02-19 08:55] rishi-mukherjee commented on #2716
Yes Sbrenthughes

[2019-02-19 09:58] rishi-mukherjee commented on #2716
I found the problem, I was using gitlab.apiVersion=4 which is not supported by my gitlab. changing it to
gitlab.apiVersion=3 worked for me.

Thanks a lot Sbrenthughes for your time and suggestions.

[2019-02-19 09:58] #2716 closed

[2019-02-19 11:18] rikameajay1 commented on #2730
Gitlab collector doesnt collect previous data even though I added
**gitlab.commitThresholdDays=45**

Gitlab URI: http://Gitlab-xxxx:80/api/v4/projects/xxxxxxxxxx/repository/commits/?ref_name=master&since=2019-02-19T11:07:30.032Z&per_page=100

Is there any other property file which also needs to be updated?

[2019-02-19 12:39] mirageglobe commented on #2736
Fixed

**in properties-builder.sh, there is a mistake having it generate "application.properties" when test_script is defined or /config/hygieia-jenkins-build-collector.properties**

collector should have followed standard properties file "application.properties" rather than jumping between to avoid docker-compose issues

**resolved by placing PROP_FILE /hygieia/config/application.properties in do

[2019-02-19 13:40] Sbrenthughes commented on #2716
Thank you for the update!

[2019-02-19 13:55] Sbrenthughes commented on #2730
@rikameajay1 I am not sure your issue is related here. Can you open a new issue?

[2019-02-19 14:13] kalpanaparthasarathy commented on #2726
Hello Ragha,
Tried with the latest Hygieia jenkins 2.1.9 publisher plugin,Still getting the same 500 internal error in jenkins console and the same errors in api logs.

Fyi, am using a jpipeline script which has the cucumber Test publish steps.

INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  7.648 s
[INFO] Finished at: 2019-0

[2019-02-19 15:02] mirageglobe commented on #1234
hi Raj,
had the same(ish) issue- you need to make sure your jenkins is pushing data out to the collector. see- http://hygieia.github.io/Hygieia/hygieia-jenkins-plugin.html

[2019-02-19 15:05] mirageglobe commented on #2728
i'd recommend having a docker(builder - based on maven/jdk8) which builds the whole project. and then running compose on the project. it helps by using the default properties builder scripts. Make sure your override.yml permissions file is well defined.

[2019-02-19 15:16] lyndomiao commented on #2272
@suohaonan @hanjf2018 请问你两解决这个问题了吗？我配置了feature.jiraSprintDataFieldName、feature.jiraEpicIdFieldName、feature.jiraStoryPointsFieldName这三个参数还是没有数据，能不能告诉我怎么解决的

[2019-02-19 16:08] poojithkumar commented on #2728
thanks,
is there any document regarding collectors and api building?
 thanks

[2019-02-19 16:33] poojithkumar opened #2737 "collectors build"

[2019-02-19 16:34] #2737 closed

[2019-02-19 19:32] ryanshriver commented on #2537
After identifying and debating a few design options we’ve decided to go in this direction to implement an MVP that simplifies the initial setup of Hygieia. Target date is late March / early April to:

1. Automate the setup of a Hygieia environment in AWS using CloudFormation
2. Deploy Hygieia as a set of containers running on ECS (one each for UI, API and each collector)
3. Fetch Hygieia container

[2019-02-19 19:32] georgejinu commented on #731
Hello @getting2vinod & @subi-kp, can you please help in sharing the octopus collector.

[2019-02-19 19:34] georgejinu commented on #731
@tabladrum - do you have any idea about the octopus collector, is that anyone already created it?

[2019-02-20 01:37] zhenweiding commented on #2730
@lyndomiao There is no 'pull' or 'PR' in GitLab, i think the 'merge requests(MR)' in GitLab is similar to 'pulls(PR)' in GitHub.
Here is the Gitlab's API:
GET /projects/:id/merge_requests

[2019-02-20 10:48] syedafirdaus commented on #2667
@Sbrenthughes @tabladrum  Any advise?

[2019-02-20 11:09] rikameajay1 opened #2741 "Jira - Failed to collect jira information"
hi getting following error while configuring jira collector

2019-02-20 16:40:00,368 INFO  c.c.d.collector.CollectorTask - Project Data Collected 10        0s
2019-02-20 16:40:00,378 ERROR c.c.d.collector.FeatureCollectorTask - Failed to collect jira information
java.lang.NullPointerException: null
        at java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:193) ~[na:1.8.0_191]

[2019-02-20 15:15] Sbrenthughes commented on #2667
Can you paste the full stacktrace while I look into this ?

[2019-02-20 16:08] fidelcoria-aa commented on #2658
I am also interested in seeing a Coverity Collector contributed to Hygieia. @rajkumaradass, are you still planning on submitting a PR?

[2019-02-20 16:09] Sbrenthughes commented on #2741
@rikameajay1 Can you pull the latest? This issue should be resolved with latest.

[2019-02-20 16:12] Sbrenthughes commented on #2667
@syedafirdaus we have fully merged the new jira changes to the master branch. Please use that now. The error you are getting is with the old version of the jira collector.

[2019-02-20 17:07] harish123321 commented on #2741
Still I am unable to collect data. Here are my properties.

logging.file=./logs/jira.log
feature.pageSize=100
feature.queryFolder=jiraapi-queries
feature.storyQuery=story
feature.epicQuery=epic
feature.projectQuery=projectinfo
feature.sprintQuery=sprintinfo
feature.teamQuery=teaminfo
feature.deltaCollectorItemStartDate=2019-01-01T00:00:00.000000
feature.jiraBaseUrl=https://syscobt.atlassian.net/
f

[2019-02-20 18:22] Sbrenthughes commented on #2741
Same error?

[2019-02-20 18:23] harish123321 commented on #2741
I am not getting error this time but data is not populated in UI

[2019-02-20 18:24] Sbrenthughes commented on #2741
Can you reach out directly to me on gitter?

[2019-02-20 18:35] syedsfayaz commented on #2105
@syedafirdaus  Can you try logging in to the MongoDB and Check if there is any data inserted in to the database.

[2019-02-21 06:57] syedafirdaus commented on #2667
@Sbrenthughes  I took the code from master. There is indeed no error, but I don't any data in dashboard when I select my board and team. everything shows 0 0 0

Log below

2019-02-21 06:56:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-02-21 06:56:00,003 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-02-21 06:56:00,003 INFO  c.c.d.collecto

[2019-02-21 07:02] syedafirdaus commented on #2667
@Sbrenthughes  And I dont find any data in mongodb with new version on jira collector

db.feature.find(); give no output

[2019-02-21 07:06] syedafirdaus commented on #2105
@syedsfayaz  Its working now. Thanks for your response.
Do you have any idea on my queries in this link? I am facing issues in jira collector.
Please find my issues in the link https://github.com/Hygieia/Hygieia/issues/2667  and let me know if I could do anything to get data

[2019-02-21 07:21] syedafirdaus commented on #2667
This is my application.properties file

dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=127.0.0.1
dbport=27017

logging.file=./logs/jira.log
feature.pageSize=100
feature.deltaStartDate=2018-03-01T00:00:00.000000
feature.masterStartDate=2018-03-01T00:00:00.000000
feature.deltaCollectorItemStartDate=2018-03-01T00:00:00.000000
feature.cron=0 * * * * *
feature.queryFolder=jira

[2019-02-21 09:25] zhenweiding commented on #2730
@Sbrenthughes I am working on it, i will PR back when it's ready.

[2019-02-21 16:37] #2736 closed

[2019-02-21 22:30] Sbrenthughes commented on #2714
Can you pull latest and delete the scope, team and features collections? After that rerun.

[2019-02-22 04:58] lyndomiao commented on #930
@tabladrum the Up & down arrows in deploy widget specify the count of servers online/offline,but I dont understand what are the servers online/offline.Could u please explain this?

[2019-02-22 06:58] yogeshI commented on #2527
I am facing the same ISSUE. The issue is not resolved yet. But my error is " Connection reset and 'parent.relativePath' points at wrong local POM".
Thanks for the help in advance

[2019-02-22 07:47] varshinichowdary27 opened #2743 "[ERROR] Failed to execute goal org.apache.maven.plugins:maven-pmd-plugin:3.6:pmd (pmd) on project api: Execution pmd of goal org.apache.maven.plugins:maven-pmd-plugin:3.6:pmd failed: org.apache.maven.reporting.MavenReportException: Could not find resource '${pr oject.parent.basedir}/pmd.xml'"
Not able to exceute mvn install, throwing below error.

[INFO] --- maven-pmd-plugin:3.6:pmd (pmd) @ api ---
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] com.capitalone.dashboard:api ....................... FAILURE [  4.327 s]
[INFO] com.capitalone.dashboard:api-audit ................. SKIPPED
[INFO] com.capitalone.dashboard:n

[2019-02-22 09:08] rikameajay1 commented on #2741
@Sbrenthughes after pull the latest code the error got resolved. But feature widget shows 0 as the output.

2019-02-22 14:38:00,118 INFO  c.c.d.collector.CollectorTask - Finished                         0s
2019-02-22 14:38:00,184 INFO  c.c.d.collector.CollectorTask - Story Data Collected since 2019-02-22T14:36:00.012 0        0s
2019-02-22 14:38:00,187 INFO  c.c.d.collector.FeatureCollectorTask -

[2019-02-22 11:45] rvema commented on #2527
Did you get the latest core and api and rebuild? Also are you behind a corporate proxy by any chance?

[2019-02-22 11:46] rvema commented on #2743
Can you ensure you have the latest hygieia-core and hygieia projects?

[2019-02-22 12:01] varshinichowdary27 commented on #2743
Installed the latest version of hygieia core and hygieia master from github.
Also can you please specify the project structure of entire hygieia project.

[2019-02-22 12:35] rvema commented on #2743
can you explain - `installed the latest version`?

[2019-02-22 12:38] varshinichowdary27 commented on #2743
yes, i am cloning from github

[2019-02-22 12:42] rvema commented on #2743
I am unable to recreate this issue, I just cloned both the repos and did `mvn clean install -U` without any issues. here are my java and maven versions

Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-17T14:33:14-04:00)
Maven home: /usr/local/Cellar/maven@3.5/3.5.4/libexec
Java version: 1.8.0_191, vendor: Oracle Corporation, runtime: /Library/Java/JavaVirtualMachines/jdk1.8.0

[2019-02-22 12:48] varshinichowdary27 commented on #2743
i am facing this issue while mvn clean install ( hygieia-master )
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-pmd-plugin:3.6:pmd (pmd) on project api: Execution pmd of goal org.apache.maven.plugins:maven-pmd-plugin:3.6:pmd failed: org.apache.maven.reporting.MavenReportException: Could not find resource '${pr
oject.parent.basedir}/pmd.xml'. -> [Help 1]
[ERROR] Failed to execute go

[2019-02-22 13:22] Sbrenthughes commented on #2741
Can you delete the team, scope and feature collection? Once that is done can you verify that the project/board combo on the UI matches what is in Jira?

[2019-02-22 13:52] rikameajay1 opened #2744 "Opensource library_policy collection sample json data"
Hi can anyone provide me sample json data of library_policy collection.
I require it for setting up exec-dashboard.
I havent configured open-source collector so I dont have any data for library_policy and running exec-analysis jar is throws error since I dnt have library_policy.

[2019-02-22 14:06] Sbrenthughes commented on #2744
I am planning on submitting a PR to address this issue today.

[2019-02-22 14:55] varshinichowdary27 commented on #2743
is it possible for you to provide hygieia core and hygieia master jars.

[2019-02-22 15:16] Sbrenthughes commented on #2744
Here is the open PR. Should be merged today. Closing this issue.

https://github.com/Hygieia/ExecDashboard/pull/39

[2019-02-22 15:16] #2744 closed

[2019-02-22 19:56] chb0github opened #2746 "BB Connector support for BB API 2.0"
So, I have been asked to evaluate Hygieia for use with our stack and right away I suspect the Bitbucket cloud connector only supports API v1. I say this based on documentation that refers to the `v1/api`
As well as looking at [The actual code](https://github.com/Hygieia/Hygieia/search?q=DefaultBitbucketCloudClient&unscoped_q=DefaultBitbucketCloudClient)

The whole reason this is an issue is becaus

[2019-02-23 09:03] lyndomiao opened #2748 "How to configure "team" widget in a Team Dashboard ?"
I created a Team Dashoard, and I added a "Team" widget in the Widget Management.When I configure the team widget,there is no team names display. Anyone knows how to configure this widget?

[2019-02-24 16:15] Namrathavr opened #2749 "hyqieia UI issue"
After running gulp serve, localhost:3000 is being fired, but the page is empty. Console says:
Uncaught ReferenceError: config is not defined
    at (index):10
template-cache.js:1 Uncaught ReferenceError: angular is not defined
    at template-cache.js:1

I feel that the injection of js files is not being done from gulpfile.js
I:\hyqieia install\Hygieia-master\UI>gulp serve
[20:54:21] Using gulpfil

[2019-02-24 18:58] Namrathavr opened #2750 "hygieia UI gulp serve issue"
gulp serve is throwing the error,
C:\hygieia\Hygieia-master\UI>gulp serve
[00:08:00] Using gulpfile C:\hygieia\Hygieia-master\UI\gulpfile.js
[00:08:00] Starting 'build'...
[00:08:00] Starting 'clean'...
[00:08:00] Finished 'clean' after 59 ms
[00:08:00] Starting 'assets'...
[00:08:00] Starting 'themes'...
[00:08:00] Starting 'fonts'...
[00:08:00] Starting 'js'...
[00:08:00] Starting 'views'...
[00

[2019-02-25 10:08] krishna59 commented on #2078
Hi, am unable to deploy the SCM-gitlab. I have done with all the steps required to bring up the Hygieia dashboard.

Command used to delpoy :  **java -jar gitlab-scm-collector-3.0.1.jar --spring.config.name=scm --spring.config.location=C:\Hygieia\Hygieia-master\collectors\scm\gitlab\application.properties**

Output I receive:

ERROR o.s.boot.SpringApplication-Application startup failed
org.springfr

[2019-02-25 11:08] rikameajay1 commented on #2741
hi @Sbrenthughes,  deleted team, scope and feature collection and now jira doesn't even add projects and board.
Even tried with some wrong values for jira url and credentials, still jira is not throwing any errors, no entry in logs as well.

[2019-02-25 13:46] varshinichowdary27 opened #2751 "Unable to display dashboard data"
TypeError: Unable to get property 'forEach' of undefined or null reference
   at hasDashboardConfigPermission (http://localhost:3001/app/dashboard/services/userService.js:61:8)
   at hasPermission (http://localhost:3001/app/dashboard/directives/widget.js:140:14)
   at fn (Function code:2:207)
   at Scope.prototype.$digest (http://localhost:3001/node_modules/angular.js:17828:21)
   at Scope.prototy

[2019-02-25 13:56] Sbrenthughes commented on #2749
When you ran mvn clean install did it build?

[2019-02-25 15:06] rikameajay1 commented on #2741
working now

[2019-02-25 15:12] Sbrenthughes commented on #2741
What did you do to resolve it ?

[2019-02-26 06:41] rikameajay1 commented on #2741
this started working after altering the src code @Sbrenthughes

[2019-02-26 06:42] rikameajay1 commented on #2741
this issue is still present

[2019-02-26 10:58] poojithkumar opened #2753 "github collectors(401 unauthorized error)"
if i use private repo iam getting 401 unauthorized error and in command line its not getting any error.
i can see error on my UI only.

if i use public repo its giving personal acces token = Error
decryption not possible...
i set api properties file with key and github properties with ket as well

thank you

[2019-02-26 11:10] eliyahasan opened #2754 "error while building through repo"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.16:test (default-test) on project hygieia-publisher: ExecutionException; nested exception is java.util.concurrent.ExecutionException: java.lang.RuntimeException: The forked VM terminated without saying properly goodbye. VM crash or System.exit called ?
[ERROR] Command wascmd.exe /X /C ""C:\Program Files\Java\jdk1.8.0_1

[2019-02-26 15:15] kheinz04 commented on #2754
Do you have the latest version of the code?

[2019-02-26 21:13] chrisgallivan commented on #2667
We are facing the same issue. Any updates?

[2019-02-26 21:46] mrmather commented on #2667
I think I have an issue with the constants for JIRA_STORY and JIRA_EPIC
found in DefaultJiraClient
[code]

My Jira instance returns the following for issuetypes:
[code]
 As you can see, they are different than the constants where my epic is 7 and story is 8.

If I alter the constants, the collector starts to store my issues as features in the DB. Without this change, the API returns issues, but no

[2019-02-26 22:04] Sbrenthughes commented on #2667
Can you test this and let us know?

[2019-02-26 22:07] Sbrenthughes commented on #2667
We have merged the latest to master. Can you pull the latest master and do the following:
1) Delete the scope, team, feature collections
2) Inside the `collectors` collection update the following fields for the Jira:
    ` lastExecuted = 0`
     `lastRefreshTime = 0`

[2019-02-26 22:40] mrmather commented on #2667
jira-feature-collector.properties
feature.jiraIssueTypeNames=Story,Bug,Technical Debt,Spike

creates an issue query with a URL output of
https://xxx/rest/agile/1.0/board/3481/issue?jql=issueType in (''Story,'Bug','Technical Debt','Spike') and updatedDate>='2019/02/26 13:30'&fields=id,key,issuetype,status,summary,created,updated,project,issuelinks,assignee,sprint,epic,aggregatetimeoriginalestimate,

[2019-02-27 01:37] chrisgallivan commented on #2719
It’s the “new_” metrics, or leak period metrics from latest code changes

[2019-02-27 04:52] shashank998 commented on #1489
click on the external link

[2019-02-27 09:11] shreyamNewt opened #2756 "UI error"
Hi,
When  tryning to access Hygieia UI I'm getting following error. Please chechk and reply.
Uncaught ReferenceError: config is not defined
    at localhost/:10
template-cache.js:1 Uncaught ReferenceError: angular is not defined
    at template-cache.js:1

[2019-02-27 09:50] poojithkumar commented on #2753
this is my log

[org.springframework.cloud.context.properties:name=configurationPropertiesRebinder,context=12bee3bd,type=ConfigurationPropertiesRebinder]
2019-02-27 01:42:22,379 INFO  com.capitalone.dashboard.Application - Started Application in 15.805 seconds (JVM running for 20.316)
2019-02-27 01:43:00,005 INFO  c.c.d.collector.CollectorTask - Running Collector: GitHub
2019-02-27 01:43:00,919 IN

[2019-02-27 09:52] poojithkumar commented on #2730
I have facing issues with GitHub

this is my log
[org.springframework.cloud.context.properties:name=configurationPropertiesRebinder,context=12bee3bd,type=ConfigurationPropertiesRebinder]
2019-02-27 01:42:22,379 INFO com.capitalone.dashboard.Application - Started Application in 15.805 seconds (JVM running for 20.316)
2019-02-27 01:43:00,005 INFO c.c.d.collector.CollectorTask - Running Collector: Gi

[2019-02-27 09:54] poojithkumar commented on #2724
I have facing issues with GitHub
this is my log
[org.springframework.cloud.context.properties:name=configurationPropertiesRebinder,context=12bee3bd,type=ConfigurationPropertiesRebinder]
2019-02-27 01:42:22,379 INFO com.capitalone.dashboard.Application - Started Application in 15.805 seconds (JVM running for 20.316)
2019-02-27 01:43:00,005 INFO c.c.d.collector.CollectorTask - Running Collector: Git

[2019-02-27 10:02] eliyahasan commented on #2754
$ /d/user/Hygeia/hygieia (master)
$ git pull
Already up to date.

[2019-02-27 11:08] rikameajay1 commented on #2730
@poojithkumar github.username and github.password isn't required.
and change github.host to https://github.com/ and if the repo is public personalaccesstoken is also not needed, but keeping it is no harm.

I tried pulling your github repo and is worked

[2019-02-27 12:04] Sathyap3 commented on #2311
Hi ,

I am getting 401 Unauthorized when trying to configure SCM widget and collector for Hygieia.I am stuck here and unable to proceed , Any help is appreciated . Thanks in Advance

 I have passed the project ID as well but still won't fetch info. and below are deatils of application.properties , Output and widget configuration

=================================================================
Ap

[2019-02-27 13:42] poojithkumar commented on #2730
And I think host name is also not a problem ... it's not going to deal this
error

On Wed 27 Feb, 2019, 4:39 PM rikameajay1, <notifications@github.com> wrote:

[2019-02-27 13:54] Sbrenthughes commented on #2730
What command are you using to run this. And your host shouldn’t be the url to your repo.

[2019-02-27 14:06] Sbrenthughes commented on #2741
Are you still facing issues or not? I am confused by

and

[2019-02-27 14:09] Sbrenthughes commented on #2724
@poojithkumar I am deleting the below because it is unrelated to this thread.

[2019-02-27 14:20] poojithkumar commented on #2730
With correct jar version.and path

java -jar github-collector.jar --spring.config.name=github
--spring.config.location=[path to application.properties file]

On Wed 27 Feb, 2019, 7:24 PM Sbrenthughes, <notifications@github.com> wrote:

[2019-02-27 14:26] Sbrenthughes commented on #2730
From the ui repo widget did you try to add a token? If so clear it and try again.

[2019-02-27 14:31] Sbrenthughes commented on #2711
I am closing. Please let us know if you have anymore questions

[2019-02-27 14:31] #2711 closed

[2019-02-27 15:21] kheinz04 commented on #2756
Did you download the latest version and build? Were there any build errors?

[2019-02-27 15:27] guruprasadsane commented on #2667
We pulled the latest from master and deleted the scope, feature collections. Modified the Jira collector information as mentioned. But still no data in feature collection. It is not collecting the board data too.

[2019-02-27 15:31] Sbrenthughes commented on #2667
Try adding `feature.collectorItemOnlyUpdate=false` to your properties and running. If this doesn't work can you verify that the below is also no the case of you?

[2019-02-27 15:57] poojithkumar commented on #2730
Yup.. I added that. In ui and github properties file .. i remember , first
I tried without key since I get error I added that.
 Thank you for the response. I will try that also.

On Wed 27 Feb, 2019, 7:56 PM Sbrenthughes, <notifications@github.com> wrote:

[2019-02-27 16:47] nireeshT commented on #2756
@shreyamNewt  get latest code and do clean install. We did remove bower config from UI https://github.com/Hygieia/Hygieia/pull/2732, so it is just npm and gulp.  Refer https://github.com/Hygieia/Hygieia/blob/7f4e3597ff65cd015db576125c82d6fbdbbafe3e/pages/hygieia/UI/ui.md for installation steps.
Recommended to upgrade node version to latest

[2019-02-27 16:50] nireeshT commented on #2750
@Namrathavr Get latest code and do clean install. We did remove bower config from UI #2732, so it is just npm and gulp. Refer https://github.com/Hygieia/Hygieia/blob/7f4e3597ff65cd015db576125c82d6fbdbbafe3e/pages/hygieia/UI/ui.md for installation steps.
Recommended to upgrade node version to latest. Gulp file is modified to use npmwiredep instead on bower wiredep. I recommend to do fresh install.

[2019-02-27 16:51] nireeshT commented on #2749
@Namrathavr Refer https://github.com/Hygieia/Hygieia/issues/2750

[2019-02-27 17:17] guruprasadsane commented on #2667
still its not working, i changed the constants of JIRA_STORY and JIRA_EPIC as per our instance. But still i am not getting any data.

I see this in my logs

2019-02-27 11:02:00,575 ERROR c.c.d.collector.DefaultJiraClient - Error in calling JIRA API: https://xxxxx.com/rest/agile/1.0/board?startAt=0
2019-02-27 11:02:00,582 INFO  c.c.d.collector.CollectorTask - Board Data Collected. Added  0        0

[2019-02-27 18:28] Sbrenthughes commented on #2667
Does your jira instance use the tempo team plugin ?

[2019-02-27 19:06] kheinz04 commented on #2756
If you are stilling having issues, try deleting 'node_modules', 'dist', and 'bower_components' from your UI folder manually. Then try rebuilding. This should force your project to use the latest set of dependencies.

Also make sure you have the latest version of the core downloaded and built.

Let us know if you are still having problems.

[2019-02-27 19:47] kheinz04 commented on #2754
We recently updated the project to remove bower so there may be some dependency issues. Try deleting 'node_modules', 'dist', and 'bower_components' from your UI folder manually, then try rebuilding. This should force your project to use the latest set of dependencies. You can also make sure npm is up to date by running 'npm update'.

Also make sure you have the latest version of the core downloade

[2019-02-27 19:49] kheinz04 commented on #2751
We recently updated the project to remove bower so there may be some dependency issues. Try deleting 'node_modules', 'dist', and 'bower_components' from your UI folder manually, then try rebuilding. This should force your project to use the latest set of dependencies. You can also make sure npm is up to date by running 'npm update'.

Also make sure you have the latest version of the core downloade

[2019-02-27 19:51] kheinz04 commented on #2750
If you are stilling having issues, try deleting 'node_modules', 'dist', and 'bower_components' from your UI folder manually. Then try rebuilding. This should force your project to use the latest set of dependencies.

Also make sure you have the latest version of the core downloaded and built (https://github.com/Hygieia/hygieia-core ).

Let us know if you are still having problems.

[2019-02-27 21:06] guruprasadsane commented on #2667
i got our instance updated to latest version and now i am able to get the board information. https://xxxxx.com/rest/agile/1.0/board?startAt=0

After changing the constants in DefaulJiraClient as per our instance i am able to get the Story data in feature collection. Thanks for your help.

But here is the issue i am having, on the Jira Widget, i am not seeing any data if i select the Sprint Type as

[2019-02-27 21:27] fidelcoria-aa commented on #2658
@rajkumaradass I have submitted a PR #2757 with a coverity collector implementation

[2019-02-28 04:29] poojithkumar commented on #2730
-----------------
2019-02-27 20:21:00,056 INFO  c.c.d.collector.CollectorTask - Starting...
2019-02-27 20:21:00,057 INFO  c.c.d.collector.CollectorTask -
------------------
-----------------
2019-02-27 20:21:00,530 INFO  c.c.d.collector.GitHubCollectorTask -
{password=,
personalAccessToken=, branch=master, userID=, url=
https://github.com/poojithkuma
r/f}::master:: get commits
2019-02-27 20:21:00,

[2019-02-28 04:34] #2728 closed

[2019-02-28 04:34] #2720 closed

[2019-02-28 04:35] #2727 closed

[2019-02-28 06:15] ansha1 commented on #2724
Hello @Sbrenthughes hope you are doing well. This is a bug and occurs most of the time while running collectors after system restarts. Are we working on its fix ?

[2019-02-28 06:29] rikameajay1 commented on #2741
jira widget does not show anything, but logs show **Board: 'board_name' passes the feature max limit at 7233 features. Skipping..** and feature collection is empty.

[2019-02-28 09:29] syedafirdaus commented on #2667
2019-02-28 09:25:56,053 ERROR o.a.c.c.C.[.[.[.[dispatcherServlet] - Servlet.service() for servlet [dispatcherServlet] in context with path [/api] threw exception
io.jsonwebtoken.SignatureException: JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted.

@Sbrenthughes
Hi team ,

any idea on this error? I checked other issues where suggest

[2019-02-28 12:37] Sbrenthughes commented on #2753
From the ui are you adding a token when configuring the widget?

[2019-02-28 14:59] poojithkumar commented on #2753
I tried both way...

On Thu 28 Feb, 2019, 6:08 PM Sbrenthughes, <notifications@github.com> wrote:

[2019-02-28 17:56] Sathyap3 opened #2758 "Getting 401 error when trying to configure gitlab collector"
Hi ,

I am getting 401 Unauthorized when trying to configure SCM widget and collector for Hygieia. Do i have to add the generated key to gitlab ? where in gitlab should i update

Any help is appreciated . Thanks in Advance

I have passed the project ID as well but still won't fetch info. and below are details of application.properties , Output and widget configuration

**Application.properties**

[2019-02-28 19:43] ujjwal2101 commented on #2667
Have been through everywhere possible, but unable to get jira collector to work the ideal way it should. Everything has been built off the latest Github Hygieia codebase and deployed as docker containers, but keep getting the below :-
2019-02-28 19:33:00,013 INFO  c.c.d.collector.FeatureCollectorTask - JIRA Collector is set to work in Board mode
2019-02-28 19:33:00,013 INFO  c.c.d.collector.Featur

[2019-02-28 23:33] Sbrenthughes commented on #2753
It won’t work passing it from the UI if you don’t have the encryption setup. Which you don’t.

[2019-02-28 23:35] #2689 closed

[2019-02-28 23:36] Sbrenthughes commented on #2695
Just as an update they are also not required for creating a team dashboard.

[2019-02-28 23:36] #2695 closed

[2019-02-28 23:37] Sbrenthughes commented on #2695
Please open a new issue if you need help with the cmdb collector setup

[2019-03-01 00:17] Sbrenthughes commented on #2741
Is that the only board you have?

[2019-03-01 00:18] Sbrenthughes commented on #2741
If so you you can add `feature.maxNumberOfFeaturesPerBoard=8000` and try again

[2019-03-01 02:00] Sbrenthughes commented on #2667
I would verify that your board is actually a scrum board. If you search in the `team` collection for `"name": "<your_board_name>"`. you can see what type it is pulling as.

[2019-03-01 02:02] Sbrenthughes commented on #2667
This is because you stopped the api before the UI and started it back up. Until we implement the functionality to clear the token on the api side, you will be stuck having to clear the cache or reopen UI in incognito mode.

[2019-03-01 02:04] Sbrenthughes commented on #2667
Try adding `feature.collectorItemOnlyUpdate=false` and then starting with a fresh copy of the db. We will be enhancing the Jira collector at a later time to resolve some of these pain points. We appreciate the feedback.

[2019-03-01 03:58] ujjwal2101 commented on #2667
Thanks for looking into this. However, that property is already set to false as in my application.properties i shared earlier.
When you say start with a fresh db, what does that mean in the world of containers? Is it just stopping the container, deleting it, deleting its image and then recreating it, or something else? I mean the db container.
Also didn’t get the last one regarding project tied to

[2019-03-01 05:22] abhishekyadav01 commented on #2649
@tabladrum please help on the above issue

[2019-03-01 07:45] chenxiaotong opened #2762 "feature.jiraIssueTypeNames values do not support chinese?"
feature.jiraIssueTypeNames=Story,缺陷
but jira support chinese in url。
![jira](https://user-images.githubusercontent.com/12131862/53623735-e176b880-3c38-11e9-8a50-05d01006a008.jpg)
![hygieia](https://user-images.githubusercontent.com/12131862/53623736-e20f4f00-3c38-11e9-9a23-e5dd3be40453.jpg)

[2019-03-01 08:22] rikameajay1 commented on #2741
2019-03-01 13:39:00,016 INFO  c.c.d.collector.FeatureCollectorTask - Hours since last run = 0. Collector is only collecting updated/new issues.
2019-03-01 13:39:00,023 INFO  c.c.d.collector.FeatureCollectorTask - Collecting 1 of 2 boards.
2019-03-01 13:44:32,328 INFO  c.c.d.collector.CollectorTask - Story Data Collected since 1970-01-01T05:30 0      332s
2019-03-01 13:44:32,335 INFO  c.c.d.collect

[2019-03-01 12:21] aaron-dsouza opened #2763 "Exception thrown in the api service"
Hi
I get this exception continuously in the api service. I don't know which dashboard, widget or collector is causing this. Any help is appreciated. Thanks in advance
java.lang.NullPointerException: null
        at com.capitalone.dashboard.service.CollectorServiceImpl.getCollectorItemForComponent(CollectorServiceImpl.java:218) ~[api.jar!/:3.0.1]
        at sun.reflect.GeneratedMethodAccessor243.in

[2019-03-01 12:44] meghnakale commented on #2313
Hi, do you mind sharing how you solved this issue? I’m having the same problem

[2019-03-01 13:19] Sbrenthughes commented on #2741
It’s trying to collect from today. You need to again delete the team, scope and feature collections. Update the collector’s timestamp fields to 0 for the jira collector in the `collectors` collection.

[2019-03-01 13:24] Sbrenthughes commented on #2667
*Project is associated to the board.

[2019-03-01 13:27] Sbrenthughes commented on #2741
Also, go ahead and add this property `feature.collectorItemOnlyUpdate=false`

[2019-03-01 13:28] Sbrenthughes commented on #2762
Can you make a PR for this enhancement?

[2019-03-01 14:16] ujjwal2101 commented on #2667
Thanks for following up on this. To my surprise this morning i see my fourth board (the kanban one not showing up yesterday) in the jira widget of Hygieia, so not sure what happened. But still 0 issues fetched. So, i would now like to try once what you said regarding deleting the scope, team and feature collections followed by updating the 2 timestamp fields to 0 in jirfa collector object inside o

[2019-03-01 14:34] JULIANCHO923 commented on #2219
...Hello!!

I don't know where i should copy the "generated key" into github

[2019-03-01 16:41] Sbrenthughes commented on #2667
The documentation needs to be updated but the reason why it took so long to pull in is because of the property `refreshTeamAndProjectHours` it is defaulted to 24 hours. So that would make since why it took this long for it to pull. You can change this to lower.

Adding `feature.collectorItemOnlyUpdate=false` forces the collector to pull all the data.  If I am not mistaken the custom field `jiraTea

[2019-03-01 16:45] ujjwal2101 commented on #2667
Sure and you mentioned about "
delete the scope, team and feature collections. Then update the 2 timestamp fields to 0 in jira collector object inside of the `collectors` collection"
Could you please help advise how to do that? i would like to give that a try as well.

[2019-03-01 17:04] Sbrenthughes commented on #2667
@ujjwal2101 Can you reach out to me on gitter?

[2019-03-01 17:27] sameer-shukur commented on #2756
Hi,
I'm facing issue while running,
$ mvn clean install package -rf :UI
[INFO] Scanning for projects...
[WARNING] The POM for org.jenkins-ci.tools:maven-hpi-plugin:jar:1.115 is missing, no dependency information available
[WARNING] Failed to build parent project for org.jenkins-ci.plugins:hygieia-publisher:hpi:2.1.9-SNAPSHOT
[WARNING]
[WARNING] Some problems were encountered while building the eff

[2019-03-01 21:40] JULIANCHO923 commented on #91
Hello, any updates on TFS collector? thanks

[2019-03-04 01:25] chenxiaotong commented on #2762
SORRY,I can't program.

[2019-03-04 07:31] yash4necro opened #2765 "Hygieia: Jenkins code quality collector not showing jobs"
I am using Jenkins to display jacaco/junit build data in my Hygieia Dashboard.
My jenkins build shows the Code Coverage Trend and Test Result Trend.
My application.properties file is as below:

dbhost=localhost
dbusername=dashboarduser
dbpassword=dbpassword
dbport=27017
dbreplicaset=false
dbhostport=localhost:27017
jenkins-codequality.servers[0]=http://localhost:8080/
jenkins-codequality.cron=0 0/

[2019-03-04 09:00] poojithkumar commented on #2753
iam using public account ...

[2019-03-04 09:28] poojithkumar commented on #2753
2019-03-04 01:26:00,235 INFO  c.c.d.collector.GitHubCollectorTask - {password=, personalAccessToken=ERROR, branch=master, userID=, url=https://github.com/Hygieia/hygieia-query}::master:: get commits
2019-03-04 01:26:00,282 ERROR c.c.d.collector.DefaultGitHubClient - Cannot decrypt this message
null
2019-03-04 01:26:00,283 INFO  c.c.d.collector.DefaultGitHubClient - Executing https://api.github.com

[2019-03-04 09:52] poojithkumar commented on #2763
iam getting exception also

talone.dashboard.model.DataResponse<java.lang.Iterable<com.capitalone.dashboard.model.Build>> com.capitalone.dashboard.rest.BuildController.builds(com.capitalone.dashboard.request.BuildSearchRequest)
2019-03-04 01:37:55,460 INFO  o.s.w.s.m.m.a.RequestMappingHandlerMapping - Mapped "{[/build],methods=[POST],consumes=[application/json],produces=[application/json]}" onto p

[2019-03-04 17:30] chrisgallivan commented on #600
+2 Ansible

[2019-03-04 18:51] shishirchaturvedi opened #2766 "Open Source Contribution process for Hygieia project"
Recently, I started a conversation for my opensource contribution in Hygieia project and I was instructed to remove my copyright (the entity I am representing) section from the source code I wanted to contribute.
In this context, I am opening this issue in a hope that we can solidify OSS contribution process for Hygieia project.
I have explored some other popular opensource project and how they ma

[2019-03-04 20:50] nireeshT commented on #2763
@aaron-dsouza @poojithkumar  provide more details on which process is trigged to get this exception.

[2019-03-04 20:51] nireeshT commented on #2765
@yash4necro share collector error log.

[2019-03-04 20:59] nireeshT commented on #2758
@Sathyap3  if this is not a private repo, I would recommend to remove all api tokens and run collector.
1) delete widget and reconfigure with out api token
2) remove below props
`gitlab.apiToken=iN1Lb+dNRqagRq4HUeMfDRnmrDo0j3Ac4kvgHlsLnUx
gitlab.commitThresholdDays=15
gitlab.key=0CaGVCAHikVRH48WKZHpfD7NAQ4ET6T`

if it is private repo, follow these steps
1) deleted configured widget
2) remove below

[2019-03-04 21:05] Sbrenthughes commented on #2766
Can you please provide some examples of outside contributions to those projects which has a copyright that does not belong to that project?

[2019-03-04 21:06] nireeshT commented on #2756
@shreyamNewt  @sameer-shukur  if you have node_modules and bower_components under UI, delete them and
1) run npm install
2) gulp serve

[2019-03-04 21:07] nireeshT commented on #2754
@eliyahasan  what triggered this failure ?

[2019-03-04 21:40] shishirchaturvedi commented on #2766
@Sbrenthughes I don't think that I will have great visibility into that but I can explore commit history of those projects. As I mentioned Spring Framework asks each contributor to sign CLA and swift project asks to add a generic header along with adding contributors in a CONTRIBUTORS.txt file.

[2019-03-04 21:41] tabladrum commented on #2766
@SanthiSridharan can you help?

[2019-03-04 21:46] ronitgavaskar opened #2768 "Running UI Tests"
So I see there are two different ways of writing tests for UI: within the Tests folder of the UI module and the UI-Tests module. I was wondering if somebody could explain the difference between these two directories for testing? I'm new to open source and trying to just get a better understanding of this.

Thanks!

[2019-03-05 11:26] RayanZahab commented on #1069
YOU JUST SAVED me ! 👍 after 2 wasted days!!!

[2019-03-05 16:55] #2714 closed

[2019-03-05 16:58] Sbrenthughes commented on #2667
Just updating the issue here. Looks like a lot of users are running into the issue where JIRA_STORY and JIRA_EPIC are not matching for their instances. For now you will need to update these 2 with the correct Ids for your instance. I will submit a PR moving these to the properties file soon.

[2019-03-06 03:21] geetha19983b commented on #2743
I am also facing exact issue in the rally collector during initial build of Hygiea master.Can you please let me know what is the solution
![rallycollector](https://user-images.githubusercontent.com/10776102/53853794-ec409d00-3fec-11e9-92ed-78de011214b8.png)

[2019-03-06 09:10] poojithkumar commented on #2763
while testing api

[2019-03-06 09:15] poojithkumar commented on #2758
iam also getting error in github

2019-03-06 01:04:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: GitHub
2019-03-06 01:04:00,015 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-03-06 01:04:00,015 INFO  c.c.d.collector.CollectorTask - Starting...
2019-03-06 01:04:00,016 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-03-

[2019-03-06 14:14] RayanZahab commented on #1418
I almost read every link about this collector online :) and this comment @meet101  led me to the solution:

1. The link in the Hygieia widget : https://bitbucket.org/username/repoName
2. In my **dashboard.properties** :

 The 2 most tricky parameters:

[code]
The rest required parameters
[code]

[2019-03-07 04:45] sameer-shukur opened #2772 "NexusIQ widget"
I'm able to run NexuIQ collector and it is started successfully. But not sure which widget to select under the dashboard.
Can someone help me with this?

[2019-03-07 11:21] ansha1 opened #2773 "jenkins/sonar collectors are not able store data in db"
I have been facing this issue from quite a long time. Only once, it worked for me when I changed the db with new one. However, after system restart it is again pushing data in db.
-----------------------------

admin      0.000GB
config     0.000GB
dashboard  0.001GB
testdb     0.000GB
local      0.000GB

------------------------------
Here i have created db "testdb" abd used it in api and jenkins

[2019-03-07 11:26] ansha1 commented on #2773
@Sbrenthughes can you please help on this bug ?
Let me know your availability if we can have a webex or call. I work in IST India hours. But if you are available we can setup some time in CST time zone.

Really appreciate your help on this!

[2019-03-07 11:43] #2772 closed

[2019-03-07 11:57] syedafirdaus opened #2774 "AWS Hygieia collector not collecting data"
@Sbrenthughes
AWS collector throws no error, but not collection any data even after configuring AWS widget in UI.
Logs below

ngframework.cloud.context.properties:name=configurationPropertiesRebinder,context=6e0af826,type=ConfigurationPropertiesRebinder]
2019-03-07 11:43:53,138 INFO  com.capitalone.dashboard.Application - Started Application in 40.041 seconds (JVM running for 48.734)
2019-03-07 11

[2019-03-07 11:58] syedafirdaus commented on #2774
my prop file is like below
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=127.0.0.1
dbport=27017
logging.file=./logs/cloud.log
aws.cron=0 0/5 * * * *

#AWS ValidTag Key - To look for tags that you expect on your resource
aws.validTagKey[0]=
aws.validTagKey[1]=
#AWS Proxy Host
#aws.proxyHost=localhost
aws.proxyHost=

aws.proxyPort=

#AWS Non Proxy
aws.nonProxy=

#AWS Profi

[2019-03-07 12:23] syedafirdaus commented on #1852
@yks0000 did you get any solution? I copied your file from https://gist.github.com/yks0000/d2ff8f3f6d8e6074cf584da7fc49fd9d but still maven throws error.

i have raised a new request here . Please advise
https://github.com/Hygieia/Hygieia/issues/2774

[2019-03-07 13:04] vinodbhargava opened #2775 "Unable to fetch features from Rally"
Hi,
I need help with configuring Feature widget with Rally Collector. Any help will be appreciated.
Below are the details that i am able to achieve after configuring Rally Collector -

I am able to fetch data for following -
1. Iterations
2. Stories

But when i am trying to configure Feature widget, i am able to select Rally as the source, but no Team details and projects are available after that.

[2019-03-07 15:26] Sbrenthughes commented on #2773
Sure, let me do some research on how to recreate this and then we can setup sometime.

[2019-03-07 15:26] amvda commented on #246
Hi, I'm currently trying to display metrics on my sonar widget. From checking on the DB, I don't see the following being populated:
1. new_violations
2. new_critical_violations
3. new_major_violations
4. new_blocker_violations

Can you please help me understand how I can achieve values on those specific fields?
Thanks.!

[2019-03-07 15:40] amvda opened #2776 "SonarQube Widget Values"
Hi, I'm currently trying to display metrics on my sonar widget. From checking on the DB, I don't see the following being populated:

new_violations
new_critical_violations
new_major_violations
new_blocker_violations

sonar properties file
# For Sonar version 6.3 and above
sonar.metrics[0]=ncloc,violations,new_vulnerabilities,critical_violations,major_violations,blocker_violations,tests,test_succes

[2019-03-07 16:12] #2749 closed

[2019-03-07 16:12] #2723 closed

[2019-03-07 16:20] amvda commented on #2776
@Sbrenthughes  - any ideas?

[2019-03-07 16:20] #2753 closed

[2019-03-07 16:21] Sbrenthughes commented on #2753
Did you resolve this?

[2019-03-07 18:23] amvda commented on #2776
From my observation, values for these fields are inside the periods array. Any hint how those can be populated to the DB? Thanks.

[2019-03-08 06:32] ansha1 commented on #2773
Sure
Thanks for your timely response ! looking forward to work with you.

[2019-03-08 06:32] ansha1 commented on #2773
@prateekdevisingh

[2019-03-08 06:42] poojithkumar opened #2783 "github collectors bug"
@tabladrum
github collector not working under proxy .
solution : #2778

[2019-03-08 17:51] poojithkumar commented on #2753
I didn't checked yet..let you know about that

On Thu 7 Mar, 2019, 9:52 PM Sbrenthughes, <notifications@github.com> wrote:

[2019-03-11 03:14] yamazakei331 commented on #2667
Up to lastest.Rebuild all,reset db.

add properties in config file

`feature.JiraStoryId=10002
feature.JiraEpicId=10001`

Success sync data from jira to feature/scope/team,but got 0 0 0 in Hygieia board
![image](https://user-images.githubusercontent.com/12411817/54098263-d36e2800-43ee-11e9-8977-37fd57bd7b75.png)

[2019-03-11 04:54] poojithkumar commented on #2753
yes..., this is also solved now :)

On Fri, Mar 8, 2019 at 11:21 PM NO BRAINER <poojithkumar964@gmail.com>
wrote:

[2019-03-11 07:49] RameshMuthuraj commented on #2664
me too having the same issue.. please help!!

2019-03-11 07:42:56,941 INFO  com.capitalone.dashboard.Application - Started Application in 6.989 seconds (JVM running for 7.743)
2019-03-11 07:43:00,001 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-03-11 07:43:00,023 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-03-11 07:43:00,024 INFO  c.c.d.coll

[2019-03-11 13:41] Sbrenthughes commented on #2667
Can you post the log and properties?

[2019-03-11 13:43] Sbrenthughes commented on #2664
@RameshMuthuraj typically closed issues don't get looked at I would suggest looking at https://github.com/Hygieia/Hygieia/issues/2667

[2019-03-11 13:49] yamazakei331 commented on #2667
![image](https://user-images.githubusercontent.com/12411817/54128623-76529080-4447-11e9-921d-21073497b507.png)

[2019-03-11 13:59] Sbrenthughes commented on #2773
@ansha1 can you reach out to me on gitter?

[2019-03-12 01:47] Sbrenthughes commented on #2726
This has been resolved with latest code.

[2019-03-12 01:47] #2726 closed

[2019-03-12 01:47] #2704 closed

[2019-03-13 08:52] prateekasthana opened #2787 "custom Json or Xml data Report Widget"
Is there any Collector or feature in Hygiea which can take json or xml as input and show data on GUI widget for Defined Keys in Tabular or Graphical format .
If not , is there any development going on this ?

[2019-03-13 09:10] prateekasthana commented on #2318
Hi @rajkumaradass , Did you added this feature in Hygieia ?

[2019-03-13 10:38] rajkumaradass commented on #2318
@prateekasthana  - no.

[2019-03-13 11:09] prateekasthana commented on #2318
:( Ok . I was also looking for simile feature.

[2019-03-14 02:28] testorgsanthi commented on #2766
@Tabladrum & @Sbrenthughes  - Thanks for the re-direct.

Hello Shishir,

We are reviewing this and will provide a response.

[2019-03-14 11:13] ansha1 opened #2788 "do we have any collectors for fisheye and crusible ?"

[2019-03-14 16:20] harish123321 opened #2789 "Error for SCM widget not being resolved on UI once it has been resolved in the collector"
Red Dot on the widget is not removed even though after the error was resolved in the collector

[2019-03-15 13:00] Sbrenthughes commented on #2724
@ansha1 can you post the solution you found?

[2019-03-17 06:41] poojithkumar opened #2790 "need step by step instruction to build new widget"
it will be useful to contributors if anyone make video or document on building new widget or collectors  with small working example.

thank you

[2019-03-18 07:33] #2765 closed

[2019-03-18 08:04] mohanelango opened #2791 "How to set parameters in properties file"
Hi Team,

I could't understand the below step-2 while setup hygieia.

Any help with example is welcome... where to find .properties file..

Step 2: Set Parameters in the Properties File

Set the configurable parameters in the .properties file to connect to each component of Hygieia. For more information about the server configuration, see the Spring Boot documentation.

Thanks
Mohan

[2019-03-18 10:52] poojithkumar commented on #2791
tell exactly what your trying to do.
are you running api layer?
or running collectors?

[2019-03-18 10:53] poojithkumar commented on #2789
delete that and run again .

[2019-03-18 11:03] poojithkumar commented on #2743
go to hygieia core directory first clean and run ( mvn clean install ).
then run hygieia  .
@varshinichowdary27  i think you are not run the hygieia core.

[2019-03-18 13:12] GabeStep commented on #2667
@yamazakei331 not sure if capitalization matters but you have "feature.**J**ira" rather than "feature.**j**ira"

[2019-03-18 13:15] yash4necro opened #2792 "Hygieia: Configuring Code Analysis widget with Jacoco Coverage report"
Hi
I am trying to publish Jacoco Coverage trend published via Jenkins build on my Hygieia: Code Quality widget.
In Jenkins my Jacoco Code Coverage shows data:
![image](https://user-images.githubusercontent.com/24870997/54532175-27f44300-49ad-11e9-9bbc-1c1bdd8b3522.png)

But is inconsistant with Hygieia: Jenkins-codequality module.

The JSON object I get from Jenkins for code quality is like:
{"bra

[2019-03-18 13:31] GabeStep commented on #2667
Not sure if it should be posted here or somewhere else, but I was having difficulties with the new single story id. So I made a pr that allows for multiple. https://github.com/Hygieia/Hygieia/pull/2793

[2019-03-18 13:54] Sbrenthughes commented on #2773
@ansha1 can you add what you did to fix this and close the issue?

[2019-03-18 14:43] #2783 closed

[2019-03-19 05:55] ansha1 commented on #2773
After a long going struggle in resolving this issue, we found collectors were not able to push data in to tables in DB, to fix this we allocated ports to each collector.  We are using Ubuntu 16.04 machine

we used -Dserver.port=8888 with launch command to allocate specific port to a collector. Further we want to integrate fisheye with hygieia.

[2019-03-19 05:56] ansha1 commented on #2773
Really want to appreciate your efforts @Sbrenthughes

[2019-03-19 10:58] rishi-mukherjee opened #2794 "hygieia core model change is not considered in feature collector build"
I have made changes to feature model in hygieia core to add priority and severity fields. Build of Hygieia core is successful. SNAPSHOT of core jar got created.

While compiling feature-collector new attributes of feature model is not resolved and compilation error is thrown.

[2019-03-19 11:05] rishi-mukherjee commented on #2794
modifying jira-feature collector pom file to explicitly defining com.capitalone.dashboard version as 3.1.0-SNAPSHOT resolved the compilation issue.

[2019-03-19 11:05] #2794 closed

[2019-03-19 15:37] dgrierso commented on #2638
Suggest that this should be re-opened and appropriate content in the documentation updated to reflect the requirement for MongoDB >= 3.0

[2019-03-19 16:21] Sbrenthughes commented on #2638
@dgrierso Can you make a PR to the gh-pages branch with the doc change?

[2019-03-21 06:13] lyndomiao commented on #2197
@xpdable Hi!Have u implemented Hygieia HA？I'm now run Hygieia indocker,but I dont know how to deploy Hygieia in HA

[2019-03-22 11:37] mohanelango commented on #2791
I'm trying to run hygieia in docker. while build docker image i am  getting the following errors
cmd that i executed-------docker-compose up -d
ERROR: The Compose file './docker-compose.yml' is invalid because:
Unsupported config option for services: 'db-setup'
services.volumes contains an invalid type, it should be an array...

how to resolve this??

[2019-03-22 14:59] Sbrenthughes commented on #2609
Just updating here. It is hard coded to 2000.
https://github.com/Hygieia/Hygieia/blob/26692e14a88729ff47669154c95d24f8a0073fc9/collectors/build/bamboo/src/main/java/com/capitalone/dashboard/collector/DefaultBambooClient.java#L52

[2019-03-25 06:39] yash4necro commented on #2792
Any help appreciated

[2019-03-26 01:30] #2754 closed

[2019-03-26 01:31] Sbrenthughes commented on #2754
Closed for no response in 27 days

[2019-03-26 09:06] xpdable commented on #2197
Just move on to new company, starting push Hygieia from beginning. Good fact is we will deploy this on AWS, but HA is not in scope for now as we build this inside the team. HA might be taken into consideration end of 2019. If you have good practice glad to hear. thx.

[2019-03-26 15:01] shishirchaturvedi commented on #2766
@testorgsanthi I am following up on this issue. Do you have any update?

[2019-03-27 12:44] HarshitMit opened #2800 "udeploy not writing to mongodb"

[2019-03-27 13:11] Sbrenthughes commented on #2800
@HarshitMit typically we ask that you paste your properties file, any errors that are in the logs and any steps you've tried to resolve this. Simply creating a blank issue doesn't help us to help you.

[2019-03-27 13:22] Sbrenthughes commented on #2791
Do you know at what point this is happening ?

[2019-03-27 13:27] HarshitMit opened #2801 "udeploy collector"
facing some issues while trying to get the udeploy collector integrated with the dashboard.I am able to see the apps being pulled from udeploy in the logs but the same isn't reflecting in the widget on the dashboard.

We already have a working setup for Jenkins where we are able to view the builds on the build widget but we are facing issues while trying to get that working for udeploy and Bitbuck

[2019-03-27 13:27] #2773 closed

[2019-03-27 13:41] HarshitMit commented on #2800
Please find more details in issue #2801

[2019-03-27 13:41] #2800 closed

[2019-03-27 15:59] HarshitMit commented on #2801
@Sbrenthughes Can you please take a look.

[2019-03-27 16:05] Sbrenthughes commented on #2801
If this is local can you comment out `dbreplicaset=false`
and `dbhostport=localhost:27017,127.0.0.1:27017`

[2019-03-27 16:15] Sbrenthughes commented on #2792
Would you be able to paste a copy of .xml generated?

[2019-03-27 17:48] HarshitMit commented on #2801
@Sbrenthughes no, this is not a local deployment. I'm trying to connect it to an udeploy dev of my organization.

I tried commenting out the above mentioned properties but still the same issue

![image](https://user-images.githubusercontent.com/48964639/55099894-95f3e500-50e6-11e9-9af7-e29b8d34f863.png)

[2019-03-27 18:11] HarshitMit commented on #2801
@Sbrenthughes
Now  I can see some of the udeploy applications being in mongodb when I give db.collector_items.find() but still these applications aren't reflecting in the dashboard.

[2019-03-28 09:30] cahi commented on #2801
I am facing the same problem. which udeploy version are you trying to get data from? I have seen that the requests that are made to udeploy return no results, maybe the API changed from 6.x to 7.x?

[2019-03-28 11:26] lyndomiao commented on #2748
@Sbrenthughes can u help me?

[2019-03-28 12:37] HarshitMit commented on #2801
@cahi  Well, I'm able to fetch the data from udeploy to the mongodb instance but am unable to see that
 data in the udeploy widget on the dashboard.

[2019-03-28 12:48] mohanelango commented on #2791
I'm getting this error when i try to build docker image.

My docker-compose.override.yml contains the following details..

hygieia-github-scm-collector:
    environment:
    - GITHUB_HOST=github.com
    - GITHUB_CRON=0 * * * * *
    - GITHUB_COMMIT_THRESHOLD_DAYS=300

[2019-03-28 12:58] Sbrenthughes commented on #2801
@HarshitMit check out https://github.com/Hygieia/Hygieia/issues/2773. Changing the port it is running on could cause it to place it in the right mongo db.

[2019-03-28 13:21] HarshitMit commented on #2773
@ansha1 Can we have a quick call to discuss about this fix. Just wanted to understand if this is similar to the issue that i'm facing #2801.

I also work in IST hours and can reach out to you on call if it works for you.

[2019-03-28 13:30] HarshitMit commented on #2801
@Sbrenthughes  I am not sure if the data from udeploy is being pushed in the right table in mongodb but I do see the data being present in mongodb when I run **db.collector_items.find()**

{ "_id" : ObjectId("dk12371e"), "_class" : "com.capitalone.dashboard.model.UDeployApplication", "description" : "XXXXX", "enabled" : false, "errors" : [ ], "pushed" : false, "collectorId" : ObjectId("5c52ff606a8

[2019-03-28 21:20] Sbrenthughes commented on #2741
This is probably because your story/ epic ideas don’t match update to the latest

[2019-03-28 21:22] #2741 closed

[2019-03-28 21:25] Sbrenthughes commented on #2710
https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/hygieia-jenkins-plugin/hygieia-jenkins-plugin.md

[2019-03-28 21:25] #2710 closed

[2019-03-28 21:28] Sbrenthughes commented on #2724
Can you try specifying a port for it to run on? @ansha1 has had success with this.

[2019-03-28 22:18] #2372 closed

[2019-03-29 02:32] guruprasadsane opened #2803 "docker containers exited with code 126"
while running docker-compose up, all the container creation is getting exited with error
sonar-codequality-collector_1      | /bin/sh: 1: ./properties-builder.sh: Permission denied
appdynamics-collector_1            | /bin/sh: 1: ./properties-builder.sh: Permission denied
gitlab-scm-collector_1             | /bin/sh: 1: ./properties-builder.sh: Permission denied
artifactory-artifact-collector_1

[2019-03-29 04:20] vishalbisa opened #2804 "how to test UI locally for docker"
Hi Team,
i am trying to create a docker image and deploy in cloud as a POC , hence i am looking for a way to test the dashboard locally once i deploy the docker image.
we have this command to test locally --> gulp serve --local true
but for docker we will be executing the command --> docker run -t -p 8088:80 --link hygieia-api -i hygieia-ui:latest

can anyone please let me know how to use test dat

[2019-03-29 06:35] yash4necro commented on #2792
PFA the attached test results xml.
[report.txt](https://github.com/Hygieia/Hygieia/files/3021392/report.txt)

[2019-03-29 11:54] chrisgallivan commented on #2776
We were able to make this work. email me at chris.gallivan@fcagroup.com and I will share how we did it.

[2019-03-29 16:34] HarshitMit commented on #2801
Finally it's working now. Checked out the latest api code changes and that kinda seems to have fixed the issue.

[2019-03-29 16:34] #2801 closed

[2019-03-29 21:36] arunmk108 opened #2805 "Issue when installing hygieia with docker-compose"
[docker-compose.override.hygieia.yml.txt](https://github.com/Hygieia/Hygieia/files/3024625/docker-compose.override.hygieia.yml.txt)
[docker-compose.yml.txt](https://github.com/Hygieia/Hygieia/files/3024626/docker-compose.yml.txt)

Hi
Today i have cloned latest code from github repo(### https://github.com/Hygieia/Hygieia). Before docker compose command, i just done one change in override file(### d

[2019-03-30 04:33] arunmk108 commented on #2805
Got the point. We needs to build the code first and create the jar files before running the docker-compose file. Rest of the things, compose file will take care.
![image](https://user-images.githubusercontent.com/28533803/55271401-83aeae00-5282-11e9-9356-0585b8f7337f.png)
![image](https://user-images.githubusercontent.com/28533803/55271413-b3f64c80-5282-11e9-8db1-d734608b373d.png)

[2019-03-30 04:33] #2805 closed

[2019-03-30 13:37] mySphere opened #2806 "Issue: Hygieia api-audit and Jenkins (exit code 1)"
Hi,
I am getting the below errors which seems to be related to MongoDB connectivity, can provide further details as needed.

Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'codeReviewEvaluatorLegacy' defined in URL [jar:file:/hygieia/apiaudit.jar!/com/capitalone/dashboard/evaluator/CodeReviewEvaluatorLegacy.class]: Unsatisfied dependency

[2019-04-01 15:26] meghnakale opened #2807 "JIRA collector is not gathering data in feature db collection"
I have configured the JIRA collector, it did reflected the Project and Board Name. So the data was collected under "team" DB collection but the collector is not pulling data for issues.

These are the logs

2019-04-01 15:17:00,018 INFO  c.c.d.collector.FeatureCollectorTask - Collecting 1 of 1 boards.
2019-04-01 15:17:01,348 INFO  c.c.d.collector.CollectorTask - Story Data Collected since 2019-04-0

[2019-04-01 18:39] Sbrenthughes commented on #2807
Can you post properties

[2019-04-02 02:18] sundeepk1 commented on #2743
[INFO] Reactor Summary:
[INFO]
[INFO] com.capitalone.dashboard:Hygieia ................... SUCCESS [  3.814 s]
[INFO] com.capitalone.dashboard:api ....................... FAILURE [ 52.108 s]
[INFO] com.capitalone.dashboard:api-audit ................. SKIPPED
[INFO] com.capitalone.dashboard:nfrr-audit-collector ...... SKIPPED
[INFO] com.capitalone.dashboard:rally-collector ........... SKIPPED
[INFO

[2019-04-02 02:18] sundeepk1 commented on #2743
I am getting the above build failure

[2019-04-02 06:41] IATVirtusa commented on #2807
Even i had the same issue . here i am posting my properties file
# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
dbhostport=[localhost:27017,127.0.0.1:27017,127.0.0.:27017]

# Database Username - default is blank
dbusername=dashboarduser

# Database Password - d

[2019-04-02 11:19] IATVirtusa commented on #2807
2019-04-02 16:45:00,062 INFO  c.c.d.collector.CollectorTask - https://iatvirtusa.atlassian.net/
2019-04-02 16:45:00,063 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-02 16:45:00,092 INFO  c.c.d.collector.FeatureCollectorTask - JIRA Collector is set to work in Team mode
2019-04-02 16:45:00,092 INFO  c.c.d.collector.FeatureCollectorTask - Hours since last run = 4.

[2019-04-02 11:25] hungrypanda commented on #2741
facing the same issue even with the latest src code, please help

[2019-04-02 11:28] hungrypanda opened #2809 "Jira - Failed to collect jira information: java.lang.NullPointerException: null"
Collector throwing error while pulling data for the boards:

`2019-04-02 11:11:00,005 INFO  c.c.d.collector.FeatureCollectorTask - Collecting 1 of 2 boards.
2019-04-02 11:11:00,991 ERROR c.c.d.collector.FeatureCollectorTask - Failed to collect jira information
java.lang.NullPointerException: null
        at com.capitalone.dashboard.collector.DefaultJiraClient.lambda$getFeaturesFromQueryURL$1(Defau

[2019-04-02 11:42] meghnakale commented on #2807
Hey sorry for the late reply.

Here is my application.properties file

`# Database Name
dbname=dashboard

# Database HostName - default is localhost
dbhost=127.0.0.1

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
dbhostport=127.0.0.1:27017

# Database Username - default is blank
dbusername=dbuser

# Database Password - default is blank
dbpassword=********