[2019-04-02 12:17] Sbrenthughes commented on #2807
1) Go here `https://<URL>/rest/api/2/issuetype` and get the ids of the issuetypes that you want to pull.
2) Gor each issuetype execpt epic you need to add the following:
`feature. jiraStoryIds[0]=<id_from_above>`
`feature. jiraStoryIds[1]=<next_id_from_above>`
3) Get the epic id from step 1 and add it here:
`feature.jiraEpicId=`
4) Make sure each of the following are field out correctly:
[code]
5)

[2019-04-02 12:21] Sbrenthughes commented on #2809
https://github.com/Hygieia/Hygieia/issues/2807#issuecomment-478969586

[2019-04-02 13:54] YanranZhao opened #2811 "Sonar collector can't fetch private projects"
I'm currently adding projects in Sonar widget and find that only fetched public projects (505 project in below). I need fetch a private projects (over 600 projects) after login but it seems not work.

#### Here is my sonar.properties:
dbname=dashboarddb
dbhost=localhost
dbport=27017
dbreplicaset=false
dbhostport=localhost:27017
dbusername=dashboarduser
dbpassword=dbpassword
sonar.cron=0 0/5 * * *

[2019-04-02 15:13] arunmk108 commented on #2668
latest code fixed this issue. Now graph is consistent. Iam closing the ticket

[2019-04-02 15:13] #2668 closed

[2019-04-02 15:25] poojithkumar commented on #2743
Run the core and check the jar file in .m2 folder

On Tue 2 Apr, 2019, 7:49 AM Sundeep Kumar Paulraj, <notifications@github.com>
wrote:

[2019-04-02 15:27] meghnakale commented on #2807
Thanks for a quick response.

So delete the Team, Scope and Feature collections from mongo DB correct? And when I re-run the collector will these collectors get created ?

[2019-04-02 15:58] Sbrenthughes commented on #2807
Yes they will be recreated. But make sure you have updated the 1-4 correctly.

[2019-04-02 16:02] meghnakale commented on #2807
Problem ... @Sbrenthughes
The restarted the collector with the change mentioned by you.
getting null pointer errrr

2019-04-02 16:01:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-04-02 16:01:00,010 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-02 16:01:00,010 INFO  c.c.d.collector.CollectorTask - https://mountdiablo.jira.com/
2019-04-

[2019-04-02 16:32] meghnakale commented on #2807
@Sbrenthughes The changes mentioned by you are as per the latest commits with respect to the multiple jira Ids. I have an instance where I have setup Hygieia on the older version (before 12 days). Can you guide me on it.
Can you help me with the JIRA Apis through which I can verify the customfield IDS  ?

[2019-04-02 17:56] yanranzhao commented on #2811
And also there is no data showing for the following three parts:

<img width="531" alt="Screen Shot 2019-04-02 at 1 55 36 PM" src="https://user-images.githubusercontent.com/36062607/55424798-09ff1480-554f-11e9-9a78-c0547d911c88.png">

[2019-04-02 23:24] Sbrenthughes commented on #2807
https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/feature/jira.md shows how you can find custom fields

[2019-04-03 02:16] mySphere opened #2815 "Hygieia - MongDB connection refused"
Hi,
I ran the docker compose up and getting exit code 1 for most of the collectors.  I think the connectivity with MongoDB is not working for all collectors.  I was able to validate the mongod and mongo connections working outside of docker.  Below is the log  output for hygieia_db_setup container with exit code 1.  Any help appreciated.

MongoDB shell version v4.0.6
connecting to: mongodb://db:27

[2019-04-03 03:42] vishalbisa commented on #2804
@tabladrum can you please help here

[2019-04-03 11:13] IATVirtusa commented on #2807
still getting the same , i updated above all
2019-04-03 16:40:00,016 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-03 16:40:00,017 INFO  c.c.d.collector.CollectorTask - https://iatvirtusa.atlassian.net/
2019-04-03 16:40:00,017 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-03 16:40:00,033 INFO  c.c.d.collector.FeatureCollectorT

[2019-04-03 12:27] Sbrenthughes commented on #2807
The collector says that it’s collecting from today. Did you delete the collections mentioned?

[2019-04-03 15:34] guruprasadsane commented on #2803
Fixed it by making changes to Dockerfile. closing.

[2019-04-03 15:34] #2803 closed

[2019-04-03 16:47] gopiprasanthpotipireddy commented on #2807
feature.jiraTeamFieldName=customefield_XXXX  make this blank if you want to use board mode and for older versions
feature.jiraStoryId=xxxxx. should be set
it will collect only stories. the new master has code for all. it worked for me thank you.

[2019-04-03 19:51] arunmk108 commented on #2078
Hi Thadguidry,
Did you find any solution?
I am also facing the same issue for gitlab in code repo widget(only listing github not gitlab in dropdown) when i created dashboard with docker-compose file.

[2019-04-04 10:58] poojithkumar commented on #728
@tabladrum  i want change widget name after the execution of config html. Is there any way to do that? name should depends on input.
 thank you

[2019-04-04 15:08] gopiprasanthpotipireddy opened #2817 "How to configure artifactory widget?"
Can any body help me how to configure widget on ui i am not able to find any widget on ui like artifact.

[2019-04-05 04:21] poojithkumar opened #2818 "widget name change"

[2019-04-05 09:06] gopiprasanthpotipireddy commented on #2649
i am having the same issue can any body help ?

[2019-04-05 09:07] gopiprasanthpotipireddy commented on #2649
019-04-05 14:28:00,002 INFO  c.c.d.collector.CollectorTask - Running Collector: JenkinsCodeQuality
2019-04-05 14:28:00,033 INFO  c.c.d.collector.CollectorTask - examined jobs           0        0s
2019-04-05 14:28:00,034 INFO  c.c.d.collector.CollectorTask - new data                0        0s
2019-04-05 14:28:00,046 INFO  c.c.d.collector.CollectorTask - Finished                         0s
2019-04

[2019-04-05 09:07] gopiprasanthpotipireddy commented on #2649
# Database Name
		dbname=dashboard

		# Database HostName - default is localhost
		dbhost=localhost

		# Database Port - default is 27017
		dbport=27017

		# MongoDB replicaset
		#dbreplicaset=[false, if you are not using MongoDB replicaset]
		#dbhostport=[host1:port1,host2:port2,host3:port3]

		# Database Username - default is blank
		dbusername=dashboarduser

		# Database Password - default is b

[2019-04-05 19:59] nitingoyal8 commented on #2725
@siva-veeraraj - I am also facing the same issue where rally server information is not updated in mongo database, I tried dropping database, deleting .spring file and all the suggestion. Is there any specific things you performed?

[2019-04-07 02:09] nitingoyal8 opened #2819 "Rally Collector configuration values are not stored in Mongo Database"
I have tried all the solution provided by @Sbrenthughes but still unable to get the rallyserver value inserted in database.

Is there anything which I should be doing.

Step taken so far -

1. Deleted the beans file and recreated the jar
2. Deleted the document from database and re run the collector
3. Deleted the database as well and re executed all the steps

here is my config file -

# Database

[2019-04-08 09:58] sudhanshusr opened #2820 "Github Collector 401 unauthorized error on UI."
Github Collector is showing 401 unauthorised issue on UI.

#github.properties
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=localhost
dbport=27017
dbreplicaset=false
logging.file=./logs/github.log
github.cron=0 0/5 * * * *
github.host=github.com
github.commitThresholdDays=15
github.errorThreshold=1

#Key Generated by Hygiea-Core also added to api.properties as key
github

[2019-04-08 14:56] Sbrenthughes commented on #2817
Currently there is no artifactory Widget.

[2019-04-08 16:20] gopiprasanthpotipireddy commented on #2817
why there is a collector called artifactory and how can we consume it?

[2019-04-08 18:33] #2667 closed

[2019-04-08 18:38] Sbrenthughes commented on #2817
We have this issue noted here https://github.com/Hygieia/Hygieia/issues/2075. As a duplicate to https://github.com/Hygieia/Hygieia/issues/2075

[2019-04-08 18:38] #2817 closed

[2019-04-08 18:39] Sbrenthughes commented on #2756
Closing due to inactivity.

[2019-04-08 18:39] #2756 closed

[2019-04-08 18:39] Sbrenthughes commented on #2751
Closing due to inactivity.

[2019-04-08 18:39] #2751 closed

[2019-04-08 18:49] Sbrenthughes commented on #2750
Closing due to inactivity.

[2019-04-08 18:49] #2750 closed

[2019-04-08 18:52] Sbrenthughes commented on #2820
Delete the widget from UI and re add it. Then add the the personal access token from the UI and remove from properties file. I would also suggest updating `github.errorThreshold=1` to `github.errorThreshold=10` or more

[2019-04-08 18:53] Sbrenthughes commented on #2819
Are you running this collector on your local machine?

[2019-04-08 20:02] nitingoyal8 commented on #2819
yes I am running on local machine.

[2019-04-09 13:50] sudhanshusr opened #2821 "NullPointer for Jira Collector"
#application.properties for JIRA colllector
dbname=dashboarddb
dbhost=localhost
dbport=27017
dbreplicaset=false
dbhostport=[host1:port1,host2:port2,host3:port3]
dbusername=dashboarduser
dbpassword=dbpassword
logging.file=./logs/jira.log
feature.pageSize=100

# Delta change date that modulates the collector item task
# Occasionally, these values should be modified if database size is a concern
feat

[2019-04-09 16:42] Sbrenthughes commented on #2821
jiraEpicId is a required field.

[2019-04-09 16:51] Sbrenthughes commented on #2820
With adding the personal access token for your private repo to the UI and deleting and recreating the widget, you still get unauthorized?

[2019-04-09 18:13] sudhanshusr commented on #2821
Added Epic ID error as well error is still the same. Yes, the above URL is returning data.

[2019-04-09 18:17] sudhanshusr commented on #2820
Getting Below error for private repository:

2019-04-09 23:40:00,002 INFO  c.c.d.collector.CollectorTask - Running Collector: GitHub
2019-04-09 23:40:00,053 INFO  org.mongodb.driver.connection - Opened connection [connectionId{localValue:6, serverValue:1183}] to localhost:27017
2019-04-09 23:40:00,073 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-09 23:40:00,074

[2019-04-09 18:49] Sbrenthughes commented on #2820
`GZGhoUnq+2u2qywEpHWhkUWukWvQ1WIg` is also in the API properties?

[2019-04-09 18:51] sudhanshusr commented on #2820
Yes below us is my api.properties:

# api.properties
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=localhost
dbport=27017
dbreplicaset=false
key=GZGhoUnq+2u2qywEpHWhkUWukWvQ1WIg

[2019-04-09 18:52] Sbrenthughes commented on #2821
The reason you are getting a null pointer is because that api is returning null.

[2019-04-09 19:36] sudhanshusr commented on #2821
Any Suggestion for the fix?

[2019-04-10 06:49] linuer commented on #2219
@JULIANCHO923
you can do this
![image](https://user-images.githubusercontent.com/24414009/55857467-d4d27200-5b9f-11e9-8b4a-a5bcfe66e69b.png)

[2019-04-10 13:17] mitunmbj commented on #2170
--------------------------
Can u explain what u did to resolve this issue.
i am also facing the same issue

Input length must be multiple of 8 when decrypting with padded cipher

![image](https://user-images.githubusercontent.com/43162712/55881784-f4c65d80-5bc0-11e9-9fea-63cfebe26893.png)

![image](https://user-images.githubusercontent.com/43162712/55881812-0576d380-5bc1-11e9-9f8d-9cd337e52ad2.png

[2019-04-10 14:35] anillingutla opened #2823 "bitbucket collector issue version"
APPLICATION.PROPERTIES . - BITBUCKET VERSION 5.14
===========================================

# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
dbhostport=localhost:27017

# Database Username - default is blank
dbusername=dashboarduser

# Database Password - defa

[2019-04-10 15:13] anillingutla commented on #2823
ADDITIONAL INFO
================
401 EXCEPTION -

2019-04-10 15:00:00,533 ERROR c.c.d.c.DefaultBitbucketServerClient - Failed to obtain commits from https://git.svcs.XXXXXX.com/rest/api/1.0/projects/saxl/repos/axl-config/commits?until=master&since=38b8c3027b230ccf7cd12e7fa96e90168246add9&limit=25
org.springframework.web.client.HttpClientErrorException: 401

404 EXCEPTION -  (NOTE REPO IS ADDED TWI

[2019-04-10 22:15] anillingutla commented on #2823
2019-04-10 18:30:00,001 INFO  c.c.d.collector.CollectorTask - Running Collector: Bitbucket
2019-04-10 18:30:00,022 INFO  org.mongodb.driver.connection - Opened connection [connectionId{localValue:48, serverValue:5944}] to localhost:27017
2019-04-10 18:30:00,024 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-10 18:30:00,024 INFO  c.c.d.collector.CollectorTask - St

[2019-04-11 09:33] hvvit opened #2827 "Jira collector and gitlab collector not working completely"
Not able to gitlab scm collector collect pulls and issues..
not able to make jira feature collect open,wip,issues detail, I am only able to fetch project teams and boards
**JIRA application.properties**
# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=[false if you are

[2019-04-11 09:40] hvvit commented on #2827
Here in jira feature i am to get project name and board names and no details are there present in the mongo db
![2](https://user-images.githubusercontent.com/49516671/55947198-a8842780-5c6b-11e9-9a5e-9a035c780ccd.PNG)
![1](https://user-images.githubusercontent.com/49516671/55947200-a8842780-5c6b-11e9-8994-b88e9df21742.PNG)
in gitlab scm widget i am not able to get pulls or issues

[2019-04-11 12:54] Sbrenthughes commented on #2827
For Jira, you are missing several required properties. Reread https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/feature/jira.md. For Gitlab, we have an open PR to add issues and PRs, see https://github.com/Hygieia/Hygieia/pull/2755

[2019-04-11 16:31] pavankjadda opened #2829 "Hygieia maven package error "package org.omg.PortableInterceptor does not exist""
I downloaded the latest version of the Hygieia and trying to package it with the following command
[code]
I got following error message

[code]

[2019-04-11 18:56] harish123321 opened #2832 "Hygieia Jenkins Plugin is not holding the commits in build stage and Environment Stages"
I have a Jenkins Job which will trigger for every commit in GitHub. I am using Hygieia Jenkins Plugin to publish all data. I can able to get all data in team dashboard but I am not getting any commit data in build stage and no data is displayed in environments stages of product dashboard.

If I run Jenkins Collector I am getting commits in build stage but not showing the metrics.

[
<img width="49

[2019-04-11 22:40] nitingoyal8 commented on #2819
Any pointer? Anything I should be looking at. I have dropped the old database and executed using -Dserver.port option, no luck. Now started to look into the code, but its little hard and time consuming to understand.

[2019-04-11 22:58] Sbrenthughes commented on #2819
Can you show the logs ?

[2019-04-11 23:00] Sbrenthughes commented on #2823
What command are you using to run the collector?

[2019-04-11 23:38] nitingoyal8 commented on #2819
Sure, I just commented out if block in RallyCollectorTask.java

[code]

and recompiled. Now I am able to see the data in mongo database as well as job is fetching the records.

2019-04-11 16:10:03,852 INFO  com.capitalone.dashboard.Application - Started Application in 14.242 seconds (JVM running for 16.027)
2019-04-11 16:10:04,780 INFO  c.c.d.collector.CollectorTask - Fetched projects   68

[2019-04-12 09:13] hvvit commented on #2827
I took the sample application.properties file from the hygieia documentation itself...
dbname=dashboarddb
dbhost=localhost
dbport=27017
dbreplicaset=[false if you are not using MongoDB replicaset]###using mongodb
dbhostport=[host1:port1,host2:port2,host3:port3]###dbport i have mentioned earlier
dbusername=dashboarduser
dbpassword=dbpassword
logging.file=./logs/jira.log
feature.pageSize=100
feature

[2019-04-12 12:00] Sbrenthughes commented on #2827
Please see my link to the documentation for Jira.

[2019-04-12 12:50] mitunmbj opened #2834 "Collector working fine Metrics showing fine in UI but shows pending data collection but it collects data correctly how to remove the yellow dot"
![image](https://user-images.githubusercontent.com/43162712/56038473-adbaa280-5d4f-11e9-8f09-72104adfeb75.png)

How to clear the yellow dot

[2019-04-12 12:51] mitunmbj commented on #2834
It is is a Bitcucket collector

[2019-04-12 14:19] Sbrenthughes commented on #2834
From your brower <url>/api/dashboard/<dashboard_id>, find the key `application` > `components ` > `collectorItems` > `SCM`. What is the value of the `lastUpdated` key?

[2019-04-12 18:12] Sbrenthughes commented on #2821
Can you put a  a ` LOGGER.info` right before that line and print out the URL it is getting that error for?

[2019-04-12 18:15] Sbrenthughes commented on #2811
Can you verify that the credentials you are using have access? And the Sonar collector doesn't fill out the other 3

[2019-04-12 18:15] Sbrenthughes commented on #2809
@hungrypanda Update?

[2019-04-12 18:24] yanranzhao commented on #2811
@Sbrenthughes thanks for you reply. I'm pretty sure that my credentials have access.
And how to fetch other 3 data?

[2019-04-14 17:18] mohanelango commented on #2834
@Sbrenthughes
"name":"zdfzcbx","collectorItems":{"SCM":[{"id":"5cb31732625743335980692c","enabled":true,"errors":[],"pushed":false,"collectorId":"5cb30a406257433451b72a42","lastUpdated":0,"options":

my last updated shows 0.. how to edit this and how to remove pending data collection in UI

[2019-04-15 08:12] mitunmbj opened #2835 "jira not fetching data"
2019-04-15 13:37:00,002 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-04-15 13:37:00,047 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-15 13:37:00,048 INFO  c.c.d.collector.CollectorTask - http://192.168.108.3:8080/
2019-04-15 13:37:00,048 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-15 13:37:00,048 INFO

[2019-04-15 08:38] sudhanshusr commented on #2821
Added LOGGER.info for url
o/p: http://pxjixxxx.atlassian.net/rest/agile/1.0/board?startAt=0
Verified above URL on the browser it is returning data.

Added LOGGER.info for responseBody
O/p: null

[2019-04-15 13:45] Sbrenthughes commented on #2835
Please see the documentation. You are missing the epic id field and the story id field:https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/feature/jira.md

[2019-04-15 13:48] Sbrenthughes commented on #2821
Can you see put a logger. info to see what the http response code is?

[2019-04-15 13:49] Sbrenthughes commented on #2834
LastUpdated Being 0 is why the pending update is happening. There maybe an issue with the collector not updating it.

[2019-04-15 13:53] Sbrenthughes commented on #2776
Closing as this is a duplicate of https://github.com/Hygieia/Hygieia/issues/2719. @chrisgallivan Please feel free to contribute back those changes. The community would appreciate it.

[2019-04-15 13:53] #2776 closed

[2019-04-15 17:20] Sbrenthughes commented on #2820
What command are you using to run the API?

[2019-04-15 17:21] Sbrenthughes commented on #2792
@yash4necro Thanks, I am hoping to get to this soon.

[2019-04-15 17:44] sudhanshusr commented on #2820
java -jar api.jar --spring.config.location=C:\Devops\Hygieia\Hygieia\api\target\api.properties

[2019-04-15 18:34] sudhanshusr commented on #2821
I have added LOGGER.info like this.

try {
                ResponseEntity<String> responseEntity = makeRestCall(url);
				LOGGER.info("Print " + url);
				String responseBody = responseEntity.getBody();
				LOGGER.info("Print" + responseBody);
                JSONObject teamsJson = (JSONObject) parser.parse(responseBody);

Can't find response code variable in the source code. Can you please help o

[2019-04-15 19:37] Sbrenthughes commented on #2820
I have replied to you on gitter.

[2019-04-16 06:55] lyndomiao commented on #2835
@Sbrenthughes if my Jira language is Chinese,there is  no Jira data in Hygieia.Can this issue be resolved?

[2019-04-16 14:26] JULIANCHO923 commented on #1464
Clear all cookies works to me :D

[2019-04-17 03:36] fidelcoria-aa commented on #2145
@venkiradkris so there is a collector named nfrr that calls api-audit endpoints and aggregates the JSON responses into mongoDB.
I looked in the UI repo but I did not see a widget for audit. @nireeshT is audit widget on the roadmap?

[2019-04-17 06:56] yong86 commented on #2835
@lyndomiao It doesn't depend on the language, but the results of the JQL.
For example: try to run this Get request after adding the epic id field and the story id to check the returned data in case you are using the board as team:

(http://jiraurl/rest/agile/1.0/board/1/issue?jql=issueType in ('Story') and updatedDate=your [date&fields=id,key,issuetype,status,summary,created,updated,project,issuel

[2019-04-17 12:39] Sbrenthughes commented on #2835
For that issue we would need an external contributor to help.

[2019-04-17 12:40] Sbrenthughes commented on #2827
@hvvit any update here?

[2019-04-17 12:55] yong86 commented on #2835
@Sbrenthughes I faced the same issue and by adding the epic id field and the story id, I get it to work.
you should update the application.properties in Jira collector with the below data for the people to not get confused:
feature.jiraStoryIds[0]=
feature.jiraStoryIds[1]=
feature.jiraEpicId=

Thanks

[2019-04-17 13:18] hvvit commented on #2835
@yong86 what should I search for when going to jira.com/rest/api/2/issueType
either should i search for "story" then its representative ID...any idea...

[2019-04-17 13:38] hvvit commented on #2827
[{"self":"https:/xxxxxxxxxxxxxxxx/rest/api/2/issuetype/3","id":"3","description":"A task that needs to be done.","iconUrl":"https://xxxxxxxxxxxxxxxxxxxxxxxx/secure/viewavatar?size=xsmall&avatarId=10318&avatarType=issuetype","name":"Task","subtask":false,"avatarId":10318},{"self":"https:/xxxxxxxxxxxxxxxx/rest/api/2/issuetype/5","id":"5","description":"The sub-task of the issue","iconUrl":"https://x

[2019-04-17 13:53] Sbrenthughes commented on #2823
I can see your password in the log. This means that you didn't set the key in the API properties file before saving the repo on the UI. If you had the password wouldn't be in plain text.

[2019-04-17 13:53] #2823 closed

[2019-04-17 13:54] Sbrenthughes commented on #2820
`- {password=, personalAccessToken=ERROR, branch=to-shared-cluster, userID=, url=https://github.com/xxxxxxx-ds/maxxxxx-geo-coding}::to-shared-cluster:: get commits`. `personalAccessToken=ERROR` is your issue here.

[2019-04-17 13:59] yong86 commented on #2835
@hvvit  let us say that you have two issue types called story & feature
what you will get from the api as below:
{"self":"http://localhost:8080/rest/api/2/issuetype/10200","id":"10200","description":"","iconUrl":"http://localhost:8080/secure/viewavatar?size=xsmall&avatarId=10300&avatarType=issuetype","name":"Feature","subtask":false,"avatarId":10300},
{"self":"http://localhost:8080/rest/api/2/issu

[2019-04-17 16:24] Sbrenthughes commented on #2835
Can you make a PR to do this? The documentation has already been updated to reflect this change.

[2019-04-17 16:29] Sbrenthughes commented on #2827
When you make the changes `feature.jiraStoryIds[0]=10001 & feature.jiraEpicId=10000` what do you see in the logs?

[2019-04-17 16:33] Sbrenthughes commented on #2827
Can you paste this url in the browser `https://[your-jira-domain-name]/rest/api/2/issue/[some-issue-name]` for an issue, scrub the data clean of any company specific information and then paste the response here

[2019-04-17 18:08] Sbrenthughes commented on #2791
When I look at the override.yml it should be `github-collector:` not `hygieia-github-scm-collector:`

[2019-04-18 08:26] yong86 commented on #2835
@Sbrenthughes sure, I will make it.

[2019-04-18 11:30] anayyadav opened #2836 "Hygieia Product Dashboard Issue"
Hi friends,
I am trying to configure product dashboard in Hygieia. I am having an issue in displaying the data in product dashboard.

![Capture](https://user-images.githubusercontent.com/22302511/56358124-3cef0c80-61cd-11e9-9ec0-bdb9e8e3ac6b.PNG)

I request you to please help me in fixing this issue.

[2019-04-18 11:33] sudhanshusr commented on #2820
19-04-18 16:55:00,034 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-18 16:55:00,034 INFO  c.c.d.collector.CollectorTask - Starting...
2019-04-18 16:55:00,035 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-18 16:55:00,287 INFO  c.c.d.collector.GitHubCollectorTask - {password=, personalAccessToken=/jou92BTu8Sxxxxxxxxxxxxxxxxxxxxt

[2019-04-18 15:16] Sbrenthughes commented on #2836
How are you getting your build data?

[2019-04-18 19:09] fidelcoria-aa opened #2838 "Future for api-audit and nfrr collector"
related issues (closed without satisfying answer)
#2133
#2145

I looked through the UI code and did not see an "nfrr" widget. Is this the vision?
What is the end user UseCase for audit and nfrr? Is the intention for users to create their own clients for api-audit?

Thanks

[2019-04-18 19:20] Sbrenthughes commented on #2838
Currently, yes, the end user is expected to consume that information outside of Hygieia. We currently don't have any plans to expose that data via the Hygieia UI. If someone provides a PR for those changes we'd be willing to review/ merge.

[2019-04-18 20:06] stevegal commented on #2792
If you output your jacoco report in xml it'll load.

[2019-04-19 05:26] JULIANCHO923 opened #2839 "API not able to login using LDAP authentication"
Hello, I am trying to use the next configuration for api.properties
***********************************
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=127.0.0.1
dbport=27017
dbreplicaset=false
dbhostport=[localhost:27017,127.0.0.1:27017]
server.contextPath=/api
server.port=8085
logging.level.com.capitalone.dashboard=DEBUG

auth.authenticationProviders=LDAP,STANDARD
auth.l

[2019-04-19 06:50] anayyadav commented on #2836
I am getting my build data from Jenkins. And I can see the build metric in Team dashboard.

[2019-04-19 10:23] #2838 closed

[2019-04-19 16:25] #2758 closed

[2019-04-19 16:28] Sbrenthughes commented on #2601
Closing due to inactivity. Please reopen if further assistance is required

[2019-04-19 16:28] #2601 closed

[2019-04-19 16:32] Sbrenthughes commented on #2371
@bryan0817 the proper fix might be to add a flag in the properties file that is used to skip this logic if the rate limit isn't enabled for a users instance of Github. Is that something you can contribute?

[2019-04-19 16:36] Sbrenthughes commented on #1147
Since there has been no activity here I am closing this. Reopen with more detail if this is still needed.

[2019-04-19 16:36] #1147 closed

[2019-04-22 07:25] alekya123 commented on #2416
Hi caiohcl
could you please provide the whole working curl command. so that it will be useful for me.

[2019-04-22 07:27] anayyadav opened #2841 "Udeploy collector Error"
Hi Friends,

I have configured Udeploy collector for IBM-UCD and It is working fine. But I am having an issue which is Udeploy is not pulling the data for some application and for some application it is working fine.

Even in logs I am not getting any error.

Any idea why this is happening?

NOTE: IBM-UCD version is matching 6.2.*

[2019-04-22 17:48] Sbrenthughes commented on #2836
1) Are you using plugin or collector?
2) How are you doing an scm check out in jenkins?

[2019-04-22 18:09] Sbrenthughes commented on #2829
Did you install Hygieia-core first without any issues?

[2019-04-22 18:09] Sbrenthughes commented on #2821
We have resolved the null pointer. It had to do with you using http instead of https. I am closing this issue.

[2019-04-22 18:09] #2821 closed

[2019-04-22 18:10] Sbrenthughes commented on #2827
@hvvit any update here?

[2019-04-22 18:19] Sbrenthughes commented on #2724
@buradeshruti any update?

[2019-04-22 18:46] Sbrenthughes commented on #2809
Closing due to inactivity. Reopen if you require further assistance

[2019-04-22 18:46] #2809 closed

[2019-04-22 18:51] rvema commented on #2815
Currently we have tested Hygieia with Mongo v3.4. We are yet to check the compatibility with 4.x, Is it possible for you to use Mongo3.4?

[2019-04-22 18:51] pavankjadda commented on #2829
Yes

[2019-04-22 18:52] Sbrenthughes commented on #1333
Please reopen if the feature is still needed.

[2019-04-22 18:52] #1333 closed

[2019-04-22 18:53] rvema commented on #2788
@ansha1 Currently we do not have collectors for fisheye and crucible. You are welcome to build a collector for these tools. Please see [Create a New Collector](https://hygieia.github.io/Hygieia/create_collector.html)

[2019-04-22 18:53] #2788 closed

[2019-04-22 18:55] Sbrenthughes commented on #1203
There isn't a way as far as I am aware. We would need the community to contribute this functionality.

[2019-04-22 18:55] #1203 closed

[2019-04-22 19:07] mySphere commented on #2815
Oh didn’t realize Mongodb “version” could be the issue.  Trying a fresh install of 4.0 to see if it works, otherwise will install 3.4 next.  I have spent a lot of time debugging several issues with 4.0 - is the version specific issue/resolution noted anywhere, git or elsewhere?  Maybe I missed a note that Hygieia currently works or is tested with 3.4 only.

Thanks for your response.

[2019-04-22 22:40] Sbrenthughes commented on #2829
Have you tried without “package” at the end?

[2019-04-23 06:23] mitunmbj commented on #2827
brother you are the right one providing solutions can u please provide ur property file
and say me the step by step ways to get right customfield ids

[2019-04-23 06:23] mitunmbj commented on #2827
@Sbrenthughes please read above

[2019-04-23 06:24] mitunmbj commented on #2827
@i configured rest collectors and it works fine except jira

[2019-04-23 06:26] mitunmbj commented on #2827
dbname=admin
dbhost=localhost
dbport=27017
dbreplicaset=false
dbhostport=[host1:port1]
dbusername=admin123
dbpassword=password
logging.file=./logs/jira.log
feature.pageSize=50
feature.deltaStartDate=2016-03-01T00:00:00.000000
feature.masterStartDate=2016-03-01T00:00:00.000000
feature.deltaCollectorItemStartDate=2016-03-01T00:00:00.000000
feature.cron=0 * * * * *
feature.queryFolder=jiraapi-queries

[2019-04-23 06:28] mitunmbj commented on #2827
2019-04-23 11:48:00,001 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-04-23 11:48:00,124 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-23 11:48:00,125 INFO  c.c.d.collector.CollectorTask - https://mitunmbj.atlassian.net/
2019-04-23 11:48:00,132 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-23 11:48:00,133

[2019-04-23 13:46] ojasvijagtap commented on #2075
Any updates on this request?

I am able to collect data from artifactory, however not able to use it on dashboard.

[2019-04-23 13:52] ojasvijagtap opened #2845 "Hygieia Integration with Artifactory - Product dashboard"
MarkRx replied on issues - Hygieia Integration with Artifactory #1441,
"There currently is no UI for binary artifacts collection. At present that collection is only used by the product dashboard."
Can someone please elaborate more on how to use/configure product dashboard to display artifact data?

[2019-04-23 14:05] mySphere opened #2846 "SASL SCRAM-SHA-1 authentication failed for dashboarduser on dashboarddb from client"
I am getting an error after reverting back from mongodb 4.0 to 3.4, as suggested here.  I validated that the user exists and is able to authenticate (using mongod and then mongo...).

SASL SCRAM-SHA-1 authentication failed for dashboarduser on dashboarddb from client XX.XX.XX.XX:XXXXX; UserNotFound: Could not find user dashboarduser@dashboarddb

Also, seeing the below error in logs:  (could the is

[2019-04-23 14:23] Sbrenthughes commented on #2815
Closing this since you have opened a new issue.

[2019-04-23 14:23] #2815 closed

[2019-04-23 14:59] Sbrenthughes commented on #2827
For each of these `feature.jiraIssueTypeNames=Story,Bug,Task,Sub-Task,Epic` you need to go to `https://[your-jira-domain-name]/rest/api/2/issuetype` in your browser and get each of their ids. Next you need to add them to the properties file:
[code]
I am not sure where you found to do `feature.jiraStoryIds[0]=customfield_10001`
`feature.jiraEpicId=customfield_10000`.  Can you show me where you foun

[2019-04-23 15:26] user20170 commented on #2832
Can someone explain what data the environment columns use to correlate with commit and build column's data?

I believe here is the scenario many people would tend to use
* Commit data **pulled** successfully from Github **collector**.
* 1. Build data **pulled** successfully from Jenkins **collector**.  - OR -
* 2. Build data **pushed** successfully from Jenkins through Hygieia **plugin** installed

[2019-04-23 15:28] user20170 commented on #2836
I believe this issue is similar to https://github.com/Hygieia/Hygieia/issues/2832 and I posted a [comment](https://github.com/Hygieia/Hygieia/issues/2832#issuecomment-485852391) there.

[2019-04-23 15:40] pavankjadda commented on #2829
Quick question. Hygieia core downloaded into Hygieia-core directory and packaged using `$ mvn clean install package` and Hygieia downloaded into Hygieia. Do we need to combine both? How does packaging Hygieia-core help Hygieia? What's the directory for both?

[2019-04-23 15:40] pavankjadda commented on #2829
Yes. Same error

[2019-04-23 15:44] user20170 commented on #2834
Few suggestions:

1. The error threshold in collector property file is too low. Network is never perfect IMHO. I set it to 100. https://github.com/Hygieia/Hygieia/blob/master/collectors/scm/github/docker/properties-builder.sh#L26

2. I added more info about the error by changing `repo.getRepoUrl()` to `ex.getMessage()+" : "+repo.getRepoUrl()` in the exception handlers in https://github.com/Hygieia

[2019-04-23 16:59] chtompki commented on #2829
That class file comes from the `rt.jar` that ships with java. What compiler are you using?

[2019-04-23 17:18] gopiprasanthpotipireddy opened #2848 "is there any widget to show selenium or any test results?"

[2019-04-23 17:56] mitunmbj commented on #2827
thanks for quick reply brother
2019-04-23 23:13:00,273 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-23 23:13:00,274 INFO  c.c.d.collector.CollectorTask - https://mitunmbj.atlassian.net/
2019-04-23 23:13:00,274 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-23 23:13:00,418 INFO  c.c.d.collector.FeatureCollectorTask - JIRA Colle

[2019-04-23 18:02] rvema commented on #2763
@aaron-dsouza @poojithkumar Can you provide more details for the above issue?

[2019-04-23 18:03] rvema commented on #2743
@varshinichowdary27 and @sundeepk1 are you still having an issue with the above?

[2019-04-23 18:14] mitunmbj commented on #2827
brother do you need my property file

[2019-04-23 18:19] mitunmbj commented on #2827
i provided the ids now its showing
2019-04-23 23:45:00,005 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-04-23 23:45:00,220 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-23 23:45:00,220 INFO  c.c.d.collector.CollectorTask - https://mitunmbj.atlassian.net/
2019-04-23 23:45:00,220 INFO  c.c.d.collector.CollectorTask - -------------------------

[2019-04-23 18:29] mitunmbj commented on #2827
dbname=admin

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
dbhostport=[host1:port1,host2:port2,host3:port3]

# Database Username - default is blank
dbusername=admin123

# Database Password - default is blank
dbpassword=password

# Logging File location
logging.file=./logs/jira.log

# PageSize -

[2019-04-23 18:32] mitunmbj commented on #2827
expecting your fast reply

[2019-04-23 18:45] mitunmbj commented on #2827
brother i just removed credentials and ran it as per norms the error should have came unauthorized but the collocter not showing such errors and running like this every time
2019-04-24 00:10:00,287 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-24 00:10:00,287 INFO  c.c.d.collector.CollectorTask - https://mitunmbj.atlassian.net/
2019-04-24 00:10:00,287 INFO  c.c.

[2019-04-23 20:37] Sbrenthughes commented on #2827
`eature.jiraIssueTypeNames=Story,Bug,Task,Sub-Task,Epic` needs to be added back

[2019-04-23 23:35] pavankjadda commented on #2829
maven

[2019-04-23 23:50] rvema commented on #2829
can you run `java -version` and let us know what you see? Also do you have a environment variable named `JAVA_HOME` setup? if so please provide information regarding the same.

[2019-04-24 05:21] mitunmbj commented on #2827
brother still the same type of output

[2019-04-24 06:42] mitunmbj commented on #2827
It is not hitting the url even if i given password wron it should have shown unauthorized but it is comming as it as same error

[2019-04-24 11:11] mitunmbj commented on #2827
@Sbrenthughes plz do reply bro......
2019-04-24 16:37:00,469 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-24 16:37:00,470 INFO  c.c.d.collector.CollectorTask - https://mitunmbj.atlassian.net/
2019-04-24 16:37:00,470 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-24 16:37:00,557 INFO  c.c.d.collector.FeatureCollectorTask - JIRA

[2019-04-24 11:11] mitunmbj commented on #2827
if is pasted the url it shows the data but jira collector not fetching it bro

[2019-04-24 11:15] mitunmbj opened #2849 "How to give JIRA CLOUD credentials ....it is not accepting xxxxxx@gmail.com:password so how to get basic authentication"
2019-04-24 16:44:00,005 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-04-24 16:44:00,037 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-24 16:44:00,037 INFO  c.c.d.collector.CollectorTask - https://mitunmbj.atlassian.net/
2019-04-24 16:44:00,037 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-04-24 16:44:00,037

[2019-04-24 11:15] mitunmbj commented on #2849
my property file

dbname=admin
dbhost=localhost
dbport=27017
dbreplicaset=false
dbhostport=[host1:port1,host2:port2,host3:port3]
dbusername=admin123
dbpassword=password
logging.file=./logs/jira.log
feature.pageSize=50
feature.deltaStartDate=2019-03-01T00:00:00.000000
feature.masterStartDate=2019-03-01T00:00:00.000000
feature.deltaCollectorItemStartDate=2019-03-01T00:00:00.000000
feature.cron=0 * *

[2019-04-24 11:20] mitunmbj commented on #2849
**if i pasted and ran https://mitunmbj.atlassian.net/rest/agile/1.0/board?startAt=0 it show the correct data**

{"maxResults":50,"startAt":0,"total":2,"isLast":true,"values":[{"id":3,"self":"https://mitunmbj.atlassian.net/rest/agile/1.0/board/3","name":"HYG board","type":"scrum","location":{"projectId":10002,"displayName":"Hygieia (HYG)","projectName":"Hygieia","projectKey":"HYG","projectTypeKey":

[2019-04-24 11:20] mitunmbj commented on #2849
**But jira collector fails to bring information**

[2019-04-24 11:25] Blessie7 opened #2850 "Jenkins Hygieia publisher is not pushing deployment data to Hygieia"
Hi, I am using jenkins hygieia publisher plugin to push build and deploy data to Hygieia. I am able to see build data populated in Hygieia but not the deployment data. Request your help in resolving the issue.

[2019-04-24 11:35] rvema commented on #2850
Can you let me know the syntax you used in your pipeline code?

[2019-04-24 11:38] Blessie7 commented on #2850
I am using a freestyle job in Jenkins. I have configured all the parameters according to documentation available.

[2019-04-24 11:58] rvema commented on #2850
Did you configure the plugin via Global settings in Jenkins? If so at this point we support build, sonar and custom reflex patterns for collectors. Can you post a screenshot of the configuration just to confirm if we are on the same page.

[2019-04-24 12:09] Blessie7 commented on #2850
Yes, I have configured the plugin on configure system page and the connection test on the endpoint was successful. Hence I was able to see build results in Hygieia. For sonar, I am using collector. We are not allowed to use API of UCD. So I want to go with the Jenkins Hygiea publisher for configuring deploy widget.
Below is the configuration in Jenkins:
I have checked Publish deployment results an

[2019-04-24 13:54] Sbrenthughes commented on #2849
Did you generate jiraCredentials using `echo -n username:password | base64`?

[2019-04-24 14:59] pavankjadda commented on #2829
Thanks for asking me that. I have `Java 11` and `Java 8` installed on macOS and I used `jenv` to change the default version to Java 8. For some reason, my terminal took Java 11 as the default version. Changing default Java version to Java 8 solved my issue. I am not sure if Hygieia is compatible with Java 11. Thanks anyway.

[2019-04-24 14:59] #2829 closed

[2019-04-24 16:58] caiohcl commented on #2416
Hey @alekya123
Following the curl command I've been using. It creates a brand new team dashboard, adding Build, Deploy, Code Quality (sonar), Jira and Bitbucket widgets.

`curl -X POST --header 'Content-Type: application/json' --header 'apiUser: <apiUser>' --header 'Authorization: apiToken <apiToken>'  --header 'Accept: application/json' -d '{
  "buildEntries": [
    {
      "description": "<jenki

[2019-04-24 18:17] Booma-Baskaran opened #2853 "Remote dashboard creation 401 Unauthorized error"
Hi,

I am trying to automate the dashboard creation using Hygieia API by making http://localhost:8080/api/dashboard/remoteCreate POST call. Below are the responses from swagger and Postman,

Swagger:
![image](https://user-images.githubusercontent.com/36442233/56682993-4e835900-6692-11e9-826d-d1cba80db044.png)

Postman:
I have generated the API Token using Admin menu and then did base64 encoding th

[2019-04-25 03:38] sundeepk1 commented on #2743
I am not sure as what caused the error, Below were the steps that I took to have a successful build.

1. Deleted the directory
2. removed the installed java version
3. installed openjdk-8-jdk and openjdk-8-jre
4. cloned the repo again
5. ran the mvn build commands

this time it was successful .

[2019-04-25 04:05] Blessie7 commented on #2839
I am facing the same issue. Any help please...?

[2019-04-25 05:23] mitunmbj commented on #2849
@Sbrenthughes i made collector by using jira at local it has ordinary password so it was easy to crack .....well in jira web to login attlassian im using gmail and my own password how to change it as basic authentication

[2019-04-25 06:18] sundeepk1 commented on #1916
this issue is occurring again and again .. some help in fixing this would be of great help . I have tried to rebuild the code multiple times and everytime the API is okay however unable to login after user creation part.

It reopens the login page again and again

[2019-04-25 06:20] Blessie7 commented on #2850
Here is the log in Jenkins
Hygieia: Automatically publishing build data to Hygieia using hygieia-publisher version 2.1.9-SNAPSHOT (private-ae661508-root), Please refresh your browser to see the status.
Hygieia: Auto Published Build Complete Data. Response Code: 201. 5cc04385f2896743bcfd11e7,5cc03ef4f2896743bcfd11e2
Hygieia: Auto Published Sonar Result. Nothing to publish
Hygieia: *** Hygieia publi

[2019-04-25 06:20] sundeepk1 commented on #1737
I am also getting the same error, @vishnuvangala were you able to fix this. If yes then can you please help me to fix this issue

[2019-04-25 06:29] vishnuvangala commented on #1737
@sundeepk1
I'm not getting this error anymore. I have configured only minimum required properties in api and restarted it and I don't see any issue now.
One thing you need to note is.. whenever you restart api.. we should clear cache/history from browser and try to open the page again and relogin. otherwise.. you might see some errors in logs and you'll not be able to login.
Also, just check this

[2019-04-25 06:56] sundeepk1 commented on #2308
@rvema I've setup the config as said in the doc, yet it fails to login, it loops the login page and again. Tried incognito too , cleanup of cookies etc no luck .. Can you please guide me

[2019-04-25 07:00] sundeepk1 commented on #1564
cleaning of cookies is not working for me .. any suggestions

[2019-04-25 07:17] sundeepk1 commented on #1609
this issue seems to be faced by many users . can someone from the Hygieia community guide in order to fix. I am willing to solve this, however, need guidance as to where to look for the problem. (very limited java knowledge)

[2019-04-25 11:57] rvema commented on #2853
Can you check if the admin token was created in the Mongo DB?

[2019-04-25 12:09] rvema commented on #2848
Are you populating test_results collection through a collector or by api?

[2019-04-25 12:13] rvema commented on #2850
@Blessie7 The jenkins log output you have shown is from the auto configuration i.e. from Global preferences (This capability currently takes care of Build, Sonar and Custom Regex patterns). Can you search for other references of Hygieia in the jenkins log?

[2019-04-25 12:17] rvema commented on #2806
@vishalraina Can you update the docker documentation so that @mySphere can resolve this issue?

[2019-04-25 13:15] Blessie7 commented on #2850
I can see the logs of only build data being published. No traces of deployment data.

[2019-04-25 13:20] Blessie7 commented on #2850
I have checked the option to Publish Deployment Results. Not sure why Jenkins isn't pushing the results to Hygieia.

I am not using udeploy collector.

Please let me know if I need to do any additional configuration in Jenkins/Hygieia.

[2019-04-25 13:42] chtompki opened #2854 "delete subversion-collector from the repository"
Now that we have the https://github.com/Hygieia/hygieia-subversion-scm-collector and that it's released with `3.0.2`, we can delete the component from this project.

[2019-04-25 13:57] Sbrenthughes commented on #2850
I have found that if the global plugin is turned on you cannot use these steps.

[2019-04-25 14:14] Blessie7 commented on #2850
Thanks for your prompt response. So, in order to get the publisher plugin working, global settings should be disabled? I assume this is the settings in Configure System page on Jenkins, where we provide the Hygieia server url, UI url and auth token.

[2019-04-25 14:17] #2854 closed

[2019-04-25 14:40] Sbrenthughes commented on #2849
If you are able to generate an API token. See https://developer.atlassian.com/cloud/jira/platform/jira-rest-api-basic-authentication/, Looking at the `Supplying basic auth headers` section.

[2019-04-25 15:19] Sbrenthughes commented on #2850
Yes, that is correct. Another option is to switch to Jenkinsfile and use the publish steps. The global push could be left enabled doing this.

[2019-04-25 15:37] Sbrenthughes commented on #2839
When I connect to LDAP i am only supplying:
[code]

[2019-04-25 15:45] Booma-Baskaran commented on #2853
Yes. 'apitoken' collection has the apiUser, apiKey and expirationDt.

[2019-04-25 16:38] JULIANCHO923 commented on #2839
I changed the  configuration like you say @Sbrenthughes
This is the configuration on api.properties
********************************************** ******
auth.expirationTime=6000000
auth.secret=trB2EOD++DjyWGcVqHii8tZSx20900qe
logging.level.com.capitalone.dashboard=DEBUG
auth.authenticationProviders=LDAP,STANDARD

auth.adDomain=company.com
auth.adRootDn=cn={employee's full name},ou=city,dc=company

[2019-04-25 17:39] Sbrenthughes commented on #2609
@vishnuvangala @murugaops I have a fix for this. Would you be willing to test?

[2019-04-25 18:19] Sbrenthughes commented on #2853
what command did you use to encode the token?

[2019-04-25 18:24] Sbrenthughes commented on #2846
What command are you running mongo with?

[2019-04-25 18:24] #2835 closed

[2019-04-25 18:41] Booma-Baskaran commented on #2853
Nope. Using Base64 Encode in the Notepad++ by going to the Plugin commands option since I use Windows10.

![ApiToken-Base64Encoding](https://user-images.githubusercontent.com/36442233/56759962-c23f6780-675f-11e9-9eeb-1d731e4382c8.jpg)

[2019-04-26 02:13] sundeepk1 commented on #1737
thanks @vishnuvangala I will be checking it out today and confirm here

[2019-04-26 05:12] Blessie7 commented on #1333
Commit data from Subversion is not being displayed in Product dashboard - Has this been resolved? Any update on this please?

[2019-04-26 05:15] Blessie7 commented on #2850
@rvema @Sbrenthughes Thank you so much for your support. I am able to see the deployment data in Hygieia now.

[2019-04-26 06:45] vishnuvangala commented on #2609
@Sbrenthughes  Please let me know.. I'm happy to test. I'll try to get some time next week for this.

[2019-04-26 07:59] mitunmbj commented on #2849
@Sbrenthughes i found it
echo -n xxxxxxxxx@gmail.com:<the api token generated at atlassian> | base64
and it done for me
and i am closing the issue now

[2019-04-26 08:00] #2849 closed

[2019-04-26 10:11] mohanelango commented on #2850
Hi,
Can anyone help me how to create properties file for hygieia jenkins collectors. Sample  properties would be a great help..

[2019-04-26 11:59] Blessie7 commented on #2839
I am getting the same error:

 ERROR o.s.s.l.a.a.ActiveDirectoryLdapAuthenticationProvi                                                                                        der - Failed to locate directory entry for authenticated user: username
javax.naming.NameNotFoundException: [LDAP: error code 32 - 0000208D: NameErr: DS

[2019-04-26 13:15] Sbrenthughes commented on #2609
Can you reach out to me on gitter?

[2019-04-26 13:22] Sbrenthughes commented on #2853
Can you try using `PasswordIsAuthToken:{\"apiKey\":\"<your_token>\"}` when you do this?

[2019-04-26 13:23] Sbrenthughes commented on #2850
@mohanelango Please open a new issue this one is not related to the collector.

[2019-04-26 13:23] #2850 closed

[2019-04-26 14:49] anillingutla commented on #2823
API.PROPERTIES has the API KEY.. Project is saved and built.. and also .. below in application.properties in Bitbucket collector...

Bitbucket key for private repo
bitbucket.key=5tUlV9BGJfQsqONURv4BlO8xZD1h+w4T
bitbucket.personalAccessToken=MTgxODg5OTY1NzY2OjW8ETy2wVOWOEsaWRNRZn4Mw

[2019-04-26 14:52] anillingutla commented on #2823
API KEY IN API.PROPERTIES

# API token generated for basic authentication to secure APIs.
key=pKikKWIZeqf4mFtiRm7I6umoH9o9axbV

[2019-04-26 14:54] anillingutla commented on #2823
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=localhost
dbport=27017
dbreplicaset=false
dbhostport=localhost:27017
server.contextPath=/api
server.port=8080
logRequest=true
logSplunkRequest=false
corsEnabled=false
version.number=1.0
# API token generated for basic authentication to secure APIs.
key=pKikKWIZeqf4mFtiRm7I6umoH9o9axbV

[2019-04-26 15:23] JULIANCHO923 commented on #2839
Oh and I forget. After of this error, appers this

![image](https://user-images.githubusercontent.com/5598534/56818449-426fd680-680d-11e9-97ec-1eb357818294.png)

[2019-04-26 16:33] Booma-Baskaran commented on #2853
Yes. I have done the same. I already have generated the apiToken by encoding PasswordIsAuthToken:{"apiKey":"<your_token>"} but still no luck. Is there any way to ignore apiToken?

[2019-04-26 17:47] Sbrenthughes commented on #2853
I am not sure why you want wan't insecure apis manipulating data? You could also try doing the java route for encoding https://hygieia.github.io/Hygieia/api.html#basic-authentication-for-secure-apis

[2019-04-26 18:20] mySphere commented on #2846
The first error (auth) got resolved as I believe it was related to where the property file needs to be placed.  Even though the property file that I had updated had dashboarddb, there was another property file saved in location hygieia/src/main/resources/, which has the dashboard as the db (which I don't recall putting one there but who knows after all the debugging changes...)

For the second err

[2019-04-26 22:04] #2819 closed

[2019-04-27 11:31] rvema commented on #2763
closing the issue due to inactivity

[2019-04-27 11:31] #2763 closed

[2019-04-27 11:32] rvema commented on #2743
Closing the issue as build was successful.

[2019-04-27 11:32] #2743 closed

[2019-04-27 11:34] rvema commented on #1637
@kumarvarun1252 : can you check if this is still an issue or needs to be addressed?

[2019-04-27 11:36] rvema commented on #2238
@anayyadav Is this still an issue?

[2019-04-27 11:40] rvema commented on #1846
@mandeepbal Currently we don`t have a collector for drone, Feel free to contribute by creating one by following the guidelines as mentioned in http://hygieia.github.io/Hygieia/create_collector.html

[2019-04-27 11:41] #1846 closed

[2019-04-27 18:20] vishalraina commented on #2806
@rvema I am working on the doing builds for Hygieia UI and API containers will update documentation for the same.

[2019-04-28 13:05] mySphere commented on #2846
This error seems to be related to spring mongoautoconfiguration discussed here - https://github.com/spring-projects/spring-boot/issues/4807

Can anyone confirm that is the case and if so how they got it resolved?

Jenkins Log:
-------------
Caused by: com.mongodb.MongoTimeoutException: Timed out after 30000 ms while waiting for a server that matches ReadPreferenceServerSelector{readPreference=prim

[2019-04-29 04:18] mitunmbj opened #2859 "jira collector fetching data but showing in UI"
I configured the jira both local and cloud for local its fetching data and showing it in UI whereas for cloud its fetching data but not showing it in UI

[2019-04-29 05:02] Blessie7 opened #2860 "Custom collector to fetch data from Pivotal Cloud Foundry"
Hi, We are looking for a custom collector that would fetch the data from Pivotal Cloud Foundry. Our requirement is to use the API endpoints similar to below to fetch details like  Version of application in each environment, status of services, application health, listener status, etc

1. Application version in each environment
API endpoint - http://<pcf-environment-url>/<application-name>/cloudfou

[2019-04-29 09:21] Blessie7 opened #2861 "Fix UI port in Hygieia"
Hi, Is there any way to fix the port that UI runs on? Port number keeps on increasing by 1(3000,3001,3002...), everytime I run the API and UI.

[2019-04-29 09:28] Blessie7 opened #2862 "How to run Hygieia API, UI and collectors as service"
Can we configure Hygieia to run as service on Linux machine which runs API, UI and all the required collectors?

[2019-04-29 10:47] rvema commented on #2862
Yes, we use it as a service and systemctl start/stop to control the execution.

[2019-04-29 10:52] Blessie7 commented on #2862
Could you please share any steps/documentation for this?

[2019-04-29 11:02] rvema commented on #2862
Sure, let me send the necessary information  in private message in Gitter. Also we will update the documentation to reflect the same

[2019-04-29 11:17] Blessie7 commented on #2862
Would wait for the information. Thanks you.

[2019-04-29 11:20] Blessie7 commented on #2839
I am still facing this issue.
05:08:22,304 ERROR o.s.s.l.a.a.ActiveDirectoryLdapAuthenticationProvider - Failed to locate directory entry for authenticated user: username
javax.naming.NameNotFoundException: [LDAP: error code 32 - 0000208D: NameErr: DSID-0310020A, problem 2001 (NO_OBJECT), data 0, best match of:
        'DC=xxx,DC=xxx,DC=xxx'

Any suggestions please?

[2019-04-29 13:01] Sbrenthughes commented on #2861
the port will change if there is already something running on said port.

[2019-04-29 16:30] nitingoyal8 opened #2863 "Bitbucket Collector not fetching any data"
Configured application.properties as per the document -

`
# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=127.0.0.1

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=false
dbhostport=127.0.0.1:27017

# Database Username - default is blank
dbusername=

# Database Password - default is blank
dbpassword=

# Collector schedule (r

[2019-04-29 16:41] mitunmbj commented on #2863
bro convert git api /rest/api/1.0 to /api/2.0/repositories
git.api=/api/2.0/repositories and give a try

[2019-04-29 16:46] mitunmbj opened #2864 "JIRA COLLECTER NOT FETCHING the (".....NEW DATA.....") Jira collector working fine but once i created new project in jira it is not fetching. Rather i have to clear the data in mongodb then it is fetching all the data freshly but it affects othe collectors and api....How to solve this"
In hygieia for example i configured jira and it brought all data and it also displayed it clearly in UI now i deleted the old one and created a new board and data but the UI only replicate the old data and showing the new data . when checked the MongoDB it is containing the old data whereas the the new data is not replacing the old data
WHAT TO DO.....EXPECTING SPEED REPLY
Thanks

[2019-04-29 17:04] Sbrenthughes commented on #2863
Do did you create a dashboard and add an SCM widget?

[2019-04-29 17:05] Sbrenthughes commented on #1564
Can you reach out via gitter? This issue has been closed.

[2019-04-29 17:08] Sbrenthughes commented on #2791
Closing due to inactivity

[2019-04-29 17:08] #2791 closed

[2019-04-29 17:12] Sbrenthughes commented on #2864
I am not able to follow what you are saying. Can give a little more detail about what exactly you are trying to do?

[2019-04-29 17:27] nitingoyal8 commented on #2863
@Sbrenthughes - thank you, it works, But its strange that all other collectors work differently.

[2019-04-29 17:27] #2863 closed

[2019-04-29 17:46] Sbrenthughes commented on #2860
Here is some documentation to get started. You can then take a look at the github collector to see further example of how to create a collector.
https://hygieia.github.io/Hygieia/create_collector.html

[2019-04-29 20:53] Sbrenthughes commented on #2863
Most collectors will not collect data for a widget until the widget is configured. However, some collectors need to pull certain pieces of data before they can be configured to collect anything specific.

That being said, please let me know of any collectors that pull all data by default. This type of pull is very inefficient when it comes to large amounts of data.

[2019-04-30 04:20] mitunmbj commented on #2864
@Sbrenthughes  the new data is not replacing the old data in database
example: I configured jira cloud and brings me data and shows metrics now
i cleared the previous data (like board team issues) in jira cloud and produced new data there
Now while im running the collector it still shows the old data and new data is not collected

[2019-04-30 07:01] divyachinna opened #2865 "need information about hygieia -bitbucket plugin"
Hi Team,
     In our organization you are using Hygieia  dashboards as a CD/CI pipeline views.But we had a requirement of having  Delivery Pipeline as bitbucket but  hygieia has CD as hygieia-jenkins plugin.Someone can help regarding this.

[2019-04-30 09:39] wwei1896 commented on #1333
Also want to know if the latest version can support Subversion Commit data in Product dashboard? I can not get data.

[2019-04-30 09:42] wwei1896 opened #2866 "Product Dashboard-can not support Subverion Commit data"
Hi,
I can not get the Subversion Commit data show in Product Dashboard, can you help check if it is support in the latest version?
![image](https://user-images.githubusercontent.com/46481026/56953509-500bc000-6b6f-11e9-9554-b4b8577d2955.png)

Thanks

[2019-04-30 13:02] gopiprasanthpotipireddy commented on #2848
yes i populated test_results collection for some other tool.how to show them in widget.

[2019-04-30 13:55] shishirchaturvedi commented on #2766
@chtompki I have filled up CLA forms but haven't received its web response. It was mentioned on the CLA for that for any future changes will be done through `OpenSource@Capitalone.com` so I have reached out that email. Unfortunately, I haven't received any response from them. Could you please look into it and help me track my CLA form. I need web response(final CLA copy) of my CLA form to review i

[2019-04-30 14:02] chtompki commented on #2766
yep...I'll follow up with them today.

[2019-04-30 14:27] hvvit commented on #2827
tried all the permutations and combinations...still ...changed customfields..,storyids...its able to pick board names and project names but it is not able to pick data

[2019-04-30 16:37] shishirchaturvedi commented on #2766
@chtompki Great. Thank you.

[2019-04-30 17:29] Sbrenthughes commented on #2827
@hvvit Please reach out to me directly on Gitter.

[2019-04-30 17:35] Sbrenthughes commented on #2866
Duplicate of https://github.com/Hygieia/Hygieia/issues/2347

[2019-04-30 17:35] #2866 closed

[2019-04-30 17:39] Sbrenthughes commented on #2864
If you stop the collector delete the board, then recreate it, and then recreate it the data will stay because the collector was not able to detect the boarding being deleted. But that should not stop the collector from collecting new data. What do the logs look like?

[2019-04-30 17:40] Sbrenthughes commented on #2859
Can you paste the logs of it collecting board data?

[2019-04-30 17:52] Sbrenthughes commented on #2848
You should be able to search for them under the Test Tab of the Quality widget

[2019-04-30 17:55] Sbrenthughes commented on #2832
What are you using to populate the next stage after build? Jenkins plugin? If so can you paste the plugin step you are using?

[2019-04-30 18:02] Sbrenthughes commented on #2865
For the build part of the pipeline you would need to send the data to hygieia in this format: https://github.com/Hygieia/Hygieia/issues/1022#issuecomment-268622925

[2019-05-01 11:40] divyachinna commented on #2865
**@Sbrenthughes**  Thanks.Is there any format of how hygieia-jenkins plugin is storing  data so that we can develop directly the pipeline collector.

[2019-05-01 12:45] ewh0005 opened #2867 "Nexus IQ NullPointerException Getting Username"
I am currently trying to configure and run the Nexus IQ collector for Hygieia, but I am currently getting the following error when the collector runs:

[code]

It looks to me like it is getting a NullPointer when trying to read the username, but I am including it in the config file:

[code]

(I have replaced my urls, credentials, ips, etc. with placeholder values).

It looks like it is finding my

[2019-05-01 14:52] Sbrenthughes commented on #2865
Again, see the link I posted. That is how you should store build data. First get that working before moving to the deployment steps.

[2019-05-01 21:38] Sbrenthughes commented on #2861
Is this issue still needed? @Blessie7

[2019-05-01 21:44] Sbrenthughes commented on #2853
@Booma-Baskaran Can you reach out to me on https://gitter.im/capitalone/Hygieia. I can work with you directly.

[2019-05-02 05:02] Blessie7 commented on #2861
After killing the gulp processes, I was able to run UI in 3000 port. Issue is no longer needed, thank you.

[2019-05-02 05:16] mitunmbj commented on #2864
@Sbrenthughes it will just show unauthorized as the collector matches the new data to the old one

[2019-05-02 12:37] mitunmbj commented on #2864
@Sbrenthughes I cannot configure 2 private at a same time in bitbucket

[2019-05-02 13:07] #2861 closed

[2019-05-02 13:08] Sbrenthughes commented on #2864
I am more confused. Is this about the JIra collector?

[2019-05-02 13:17] mitunmbj commented on #2864
fast reply plz

[2019-05-02 13:18] #2859 closed

[2019-05-02 13:20] Sbrenthughes commented on #2864
Do these comments relate to your issue?

[2019-05-02 13:28] Sbrenthughes commented on #2827
https://gitter.im/capitalone/Hygieia @hvvit

[2019-05-03 17:30] blaktek commented on #2854
I'm attempting to run the commands to put items into a docker image, and i'm running into this error..  I'm thinking because of this change?

"ERROR: build path /home/nix/work/hygiea/Hygieia/collectors/scm/subversion either does not exist, is not accessible, or is not a valid URL"

[2019-05-03 17:50] micahbhodge commented on #2201
This is a recurring issue that causes us to constantly launch incognito windows to view dashboards. Is there a fix for this issue or is it an accepted behavior?

[2019-05-04 05:55] gopiprasanthpotipireddy commented on #2848
for now unit tests

[2019-05-05 00:28] wwei1896 commented on #1333
@rob-miller-777 hi, can you help check if the commit data for subversion can be shown later? thanks a lot

[2019-05-05 02:02] wwei1896 commented on #1064
@nitin1706  hi, Nitin  is the 'Multiple widgets of same type'  feature can be supported on the latest version? When is the entry for the feature? thanks a lot!

[2019-05-06 01:55] ajayakumar-jayaraj opened #2873 "Hygieia cloud dashboard"
Do hygieia have support to create cloud view dashboard on GCP. Any documentation or roadmap available to support GCP. (Simmillar to AWS collector)

[2019-05-06 13:54] ewh0005 opened #2875 "Question: What database collection is deploy data stored in?"
Hello, I've got a quick question. I'm trying to find where in the MongoDB the data that is displayed in the deploy widget is stored. Can someone point me towards the correct collection in the database?

[2019-05-06 14:03] rvema commented on #2875
`environment_components` and `environment_status`

[2019-05-06 14:05] rvema commented on #2873
@ajayakumar-jayaraj we do not have the support as of now, However if you have time you can create a collector for populating Data from GCP. The instructions to create a collector can be found at https://hygieia.github.io/Hygieia/create_collector.html

[2019-05-06 14:10] ewh0005 commented on #2875
Thanks!

[2019-05-06 14:10] #2875 closed

[2019-05-06 14:31] #2873 closed

[2019-05-06 14:53] ajayakumar-jayaraj opened #2876 "unable to create admin user"
unable to create admin user from console, api connectivity is green , updated the auth setttings as below , still getting auth error , not sure what if i am  missing , any help on this- name: AUTH_EXPIRATION_TIME
value: "7200000"
    - name: AUTH_AUTHENTICATION_PROVIDERS
      value: STANDARD
    - name: AUTH_SECRET
      value: *****

error: "Unauthorized"
message: "Full authentication is require

[2019-05-06 14:56] rvema commented on #2876
What headers are you passing in?

[2019-05-06 20:28] cjchand opened #2877 "Unable to get services to auth against "admin" DB in Mongo; uses Hygieia's DB, instead"
Problem: When attempting to rehome to a new MongoDB, it fails to authenticate. Sniffer capture shows it is not using the `admin` DB in Mongo to authenticate, rather it is trying to auth against the DB where Hygieia will be storing its data.

Relevant log excerpt:
[code]

... where `REDACTED_DB_NAME` is the name of the DB that Hygieia will store its data, should it be able to auth... which is the s

[2019-05-06 20:29] cjchand commented on #2877
I should mention that I can take the same setup and point it to a single-box Mongo where I added the user per the directions (e.g.: user lives in the same DB as Hygieia's data) and that works fine.

[2019-05-06 21:28] rvema commented on #2877
@cjchand Can you help me understand what is your requirement?

[2019-05-06 22:25] cjchand commented on #2877
@rvema Sure!

It is very common practice in Mongo to build users in the `admin` DB, not the DB where the data lives. This means when you go to authenticate to Mongo, you do so against the admin DB and not the DB for Hygieia.

In fact, there is a Spring property for this: [spring.data.mongodb.authentication-database](https://docs.spring.io/spring-boot/docs/1.3.0.RELEASE/reference/html/common-applic

[2019-05-07 12:07] mitunmbj commented on #2876
go to database

switch to admin database (# use admin)

u will be switched to admindatabase

db.createUser(
{	user: "dashboarduser",
	pwd: "dbpassword",

	roles:[{role: "userAdminAnyDatabase" , db:"admin"}]})

create admin user

and now on create all property file based on this
dbname=admin
dbuser=dashboarduser
dbpassword=dbpassword

[2019-05-07 12:10] mitunmbj commented on #2864
cleared it by feature.refreshTeamAndProjectHours=1
for each one hour by re running collector it is bring data

[2019-05-07 12:11] #2864 closed

[2019-05-07 12:11] mitunmbj opened #2878 "HOW TO CREATE A SELENIUM COLLECTOR"
Can some one share some ideas on **how to create a selenium collector**

[2019-05-07 21:42] stevegal commented on #2878
If you output your selenium test results in one of the supported formats it should be able to be collected from Jenkins plugins or an appropriate collector. I’d probably output in junit xml output and use the code quality Jenkins plugin where the results would appear in that section, but if you want the results in the functional test area then just get your selenium test results to be in a format

[2019-05-08 20:27] zerolaser commented on #2424
@arunmk108 any update why these `\n` were thrown frequently ?

[2019-05-09 07:44] wwei1896 opened #2882 "Can Hygieia also support Nexus Repository?"
I am using Nexus OSS Repository as the artifacts store tool.
Can Hygieia also support to get collector data of Nexus OSS Repository beside JFrog Artifactory.

Thanks

[2019-05-09 10:21] Blessie7 commented on #2862
Hi @rvema
Request you to share the documentation.
Thanks.

[2019-05-09 10:27] Blessie7 opened #2883 "Error while fetching data from Rally"
Hi,
I am facing an issue in fetching data from Rally using the Rally collector. Below is the error message:

2019-05-09 06:20:00,635 ERROR c.c.d.collector.RallyCollectorTask - Error fetching data for the instance URL :https://rally.com
org.springframework.web.client.HttpClientErrorException: 401 SSO Redirection !

Request your help in resolving the issue.

[2019-05-09 10:43] Blessie7 commented on #2883
Here is how my Rally widget shows up after running the collector.

![image](https://user-images.githubusercontent.com/20610136/57447667-33f5d600-7275-11e9-8500-8a570c390b5d.png)

Not able to see any Projects in the ProjectName field

[2019-05-09 14:20] Sbrenthughes commented on #2883
`401 SSO Redirection` the collectors do not handle this.

[2019-05-09 14:22] Sbrenthughes commented on #2882
Hygieia can be integrated with any tool. All you need to do is build the collector.

[2019-05-09 15:10] #2574 closed

[2019-05-09 15:50] ojasvijagtap commented on #2662
@shishirchaturvedi @Sbrenthughes  did you get chance to check on this?
We are waiting for your changes to pull.
Thanks in advance.

[2019-05-09 16:27] Sbrenthughes commented on #2662
Still waiting for @shishirchaturvedi response

[2019-05-09 17:40] shishirchaturvedi commented on #2662
@Sbrenthughes I am blocked on this issue: https://github.com/Hygieia/Hygieia/issues/2766
I will finalize my PR after CLA is review is complete.

[2019-05-09 20:40] zerolaser commented on #659
@satishc1 yes It is still an issue. please re-open the ticket.  I ran into the same issue. it was pulling the kanban results but no scrum results at all.

[2019-05-09 21:44] zerolaser commented on #2753
@poojithkumar how did you resolve this ?

[2019-05-10 10:55] rajanbaski commented on #600
+1 Ansible

[2019-05-10 14:16] ojasvijagtap opened #2885 "Deploy Widget - Up and Down arrows."
Hi, I have configured deploy widget in Hygieia using Hygieia publisher plugin of Jenkins. My Jenkins job is pipeline job.
I can see environment and deployment time however "up" and "down" arrows are zero.
![image](https://user-images.githubusercontent.com/20609631/57533582-c1800700-7303-11e9-9d9d-bf3bed17bb2f.png)

I know arrows are to display total count of online and office servers in the deploy

[2019-05-10 15:49] AbhiAuto opened #2886 "Connection timed out: connect - while trying to connect Jira using Jira Collector"
2019-05-10 21:15:21,136 ERROR c.c.d.collector.FeatureCollectorTask - Failed to collect jira information
org.springframework.web.client.ResourceAccessException: I/O error on GET request for "https://uadviser.atlassian.net/rest/agile/1.0/board?startAt=0": Connection timed out: connect; nested exception is java.net.ConnectException: Connection timed out: connect
        at org.springframework.web.cli

[2019-05-10 15:50] AbhiAuto commented on #2886
Properties file

server.contextPath=/jira
server.port=8082

# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
dbreplicaset=[false if you are not using MongoDB replicaset]
dbhostport=[host1:port1,host2:port2,host3:port3]

# Database Username - default is blank
dbusername=dashboarduse

[2019-05-10 15:52] AbhiAuto commented on #2886
I have tired all  the different possible ways to get it resolved. Need help to resolve this issue.

[2019-05-10 16:09] sdevanayaka-auro commented on #2300
1. Be sure that you have gulp and gulp.cmd (use windows search)
2. Copy the path of gulp.cmd (C:\Users\XXXX\AppData\Roaming\npm)
3. Add this path to the Path envirement variable or edit PATH environment variable and add %APPDATA%\npm

Reopen cmd.
Add %APPDATA%\npm to front of Path, not end of the Path.

Referece: https://stackoverflow.com/questions/24027551/gulp-command-not-found-error-after-insta

[2019-05-10 17:16] Sbrenthughes commented on #2886
Timeout is usually associated with a proxy. Have you tried passing proxy info?

[2019-05-10 17:17] Sbrenthughes commented on #2885
That data is only available via udeploy. The jenkins plugin doesn't not push that type of data.

[2019-05-10 18:18] blaktek commented on #2667
glad i found this thread, i'm still having issues with this collector.  I can see the data in mongo, but i'm not able to see the information being displayed in the UI.  I recently pulled the code, has there been any updates on this problem?

[2019-05-10 18:21] chrisgallivan commented on #2667
Did you try in IE and Chrome?

On Fri, May 10, 2019 at 2:18 PM blaktek <notifications@github.com> wrote:

[2019-05-10 18:31] ojasvijagtap commented on #2885
@Sbrenthughes Thank you for your quick response. Really appreciate it.

Would like to know if you have any plans of enhancing jenkins plugin to push that data too.

[2019-05-11 05:47] AbhiAuto commented on #2886
Yes I have tried with proxy URL and proxy port number. Stil no go.

I am using my email address as username for jira authentication. Does that create any issues? I could see somewhere in github issues it’s mentioned that we have to use only jira username not email address. It would be great if you give some sample on how to provide the details on proxy.

[2019-05-12 23:37] freecellwiz opened #2887 "Jira collector only collects a few stories"
I have the Jira collector connecting to my Jira Cloud instance and pulling in the correct list of teams (boards) and scopes (projects).  However, it only collects a few features, with the result that I can't find any board to test a widget and get numbers besides 0 0 0.  I'm sure I've done something wrong.

If it helps, this is a pretty big Jira instance.  There are 568 boards and 280 projects sho

[2019-05-12 23:38] freecellwiz commented on #2887
Also, here's a short log sample.  After the first time through (where it gets 134 items total), everything looks like this:

2019-05-12 19:37:36,385 INFO  c.c.d.collector.FeatureCollectorTask - Collecting 262 of 568 boards.
2019-05-12 19:37:37,136 INFO  c.c.d.collector.CollectorTask - Story Data Collected since 2019-05-12T19:29:36.946 0      217s
2019-05-12 19:37:37,137 INFO  c.c.d.collector.Featu

[2019-05-13 06:29] AbhiAuto commented on #2886
I have provided the proxy details, now its working fine. Thank you. I have entered the proxy details wrongly.

[2019-05-13 06:29] #2886 closed

[2019-05-13 12:13] blaktek commented on #2667
Yeah this is the same for any browser.   When I select the project I'm getting the 0's for all stats

[2019-05-13 13:14] Sbrenthughes commented on #2887
`feature.collectorItemOnlyUpdate=true` is used when you want to pull based on only Hygieia dashboards that are configured with the feature widget. Otherwise it will pull all jira boards.

`feature.maxNumberOfFeaturesPerBoard` Should not be less than a few hundred or even 1000. This limit is only in place because sometimes boards have thousands of items attached and it causes latency issues.

To yo

[2019-05-13 13:16] Sbrenthughes commented on #2885
No, because to my knowledge, Jenkins is only used as a deployment tool. Not a tool to monitor server status.

[2019-05-13 13:26] ojasvijagtap commented on #2885
Sure. Thanks for confirming.

[2019-05-13 13:26] #2885 closed

[2019-05-13 13:40] Sbrenthughes commented on #2667
This is a configuration issue. Can you reach out on gitter or create a new issue to get help with configuration?

[2019-05-13 13:42] #2882 closed

[2019-05-13 13:49] #2860 closed

[2019-05-13 13:49] Sbrenthughes commented on #2853
@Booma-Baskaran any update here?

[2019-05-13 14:40] Sbrenthughes commented on #2574
This is now configurable via the properties file

[2019-05-13 16:20] freecellwiz commented on #2887
Thanks Brent.  So:

- for collectorItemOnlyUpdate, "true" setting failed for me because there weren't any widgets set up, so it didn't bring back any boards.  Since widget config is done using the populated list of projects and boards, it seems like it *has* to be "false" so users have something to pick.
- for maxNumberOfFeatures - I will update to 1000.

I still don't see why it doesn't initially

[2019-05-13 17:04] devSL0ps commented on #2667
@Sbrenthughes 10-4

[2019-05-13 18:01] shishirchaturvedi commented on #2766
@chtompki Any progress on CLA web response issue?

[2019-05-13 18:03] chtompki commented on #2766
@sbrenthughes - I think that Shishir has probably gotten things sorted out. Let me know if there’s anything I can do to help move this along

[2019-05-13 18:05] shishirchaturvedi commented on #2766
@chtompki I have filled up CLA forms but haven't received its web response.

[2019-05-13 20:17] zerolaser commented on #1852
@yks0000 How did you got the aws proxy settings work for you.
I tried setting the dummy values as you did but still running into `Unable to execute HTTP request: Connection refused (Connection refused)`
any help here is appreciated.

[2019-05-13 20:25] Sbrenthughes commented on #2766
@SanthiSridharan can you help with this? I’m not really sure the process for this form.

[2019-05-13 22:31] SanthiSridharan commented on #2766
@shishirchaturvedi You can see the CLA form when you signed it.
It is available in this link - You can also see this link in the *[Hygieia Document in Contribution section](http://hygieia.github.io/Hygieia/contribute.html)*.
https://docs.google.com/forms/d/19LpBBjykHPox18vrZvBbZUcK6gQTj7qv1O5hCduAZFU/viewform

Hope this helps.

[2019-05-13 22:32] SanthiSridharan commented on #2766
@shishirchaturvedi Once you sign the CLA as an individual you can continue to contribute. Hygieia Maintainers can accept your contributions from that point onwards.

[2019-05-13 22:40] SanthiSridharan commented on #2766
@shishirchaturvedi We do not send any acknowledgement for the CLA signature. Hygieia maintainers will check that you have signed the CLA before they accept the contributions from you.

[2019-05-14 09:18] Booma-Baskaran commented on #2853
@Sbrenthughes Bit busy on other priority items. Are you available by next week? What would be the good time to ping you in gitter?

[2019-05-14 09:26] AbhiAuto opened #2891 "Jira- Data is not fetching"
-------------------Below is console message -------------------------

2019-05-14 14:48:11,716 INFO  o.s.j.e.a.AnnotationMBeanExporter - Registering beans for JMX exposure on startup
2019-05-14 14:48:11,731 INFO  o.s.j.e.a.AnnotationMBeanExporter - Bean with name 'configurationPropertiesRebinder' has been autodetected for JMX exposure
2019-05-14 14:48:11,731 INFO  o.s.j.e.a.AnnotationMBeanExporter

[2019-05-14 14:03] Sbrenthughes commented on #2887
The Jira Collector doesn't work like this. Only issues are impacted by `collectorItemOnlyUpdate`. Projects and boards/teams pull by default. So you can configure the widget before it collects more data.

Are the stories actually of issue type `Story`? Since the didn't pull with `collectorItemOnlyUpdate=false` I suspect not. For now you need to add the issue types here `feature.jiraIssueTypeNames=`

[2019-05-14 14:20] Sbrenthughes opened #2892 "Jira Collector Needs to Auto Populate Issue IDs"
Problem:

Currently the Jira collector forces the user to make a manual API call to look up the Issuetype Ids and then insert them into the properties file. Ideally the collector should handle this.

Solution:
Update the Jira collector to auto populate the issue type ids using the API `https://[your-jira-domain-name]/rest/api/2/issuetype`

[2019-05-14 14:36] shishirchaturvedi commented on #2766
@SanthiSridharan My legal team wants to review the final CLA agreement which I have submitted. Do you have any way of exporting final CLA form which I have submitted?

[2019-05-14 15:10] SanthiSridharan commented on #2766
HI Shishir , if you see the form that you submitted, it just captures your date and name and your personal details. Otherwise the terms etc ate the same.
We only capture the response sheet with these details and not save a form with the details.

[2019-05-14 15:17] SanthiSridharan commented on #2766
Additionally, I can share a snoop shot of your response that is saved in our data store if you send me our email Id for communication. Let me know if that helps.

[2019-05-14 17:30] gopiprasanthpotipireddy opened #2893 "Hygieia Product View Build stage not showing metrics."
I configured product view and repos and build are having commits. but build stage is not showing any metrics like average time and standard deviation

[2019-05-14 18:07] gopiprasanthpotipireddy commented on #2893
@nireeshT @tabladrum commits are not moving from commit stage to build also.

[2019-05-14 18:22] shishirchaturvedi commented on #2766
That should work. Please send me snapshot at - shishirchaturvedi.0206@gmail.com.
Thanks.

[2019-05-14 19:01] Sbrenthughes commented on #2891
Looks like you are missing several required properties. I have submitted a PR to help with the ones you are missing. So please wait until https://github.com/Hygieia/Hygieia/pull/2894 has been reviewed and merged.

[2019-05-14 21:32] zerolaser commented on #2820
@Sbrenthughes I got the same issue where It was throwing personalAccessToken=ERROR. I was setting it from the Widget. but still it was throwing the error. I don't understand why it isn't taking the token from UI. I tried setting it from properties file still no change.

also looking at the log it was pulling the data from current date
[code]

adding more logs...

[code]

[2019-05-15 07:20] anayyadav opened #2896 "Udeploy is not pulling the details"
Hi friends,

I have configured Udeploy collector and I am getting data for an application but when I have configured Udeploy widget for another application named 'CommercialGateway' I did not get any data on UI.
The strange thing is I am not getting any error in logs.
Please share any solution if you have.

Here are the screenshots:
![ucderror](https://user-images.githubusercontent.com/22302511/57

[2019-05-15 14:10] #2892 closed

[2019-05-15 20:00] vbottu opened #2901 "BitBucket Collector Issue with api 1.0"
I am trying to connect to the internal bitbucket server and the connection is successful from the collector but the query url to fetch the commits is causing problem , it throwing 404  ERROR c.c.d.c.DefaultBitbucketCloudClient - 404 on the endpoint commits?sha=master&since=2019-05-15T19:44Z, Please see the exception in the image attached. I am not sure if the query url being built by the default b

[2019-05-15 20:59] caiohcl opened #2902 "Commit transition - Product Dashboard"
Hey guys,

I've been setting up Hygieia for a while, and I've got a weird behavior on Product Dashboard. I've four widgets working properly. They're:
Code Repo: Bitbucket Collector
Build: Jenkins-Build Collector
Code Analysis: SonarQube and Jenkins-Cucumber Collectors
Deploy: Hygieia Publisher Plugin

My problem is on Product Dashboard. The dashboard is showing up the commit blocks, and I can see

[2019-05-15 22:26] Sbrenthughes commented on #2902
This is a known issue to which we are stilling working out the best solution. The ideal setup is that that a user has enough automated testing commit progresses through all stages in process. But simply won't be the case for the majority of apps. I will respond here when we have a solution.

[2019-05-16 04:58] matthewLee711 commented on #2806
To fix the MONGO_PORT not defined, you need to manually set the environmental variable. Example below:
`
jenkins-build-collector:
    build: collectors/build/jenkins
    image: hygieia-jenkins-build-collector
    environment:
      - MONGO_PORT=tcp://10.0.2.2:27017
    depends_on:
      - db-setup
`

However, after you fix this, another problem occurs and you will get the following below. I'm curr

[2019-05-16 05:41] vishalraina commented on #2806
@matthewLee711 are you using docker swarm ? or individual docker containers?

[2019-05-16 06:19] matthewLee711 commented on #2806
I'm using docker-compose. So a quick update, I just resolved the issue by setting the mongo port and host to be dynamic with the db container. The following below works for most collectors. I say most, because some of the other containerized collectors have weird issues and I haven't spent enough time looking into them.

`
bitbucket-collector:
      build: collectors/scm/bitbucket
      image: hyg

[2019-05-16 06:48] k1dbl4ck commented on #2609
@vishnuvangala @murugaops  - PR for this above.

[2019-05-16 07:38] k1dbl4ck commented on #2609
PR @ https://github.com/Hygieia/Hygieia/pull/2904

[2019-05-16 10:30] imranmaddekar opened #2905 "After AD integration jenkins build connector not working"
Hi

Post configuration of AD in Jenkins, the jenkins build collector has stopped working.  However if the build connector is pointed to a non-ad jenkins its working.  Please help if my configuration is wrong or if AD user can't be configured in application.propertiesfile.

**### **Error:****
2019-05-16 06:15:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Hudson
2019-05-16 06:15:00

[2019-05-16 10:51] Sbrenthughes commented on #2893
What tool are you using for you builds?

[2019-05-16 10:59] Sbrenthughes commented on #2901
@shishirchaturvedi Can you provide some help here since you have a lot knowledge with that collector?

[2019-05-16 11:50] MerlijnElderhuis opened #2906 "Gitlab feature collector not working properly"
Hi! I'm using Hygieia for a study project, currently I'm trying to use the gitlab feature collector to display some issues into the dashboard. I'm running into a problem where the gitlab-feature-collector is raising a java nullpointerexception, as displayed in the logs I will put below. Depending on what information I fill into the widget, the exception is more elaborate or simple. I tried filling

[2019-05-16 13:42] Sbrenthughes commented on #2906
Are these the only environment variables you are passing?
[code]

[2019-05-16 13:48] Sbrenthughes commented on #2905
Can you try with https? This is the configuration I use with ad.
`jenkins.servers[0]=https://AD_USER_NAME:<>@my-jenkins.com`

[2019-05-16 13:51] Sbrenthughes commented on #2905
But this error is only coming when `jenkins.servers[0]=` is null. Do you have any special characters in your password?

[2019-05-16 14:29] caiohcl commented on #2902
Thanks for the quick reply @Sbrenthughes
Are you guys currently working on this issue or it's in your backlog? When are you planning to release it?

[2019-05-16 14:36] vbottu opened #2907 "Jenkins Publisher Plugin"
I am looking at the jenkins publisher plugin, does it currently support pushing individual stage information as well rather than environment flow? Lets say I have 10 stages in my jenkinsfile , I would like to publish each stage information whether it is successful or not.

[2019-05-16 14:52] shishirchaturvedi commented on #2901
@vbottu Please see this REST [specification document](https://docs.atlassian.com/bitbucket-server/rest/5.13.1/bitbucket-rest.html#idm45902677006336). The search parameter `Since` should be a valid commit.

[2019-05-16 14:57] shishirchaturvedi commented on #2766
@SanthiSridharan FYI, I haven't received your email yet.

[2019-05-16 15:19] vbottu opened #2908 "Hygieia Publisher HygieiaTestPublishStep Error"
I am trying to publish unit test results to hygieia from my pipeline using HygieiaTestPublishStep, when i try to generate pipeline script it throws the below error
no public field ‘testResultType’ (or getter method) found in class jenkins.plugins.hygieia.workflow.HygieiaTestPublishStep
Please find the attached screenshot
![image](https://user-images.githubusercontent.com/19859827/57865940-1cae6f80

[2019-05-16 15:20] vbottu commented on #2901
@shishirchaturvedi thank you, i was using the wrong bitbucket type.

[2019-05-16 15:20] #2901 closed

[2019-05-16 15:28] SanthiSridharan commented on #2766
Hi Shishir - I checked the individual response sheet as well as corporate claims didn’t see your signature.

Did you submit this form ? ( this is the link to individual CLa that is made available by Hygieia in the contribute section)

https://docs.google.com/forms/d/e/1FAIpQLSfwtl1s6KmpLhCY6CjiY8nFZshDwf_wrmNYx1ahpsNFXXmHKw/viewform

[2019-05-16 15:29] Sbrenthughes commented on #2901
@shishirchaturvedi I appreciate you help here!

[2019-05-16 15:38] Sbrenthughes commented on #2908
Are you using the latest version?

[2019-05-16 15:38] Sbrenthughes commented on #2907
Yes you can do this.

[2019-05-16 15:53] vbottu commented on #2908
Yes , I am using the latest version. Checked out the code from master branch and created a hpi and uploaded that to my jenkins instance

[2019-05-16 16:02] vbottu commented on #2907
We have stages like the unit testing, contract testing, smoke testing, build artifacts etc, right the pipeline view only has environment view like DEV-->TEST-->PROD etc, I am thinking of using buildpublishstep in each one of these stages and change the values to success or failure depending on the result of that particular stage. Correct me if I am wrong

[2019-05-16 16:49] shishirchaturvedi commented on #2766
@Sbrenthughes I had submitted corporate CLA form using this link: https://docs.google.com/forms/d/e/1FAIpQLSeAbobIPLCVZD_ccgtMWBDAcN68oqbAJBQyDTSAQ1AkYuCp_g/viewform

[2019-05-16 18:30] zerolaser opened #2909 "Aws collector needs to collect RDS and DynamoDb data"

[2019-05-16 18:43] zerolaser opened #2910 "AWS collector needs to collect information from Multiple AWS accounts."
Currently AWS collector can only collect information from one aws accounts.
may be I need to run the jar multiple times with different aws profiles to collect the data from different accounts.
Either way If i need to integrate all the information different aws accounts into one dashboard. where it can show the utilization by environment.
Currently hygieia is lacking this.

![image](https://user-im

[2019-05-16 18:49] zerolaser opened #2911 "AWS collector documentation has no IAM policy defined."
Currently, Its unclear on what permissions need to be set for the IAM User/role that hygieia uses for collecting information. The documentation lacks this.
I haven't seen any error in the logs saying the action cannot be performed as the IAM user/role has no permissions to fetch the data.
@Sbrenthughes can you update the documentation and better log errors ?

[2019-05-16 19:10] zerolaser opened #2912 "VersionOne is showing kanban results but not sprint results"
I found this in issue https://github.com/Hygieia/Hygieia/issues/1929

I have **project lead** privileges in versionOne. with this I was able to retrieve kanban results but no scrum results.

**Kanban results**
![image](https://user-images.githubusercontent.com/7926653/57879793-1d4e0280-77d2-11e9-8de8-316f16c9f135.png)

**No scrum results**
![image](https://user-images.githubusercontent.com/7926653

[2019-05-16 19:31] vbottu opened #2913 "Jenkins publisher plugin sonar publish step issue"
Hello,
I generated the sonarpublishbuildstep using pipeline syntax generator and using that in my jenkinsfile to push sonar metrics to hygieia but it fails to do and throws the below error
        ``java.lang.StringIndexOutOfBoundsException: String index out of range: -1
	at java.lang.String.substring(String.java:1967)
	at hygieia.builder.SonarBuilder.getSonarMetrics(SonarBuilder.java:192)
	at jen

[2019-05-16 20:59] ojasvijagtap opened #2914 "Enable ldap for Hygieia"
I am getting "Bad credentials" error while attempting to authenticate through Ldap from Hygieia.
I read almost all the issues posted related to hygieia + Ldap and AD too.
But didnt any solution work for me.

**api property file:**
# JWT expiration time in milliseconds
auth.expirationTime=600

# Secret Key used to validate the JWT tokens
auth.secret=${AUTH_SECRET:-}
auth.authenticationProviders=LDA

[2019-05-16 21:18] vbottu opened #2915 "hygieiacodequalitypublishstep does nothing"
I am using the below snippet in my pipeline and it does nothing, I am not seeing any quality metrics published to hygieia
``hygieiaCodeQualityPublishStep checkstyleFilePattern: '**/*/checkstyle-result.xml', findbugsFilePattern: '**/*/Findbugs.xml', jacocoFilePattern: '**/target/site/jacoco/jacoco.xml', junitFilePattern: '**/target/surefire-reports/TEST-.*-test.xml', pmdFilePattern: '**/*/PMD.xml'`

[2019-05-16 21:24] zerolaser opened #2916 "github collector 401 unauthorized"
Im getting the 401 error on the UI for github collector
![image](https://user-images.githubusercontent.com/7926653/57887915-986ce400-77e5-11e9-9e99-5e2100732328.png)

Using the following application.properties

[code]

Then I removed the github token from the properties file and gave the token from UI. it's still the same issue and no error in log file at all.

I tried adding another repo to other

[2019-05-17 09:17] MerlijnElderhuis commented on #2906
Those are indeed the only environment variables I'm passing. The links you posted are of the GitLab SCM collector, I also use that and it's working collecting, but the issues I'm experiencing are with the GitLab Feature collector (used for grabbing scrum/kanban issues). Looking at
https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/feature/feature-gitlab.md
the only required

[2019-05-17 11:47] mitunmbj commented on #2916
U could configure only "n" number of private repo from a single profile. one private repo from one profile and another one from another profile cannot be configured at a time

[2019-05-17 11:53] mitunmbj opened #2918 "PLZ DO MENTION THE CORRECT STEPS IN DEPLOYING EXECUTIVE DASHBOARD"
As of now i am working on developing a executive dashboard and faceing sever failures since from build steps and i execpt some fast suggestion plz

[2019-05-17 12:08] imranmaddekar commented on #2905
Thanks @Sbrenthughes  !!
In addition to this config =>> jenkins.servers[0]=https://AD_USER_NAME:<>@my-jenkins.com
I used below
jenkins.usernames[0]=
jenkins.apiKeys[0]=

Collector started working again.

Earlier it was a commented
#jenkins.usernames[0]=
#jenkins.apiKeys[0]=

I dont understand why comments need to be removed as these properties doesn't have the significance as the user and token is

[2019-05-17 12:08] imranmaddekar commented on #2905
Hence closing the issue

[2019-05-17 12:08] #2905 closed

[2019-05-17 14:42] #2918 closed

[2019-05-17 14:42] Sbrenthughes commented on #2918
Exec has it's on project. Please do not open issues for it here. We will respond as soon as we can.

[2019-05-17 14:50] Sbrenthughes commented on #2916
First, You need `github.key=<your-generated-key>` to match the `key=<your-generated-key>` in your API properties.

[2019-05-17 14:52] Sbrenthughes commented on #2891
@AbhiAuto update here?

[2019-05-17 15:21] Sbrenthughes commented on #2916
https://github.com/Hygieia/Hygieia/pull/2919 should fix the decryption issue when passing the token from properties file. But it will not fix the configuration issue you have above.

[2019-05-17 16:32] vbottu commented on #2908
@Sbrenthughes could you let me if I am missing something here?

[2019-05-17 18:05] zerolaser commented on #2916
@Sbrenthughes What exactly is the github.key here ?
I have the github personal access token.  Do I need to create a new OAUTH application use its client secret here ?

[2019-05-17 18:07] zerolaser commented on #2916
@mitunmbj not sure what you meant here.
I'm using two github personal access token for two different repo's im configuring from UI.

[2019-05-17 18:13] zerolaser opened #2920 "change the order of these widgets"
Right now when you create a dashboard. there is no proper way to arrange these widgets the way you want.
What I need this is to drag and change the order of the widgets or while creating the dashboard there needs to be an option to prioritize these widgets based on numbering.

[2019-05-19 12:30] imranmaddekar opened #2921 "hygiea jenkins build collector is failing"
Hi Team,

I am trying to up UI, API, DB and Jenkins Build Collector in docker-compose setup.

I have cloned the hygiea repositories and executed maven commands for building the required jar files.

Then modified the docker.compose.yml file like below.
version: '3'
services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - "db-data:/data/db"

  db-setup:
    build

[2019-05-20 09:14] anayyadav commented on #2921
you need to changes  in properties-builder.sh in api\docker\properties-builder.sh:
server.contextPath=/api
server.port=8080

and make sure your environment variable are same in both docker-compose file and properties-builder.sh.

-------------------------------
properties-builder.sh in jenkins:

#!/bin/bash

# mongo container provides the HOST/PORT
# api container provided DB Name, ID & P
cat > $P

[2019-05-20 09:17] anayyadav commented on #2920
you can create a custom template and arrange them accordingly.

![image](https://user-images.githubusercontent.com/22302511/58010535-2b6f8c00-7b0e-11e9-8789-9def86a9098f.png)

[2019-05-20 14:20] Sbrenthughes commented on #2916
https://hygieia.github.io/Hygieia/collectors.html#encryption-for-private-repos

If you are trying to use `github.personalAccessToken=Mytoken` it will fail until you update to the latest. The PR was just merged.

[2019-05-20 14:23] Sbrenthughes commented on #2891
Please update to the latest and try again. Also, try using `feature.jiraIssueTypeNames=Story,Epic`

[2019-05-20 14:23] #2891 closed

[2019-05-20 14:24] Sbrenthughes commented on #2887
@freecellwiz any update there?

[2019-05-20 14:26] Sbrenthughes commented on #2907
You don't need the build publish step in each stage if you have auto publish turned on. You'd only need `hygieiaDeployPublishStep` in each stage other than commit and build. In build you'd need  `hygieiaArtifactPublishStep`

[2019-05-20 16:45] vbottu opened #2922 "Unable to create dashboard"
I am trying to create dashboard and it gives an error saying Change the dashboard name and try again, when i close the pop up, i see a link to the dashboard and when i click the link nothing is happening and i see the below error in browser console
``GET http://localhost:3000/api/dashboard/5ce2d534ca217b00085731c9 500 (Internal Server Error)
(anonymous) @ angular.js:12265
sendReq @ angular.js:1202

[2019-05-20 17:04] shishirchaturvedi commented on #2766
@SanthiSridharan Could you track my CLA forms?

[2019-05-20 17:09] vbottu commented on #2922
One more error from browser console
``TypeError: Cannot read property '$setValidity' of undefined
    at widgetConfigManager.js:120
    at angular.js:11737
    at processQueue (angular.js:16696)
    at angular.js:16712
    at Scope.$eval (angular.js:17994)
    at Scope.$digest (angular.js:17808)
    at Scope.$apply (angular.js:18102)
    at done (angular.js:12082)
    at completeRequest (angular.j

[2019-05-20 23:21] zerolaser commented on #2920
@anayyadav I don't see this view at all in my hygieia. all i see is create a new dashboard and edit existing dashboards. I think,  I'm just a regular user of hygieia. how do i grant admin permissions ?

[2019-05-21 01:46] SanthiSridharan commented on #2766
I have sent you an email response to your query in our mailbox. Hope that answers your questions.

[2019-05-21 06:21] anayyadav commented on #2920
you can create a custom templates.
you can go to above page by clicking on setting icon in top right of your screen.
![image](https://user-images.githubusercontent.com/22302511/58072906-c9229400-7bbe-11e9-9f13-15ab97e46cee.png)

[2019-05-21 09:25] MerlijnElderhuis commented on #2906
@Sbrenthughes do you have an idea about how to solve this issue?

[2019-05-21 18:48] vbottu opened #2924 "Are xml files supported in HygieiaTestPublishStep?"
I am trying to include HygieiaTestPublisStep in my pipeline and when generating pipeline syntax from jenkins I am seeing the below error

``no public field ‘testResultType’ (or getter method) found in class jenkins.plugins.hygieia.workflow.HygieiaTestPublishStep``

Attaching the screenshot for reference.
![image](https://user-images.githubusercontent.com/19859827/58122331-0727b400-7bcf-11e9-8fb4-f

[2019-05-21 23:17] heffrey commented on #2829
@pavankjadda what was your resolution for this? I am having very similar issues.

[2019-05-21 23:38] pavankjadda commented on #2829
I was using Java 11, Hygieia supports only Java 8

[2019-05-22 00:00] heffrey commented on #2829
Great, thanks. To further add for any other lost souls: when running `/usr/libexec/java_home -V` I had several versions installed.

I had to manually set JAVA_HOME to the path leading to Java 8. Simply relying on `$(/usr/libexec/java_home)` to decide the version was futile. In my case this was  `/Library/Java/JavaVirtualMachines/jdk1.8.0_211.jdk/Contents/Home`

[2019-05-22 05:52] poojithkumar opened #2925 "collectorid and componentid"
how can get collectorid and componentid  of specific url ?

[2019-05-22 06:19] IATVirtusa commented on #2893
I am using Jenkins Hygieia Plug in to publish Build and Deploy Jobs.
I am able to get metrics like avg time and sd in Build and Commit stage. but, Deploy Stage is not getting any metrics. i think the issue is similar to  [https://github.com/Hygieia/Hygieia/issues/2832] .

![Screenshot (28)](https://user-images.githubusercontent.com/48546034/58151524-87115500-7c87-11e9-9118-4206b1df39ba.png)

i am

[2019-05-22 06:23] IATVirtusa commented on #2832
Here i am pasting my product dashboard view as well as jenkins artifact and publisher step.

![Screenshot (28)](https://user-images.githubusercontent.com/48546034/58151598-c0e25b80-7c87-11e9-98e8-ee5330e6e728.png)
![Screenshot (29)](https://user-images.githubusercontent.com/48546034/58151600-c0e25b80-7c87-11e9-9870-05d7ea36a2aa.png)

[2019-05-22 10:41] ParashmaniD opened #2926 "Version 3.0.2 of Hygieia fails to build."
@tabladrum @Sbrenthughes @nireeshT @satishc1
I was using Hygieia v3.0.1 and had issues trying to get the Bitbucket collector from pulling commit history from a private repository. I did follow all the documentation. My dashboard consisted of Monitor (green - which showed that it was able to connect to my Bitbucket instance) and repo which was failing to collect the commits. The Bitbucket log showe

[2019-05-22 14:21] Sbrenthughes commented on #2926
I would suggest running mvn clean install on core and then trying again.

[2019-05-22 14:31] Sbrenthughes commented on #2925
What do you mean of a specific url?

[2019-05-22 14:32] Sbrenthughes commented on #2924
This is the same issue you opened up here https://github.com/Hygieia/Hygieia/issues/2908. Closing this.

[2019-05-22 14:32] #2924 closed

[2019-05-22 14:33] Sbrenthughes commented on #2908
@rvema do you have any suggestions here?

[2019-05-22 14:34] Sbrenthughes commented on #2906
Ah I apologize. Looks like the API being used is returning null. Do you no what version you are using?

[2019-05-22 14:36] Sbrenthughes commented on #2914
Working on this. Will get back to you.

[2019-05-22 14:37] Sbrenthughes commented on #2878
@mitunmbj any update here?

[2019-05-22 14:39] MerlijnElderhuis commented on #2906
I'm using the most recent version, just cloned it from GitHub.

[2019-05-22 14:40] Sbrenthughes commented on #2876
@ajayakumar-jayaraj any update here?

[2019-05-22 15:02] poojithkumar commented on #2925
I just want to connect Jenkins and github collector together and make one
new .
If I get url of my repo in Jenkins can I call github collector at backend.
 Thanks

On Wed 22 May, 2019, 8:01 PM Sbrenthughes, <notifications@github.com> wrote:

[2019-05-22 15:09] Sbrenthughes commented on #2925
Okay I am still lost. What is the end product/goal?

[2019-05-22 15:11] Sbrenthughes commented on #2922
What OS are you running this on?

[2019-05-22 15:16] poojithkumar commented on #2925
If Jenkins build is triggered by github pull request. We get information
about github repo url that make the Jenkins build.

  Using that url I want data regarding  issue (example) details.
Thanks

On Wed 22 May, 2019, 8:39 PM Sbrenthughes, <notifications@github.com> wrote:

[2019-05-22 16:03] vbottu commented on #2922
I am running on windows using docker for windows

[2019-05-22 16:22] JULIANCHO923 commented on #1317
I have the same error using hygieia_api on docker ... This  actually happen when try to add the score widget in the dashboards

hygieia_api                    | java.lang.NullPointerException: null
hygieia_api                    |        at com.capitalone.dashboard.service.DashboardServiceImpl.get(DashboardServiceImpl.java:124) ~[app.jar!/:3.0.2-SNAPSHOT]
hygieia_api                    |        at

[2019-05-22 16:42] ParashmaniD commented on #2926
@Sbrenthughes , thanks for the above. I have now rebuild the latest hygieia-core and have been able to make progress with building Hygieia where it was last failing.

It is now failing to "gulp build".

[INFO] Message:
[INFO]     An error occured in task 'html'.
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] com.capitalone.dash

[2019-05-22 18:08] Sbrenthughes commented on #2925
I don't believe we have an easy way to get the collectorItemId and component Id based on a repo URL

[2019-05-22 18:40] JULIANCHO923 commented on #2249
What happened to this?

[2019-05-22 18:57] Sbrenthughes opened #2927 "Github-Graphql Collector - External API in collector is incorrect"
Currently the external API for the github-graphql collector is generated wrong.

[2019-05-22 19:44] Sbrenthughes commented on #2926
Can you cd directly to the UI folder and run `npm install`

[2019-05-22 19:46] Sbrenthughes commented on #2922
Did you successfully build the UI before creating the docker container ?

[2019-05-22 19:56] vbottu commented on #2922
Yes I did , I ran mvn clean install before bringing up the docker containers.

[2019-05-22 20:00] Sbrenthughes commented on #2249
I believe this has been resolved. https://github.com/Hygieia/Hygieia/blob/54e96cc3a5159d4252f52e3c625803c67bb0ea70/UI/src/app/dashboard/services/authInterceptor.js#L15

Can you update your UI and confirm ?

[2019-05-22 20:33] JULIANCHO923 commented on #2249
@Sbrenthughes thanks for your early answer
Really, just when i try to enable/disabled the score on any dashboard.....

![imagen1](https://user-images.githubusercontent.com/5598534/58206500-61477880-7ca6-11e9-9e0e-e7313ca4d711.png)

.... This error appears and the UI redirect me at login with the next error panel

![imagen2](https://user-images.githubusercontent.com/5598534/58206554-81773780-7ca6-1

[2019-05-22 20:36] JULIANCHO923 commented on #2249
also, the score has the output **No of dashboards with score widget=0 **
`
score-collector                | 2019-05-22 20:33:01,012 INFO  c.c.d.collector.CollectorTask - Score
score-collector                | 2019-05-22 20:33:01,012 INFO  c.c.d.collector.CollectorTask - -----------------------------------
score-collector                | 2019-05-22 20:33:01,022 INFO  c.c.d.collector.CollectorTask

[2019-05-23 05:22] poojithkumar commented on #2925
Can u suggest some best way for that

On Wed 22 May, 2019, 11:38 PM Sbrenthughes, <notifications@github.com>
wrote:

[2019-05-23 09:16] ParashmaniD commented on #2926
@Sbrenthughes , I ran `npm install` under the UI folder.
UI]$ npm install
up to date in 8.636s

I then re-ran
[code]

[2019-05-23 13:28] Sbrenthughes commented on #2927
Fix https://github.com/Hygieia/Hygieia/pull/2928

[2019-05-23 13:28] #2927 closed

[2019-05-23 13:56] Sbrenthughes commented on #2249
This is a different issue related to the score collector and usage. Please open a new issue.

[2019-05-23 13:57] Sbrenthughes commented on #2249
The original issue here has been resolved.

[2019-05-23 13:57] #2249 closed

[2019-05-23 13:59] JULIANCHO923 opened #2929 "UI and API RestApiExceptionHandler - The given id must not be null!"
@Sbrenthughes
Just when i try to enable the score on any dashboard.....

![imagen1](https://user-images.githubusercontent.com/5598534/58206500-61477880-7ca6-11e9-9e0e-e7313ca4d711.png)

.... This error appears and the UI redirect me at login with the next error panel

![image](https://user-images.githubusercontent.com/5598534/58284476-49d4c200-7d70-11e9-8a5f-9b727cecaf7f.png)

![image](https://use

[2019-05-23 14:01] JULIANCHO923 commented on #2249
@Sbrenthughes  new issue created #2929, thanks you

[2019-05-23 17:41] Sbrenthughes commented on #2926
What version of maven are you using

[2019-05-23 17:46] Sbrenthughes commented on #2914
But closing this as this is a duplicate of https://github.com/Hygieia/Hygieia/issues/2839

[2019-05-23 17:46] #2914 closed

[2019-05-23 17:58] Sbrenthughes commented on #2839
Have you tried `ou=user` instead of ou=city?

[2019-05-23 18:00] #2371 closed

[2019-05-23 18:33] rvema commented on #2270
this PR is merged. Hence closing the issue

[2019-05-23 18:33] #2270 closed

[2019-05-23 18:33] rvema commented on #2462
closing the issue due to inactivity

[2019-05-23 18:33] #2462 closed

[2019-05-23 18:35] rvema commented on #2202
Closing the issue due to inactivity

[2019-05-23 18:35] #2202 closed

[2019-05-23 18:35] rvema commented on #2238
Closing the issue due to inactivity

[2019-05-23 18:35] #2238 closed

[2019-05-23 18:36] rvema commented on #1859
closing the issue due to inactivity

[2019-05-23 18:36] #1859 closed

[2019-05-23 18:37] rvema commented on #1714
Closing the issue since it was resolved

[2019-05-23 18:37] #1714 closed

[2019-05-23 18:38] rvema commented on #2913
@vbottu What version of the plugin are you using?

[2019-05-23 18:41] rvema commented on #2649
closing as its an invalid issue

[2019-05-23 18:41] #2649 closed

[2019-05-23 18:42] rvema commented on #2643
Closing the issue due to inactivirty

[2019-05-23 18:42] #2643 closed

[2019-05-23 18:42] rvema commented on #2637
closing this issue due to inactivity

[2019-05-23 18:42] #2637 closed

[2019-05-23 18:44] rvema commented on #562
closing the issue due to inactivity

[2019-05-23 18:44] #562 closed

[2019-05-23 18:44] rvema commented on #1063
closing the issue due to inactivity

[2019-05-23 18:44] #1063 closed

[2019-05-23 18:45] vbottu commented on #2913
2.2.0-SNAPSHOT

[2019-05-23 18:46] rvema commented on #2913
Can you paste the screenshot of the Hygieia Plugin Settings from Jenkins Global Settings

[2019-05-23 19:41] Sbrenthughes commented on #2929
What are the steps to reproduce this?

[2019-05-23 19:45] stevegal commented on #2915
Have you any logs from Jenkins? Or the api from when your job rubs?

[2019-05-23 19:45] Sbrenthughes commented on #2925
You can probably get the collector Item by using `/collector/item/type/{collectorType}` it is int he CollectorController.java and then you'd probably need to create an api to get a list of components by collectorItemId.

[2019-05-23 19:49] Sbrenthughes commented on #2922
Can you give the exact steps to reproduce this? What type of dashboard and the configurations you are using etc? Does the dashboard you are creating already exist?

[2019-05-23 19:53] Sbrenthughes commented on #2920
you can create the user `admin` and login using it to gain access to the admin user. Other than what @anayyadav suggested, you won't be able to do any more customization in this version of the UI. Once  the UI is upgraded to the latest version of Angular you will have more control. The upgrade is expected to start rolling out over the next few months.

[2019-05-23 19:53] #2920 closed

[2019-05-23 19:55] Sbrenthughes commented on #2921
Please reopen if this doesn't solve the issue.

[2019-05-23 19:55] #2921 closed

[2019-05-23 19:58] Sbrenthughes commented on #2910
You'll need to deploy a collector in each account likely. There are no plans to enhance this collector in the near future.

[2019-05-23 19:58] stevegal commented on #2908
Think was my PR from a few days ago. I'll correct

[2019-05-23 20:14] Sbrenthughes commented on #2862
This can be easily searched for on google. `Spring boot systemd example`

[2019-05-23 20:16] Sbrenthughes commented on #2832
Are you using the auto publish functionality? If so these steps will only work when using a Jenkinsfile.

[2019-05-23 20:30] Sbrenthughes commented on #2906
@zhenweiding since you have experience with the gitlab SCM collector (gitlab APIs), do you think you could take a look at this? It has to do with the feature portion of GitLab.

[2019-05-23 20:31] Sbrenthughes commented on #2853
Reach out anytime

[2019-05-23 20:31] Sbrenthughes commented on #2724
Closing due to inactivity

[2019-05-23 20:31] #2724 closed

[2019-05-23 20:32] Sbrenthughes commented on #2686
Any update @daniel-ng ?

[2019-05-23 20:40] JULIANCHO923 commented on #2929
When I choose any dashboard for edit it

![image](https://user-images.githubusercontent.com/5598534/58284476-49d4c200-7d70-11e9-8a5f-9b727cecaf7f.png)

And i try to enable score

![image](https://user-images.githubusercontent.com/5598534/58284533-72f55280-7d70-11e9-94a0-21a41da533a5.png)

![image](https://user-images.githubusercontent.com/5598534/58284582-886a7c80-7d70-11e9-8f5d-b4c2853dd19e.png)

[2019-05-23 22:08] JULIANCHO923 commented on #2929
Hi @Sbrenthughes

We had to use Hygieia's version of:

WORKDIR /build/hygieia-core
# 0f624eaed4b6b2a0b0ca7778ec4f076a3948dd3e -> COMMIT 28/March/2019
WORKDIR /build/Hygieia
# be79c510ed22fa534cb356f285cafeb39cf51c7a -> COMMIT DEL 25/March/2019

[2019-05-24 01:57] poojithkumar commented on #2925
How can I get list of components using collector I'd.. is there any API for
that?

On Fri 24 May, 2019, 1:15 AM Sbrenthughes, <notifications@github.com> wrote:

[2019-05-24 06:05] Blessie7 commented on #2862
Thanks for the info. How to pass the values of spring.config.name and spring.config.location using init.d or system.d? Could you please share any documentation that is specific to Hygieia?

[2019-05-24 06:24] fabala commented on #2929
Hi,

I have exactly the same issue, but with the Feature widget.

I just try to configure this widget and as soon as I click on the Save button, it redirects me on the login page.

On the client side, I get this error:

`NetworkError: 500 Internal Server Error - http://192.168.129.63:3000/api/collector/item`

On the server side, I get this trace:

[code]

[2019-05-24 08:58] ParashmaniD commented on #2926
`~]$ mvn -v
Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f719f3; 2018-10-24T19:41:47+01:00)
Maven home: /home/user1/apache-maven-3.6.0
Java version: 1.8.0_191, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.191.b12-1.el7_6.x86_64/jre
Default locale: en_GB, platform encoding: UTF-8
OS name: "linux", version: "3.10.0-514.16.1.el7.x86_64", arch: "amd64", family: "

[2019-05-24 14:45] Sbrenthughes commented on #2929
Got it thanks. Looks like I didn't full update before testing. I will get back to you when there is a fix.

[2019-05-24 16:41] #2929 closed

[2019-05-24 19:59] rstmna opened #2932 "Hygieia dashboard view for only authenticated users"
Hygieia allows any unauthenticated user to view the dashboard list without login first.
We want only authenticated users to view any data on hygieia dashboards otherwise users should be redirected to login page first.

[2019-05-27 05:29] zhenweiding commented on #2906
@MerlijnElderhuis There is my gitlab feature's configure in "docker-compose.yml":

  gitlab-feature-collector:
    build: collectors/feature/gitlab
    image: hygieia-gitlab-feature-collector
    volumes:
      - /Users/dingzhenwei/devops/Hygieia-3.0.1/logs:/hygieia/logs
      - /Users/dingzhenwei/devops/Hygieia-3.0.1/config:/hygieia/config
    environment:
      - MONGO_DATABASE=dashboarddb

[2019-05-27 07:45] Blessie7 commented on #2341
Hi, Can anyone provide an update on this if the functionality to use API key has been added?

[2019-05-27 13:42] MerlijnElderhuis commented on #2906
@zhenweiding Thanks for the quick response, that seemed to have fixed it!

[2019-05-27 13:42] #2906 closed

[2019-05-27 23:31] fldadof5 opened #2933 "Help with Artifactory"
I can't get hygieia to work right with the artifactory collector.  I have Jenkins working great, but artifactory and bitbucket are driving me nuts.

I have:

Scott:artifactory root# more artifactory.properties
# collectors/scm/bitbucket/application.properties
dbname=dashboarddb
dbhost=localhost
dbport=27017
dbusername=dashboarduser
dbpassword=dbpassword
artifactory.cron=0 0/5 * * * *
###
# Artifac

[2019-05-28 09:59] poojithkumar commented on #2925
how did u get componentId and collectorId in repo widget ?

Thanks

On Fri, May 24, 2019 at 8:58 PM Sbrenthughes <notifications@github.com>
wrote:

[2019-05-28 13:29] Sbrenthughes commented on #2925
`/collector/item/type/{collectorType}` gives you the collectorId. You'll need to create an API to get the componentId. Take a look a the CollectorController.java. It should have enough to help you figure out how to do that.

[2019-05-28 14:00] ParashmaniD commented on #2926
@Sbrenthughes , have you been able to replicate this issue?

[2019-05-28 16:16] Sbrenthughes commented on #2932
What is the issue for anyone being about to view dashboards?

[2019-05-28 16:56] Sbrenthughes commented on #2933
What command are you using to run it?

[2019-05-28 17:23] fldadof5 commented on #2933
java -jar ./target/artifactory-artifact-collector-3.0.2-SNAPSHOT.jar --spring.config.name=artifactory --spring.config.location=./artifactory.properties

[2019-05-28 17:35] rvema commented on #2926
@ParashmaniD We will be performing a Maven Release this week and will update you once its done.

[2019-05-28 17:38] Sbrenthughes commented on #2662
I believe you had things cleared up with our Open Source Office. Let me know what else you need from us.

[2019-05-28 17:45] shishirchaturvedi commented on #2662
@Sbrenthughes  I have got clarification on OSS process from @SanthiSridharan. Based on that discussion I have got Corporate CLA signed by the legal team at my end. I am waiting for confirmation that the Corporate CLA was submitted successfully and can be tracked.
@SanthiSridharan or @Sbrenthughes Can you please confirm that Corporate CLA filled by `Matthew(Matt) Elliott <melliott@pandora.com>` has

[2019-05-28 17:45] suruchi10 opened #2935 "whenever i try to do something in UI my api get disconnected"
2019-05-28 23:06:21,360 INFO  o.a.c.c.C.[.[localhost].[/api] - Initializing Spring FrameworkServlet 'dispatcherServlet'
2019-05-28 23:06:21,369 INFO  o.s.web.servlet.DispatcherServlet - FrameworkServlet 'dispatcherServlet': initialization started
2019-05-28 23:06:21,643 INFO  o.s.web.servlet.DispatcherServlet - FrameworkServlet 'dispatcherServlet': initialization completed in 274 ms
2019-05-28 23:

[2019-05-28 18:06] shishirchaturvedi commented on #2662
@Sbrenthughes I have received confirmation the Corporate CLA. Please go ahead on merging my PR.

[2019-05-28 21:23] rstmna commented on #2932
We have to implement RBAC to view dashboards. So only authenticated users can view dashboards that they are authorized for.

[2019-05-28 22:22] #2807 closed

[2019-05-29 03:14] sundeepk1 commented on #2685
[{"id":"5cee5dfc8a6fb236a965195c","name":"Hudson","collectorType":"Build","enabled":true,"online":true,"errors":[],"uniqueFields":{"jobName":"","jobUrl":""},"allFields":{"jobName":"","jobUrl":"","instanceUrl":""},"lastExecuted":1559128205108,"searchFields":["options.jobName","niceName"],"properties":{}}]

[2019-05-29 15:44] Sbrenthughes commented on #2935
how are you running the UI?

[2019-05-29 15:45] Sbrenthughes commented on #2908
Code has been merged can you update and validate?

[2019-05-29 15:45] Sbrenthughes commented on #2916
@zerolaser any update?

[2019-05-29 16:15] vbottu commented on #2908
Thanks, I will update and validate.

[2019-05-29 16:17] suruchi10 commented on #2935
Gulp serve

On Wed 29 May, 2019, 9:14 PM Sbrenthughes, <notifications@github.com> wrote:

[2019-05-30 04:46] Blessie7 commented on #2341
@gauravdasson  I have tried to hardcode the API key in createHeaders method. But it throws the error "HTTP Status 401 - Full authentication is required to access this resource".
Could you please help me here with the code changes?

[2019-05-30 12:01] vishalbisa opened #2938 "Hygieia deployment in K8 in google cloud"
Hi Team,
i am doing a POC by deploying hygieia in

[api.txt](https://github.com/Hygieia/Hygieia/files/3236885/api.txt)

kubernetes cluster in google cloud.
in brief,i have cloned the master branch and built API/UI and imported mongo db image from open source and created the dashboard db.

here are the list of issues i have encountered :
1) UI is not getting connected to API
2) i am not getting any

[2019-05-30 12:53] ajayakumar-jayaraj commented on #2224
@Sbrenthughes  I am facing same issue even i tried using sonar.username and password as advised here .
sonar.username=admin
sonar.password=******
2019-05-29 22:00:00,573 ERROR c.c.d.collector.DefaultSonar6Client - org.springframework.web.client.HttpClientErrorException: 401
2019-05-29 22:00:00,574 INFO c.c.d.collector.CollectorTask - Fetched projects 0 0s
2019-05-29 22:00:00,574 INFO c.c.d.collect

[2019-05-30 13:26] ajayakumar-jayaraj opened #2939 "Sonar collector authentication failiure"
Error:

2019-05-29 22:00:00,634 ERROR c.c.d.collector.DefaultSonar6Client - org.springframework.web.client.HttpClientErrorException: 401
2019-05-29 22:00:00,634 ERROR c.c.d.collector.SonarCollectorTask - org.springframework.web.client.HttpClientErrorException: 401

Sonar application.properties:

# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=104.154.215.54

#

[2019-05-30 15:08] Sbrenthughes commented on #2939
401 is unauthorized. Can you try removing the spaces between your credentials and the = in your property file?

[2019-05-30 15:15] Sbrenthughes commented on #2938
You have a configuration issue first off. The UI looks at /api/*. However, `curl http://localhost:8080/ping` works, which’s means your configuration is wrong. It should be `curl http://localhost:8080/api/ping`. What does your api properties look like?

[2019-05-30 15:54] Sbrenthughes commented on #2935
What environment are you running this on?

[2019-05-30 16:20] vishalbisa commented on #2938
@Sbrenthughes you mean properties-builder.sh file

[properties-builder.txt](https://github.com/Hygieia/Hygieia/files/3237846/properties-builder.txt)

[2019-05-30 16:22] suruchi10 commented on #2935
local

[2019-05-30 16:25] Sbrenthughes commented on #2938
Ah I see. Can you add `server.contextPath=/api` to it?

[2019-05-30 16:27] vishalbisa commented on #2938
let me give a try , i will let you know once i re-build the docker image and redeploy in the K8.

[2019-05-30 17:26] vishalbisa commented on #2804
@Sbrenthughes can you please help here also

[2019-05-30 18:53] vishalbisa commented on #2938
@Sbrenthughes  Thanks it worked, but still i dont see the `server.contextpath=/api` in master branch.

![image](https://user-images.githubusercontent.com/16570454/58656646-53df5d80-833a-11e9-8904-7d9a128c11fa.png)

[2019-05-30 18:54] vishalbisa commented on #2938
@Sbrenthughes can you please check the issue #2804

[2019-05-30 18:55] ajayakumar-jayaraj opened #2942 "Query regarding Bitbucket collector token"
@Sbrenthughes

We are using bitbucket stash version 4.1.4. I am not sure if we need to generate repo key and how to generate it. i dont see any errors or auth issue but still it is not pulling any metrics from stash.

Bitbucket application.properties:
# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
#dbreplicaset=[false if you are not using MongoDB replicaset]
#dbhostport=[hos

[2019-05-30 18:56] Sbrenthughes commented on #2942
Did you create a dashboard with an scm widget?

[2019-05-30 19:16] ajayakumar-jayaraj commented on #2942
@Sbrenthughes Thanks , you mean Configure Code Repo Widget ??

[2019-05-30 19:27] Sbrenthughes commented on #2942
Yes configure it and then the collector should try to collect

[2019-05-30 21:02] ajayakumar-jayaraj commented on #2942
@Sbrenthughes it is not allowing to configure in the frontend

![image](https://user-images.githubusercontent.com/32649250/58664449-a437ca80-82fc-11e9-8240-a3a051c6823b.png)

[2019-05-30 21:20] Sbrenthughes commented on #2942
Can you post your api properties

[2019-05-31 00:16] Sbrenthughes commented on #2935
Windows, Mac, Linux?

[2019-05-31 02:26] ajayakumar-jayaraj opened #2943 "jira collector Null pointer exception"
Getting below exception:
Exception:
2019-05-30 22:16:00,136 INFO  c.c.d.collector.FeatureCollectorTask - JIRA Collector is set to work in Board mode
2019-05-30 22:16:00,136 INFO  c.c.d.collector.FeatureCollectorTask - Hours since last run = 433130. Collector is about to refresh Team/Board information
2019-05-30 22:16:00,170 ERROR c.c.d.collector.FeatureCollectorTask - Failed to collect jira inform

[2019-05-31 02:29] ajayakumar-jayaraj commented on #2943
@Sbrenthughes  pls help on this

[2019-05-31 04:33] rvema commented on #2913
@vbottu can you get the latest code and retry. I believe this issue should be fixed now

[2019-05-31 04:35] rvema commented on #2878
@mitunmbj closing due to inactivity

[2019-05-31 04:35] #2878 closed

[2019-05-31 10:49] Blessie7 commented on #2883
@Sbrenthughes Hi, I am able to see the projects in Rally widget now. But feature widget is not showing up any data yet.
![rally1](https://user-images.githubusercontent.com/20610136/58701121-bd557f80-83bf-11e9-94c8-375eea122d88.JPG)
![rally2](https://user-images.githubusercontent.com/20610136/58701125-c0507000-83bf-11e9-841c-bceeed92bfc2.JPG)
Any suggestions please?

[2019-05-31 12:18] ssrivastava-papajohns opened #2944 "Jira Collector Username Authorization issue"
I have created a new Jira cloud trial account. In the hygieia documentation username:password(encoded in base64) is mentioned for collector authentication. I am trying to authorize Jira with collector using email:password(encoded in base64) format but it's not working.

I searched on the internet and found that Jira has already removed username field from Jira.

https://confluence.atlassian.com/cl

[2019-05-31 12:19] suruchi10 commented on #2935
Windows 64 bit with 8 gb ram

On Fri 31 May, 2019, 5:46 AM Sbrenthughes, <notifications@github.com> wrote:

[2019-05-31 14:08] ajayakumar-jayaraj commented on #2942
Thanks @Sbrenthughes , I am able to configure repo widget now and run the collector . but it is not pulling up metrics and failing with below error.

2019-05-31 10:00:00,342 INFO  c.c.d.collector.CollectorTask - Starting...
2019-05-31 10:00:00,342 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-05-31 10:00:00,917 ERROR c.c.d.c.DefaultBitbucketServerClient - Failed to

[2019-05-31 15:23] Sbrenthughes commented on #2944
This has already been raised. Have you looked at this issue? https://github.com/Hygieia/Hygieia/issues/2849

[2019-05-31 15:24] Sbrenthughes commented on #2944
I am sure @mitunmbj can provide further detail if needed.

[2019-05-31 15:28] Sbrenthughes commented on #2943
Do you get a response when you navigate to `https://<jiralurl>/rest/agile/1.0/board`?

[2019-05-31 15:33] Sbrenthughes commented on #2942
@shishirchaturvedi can you provide your thoughts here?

[2019-05-31 15:35] #2938 closed

[2019-05-31 15:35] Sbrenthughes commented on #2938
@vishalbisa unfortunately I am not familiar with that aspect of hygieia yet.

[2019-05-31 15:36] Sbrenthughes commented on #2804
@vishalbisa I am not familiar with loading test data to hygieia. I will try read up but will likely be sometime before I can respond back about it.

[2019-05-31 15:37] Sbrenthughes commented on #2908
Any update?

[2019-05-31 15:46] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj Looking at your log my guess is that you git.host is wrong. Git host should be proper bitbucket server url.
example config,
[code]

[2019-05-31 15:57] Sbrenthughes commented on #2883
Did you resolve the the 401?

[2019-05-31 17:43] vishalbisa commented on #2804
Thanks @Sbrenthughes  apologies for adding another issue, i am trying to use jenkins collector with open source jenkins ( https://ci.jenkins.io ), i am getting the error as MONGO_PORT is not defined attached below screenshot, also attached my properties-buildler.sh file.
i am not sure from where these parameters are fetching as i dont see those in my properties file.

![image](https://user-images.

[2019-05-31 18:24] ajayakumar-jayaraj commented on #2943
@Sbrenthughes yes i get response when i navigate with https://<jiralurl>/rest/agile/1.0/board

{"maxResults":50,"startAt":0,"isLast":false,"values":[{"id":1,"self" ....}

[2019-05-31 21:18] bargemb opened #2945 "CORS issue when api port other than 8080"
I have UI and API components running on same remote server. UI is served using `gulp serve` as of now.
API is currently running on 8081 port with following configuration
[code]
gulpfile.js file content
[code]
When I click on login button, I get ✅ meaning API connectivity is working properly.
When I try to signup for new user, I get *User already exist* issue. However the actual issue is related to

[2019-05-31 21:21] ajayakumar-jayaraj commented on #2942
same error @Sbrenthughes @shishirchaturvedi

2019-05-31 17:20:00,490 ERROR c.c.d.c.DefaultBitbucketServerClient - Failed to obtain commits from http://***/rest/api/1.0/projects/projects/repos/MSA/repos/atd-microservices/browse/commits?until=master&limit=20
org.springframework.web.client.HttpClientErrorException: 404 Not Found
	at org.springframework.web.client.DefaultResponseErrorHandler.handleErr

[2019-05-31 21:40] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj
http://***/rest/api/1.0/projects/projects/repos/MSA/repos/atd-microservices/**browse**/commits?until=master&limit=20

I see **browse** in the rest API URL. This is wrong. There should not be a browse in API URL. This might have happened due to wrong Repo URL in the configuration of repo widget. Can you please share your repo URL which you have used in the configuration of your

[2019-05-31 22:04] bargemb commented on #2945
During signup even if I am getting error that *User already exists*, it doesn't before signup and gets created anyhow.

[2019-06-01 10:30] ajayakumar-jayaraj commented on #2942
I corrected the repo url ,
this is url in the widget http://<hostname>/scm/msa/**-microservices

Application.properties:
git.host=****
git.api=/rest/api/1.0/
git.username=***
git.password=***

I am getting 401 unauthorized error now:

2019-06-01 06:10:00,290 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-06-01 06:10:00,291 INFO  c.c.d.collector.CollectorTask - Start

[2019-06-02 17:52] ajayakumar-jayaraj commented on #2943
@Sbrenthughes Any update on this ??

[2019-06-03 06:35] Blessie7 commented on #2883
Yes, 401 issue is resolved with the use of service account for Rally login.

[2019-06-03 06:40] Blessie7 commented on #2862
Hi, Any update on this please?

[2019-06-03 12:08] ajayakumar-jayaraj opened #2946 "Data not populating on deploy dashboard"
i have configured jenkins collector and it is populating data in build dashboard but it is NOT populating any info on deploy dashboard. Please help on this and let me know  if I am missing something.

![image](https://user-images.githubusercontent.com/32649250/58800720-9624cb00-85d6-11e9-809a-754a79bbc36b.png)

![image](https://user-images.githubusercontent.com/32649250/58800736-a0df6000-85d6-11e9

[2019-06-03 13:42] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj Can you successfully get a response from bitbucket server from the [Postman](https://www.getpostman.com/) or using any other rest client. I suspect the user and credentials which you are using is unauthorized. Also please use encrypt credentials in `git.password = ***`.

[2019-06-03 15:27] ajayakumar-jayaraj commented on #2942
yes @shishirchaturvedi  I am able to see response in postman. I tried encrypt password with base64 and rerun even same 401 unauthorized error.

[2019-06-03 16:55] ParashmaniD commented on #2926
@rvema any updates please?

[2019-06-03 17:15] rvema commented on #2926
@ParashmaniD Still working on it, Meanwhile can you try checkout of source code from master branch and build using mvn clean install?

[2019-06-03 18:30] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj Can you try configuring username and password in the repo widget configuration.  The current implementation is using the username/password(encrypted) from the repo widget configuration.

[2019-06-03 20:02] ajayakumar-jayaraj commented on #2942
Hi @shishirchaturvedi  I removed credentials on application.properties and updated in repo widget with password (encrypted with base64). I still face the same issue.

[2019-06-03 22:17] rvema commented on #2908
@vbottu Can you let us know so that we can close this issue?

[2019-06-03 22:17] rvema commented on #2913
This issue has been resolved.

[2019-06-03 22:17] #2913 closed

[2019-06-04 02:14] rvema commented on #2946
@ajayakumar-jayaraj The jenkins collector at this point is capable of populating only the build widget. The deploy widget is populated by any of the collectors under deploy folder of Hygieia project. At this moment there are collectors for xdeploy and udeploy. If you use a different toolset for deployment or would like to use Jenkins as a mode of deployment then you may leverage the hygieia-publis

[2019-06-04 02:32] rvema commented on #2939
@ajayakumar-jayaraj Can you check for whitespaces in your application.properties  for sonar collector and confirm if this is still an issue?

[2019-06-04 02:35] rvema commented on #2907
@vbottu Have you tried adding `hygieiaDeployPublishStep` and `hygieiaArtifactPublishStep` to your pipeline? Please confirm if this is still an issue?

[2019-06-04 02:37] rvema commented on #2902
@caiohcl We currently do not have an ETA for this fix, if you have bandwidth please contribute back to the project by implementing the fix.

[2019-06-04 02:41] rvema commented on #2883
@Satheesh-Balachandran Any thoughts on this issue?

[2019-06-04 02:42] rvema commented on #2876
closing the issue due to inactivity

[2019-06-04 02:42] #2876 closed

[2019-06-04 02:44] rvema commented on #2877
@cjchand Have you tried using `dbname=dashboarddb` in your properties?

[2019-06-04 02:48] rvema commented on #2832
@IATVirtusa Can you confirm if you have implemented the above recommendations ?

[2019-06-04 02:50] rvema commented on #2820
@zerolaser Can you get the latest code frommaster branch and retry? If this is still an issue please let us know

[2019-06-04 02:52] rvema commented on #2806
Closing the issue since this is resolved.

[2019-06-04 02:52] #2806 closed

[2019-06-04 02:56] rvema commented on #2766
@shishirchaturvedi Is this still an issue?

[2019-06-04 03:01] rvema commented on #2865
@divyachinna Is this still an issue?

[2019-06-04 03:09] rvema commented on #2862
@Blessie7  here is a sample service configuration for Hygieia API.

[2019-06-04 03:16] rvema commented on #2945
@bargemb Can you verify if your api is active on port 8081 by running a sample request using a rest client like postman?

[2019-06-04 03:22] rvema commented on #2945
@bargemb did you try the suggestion from @stevegal  in the issue referenced above?
`You may run into quite a lot of cors issues. I work around this by setting up an httpd service to act as a reverse proxy to api and hi so they all have the same server and port. Otherwise the api needs lots of changes to allow cors`

[2019-06-04 03:26] rvema commented on #2932
@rstmna This feature is not available currently and we have not received enough requests for such a need. However since this is specific to your needs you are free to make modifications to the source code per your needs and use it.

[2019-06-04 03:26] #2932 closed

[2019-06-04 08:03] pandeyalok opened #2948 "I am not able to add multiple jenkins job on same dashboard"
I am trying to add multiple jenkins job on same dashboard, can you please suggest how we can do this

[2019-06-04 09:13] gopiprasanthpotipireddy commented on #2948
@pandeyalok with the current Build widget you can select only one Jenkins  job at a time.

[2019-06-04 11:29] rvema commented on #2943
@ajayakumar-jayaraj looking at the stack trace there seems to be an issue making the rest call and getting the response. Most likely the response is null. Do you see any error related to the network call from the logs?

[2019-06-04 11:33] rvema commented on #2948
There is work in progress to implement this feature however no ETA at this moment.

[2019-06-04 11:33] #2948 closed

[2019-06-04 11:35] rvema commented on #2925
@poojithkumar Do you still need this issue to be open?

[2019-06-04 11:35] rvema commented on #2922
@vbottu is this still an issue?

[2019-06-04 11:53] rvema commented on #2862
@Blessie7 Please let us know if you have enough information so that we can close this issue

[2019-06-04 11:53] #2910 closed

[2019-06-04 12:48] IATVirtusa commented on #2946
@rvema  jenkins-Hygieia publisher is publishing deployment information to deploy widget, but in the product dashboard i am not able to see any commits and other stats like avg time and standard deviation for the environments like Dev and QA. i am able to see the commit and build info in product dashboard.

[2019-06-04 12:51] gopiprasanthpotipireddy commented on #2946
@IATVirtusa @rvema I am having the same issue with jenkins-Hygieia publisher plugin here i am attaching the screens
![Screenshot (27)](https://user-images.githubusercontent.com/14222254/58880453-86e86f00-86f5-11e9-8ab6-4376c2e1baf4.png)

[2019-06-04 12:54] gopiprasanthpotipireddy commented on #2893
@rvema can you look in to this ? i am not getting any commit info in environments other than commit and build. i am using jenkins-hygieia plugin for deploy widget.

[2019-06-04 12:58] e88z4 commented on #2926
Hi,

I am having this issue as well when trying to build the latest hygieia from the latest master branch.

Below the error after executing gulp build
[code]

[2019-06-04 12:58] ajayakumar-jayaraj commented on #2943
@rvema i can see application is not coming up with null pointer exception with below log in jira.log, I can see api response with below endpoint http://***/rest/agile/1.0/board with no issues but noticed to null response to http://**/rest/agile/1.0/board/rest/agile/1.0/board?startat=0

2019-06-04 08:43:39,500 ERROR o.s.boot.SpringApplication - Application startup failed
org.springframework.beans.f

[2019-06-04 13:04] ParashmaniD commented on #2926
@rvema , thanks for your response. I have followed your instructions.

I have checked out the latest version of hygieia-core. The latest commit on my local master is 05c927137251a7f576d46b335e463e624bd97419
I have then build the project successfully.

I have checked out the latest version of Hygieia. The latest commit on my local master is 0c5c0f3a45ae44246150d159636d0f3961e31342
I have tried to r

[2019-06-04 13:42] shishirchaturvedi commented on #2766
This issue is resolved. I will close it.

[2019-06-04 13:42] #2766 closed

[2019-06-04 13:44] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj Can you try this curl command to ensure that your credentials are correct -
[code]

[2019-06-04 14:32] bargemb commented on #2945
@rvema API seems to work as I was successfully able to get **true** response when I hit http://<IP_ADDRESS>:8081/api/ping

It seems that dockerized version of Hygieia uses NGINX for the same purpose.  I am switching to dockerized installation.

Just wanted to confirm that changing port for API is not a smooth ride

[2019-06-04 14:59] ajayakumar-jayaraj commented on #2942
I am able to get response for curl http://**/rest/api/1.0/projects/m*/repos/microservices/commits -u username:Password

[2019-06-04 16:35] #2925 closed

[2019-06-04 17:28] ajayakumar-jayaraj commented on #2943
Attached complete logs
[jiracollector-2019-06-04.0.log](https://github.com/Hygieia/Hygieia/files/3253681/jiracollector-2019-06-04.0.log)

[2019-06-04 17:43] cjchand commented on #2877
@rvema Yes, it works if I add my account to the Hygieia DB itself. However, this is not standard practice for many MongoDB installs.

Instead, all users - regardless of the DB(s) they use - are typically added to the `admin` DB, then granted rights to the DB(s) they need to access. In fact, [MongoDB stores all users in the admin DB regardless of what DB you create the account in](https://docs.mong

[2019-06-04 18:44] rvema commented on #2945
@bargemb we have not explored using a port other than 8080 for UI. We will assess the impact and see it can be fixed. Meanwhile if you have the fix for this please contribute back to this project we greatly appreciate it.

[2019-06-04 18:50] rvema commented on #2943
@ajayakumar-jayaraj Can you check the feature.cron property? The null pointer seems to be happening due to bad cron setting

[2019-06-04 18:52] rvema commented on #2943
seems that you are using `feature.cron=0 * * * * *` can you change it to `feature.cron=0 * * * * `

[2019-06-04 18:53] OneMoreByte opened #2949 "Question about state of Docker containers (Artifactory properties-builder)"
I was playing with the artifactory artifact collector docker container and I noticed that the properties-builder.sh for it produced a property file with out of date syntax. ([this](https://github.com/Hygieia/Hygieia/blob/master/collectors/artifact/artifactory/docker/properties-builder.sh#L41-L51) and [this](https://github.com/Hygieia/Hygieia/blob/master/collectors/artifact/artifactory/docker/prope

[2019-06-04 19:07] ajayakumar-jayaraj commented on #2943
[jiracollector-2019-06-04.0.log](https://github.com/Hygieia/Hygieia/files/3254098/jiracollector-2019-06-04.0.log)
Failed again with same error . Attached log file. @rvema

[2019-06-04 19:31] rvema commented on #2943
The cron schedule is an issue per the below error
`Caused by: java.lang.NullPointerException: null
	at org.springframework.scheduling.support.CronSequenceGenerator.parse(CronSequenceGenerator.java:265) ~[spring-context-4.2.5.RELEASE.jar!/:4.2.5.RELEASE]
	at org.springframework.scheduling.support.CronSequenceGenerator.<init>(CronSequenceGenerator.java:95) ~[spring-context-4.2.5.RELEASE.jar!/:4.2.5.

[2019-06-04 19:57] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj This is great that you make rest api call through curl command. Now I am sure that the encryption mechanism you are using is incorrect. Can you please use this class to generate an encryption key and use that to encrypt your secret. You will use configure this encrypted key with git.key=someLongKey.
For example when I execute Encryption.java then I get this output,
[code]
Here

[2019-06-04 22:53] ajayakumar-jayaraj commented on #2946
@rvema Thanks for the info . I have configured Jenkins plugin and followed the link you shared. I am able to get metrics in build dashboard , but still i am not seeing data in deploy dashboard. can you please advise on it..

[2019-06-05 12:19] jsam2412 commented on #2829
Downloading and pointing to JDK 8 version solved my issue.
Thanks @pavankjadda !!!

[2019-06-05 12:20] rvema commented on #2829
Thanks for sharing the solution

[2019-06-05 15:52] Sbrenthughes commented on #2946
@ajayakumar-jayaraj are you using a Jenkinsfile or post build steps? Right now Post build steps do not publish deploy data. For now, To get deploy data, you need to migrate to a Jenkinsfile for your jobs. We will be fixing this in the future.

[2019-06-05 16:57] ajayakumar-jayaraj commented on #2943
@rvema . I built and applied the properties from beginning. Still we have null pointer exception.

2019-06-05 10:29:00,001 INFO c.c.d.collector.CollectorTask - Running Collector: Jira
2019-06-05 10:29:00,133 INFO c.c.d.collector.CollectorTask - -----------------------------------
2019-06-05 10:29:00,133 INFO c.c.d.collector.CollectorTask - http://***/
2019-06-05 10:29:00,133 INFO c.c.d.collector.C

[2019-06-05 17:18] #2662 closed

[2019-06-05 17:28] rvema commented on #2943
@ajayakumar-jayaraj can you re attach the entire log file?

[2019-06-05 17:32] ajayakumar-jayaraj commented on #2946
@rvema @Sbrenthughes

![image](https://user-images.githubusercontent.com/32649250/58976714-21988a80-8796-11e9-8013-e08b9ff82ab4.png)

hygieiaDeployPublishStep applicationName: 'hygieia-test', artifactDirectory: 'app/target', artifactGroup: 'com.mycompany.app', artifactName: '*.jar', artifactVersion: '', buildStatus: 'Success', environmentName: 'uat'

[2019-06-05 17:33] rvema commented on #2949
@OneMoreByte The PR#2767 needs to be reworked which we are working with the developer to get it done. Regarding the properties-builder.sh w.r.t. artifactory collector it needs some updates. Please feel free to contribute back if you have some bandwidth, it would be greatly appreciated.

[2019-06-05 18:01] ajayakumar-jayaraj commented on #2943
attached the log file
[jiracollectorupdated.txt](https://github.com/Hygieia/Hygieia/files/3258444/jiracollectorupdated.txt)

[2019-06-05 18:06] rvema commented on #2943
@ajayakumar-jayaraj Logs have error connecting to the database. please fix the appropriate information in the properties file.

[2019-06-05 18:36] ajayakumar-jayaraj commented on #2943
@rvema I fixed the password . Please review the bottom of file for the latest logs.

[2019-06-05 21:31] ajayakumar-jayaraj commented on #2942
Thanks @shishirchaturvedi  it is working .

[2019-06-05 21:41] OneMoreByte commented on #2949
Alright, I can probably spare the time for the fix for that. But as far as where the containers are going are the properties-builder.sh scripts going to be replaced with volumes like that?

[2019-06-05 23:39] ajayakumar-jayaraj commented on #2943
@rvema Any update on this ?

[2019-06-06 06:33] divyachinna commented on #2865
@rvema we tried to save the bit bucket pipeline  data according to how Jenkins build collector storing data in mongodb. But we are able to display the data only for master branch not for other branches. Is it mandatory for having same  UI as Jenkins Build Collector is showing. Is there any chance to change the UI.

[2019-06-06 09:27] gopiprasanthpotipireddy commented on #2946
@rvema can you share the sample jenkinsfile for hygiea-jenkins plugin. it is helpful.

[2019-06-06 13:06] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi I see a weird issue , the encrypted password setup on widget gets reset or stops working in the subsequent collector run. I updated the password again on the widget it started working again .

[2019-06-06 13:27] rvema commented on #2862
Closing this issue as the requested information was provided

[2019-06-06 13:27] #2862 closed

[2019-06-06 13:30] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj What exception do you get when collector stops working? Is it still -  ```org.springframework.web.client.HttpClientErrorException: 401 Unauthorized```.

[2019-06-06 13:41] rvema commented on #2946
@gopiprasanthpotipireddy one way is use to use the post build step in your jenkins job.
<img width="1442" alt="Screen Shot 2019-06-06 at 9 14 04 AM" src="https://user-images.githubusercontent.com/7529330/59035553-8528c380-883b-11e9-8f41-07bd11f68b3d.png">

For steps in pipeline, please see some example syntax of various steps:

`hygieiaDeployPublishStep applicationName: "someapp", artifactDirector

[2019-06-06 13:49] rvema commented on #2943
@ajayakumar-jayaraj Per the latest log there seems to be an connectivity error while connecting to jira server.
`019-06-05 12:58:00,067 ERROR o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpected error occurred in scheduled task.
org.springframework.web.client.ResourceAccessException: I/O error on GET request for "https://jira/rest/api/2/issuetype": Connection refused (Connection refused); nested exc

[2019-06-06 13:55] rvema commented on #2943
@ajayakumar-jayaraj do verify the value of `feature.jiraBaseUrl`

[2019-06-06 13:58] nireeshT commented on #2933
@fldadof5  Modify properties as below

artifactory.cron=* * * * * *
artifactory.endpoint=artifactory/
artifactory.servers[0].username=
artifactory.servers[0].apiKey=
artifactory.servers[0].url=

artifactory.servers[0].repoAndPatterns[0].repo=prerelease
artifactory.servers[0].repoAndPatterns[0].patterns[0]= patterns for prerelease

artifactory.servers[0].repoAndPatterns[1].repo=release
artifactory.

[2019-06-06 14:29] ajayakumar-jayaraj commented on #2943
@rvema you are seeing old logs which i tried out for https endpoint. we are using http and feature.jiraBaseUrl looks fine.

[2019-06-06 14:38] gopiprasanthpotipireddy commented on #2946
@rvema  what is the exact steps in jenkinsfile to get metrics in product dashboard. do i need to use both hygieiaDeployPublishStep and hygieiaArtifactPublishStep or any one of this is enough?

[2019-06-06 14:40] gopiprasanthpotipireddy commented on #2946
The same issue i rised here.
https://github.com/Hygieia/Hygieia/issues/2893

[2019-06-06 14:47] ajayakumar-jayaraj commented on #2943
[jiracollector-2019-06-06.0.txt](https://github.com/Hygieia/Hygieia/files/3262134/jiracollector-2019-06-06.0.txt)
@rvema please see the latest failiure logs . Hopefully this help.

[2019-06-06 15:18] srivasis opened #2952 "Integrate Jenkins into Hygieia Dash (Setup using Docker)"
Hello,
I recently started a Hygieia Dashboard by running the ui and api as docker containers. I want to integrate Jenkins into Hygieia and cannot find any instructions on how to do so, especially for docker. I did find instructions for integration if the dash was deployed not through docker but nothing for docker container deployment.
Thank you in advance.

[2019-06-06 15:20] rvema commented on #2952
@srivasis Can you check this project - https://github.com/Hygieia/hygieia-starter-kit and see if that helps

[2019-06-06 15:24] srivasis commented on #2952
Will do, thank you!

[2019-06-06 15:25] ajayakumar-jayaraj commented on #2942
Hi @shishirchaturvedi attached the error logs

2019-06-06 11:20:00,006 INFO  c.c.d.collector.CollectorTask - Running Collector: Bitbucket
2019-06-06 11:20:00,233 INFO  org.mongodb.driver.connection - Opened connection [connectionId{localValue:34, serverValue:6081}] to **:27017
2019-06-06 11:20:00,291 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-06-06 11:20:00,291

[2019-06-06 15:29] rvema commented on #2946
@gopiprasanthpotipireddy each of the mentioned steps are discrete and you would need to invoke all the steps if you need information about all of them.

[2019-06-06 15:35] srivasis commented on #2952
I am just starting off with Hygieia and i know some of these questions might be very basic. So, I am trying to figure out how this works in a larger scheme of things. The hygieia-ui docker image i pulled contains the frontend part of the dash and the hygieia-api is the one that talks to the mongodb. How exactly are the collectors then configured if you are working with docker? According to the arc

[2019-06-06 16:02] clengemann opened #2953 "Integrating Bitbucket into Hygieia using Docker"
Hello,
I created a Hygieia Dashboard and I made the ui and api docker containers. I would like to integrate bitbucket into Hygieia and I am getting an error while trying to do so. The error that I am getting is

 ERROR o.s.boot.SpringApplication - Application startup failed
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'gitCollectorTask' defined in

[2019-06-06 16:08] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj I see two issues here.
**1. Encryption Key is not used for both encryption and decryption** Please configure SCM collector to use same Encryption Key which you have used to encrypt your password.
**2. bitbucket server is sending response over HTTP** I see an exception with a message `Unrecognized SSL message, plaintext connection`. This means that Bitbucket server is sending re

[2019-06-06 16:40] JFDonaghy opened #2954 "Sonar integration in Docker-contained EC2"
Hello everyone,

I'm very new to DevOps and want to learn how to incorporate collectors like Sonarqube and Fortify into Hygieia using an EC2 image that contains Docker.

I've already found a few sonar examples such as the one here https://github.com/docker-library/docs/tree/master/sonarqube, but I am having trouble since my portainer image already uses port 9000. I'm not sure what to change the po

[2019-06-06 17:20] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi

 1)  it is getting expiring or failing to use the git.key/encrypted Password after 30 minutes, any runs within 30 mins are successful after the password update on widget.

2) our stash end point is http

![image](https://user-images.githubusercontent.com/32649250/59052636-7c48e980-885d-11e9-99c7-cfd3bd86c9ca.png)

# Mandatory parameters
git.host=stash.***
git.api=/rest/api/1.0/

[2019-06-06 17:42] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj It is strange that Bitbucket collector is unable to decrypt credentials after 30 mins. I don't see any reason why it is behaving that way. Encryption keys in Hygieia are loaded at startup time. There is no reason why it should reset the encryption key.
One possibility is that somehow encrypted password, which is stored in Hygieia MongoDB, is getting changed/updated.
Can you ena

[2019-06-06 18:46] rvema commented on #2954
@JFDonaghy Are you having trouble to bring up the sonar server on any port other than 9000? and then try configuring with Hygieia?

[2019-06-06 18:51] rvema commented on #2945
@bargemb do you have this running on your local machine or on a seperate box? Also I see that you are using ip address is there any reason why you cant use localhost?

[2019-06-06 19:27] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi yes I agree , encrypted password is getting changed with 30 min duration.

[2019-06-06 19:28] bargemb commented on #2945
I am running this on our internal server.

I have now switched to dockerized setup and default ports are working properly now. Currently it's not blocker issue for me although I would suggest to keep this issue open.

Nothing specific about the IP address. Would it cause any issues ?

[2019-06-06 19:37] stevegal commented on #2945
Core policy is quite strict, both port and server must match. I know I had a ton of problems trying to “just” run it all locally... hence setting up an quick reverse proxy using apache, but Nginx works too... and it’s all handled in the docker containers. But there is no magic here... if you want to piece it all together you’ll have to deal with the cors aspect (and rightly so... don’t be tempted

[2019-06-06 20:13] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi pls see attached log file
[bitbucket-collector-2019-06-06.0.txt](https://github.com/Hygieia/Hygieia/files/3263305/bitbucket-collector-2019-06-06.0.txt)

[2019-06-06 20:14] ajayakumar-jayaraj commented on #2943
@rvema did you got a chance to look at the logs

[2019-06-06 20:19] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj I don't see log file link.

[2019-06-06 20:20] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi Pls check now

[2019-06-06 20:34] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj I didn't find anything suspicious in the log file. Bitbucket calls are getting 200 response.
Anyways, can you pull the latest source code of Hygieia? My PR was merged recently and it will allow you to use global Bitbucket password in the application.properties file. So after pulling latest code, you can configure Bitbucket username/password as,
[code]

[2019-06-06 20:50] rvema commented on #2945
closing this issue as it was solved.

[2019-06-06 20:50] #2945 closed

[2019-06-06 21:01] bargemb commented on #2945
@rvema the issue with local setup (without using docker and reverse proxy) is not yet solved.

[2019-06-06 21:09] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi removed the username and passwd on widget and included delcaration on application.properties. it didnt work getting org.springframework.web.client.HttpClientErrorException: 401 Unauthorized
# Mandatory parameters
git.host=stas***
git.api=/rest/api/1.0/
git.username=A**
git.password=B**
git.key=zbz***

[2019-06-06 21:18] OneMoreByte opened #2956 "Bug with Bitbucket collector after initial commit/pr pull"
With one of the recent PRs related to the Bitbucket collector (PR #2678) I've encountered an issue after the collector writes it's first time to the database. It thereafter can't read the time back from the collector_item, and would crash with the exception...
[code]

Did I misconfigure something or is did `getLastUpdateTime()` miss the refactor of how the collector handles it's time?

[2019-06-06 21:34] stevegal commented on #2945
Different browsers have different restrictions on local host cors policy. You could add allow headers in the api, but that could open up a serious misconfiguration attack vector to the casual user. Although I’ve no involvement in this project other than believing this is such an important tool, I don’t think it would be wise to workaround the cors issue out of the box. It’s there to protect the en

[2019-06-07 07:05] gopiprasanthpotipireddy commented on #2946
![image](https://user-images.githubusercontent.com/14222254/59086851-94ce0800-8920-11e9-9139-c0e77e961983.png)
@rvema now i am able to get the commits in dev stage but not the metrics using jenkinsfile.

[2019-06-07 10:38] gopiprasanthpotipireddy commented on #2946
![image](https://user-images.githubusercontent.com/14222254/59098576-4af41a80-893e-11e9-861b-fd45bd642e21.png)
the product view is like in the attachment. @rvema can you suggest any doc regarding the metrics logic.

[2019-06-07 12:00] sudhanshusr opened #2957 "Jenkins Collector Not collecting all the Jobs only able to collect first few jobs."
Jenkins is not collecting all the jobs. Jenkins is able to collect few 500 Jobs. I have more than 3000 Jobs approx.

2019-06-07 16:45:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Hudson
2019-06-07 16:45:00,357 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-06-07 16:45:00,358 INFO  c.c.d.collector.CollectorTask - https://prod-jenkins.papajohns.com/

[2019-06-07 12:56] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj Have you pulled latest source code of Hygeia? Can you run SCM collector in debug mode and check credentials in the rest call or in the debug logs?

[2019-06-07 13:52] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi yes I took the latest code. I am using the same key and credentials which was working before . one bug i see it is pulling the old credentials which should not be used  , it is not getting the credential hardcoded in the application.properties . i believe if we update the credentials it shd overwrite the older one. Please looks into asap. it is completely broken now.

[2019-06-07 13:58] clengemann commented on #2313
Hi, can you please share how you solved this issue? I'm struggling with this too.

[2019-06-07 14:00] OneMoreByte commented on #2956
@shishirchaturvedi  @rvema @Sbrenthughes

[2019-06-07 14:08] mitunmbj commented on #2907
hello guys
![image](https://user-images.githubusercontent.com/43162712/59110042-ddef7d80-895b-11e9-92d7-af6e6fb94350.png)

[2019-06-07 14:09] mitunmbj commented on #2907
The jenkins job shows that it has published results
but in hygieia dashboard it is not showing

[2019-06-07 14:14] JFDonaghy commented on #2954
Thank you very much for reaching out! I found a video that helped me realize that you can change the port, by un-commenting a line in the sonar.properties file (for anyone looking at this later: search for TCP port).

I still have other problems to fix (like a 'bean' error), but I will close this issue.

[2019-06-07 14:14] #2954 closed

[2019-06-07 14:24] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj Current implementation works like this,
1. If repo credentials are configured in repo config widget then it is given priority.
2. When repo credentials are missing in config widget then use globally configured credentials.
https://github.com/Hygieia/Hygieia/blob/master/collectors/scm/bitbucket/src/main/java/com/capitalone/dashboard/collector/SCMHttpRestClient.java#L34-L38
3. If

[2019-06-07 14:26] shishirchaturvedi commented on #2956
@OneMoreByte I am looking at this.

[2019-06-07 14:40] shishirchaturvedi commented on #2956
@Sbrenthughes In my last PR for Bitbucket enhancement, I changed `LastUpdateTime` field on GitRepo collection from java.util.Date to Long(milliSeconds). It is Hygeia standard to use Time Stamps in long millis. Based on the review comments I've changed 'LastUpdateTime' to long but it is breaking existing users of SCM bitbucket collectors. I can submit a PR to change this field back to java.util.Dat

[2019-06-07 14:55] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi i verfied no credentials are hardcoded widget . I verified key and encrypted password set in appl properties. I have below error now

2019-06-07 10:50:00,002 INFO  c.c.d.collector.CollectorTask - Running Collector: Bitbucket
2019-06-07 10:50:00,242 INFO  org.mongodb.driver.connection - Opened connection [connectionId{localValue:6, serverValue:7623}] to ***:27017
2019-06-07 10:50

[2019-06-07 15:16] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj This is a valid error. The root cause for this error is the incompatible conversion of LastUpdateTime filed on GitRepo collection. This change is related to my last PR. I have issued a PR which should address this issue.
However, I don't see any 401 unauthenticated user error in your log and seems like your collector was able to authenticate Bitbucket successfully.

[2019-06-07 15:24] ajayakumar-jayaraj commented on #2942
Thanks @shishirchaturvedi . Please let me know once the fix is ready, ..

[2019-06-07 15:25] shishirchaturvedi commented on #2956
@OneMoreByte You are right. I missed the conversion of LastUpdateTime field (Date->Long). My intention was to use Long for LastDateTime field but somehow missed to update it uniformly.
I have submitted this [PR](https://github.com/Hygieia/Hygieia/pull/2958) and it would be great if you can validate it.

[2019-06-07 15:26] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj It would great if you can validate this PR: #2958

[2019-06-07 15:38] #2956 closed

[2019-06-07 15:42] shishirchaturvedi commented on #2956
@OneMoreByte Please let me know if you still encounter any issue. I feel that this change of LastUpdateTime from Date to Long might break existing users fo Bitbucket scm collector. I could be wrong.
cc @Sbrenthughes

[2019-06-07 15:44] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj #2958 is merged. Can you please pull latest source code?

[2019-06-07 16:47] rvema commented on #2956
@OneMoreByte The PR is in, please validate

[2019-06-07 17:46] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi i pulled the latest code. org.springframework.web.client.HttpClientErrorException: 401 Unauthorized is back again ..

[2019-06-07 17:51] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj I don't think that the latest changes(#2958) have anything to do with authentication. Can you please double check your logs for encrypted password? Additionally can you please check what credentials are being passed to Bitbucket Rest API call.
Just to confirm, now you don't see ```java.lang.ClassCastException: java.lang.Long cannot be cast to java.util.Date
at com.capitalone.da

[2019-06-07 18:05] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi I am using same credential which was working . i validated it again . yes i dont see the "java.lang.Long cannot be cast to java.util.Date " but seeing the 401 error with the credentials encoded in application.properties file ,
git.host=s***
git.api=/rest/api/1.0/
git.username=**
git.password=***encryptedpassword
git.key=****

2019-06-07 14:00:00,003 INFO  c.c.d.collector.Collect

[2019-06-07 18:09] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj I am glad that this error is resolved.
[code]
========
I see that authentication is failing here - SCMHttpRestClient.java:41
Can you please enable debug logs so that you can see details logs for Spring. Please enable debug properties which I shared earlier.

[2019-06-07 18:19] ajayakumar-jayaraj commented on #2942
are you in gitter ? what is your gitter id so i canPM the errors

[2019-06-07 18:22] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj yes, let's chat in giiter. I am new to Gitter, can you send me a direct message.

[2019-06-07 18:25] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi i cant find you , what is ur id ??

[2019-06-07 18:29] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj I have posted `Hi` to the Hygieia channel on Gitter. Can you see my message?

[2019-06-07 18:41] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj Now we are connected on Gitter.

[2019-06-07 19:02] JFDonaghy commented on #2811
@yanranzhao. did you figure out how to fetch the data?

I'm having trouble getting that to work.

[2019-06-07 19:15] #2827 closed

[2019-06-07 19:20] Sbrenthughes commented on #2943
Can you use http here and see if you get a response?

[2019-06-07 19:26] Sbrenthughes commented on #2943
I get the exact same error when I do not use https.. I would suggest switching your jira to use it.

[2019-06-07 19:40] ajayakumar-jayaraj commented on #2943
I can get response for it ...

[2019-06-07 20:57] OneMoreByte commented on #2956
@shishirchaturvedi @rvema Sorry to get to this so late on Friday. The PR seemed to do the trick. Thanks so much for your promptness!

[2019-06-08 15:03] rvema commented on #2887
closing issue due to inactivity

[2019-06-08 15:03] #2887 closed

[2019-06-09 04:07] sriharshakatakam opened #2960 "No result was available from Jira unexpectedly - defaulting to blank response. The reason for this fault is the following:RestClientException{statusCode=Optional.of(500)"
2019-06-09 00:00:00,461 INFO  org.mongodb.driver.connection - Opened connection [connectionId{localValue:50, serverValue:1696}] to localhost:27017
2019-06-09 00:00:00,491 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-06-09 00:00:00,494 INFO  c.c.d.collector.CollectorTask - http://company url/
2019-06-09 00:00:00,495 INFO  c.c.d.collector.CollectorTask - -----------

[2019-06-09 04:09] sriharshakatakam commented on #2960
# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# Database Username - default is blank
dbusername=dashboarduser

# Database Password - default is blank
dbpassword=dbpassword

# Logging File location
logging.file=./logs/jira.log

# PageSize - Expand contract this value depending on Jira implementation'

[2019-06-09 12:39] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi i rebuilt the mongodb again , i no more see the old credential however i am still getting 401 error 2019-06-09 08:35:00,612 INFO c.c.d.collector.GitCollectorTask - {password=, personalAccessToken=, branch=develop, userID=, url=http://sta*.***/projects/micros/repos/microservices/}::develop::get pulls
2019-06-09 08:35:00,640 INFO c.c.d.collector.PullRequestCollector - Executing [h

[2019-06-09 17:55] sanojdev89 commented on #91
I have created tfs collector for hygiea dashboard.for any queries pls get in touch.

[2019-06-10 04:51] Sbrenthughes commented on #2960
This is not the latest version of the collector. Please use the latest and try again.

[2019-06-10 04:51] #2960 closed

[2019-06-10 08:03] gopiprasanthpotipireddy commented on #2946
@rvema i am able to see the stage metrics in the product view.

[2019-06-10 09:44] gopiprasanthpotipireddy opened #2962 "github collector not collecting new commits"
The github collector is only collecting commits for the first time it is running and not collecting new commits.

[2019-06-10 10:10] gopiprasanthpotipireddy commented on #2832
now its working fine using Jenkinsfile.

[2019-06-10 10:20] gopiprasanthpotipireddy commented on #2820
@rvema i tried the latest code i am getting the same error.

[2019-06-10 10:21] gopiprasanthpotipireddy commented on #2820
2019-06-10 15:49:30,003 INFO  c.c.d.collector.CollectorTask - Starting...
2019-06-10 15:49:30,006 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-06-10 15:49:30,019 INFO  c.c.d.collector.GitHubCollectorTask - {password=, personalAccessToken=ERROR, branch=master, userID=, url=https://github.com/IATVirtusa/devops}::master:: get commits
2019-06-10 15:49:30,020 ERROR c.c

[2019-06-10 10:22] gopiprasanthpotipireddy commented on #2820
2019-06-10 15:52:00,001 INFO  c.c.d.collector.CollectorTask - Running Collector: GitHub
2019-06-10 15:52:00,007 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-06-10 15:52:00,007 INFO  c.c.d.collector.CollectorTask - Starting...
2019-06-10 15:52:00,011 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-06-10 15:52:00,083 INFO  c.c.d.collec

[2019-06-10 13:11] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj Can you enable debug logs? Also please step through rest call in debugging to see what credentials are being passed in the Rest call.

[2019-06-10 14:10] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi Thanks . Please find the attached debug logs
[bitbucket-collector-2019-06-10.0.txt](https://github.com/Hygieia/Hygieia/files/3272363/bitbucket-collector-2019-06-10.0.txt)

[2019-06-10 14:21] shishirchaturvedi commented on #2942
@ajayakumar-jayaraj Can we chat on Gitter?

[2019-06-10 14:37] JULIANCHO923 commented on #91
my email is julianhenao92@gmail.com. Can you tell me more about that?? thanks you

[2019-06-10 14:56] JFDonaghy commented on #2489
Hello, everyone!

I've been trying to follow the Hygieia documentation @ https://hygieia.github.io/Hygieia/setup.html for about a week before stumbling onto this page. I second that alternative of modifying the instructions. At the very least, a fix like the one here should be more visible to newcomers learning this on their own (as I am) so that they don't get discouraged.

Thank you all for offe

[2019-06-10 15:42] ajayakumar-jayaraj commented on #2943
@Sbrenthughes @rvema

I am able to connect to https jira instance . However I don’t see data collected in the dashboard also I see below error in the logs but it is accessible.

Error in calling JIRA API: https://jira***.**.com/rest/agile/1.0/board?startAt=0

2019-06-10 08:21:04,757 INFO  o.s.j.e.a.AnnotationMBeanExporter - Located managed bean 'configurationPropertiesRebinder': registering with J

[2019-06-10 18:15] nitingoyal8 opened #2964 "Enhancing Rally Collector to capture Defect & Test Cases"
I am working on enhancing the rally collector to capture defect/Testcase data along with all existing information. Looking for help or any pointer to start.

@Satheesh-Balachandran - I believe you have last worked on the rally collector, is there anything you can help me with,

Below are the end points which gives the required information for Defects/Testcases.

Number of Open Defects for a Projec

[2019-06-10 18:50] ajayakumar-jayaraj commented on #2942
@shishirchaturvedi it works perfect now . Thanks.

[2019-06-10 18:50] #2942 closed

[2019-06-11 07:00] mitunmbj opened #2965 "Hygie Deploy widget is not fetching data from mongo db (Hygieia Jenkins Plugin)"
I configured Hygieia jenkins plugin
And follwed every steps correctly
now the jenkins through hygieia publisher sends data and the data is present in mongo db
but the deploy widget not showing any data

[2019-06-11 07:08] Harika444 commented on #1668
how to solve that error

[2019-06-11 07:09] Harika444 commented on #1668
assert.js:362
    throw err;
    ^

AssertionError [ERR_ASSERTION]: Task function must be specified
    at Gulp.set [as _setTask] (C:\Users\aharika\Desktop\hygieia\UI\node_modules\
undertaker\lib\set-task.js:10:3)
    at Gulp.task (C:\Users\aharika\Desktop\hygieia\UI\node_modules\undertaker\li
b\task.js:13:8)
    at Object.<anonymous> (C:\Users\aharika\Desktop\hygieia\UI\gulpfile.js:88:6)
    at M

[2019-06-11 07:57] #2965 closed

[2019-06-11 08:12] mitunmbj opened #2966 "Jira Collector fetching data But Not showing in UI"
I configured jira early with my atlassian account and it worked fine and bought data and also propagated in UI now same thing i am doiing for my client.....It is a jira server ...i configured jira and it also fetched data but now its not propagating data in UI

[2019-06-11 09:26] mitunmbj commented on #2952
i can help u

[2019-06-11 12:45] Sbrenthughes commented on #2944
Any update here?

[2019-06-11 13:05] Sbrenthughes commented on #2916
Close due to inactivity.

[2019-06-11 13:05] #2916 closed

[2019-06-11 14:49] #2953 closed

[2019-06-11 15:37] Sbrenthughes commented on #2942
Thank you @shishirchaturvedi !

[2019-06-11 16:05] Sbrenthughes commented on #91
@sanojdev89  Can you contribute this back?

[2019-06-11 16:07] Sbrenthughes commented on #2820
@gopiprasanthpotipireddy can you paste your api and github properties?

[2019-06-11 16:07] JFDonaghy commented on #2811
Got it!

For those of you working on it, the server is where sonar is listening (so http://localhost:9000, so the like) and, once you have the UI running, you fetch with

java -jar sonar-codequality-collector-3.0.2-SNAPSHOT.jar --spring.config.name=sonar --spring.config.location=[path to application.properties file]

and, importantly, wait. The collector needs time to fetch the data. Once I had th

[2019-06-11 17:07] Sbrenthughes commented on #2926
What is your node and npm versions?

[2019-06-11 17:08] Sbrenthughes commented on #2908
Please reopen if this has not be resolved with the latest

[2019-06-11 17:08] #2908 closed

[2019-06-12 09:40] ParashmaniD commented on #2926
[code]

[2019-06-12 16:23] irwindouglas opened #2967 "Sonar Collector: Unable to pull in projects beyond the first page (500 records)"
Looks like Sonar has set a max page size of 500 on api/projects as well now. Experimenting out our Sonar system with 1333 projects, nothing is returned from the collector beyond the first page. Can we add paging support to have the collector loop through all pages increment the pageIndex until all records are collected?

Related to: https://github.com/Hygieia/Hygieia/issues/933

[2019-06-12 16:50] irwindouglas commented on #2967
After pulling the code I think I see the issue. There is paging already on this. It calculated the total records and divides by the PAGE_SIZE and rounds up to the correct number of pages needed to pull the records. When it pulls the record it adds &p=pageNumber but from what I can tell it doesn't send the pagesize. The max page size is 500, however, when I ran this query without setting the page s

[2019-06-12 16:52] irwindouglas commented on #2967
well, just found the code that is setting the pagesize as well when appending URL_RESOURCES. Now I am not sure why we are only seeing records from the first 500 projects...

[2019-06-12 17:12] irwindouglas commented on #2967
Reduced our total sonar projects (pruned branches and older projects) to 500 and our project starting showing up. Still tracking down the issue but definitely was not showing in the auto-complete before in the UI widget

[2019-06-12 17:51] irwindouglas commented on #2967
In collector_items filtering on com.capitalone.dashboard.model.SonarProject only 491 records exist but if I query Sonar directly there are 543 records. I would expect these to match so there must be something causing the records to not fully process. Looking through the error logs only show a few warning on a cookie it doesn't like but no errors.

[2019-06-13 15:41] bargemb opened #2968 "[Help Wanted] Hygieia Jenkins Integration"
Is there any reason why Hygieia Jenkins plugin not available on https://plugins.jenkins.io/ ?

What is recommended way to get data into hygieia from Jenkins ?
Pull (Using various collectors like Jenkins, Jenkins Code Quality, Jenkins Cucumber)
Push (Manually installing plugin on Jenkins using hpi file)

Which one of these methods is stable ? Is Hygieia-Jenkins plugin is supported on Cloudbees Jenk

[2019-06-13 15:55] rvema commented on #2968
Working on publishing it, we I’ll update once done

[2019-06-13 16:26] fidelcoria-aa commented on #2883
My thoughts are that you should avoid using the feature widget for rally. Use the rally widget for rally.
We are using rally widget. Not sure what the feature widget is for, actually.
@Blessie7

[2019-06-13 16:29] rvema commented on #2968
Regarding the second question, we recommend installing the hpi file on the Jenkins masters.

[2019-06-13 16:31] rvema commented on #2966
If I understand correctly you switched the jira endpoints and ran the collector to collect data but you are not seeing the data on UI?

[2019-06-13 17:14] OneMoreByte opened #2970 "Possible to show multiple build jobs in team dashboard?"
I think my answer might be related to #2549, but is there some way I can configure a widget in the team dashboard to either show the output from two or more sources, or add more than one of a kind of widget?

[2019-06-13 18:33] bargemb commented on #2968
Thanks @rvema

[2019-06-13 18:33] #2968 closed

[2019-06-13 19:18] fidelcoria-aa opened #2971 "SonarQube collector does not support multiple servers with multiple accounts"

[2019-06-13 19:19] fidelcoria-aa commented on #2971
The configuration properties do not support having multiple servers each with its own user account.

[2019-06-13 19:22] fidelcoria-aa opened #2972 "SonarQube properties and UI config conflict with each other"
I have multiple sonar qube instances (for historical reasons). If I make a modification to the configuration through the UI the records get reordered in the database. However in the properties file there are version numbers and REST query URLs that are hardcoded to a certain array index...

Obviously this causes problems. Should be fetching the version from the sonar instance. and the metric strin

[2019-06-13 20:13] andy-scollard commented on #2971
We have a working solution for this and will be submitting a pull request within a week.

[2019-06-13 20:16] fidelcoria-aa commented on #2971
Oh, I have a solution, too. I am working on the PR right now. So... I'll race you!

[2019-06-14 10:14] Booma-Baskaran commented on #2867
As far as I know Nexus IQ Scan used to capture/scan open source vulnerabilities in an applications such as License, Security and Policy Alerts. Not sure, it can capture Build violations. Hygieia captures only open source vulnerabilities in an applications and not build violation or so.

[2019-06-14 10:31] Booma-Baskaran commented on #2853
@Sbrenthughes I fixed this by creating a simple java program with the steps mentioned in https://hygieia.github.io/Hygieia/api.html (Basic Authentication for Secure APIs section). After that, content-type with application/json header missing in the Postman call. Fixed it.

Now, I can able to make the Rest calls but I am not sure about the required input parameters. Can you please post here if you

[2019-06-17 14:40] abinassahoo commented on #1161
Hi All,

I am having below error while publishing functional test data to Hygieia from Jenkins plugin. Any help and suggestion is appreciated.

[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 3.922 s
[INFO] Finished at: 2019-06-17T09:26:30-05:00
[I

[2019-06-17 14:59] abinassahoo opened #2977 "Cucumber Reports Integration"
Hi All,

I am having below error while publishing functional test data to Hygieia from Jenkins plugin. Any help and suggestion is appreciated.

[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 3.922 s
[INFO] Finished at: 2019-06-17T09:26:30-05:00
[I

[2019-06-17 16:32] #2883 closed

[2019-06-17 19:17] jlogancase opened #2978 "Github Widget"
When using the GitHub configuration widget and editing an existing configuration if I do not re-enter the 'Personal Access Token', the system will re-encrypt the Token leading to Access Denied errors when the GitHub collector runs..

This raises a related question.  Why is the Personal Access Token sent back to the user's browser?  It is not being de-encrypted and in this UI mode, can't really be

[2019-06-17 20:03] rvema commented on #2978
@jlogancase This is a bug we recently found and will work on getting it fixed.

[2019-06-18 15:29] jarbil opened #2979 "Jira Collector NPE, different from 2943"
I updated the Jira source last week, so I should have the latest changes. It looks like the docs haven't updated in the past month though. The removed settings just ignored, correct?

Here are the settings I have:
[code]

And here is the end of my log:
[code]

[2019-06-19 15:28] yesh518 opened #2982 "Udeploy configuation bug"
While running the UCD collector i found that it is unable to fetch the data,because collector is using only one username and password. It is showing Null Pointer Exception during initial run because servers list in settings is Un Initialized.

[2019-06-19 18:22] clengemann opened #2983 "Fortify integration with Hygieia"
Hello,

I am trying to integrate Fortify with Hygieia. I have seen the posts that say that we need the following .jar files in order to build the collector:

com.fortify:fortify-common:jar:4.30,
com.fortify:fortify-crypto:jar:1.0,
com.fortify:fortify-meta-api:jar:4.30,
com.fortify:fortify-meta-impl:jar:4.30,
com.fortify:fortify-public:jar:4.30,
com.sun.xml.wsit:xws-security:jar:1.3.1,
com.sun.xml.

[2019-06-19 18:53] #2983 closed

[2019-06-20 05:34] gopiprasanthpotipireddy opened #2985 "what does github-graphql collector do and how to run this collector?"
I found github-graphql collector and what does it collect and can any one give properties configuration for this collector.

[2019-06-20 13:03] ekta-thakur commented on #2804
@vishalbisa Were you able to fix this issue?
I updated collectors>build>jenkins>docker>properties-builder.sh as below and MONGO_PORT error was resolved;

**MONGO_PORT=tcp://db:27017

if [ "$MONGO_PORT" != "" ]; then**

As I am also working on similar POC to deploy Hygieia on kubernetes cluster. were you able to bring UI up? As I am getting error for UI container:
**host not found in upstream "api"

[2019-06-20 15:53] JFDonaghy commented on #2803
Hi @guruprasadsane,

Do you mind sharing what changes you made to Dockerfile? I'm having a similar issue and I'm not sure what to fix. Thanks!

[2019-06-20 16:56] srivasis opened #2987 "Hygieia-Jenkins Plugin hygieiaBuildPublishStep Broken"
Hi, so over the last few weeks I have been working on setting up a Hygieia Dashboard. I have been able to successfully install all the collectors and see a really cool dashboard. I did find a problem with the hygieia-jenkins plugin though. When you specify the buildStatus on the pipeline syntax for hygieiaBuildPublishStep it does not filter out builds that do not meet the criteria. Additionally I

[2019-06-20 17:52] vishalbisa commented on #2804
@ekta yes I was able to resolve the issue and my POC is completed by setting up one widget SCM using GitHub.

To troubleshoot the issue please let me know so that we can have a screen share session so that I can fix it faster

[2019-06-20 18:23] rvema commented on #2987
Are you using a freestyle job or a pipeline in jenkins? In Mongo the build information goes into `Builds`  collection

[2019-06-20 18:25] rvema commented on #2985
This is the github collector which leverages the graphql api offered by github. Please ping me in private so that I can help with properties for the same.

[2019-06-20 18:28] srivasis commented on #2987
I am using Jenkins pipeline. The builds table has it, thank you for that. I still don't know why the pipeline does not filter the builds though.

[2019-06-21 03:57] ekta-thakur commented on #2804
Hi @vishalbisa I will be available today during 10:30 AM - 4:00 PM. please let me know your availability.

[2019-06-21 04:52] gopiprasanthpotipireddy commented on #2985
okay sure @rvema thankyou, i will ping you.

[2019-06-21 11:17] vishalbisa commented on #2804
Hi @ekta-thakur currently I am free now if possible let me know if we can have a look at the issue

[2019-06-21 11:22] ekta-papajohns commented on #2804
@vishalbisa sure, how do I contact you? skype id?

[2019-06-21 11:25] ekta-thakur commented on #2804
@vishalbisa sure, how do I contact you? skype id?

[2019-06-21 11:38] vishalbisa commented on #2804
Hangouts or any Webex Link so that I can join

[2019-06-21 11:47] ekta-thakur commented on #2804
Can you try connecting to sudhanshu.srivastava17@gmail.com over hangouts?

[2019-06-21 12:30] yogisdm opened #2991 "Hygieia UI proxy issue"
Please find the below error I am facing after running the command
gulp serve

[ UI]$ gulp serve
[12:18:33] Using gulpfile ~/devopsdash/Hygieia/UI/gulpfile.js
[12:18:33] Starting 'build'...
[12:18:33] Starting 'clean'...
[12:18:33] Finished 'clean' after 70 ms
[12:18:33] Starting 'assets'...
[12:18:33] Starting 'themes'...
[12:18:33] Starting 'fonts'...
[12:18:33] Starting 'js'...
[12:18:33] Starti

[2019-06-21 12:33] yogisdm commented on #2573
Hi @bharathbenoit ,
Where you able to resolve this issue, because I am also facing the same issue

[2019-06-21 16:24] JFDonaghy opened #2992 "Trouble Building Docker Image"
Hello,

I've gotten Hygieia running both locally and on an EC2 server, but I'm having issues building a Docker image.

For background, I'm running Windows 10 and just trying to get the API/UI up for now. I'm following
https://hygieia.github.io/Hygieia/api.html#docker-image-for-api, but I get a permission error at step 3 similar to the one addressed in #832

which I believe is causing my containers

[2019-06-21 17:21] yogisdm opened #2993 "Hygieia - api call not working"
Hello,

I have attached output of the api call command :
java -jar api.jar --spring.config.location=C:\[path to]\Hygieia\api\api.properties -Djasypt.encryptor.password=hygieiasecret

But it will get stuck at below line:
2019-06-21 17:08:02,130 INFO  o.s.b.c.e.t.TomcatEmbeddedServletContainer - Tomcat started on port(s): 8080 (http)
2019-06-21 17:08:02,134 INFO  com.capitalone.dashboard.Application

[2019-06-21 17:52] yogisdm commented on #2991
Closing this issue, as I found out that this depends on the api call to be run successful

[2019-06-21 17:53] #2991 closed

[2019-06-21 17:54] bargemb commented on #2993
Have you created database user in database as mentioned at https://hygieia.github.io/Hygieia/database.html

Since you're getting response on `/api/ping` that means API is up and running. As per the last line in your log file it's stuck on database connection so I am guessing there is some issue with database connection.

[2019-06-21 18:02] yogisdm commented on #2993
@bargemb , Thanks for the reply,

yes I have installed mongodb , please find the attached screenshot
<img width="412" alt="mongodb" src="https://user-images.githubusercontent.com/31575108/59942267-c72d4880-947c-11e9-88ee-d459268bf30a.PNG">

[2019-06-21 18:13] bargemb opened #2995 "/api/login is not documented in swagger"
I am trying to use groovy script to publish deploy data from Jenkins to Hygieia. Since hygieia is using JWT authentication by default `/api/deploy` `POST` method requires authentication token.

To obtain JWT token at the groovy script I need to use /api/login and it's not documented if I launch <HYGIEIA_BASE_URL>/api/swagger/index.html

[2019-06-21 18:19] OneMoreByte commented on #2993
Your "dashboarduser" user has read and write permissions for dashboarddb, not dashboard

[2019-06-22 14:53] yogisdm commented on #2993
@OneMoreByte Thanks a lot I corrected the permissions, after running the api command I am getting below output( last few lines),  I have cross checked my configurations and I see all good.

2019-06-21 17:45:58,314 INFO org.mongodb.driver.connection - Opened connection [connectionId{localValue:6, serverValue:21}] to localhost:27017
2019-06-22 14:45:49,054 INFO  o.s.b.c.e.AnnotationConfigEmbeddedWeb

[2019-06-23 01:51] OneMoreByte commented on #2993
Hmm, and you still can't connect to the API with the UI?

[2019-06-24 07:20] rsethi-papajohns commented on #2804
@vishalbisa Have you created separate mongo db service and then referred that in for other containers inside the pod

[2019-06-24 07:27] rabindersethi commented on #2804
@vishalbisa Are you using separate mongo service in kubernetes and created dashboarddb in it.
Can you please share some steps which you followed to perform the deployment of hygieia on kubernetes as we are facing issues while deploying on kubernetes.

[2019-06-24 09:47] ParashmaniD commented on #2926
@Sbrenthughes @rvema , have you been able to replicate this issue?

[2019-06-24 11:28] vishalbisa commented on #2804
Yes I am using separate mongo service and post that I have done a ssh inside the container and created the dashboarddb.
Another method is you need to build and create a docker image from the source code which has the script which creates the dashboard db.

You can choose any of these methods

[2019-06-24 12:56] ekta-thakur commented on #2804
@vishalbisa Myself and rabindersethi are working together on this.

As you have mentioned above to use **docker run -t -p 8088:80 --link hygieia-api -i hygieia-ui:latest** to have UI running.
Per your pervious comment, we have done the same, have separate service for mongo but we still have DB connectivity issue. We took one collector to start with, but none of API, UI and Jenkins aren't working.

[2019-06-24 14:26] vishalbisa commented on #2804
As I said it would be better if we have a screen share session , but I have deployed it manually and not worked on YAMLs to create deployment

[2019-06-24 16:49] vishalbisa commented on #2804
To add above point after deployment of mongo.. expose the service and take the IP address and port no and put it in application.properties file for API n COLLECTOR.
It should work then

[2019-06-24 21:54] OneMoreByte opened #2997 "Jira collector - visualizing custom field and labels"
I have a custom JIRA field and labels I would like to show alongside bugs. Is that something I can currently do? If not is that a change that would be idiomatic with the goals of this project and would be accepted upstream?

[2019-06-24 21:54] OneMoreByte commented on #2997
@rvema

[2019-06-24 22:04] fidelcoria-aa commented on #2057
Clearing the cache or using incognito mode is not an acceptable solution. When I try to login tomorrow I will have the same problem. Would you ask people to clear their cache before logging into capitalone.com?
@Sbrenthughes, I have not been setting any value for auth.secret. I am giving a value now. It's been working today, will check again tomorrow. Is that the missing piece? Only one of the iss

[2019-06-25 16:09] adhish70 opened #2999 "Jenkins code quality colelctor"
Hello, I am getting this error when I try running the jenkins-codequaliy collector.

`Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'jenkinsCodeQualityCollectorTask' defined in URL [jar:file:/hygieia/jenkins-codequality-3.0.2-SNAPSHOT.jar!/com/capitalone/dashboard/collector/JenkinsCodeQualityCollectorTask.class]: Unsatisfied dependency e

[2019-06-25 16:50] OneMoreByte commented on #2999
Would it be possible that you're using docker-compose?

[2019-06-25 17:59] adhish70 commented on #2999
No, I am not using docker compose. I am basically trying to make a container.

[2019-06-25 18:27] OneMoreByte commented on #2999
Alright, but you are using the container. At quick glance it looks like the `properties-builder.sh` for that collector is out of date and I think that's breaking your setup. To get it running you'll need to modify `collectors/build/jenkins-codequality/docker/properties-builder.sh` so it spits out settings that match [what the documentation says the config should be.](https://hygieia.github.io/Hygi

[2019-06-25 18:38] adhish70 commented on #2999
So i went to the properties-builder.sh file and it looks up to date.

You mentioned that having Jenkins plugin would be enough to have the data for three collector. Is that correct? I have already setup the jenkins collector and it is working good.

[2019-06-25 18:51] OneMoreByte commented on #2999
Do you mean up to date with the repo or against the current properties files? I think [this line](https://github.com/Hygieia/Hygieia/blob/67c78d92fe22b3a82af5f2d6ce32d78accf5d813/collectors/build/jenkins-codequality/docker/properties-builder.sh#L68) in particular is what's giving you issues in your error, and the properties file seems to use as follows...

[code]

The jenkins collector work really

[2019-06-25 20:00] JFDonaghy commented on #2992
@Sbrenthughes @tabladrum @rvema, any suggestions?

[2019-06-25 20:06] adhish70 commented on #2999
It was up to date with the repo. But on checking the repo I saw the lines that you mentioned are missing in the repo itself. Thank for pointing this out. Let me try to add them and see what the changes effect will be.

[2019-06-26 07:59] yogisdm commented on #2993
Hi @OneMoreByte , yes correct.
Below is the last few lines from the log, I do not see any issues with mongodb connection.

2019-06-26 07:35:11,671 INFO  org.mongodb.driver.connection - Opened connection [connectionId{localValue:6, serverValue:10}] to localhost:27017
2019-06-26 07:35:11,671 INFO  org.mongodb.driver.connection - Opened connection [connectionId{localValue:7, serverValue:9}] to localh

[2019-06-26 11:56] no1melman opened #3001 "mvn install fails"
Just run `mvn install` on a fresh pull

[code]

java --version output:

[code]

mvn --version output:

[code]

[2019-06-26 12:20] rvema commented on #3001
@no1melman jdk 11 is not supported at the moment.

[2019-06-26 12:20] rvema commented on #3001
please try with jdk 10 or below

[2019-06-26 12:20] #3001 closed

[2019-06-26 13:06] no1melman commented on #3001
@rvema it failed with

[code]

[2019-06-26 13:37] fidelcoria-aa commented on #2057
Well, once we set `auth.secret` we are not seeing this problem anymore. Documentation implies this property is optional... should be updated I think.

[2019-06-26 13:37] no1melman opened #3003 "Error running mvn install, sunfire issues"
after running `mvn install` in the Hygieia dir. Using jdk 9

[code]

[2019-06-26 13:39] adhish70 opened #3004 "Api login error"
So I recently noticed that when i create a product dashboard and try to add a team there, on clicking to add the team im redirected to the login page (even though I am already logged in) and when i try to login, it just keeps on redirecting me to the login page repeatedly.

The following error i could get from the logs of api collector.

`2019-06-24 20:56:38,449 ERROR c.c.d.rest.RestApiExceptionHa

[2019-06-26 14:20] no1melman commented on #3003
There is also a `devopsdashboard-api.log` file:

[code]
[code]

They seem like errors that are linked

[2019-06-26 16:42] #2992 closed

[2019-06-26 16:44] no1melman commented on #3003
I can only build Hygieia with JDK 8

[2019-06-26 16:44] #3003 closed

[2019-06-26 17:16] bargemb commented on #3004
Can you post API which is failing from browser's **network** tab

[2019-06-26 17:37] adhish70 commented on #3004
@bargemb
/api/pipeline/?beginDate=1553793672497&collectorItemId=5d0d46212f56e6000926567c&endDate=1561569672497

this particular API get request is repeatedly failing.

Thank You

[2019-06-26 18:14] bargemb commented on #3004
Since the issue is with `PipelineUtils.getStageToEnvironmentNameMap` I suppose there is some issue with widget settings that you have configured ?

Are you pushing deployment data from Jenkins something like [this](https://github.com/Hygieia/Hygieia/blob/master/hygieia-jenkins-plugin-alt/src/main/hygieia/HygieiaJenkinsPluginAlt.groovy#L57-L97)?

[2019-06-26 18:23] adhish70 commented on #3004
Thank you for responding.

I dont think there is any problem with the widgets as when I create a team dashboard everything looks good and works fine. One thing that I noticed was. If I try to add a team widget which has "Monitor" widget to the product dashboard, then the dashboard breaks and i get this error. I am able make product dashboards which has team dashboards with "Monitor" widget.

[2019-06-27 05:13] #2966 closed

[2019-06-27 05:15] mitunmbj opened #3006 "Monitor widget shows jenkins server is down (like a warning sign) But my jenkins server is up only"
I configured the Monitor widget .......And it marks Hygiea server, Localhost, Sonarqube server etc all in healthy status according to their health but it always  marks jenkins as down like a warning sign though jenkins server is up and running

[2019-06-27 07:21] mitunmbj opened #3007 "What is the use of team widget and log widget and what does it monitor"

[2019-06-27 12:11] gopiprasanthpotipireddy opened #3008 "api-audit swagger issue"
Can't read swagger JSON from http://localhost:8080/apiaudit/v2/api-docs

[2019-06-27 12:26] gopiprasanthpotipireddy opened #3009 "Overhead regarding properties files in collectors"
Currently Collector properties files are having lot of properties for some collectors like jira, why don't we move the configurations  to UI Layer some thing like settings in the dashboard level. It is hard to make changes to the properties file if there is any change in the configuration. its horrible to the end user point of view.

[2019-06-27 13:06] SohamJ opened #3010 "Hygieia Jenkins plugin build publish gives internal error (500)"
Hi,

I am using the Hygieia Jenkins Publisher plugin  from my Jenkins server (version 2.182). It is throwing this error for the build publish step from freestyle job and pipeline:

The plugin version 2.2.2-SNAPSHOT is compiled against this commit (as of 6/27):
e30e89f2 NFRR artifact audit result data collection (#3000)

[code]

This is the configuration on the Jenkins side:

* Freestyle job:
  * P