[2019-06-27 15:32] Sbrenthughes commented on #3007
@stevegal

[2019-06-27 15:58] rvema commented on #3009
@gopiprasanthpotipireddy Very valid concern and would be awesome if you can contribute back by implementing this feature!

[2019-06-27 16:00] rvema commented on #3010
@SohamJ Please update your api version to use the latest one to resolve the error you are seeing.

[2019-06-27 16:01] rvema commented on #3008
@gopiprasanthpotipireddy Please feel free to contribute back if you have a fix for the same.

[2019-06-27 16:03] rvema commented on #3006
@mitunmbj The monitor widgets have been verified with http endpoints but never tried on https.

[2019-06-27 16:34] #2997 closed

[2019-06-27 16:34] #2970 closed

[2019-06-27 17:12] fidelcoria-aa opened #3011 "Repo widget Score has misleading category name"
The Score widget says "Commits per day".. but this is just wrong. The calculation is actually "Days with commits". Should The category name be changed or should the category calculation be updated?

I can make a PR with the category name change.

[2019-06-27 17:16] fidelcoria-aa opened #3012 "Score popup explanation messages"
The meaning of the Scores is not evident to users. Explanation messages make the scores more actionable. For example build widget can be like this:
![image](https://user-images.githubusercontent.com/41026947/60285851-0ec83000-98d4-11e9-83da-a85a5a5fe9f1.png)

Code quality like this:
![image](https://user-images.githubusercontent.com/41026947/60285897-34553980-98d4-11e9-850e-2a0ec760b1da.png)

depl

[2019-06-27 17:24] stevegal commented on #3007
the Log widget is for the operations side of your application when it is deployed into an environment. It charts the number of times an event has happened in the logs being tracked based on the the filters provided and charts these up in each collection period. You can use it to provide a monitor dashboard within Hygieia for your application. At the moment there is only 1 collector which collects

[2019-06-27 19:41] fidelcoria-aa commented on #3012
I will wait for those changes to be merged before making PR for this.

[2019-06-27 20:56] SohamJ commented on #3010
Thanks @rvema. Updating the api code fixed the issue.

[2019-06-28 01:03] rvema commented on #3012
@fidelcoria-aa which PR is dependent on this? We can prioritize merging soon.

[2019-06-28 05:25] mitunmbj commented on #3006
@rvema But my endpoint is http://52.xx.xx.45:8080 what to bro?

[2019-06-28 12:39] fidelcoria commented on #3012
PR #3013 should be merged first

[2019-06-28 13:34] #3011 closed

[2019-06-28 13:34] rvema commented on #3012
@fidelcoria #3013 has been merged now.

[2019-06-28 13:36] rvema commented on #3006
@mitunmbj Do you have access to the API instance logs and do you see any relevant stacktrace?

[2019-06-28 13:50] rvema commented on #2946
closing the issue since it was resolved.

[2019-06-28 13:50] #2946 closed

[2019-06-28 14:04] no1melman opened #3014 "Docker Jenkins Build Collector"
I've set up the jenkins build collector with these ENV values:

[code]
This fails at start up as the mongo can't connect:

[code]

As you can see, it is actually using `localhost:27017` to connect - which to me makes no sense... I've even gone into the `properties-builder.sh` and set it there.... still no good...

For comparison, I've setup the github collector with the same ENV values and it work

[2019-06-28 14:39] JFDonaghy commented on #2992
Future readers: We never got it locally, but it worked on the EC2.
We suspect that it has problems with Windows, but runs smoothly in Linux by design.

[2019-06-28 15:33] fidelcoria-aa commented on #3012
@rvema Thanks! I have created the PR for this. It is mentioned above this comment.

[2019-06-28 17:14] #3012 closed

[2019-06-28 17:15] rvema commented on #3012
@fidelcoria I merged #3015 as well

[2019-06-28 17:25] rvema commented on #2985
dbname=dashboarddb
dbhost=
dbport=
dbusername=
dbpassword=

#every 5 minutes
github.cron=0 */5 * * * MON-SAT

github.firstRunHistoryDays=60
github.errorThreshold=1
github.rateLimitThreshold=100
github.host=
github.key=

github.personalAccessToken=

github.commitPullSyncTime=604800000

github.offsetMinutes=120

github.fetchCount=100

#github rest call parameters
github.connectTimeout=20000
github.r

[2019-06-28 17:26] rvema commented on #2985
@gopiprasanthpotipireddy Can you check if the above is good enough? do fill the DB credentials and host information

[2019-06-28 17:27] rvema commented on #2987
@srivasis Can you help me understand your issue so that I can help?

[2019-06-28 17:28] rvema commented on #2962
@gopiprasanthpotipireddy Can you check your property `github.cron` and `github.firstRunHistoryDays`

[2019-06-28 17:51] rvema commented on #2907
@mitunmbj per the above screenshot only build data is published and not the deploy data. This data will be reflected on your UI if there is a dashboard configured with scm widget having the combination of repository url and branch or if you have a build widget for this build. Let me know if this helps.

[2019-06-28 18:32] rvema commented on #2943
@ajayakumar-jayaraj The error you are seeing do you have additional information on it? Also do you have the certs for https jira url imported under your jdk?

[2019-06-28 18:45] Sbrenthughes commented on #2730
PR has been merged to resolve this issue. Please update to the latest and open a new issue if you face any problems

[2019-06-28 18:45] #2730 closed

[2019-06-28 19:03] rvema commented on #3014
@no1melman let me try recreating it

[2019-06-28 19:04] rvema commented on #2933
@fldadof5 Did the above recommendation fix the issue?

[2019-06-28 19:05] rvema commented on #2939
@ajayakumar-jayaraj Can you confirm if you are still seeing issues with sonar collector?

[2019-06-28 19:06] Sbrenthughes opened #3016 "Gitlab Merge Requests missing data"
The gitlab collector is not adding a few fields for the merge. Below is a list:
[code]
reviews
[code]

@zhenweiding when you get a chance, is this something you can look into updating?

[2019-06-28 19:07] rvema commented on #2922
closing the issue due to inactivity

[2019-06-28 19:07] #2922 closed

[2019-06-28 19:08] rvema commented on #2926
@ParashmaniD sorry for the delay, The release will happen this weekend. Please hang on

[2019-06-28 19:18] Sbrenthughes commented on #2979
Can you check the updated documentation at https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/feature/jira.md. `jiraStoryIds` and `jiraEpicId` are no longer needed.

You need to add them in a comma seperated string to `jiraIssueTypeNames`. Ex `feature.jiraIssueTypeNames=Stroy,Epic,Defect, etc`

`Epic` is required in the list.

[2019-06-28 19:22] Sbrenthughes commented on #2967
@fidelcoria-aa is this something you can check into?

[2019-06-28 19:24] #2944 closed

[2019-06-28 19:26] Sbrenthughes commented on #2853
[code]

[2019-06-28 19:30] Sbrenthughes commented on #2651
@stevegal can you help out here. Maybe the plugin can be used?

[2019-06-29 00:10] stevegal commented on #2651
I’m not sure what test output formats Selenium supports. There are various formats supported so far, and I’m always willing to add more. What format do you need?

[2019-06-29 08:06] stevegal commented on #2651
Looks like there are plugins to generate report output in junit format. Can you use that @anayyadav ?
See (for example) https://crossbrowsertesting.com/blog/selenium/selenium-report-generation/

[2019-06-29 13:44] fidelcoria-aa commented on #2967
Currently working on a PR for sonarqube unrelated to this. I'll give this issue a stab after I've finished that PR, if it has not been fixed yet.

[2019-06-30 21:49] no1melman commented on #3014
@rvema I've forced the dbhost name in the hygieia core, then got a new error:

[code]

From what I understand, the HudsonCollectorTask implements Collector. Collector has an abstract method `getCron()`. The point of this is to allow the HudsonCollectorTask to read its HudsonSettings to get the cron... So to me, it seems these settings aren't being read. I checked up the HudsonSettings and it doesn

[2019-07-01 06:30] gopiprasanthpotipireddy commented on #2962
I have github.cron=0/30 * * * * *  but properties file doesn't have github.firstRunHistoryDays property instead i am having github.commitThresholdDays=15 property

[2019-07-01 06:31] gopiprasanthpotipireddy commented on #2985
okay @rvema i will check and come back.

[2019-07-01 06:48] gopiprasanthpotipireddy commented on #2985
@rvema when i run the collector its is giving the following error

Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.springframework.data.mongodb.core.MongoTemplate]: Factory method 'mongoTemplate' threw exception; nested exception is java.lang.IllegalArgumentException: Database name must only contain letters, numbers, underscores and dashes!
        at or

[2019-07-01 06:48] gopiprasanthpotipireddy commented on #2985
my properties file
dbname=dashboard

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# Database Username - default is blank
dbusername=dashboarduser

# Database Password - default is blank
dbpassword=dbpassword

#every 5 minutes
#github.cron=0 */5 * * * MON-SAT

# Collector schedule (required)
github.cron=0/30 * * * * *

github.firstRun

[2019-07-01 07:24] rvema commented on #2985
dbname should be dashboarddb

[2019-07-01 09:14] gopiprasanthpotipireddy commented on #2985
actually i am using dashboard for hygieia api and all collectors

[2019-07-01 09:47] gopiprasanthpotipireddy commented on #2985
i tried giving dashboarddb still same error

[2019-07-01 10:10] gopiprasanthpotipireddy opened #3022 "Jenkins Code Quality Collector showing 0 jobs"
2019-07-01 15:30:06,189 INFO  com.capitalone.dashboard.Application - Started Application in 5.993 seconds (JVM running for 6.893)
2019-07-01 15:30:59,999 INFO  c.c.d.collector.CollectorTask - Running Collector: JenkinsCodeQuality
2019-07-01 15:31:00,207 INFO  c.c.d.collector.CollectorTask - examined jobs           0        0s
2019-07-01 15:31:00,207 INFO  c.c.d.collector.CollectorTask - new data

[2019-07-01 10:14] no1melman commented on #3014
Yeah so to get this to work, I had to specify the JENKINS_CRON env variable, but hardcode the host name in

[2019-07-01 13:53] #3014 closed

[2019-07-01 13:54] Sbrenthughes commented on #2979
@jarbil

[2019-07-01 14:13] jarbil commented on #2979
Thanks! I'll try that as soon as work allows and report back.

[2019-07-01 18:29] jarbil commented on #2979
I added all the IssueTypes to `jiraIssueTypeNames` (Including Epic) and removed the `jiraStoryIds` and `jiraEpicId` sections. I then got the following in the log:
[code]
I checked the issueTypes api call and Change indeed is no longer listed, so I removed it from the list. For reference the field value is now
[code]
However, upon restarting I came across a familiar sight, now failing on 10 instead

[2019-07-01 19:30] adhish70 opened #3023 "Monitor widget setup using dashboard/remoteCreate"
Hello
I am trying to setup the monitor widget using the /dashboard/remoteCreate endpoint. I am unable to find the documentation which mentions all the parameters that needs to be there. Any help would be greatly appreciated.

Thank You

[2019-07-02 09:07] koroshi commented on #2962
I have meet the same problem, my front end has a error
[code]
but in db components collection there isn't error exist
and the frontend page also can't get the new commits

the collector logs seems no problem for get data
[code]

but the actual it should have some commits

[2019-07-02 11:43] chenthilan opened #3024 "Unable to start bitbucket collector ERROR o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpected error occurred in scheduled task. java.lang.ClassCastException: java.util.Date cannot be cast to java.lang.Long"
It was working well before and might be an issue with the latest code update. I updated my repository today and i get this error when i start the bitbucket jar.

[2019-07-02 12:04] chenthilan commented on #2329
Get the same error (403 forbidden error) with :-

jenkins.servers[0]=_jenkinsendpoint_
jenkins.usernames[0]=_username_
jenkins.apiKeys[0]=_jenkinskey_

[2019-07-02 14:33] no1melman opened #3026 "Referencing wrong properties file"
The `properties-builder.sh` under normal execution circumstances (specified in the Dockerfile) will place a file by the name of `hygieia-jenkins-build-collector.properties` in the `/hygieia/config/` directory. And as you can see below, the Dockerfile isn't looking for that file...

https://github.com/Hygieia/Hygieia/blob/35ba1f69bfb2f6afbe2a133ccb2c4701d21010a6/collectors/build/jenkins/Dockerfile#

[2019-07-02 15:10] rvema commented on #3026
@no1melman PR #3020 will fix this issue.

[2019-07-02 15:21] adhish70 commented on #3004
Hey
Thank you for your response. I am pushing the data in the following way:
`{
    "buildEntries": [
        {
            "description": "",
            "options": {
                "jobName": <job-name>,
                "jobUrl": <job-url>
            },
            "pushed": true,
            "toolName": "Hudson"
        }
    ],
    "codeRepoEntries": [
        {
            "description": "H

[2019-07-02 18:17] nireeshT commented on #3007
Team widget is to display resource tracking at team level. It will display open reqs / full-time/part-time resources count for a team and enables recruitment prioritization. Collector is WIP.

[2019-07-03 11:17] mitunmbj commented on #3006
@rvema i cant understand bro

[2019-07-03 11:18] mitunmbj commented on #3006
@rvema can u say step by step

[2019-07-03 14:39] adhish70 opened #3028 "bitbucket collector api issue"
Hey,

I am trying to create dashboards using the /dashboard/remoteCreate. I have private repos and when I create the bitbucket collector, it is not able to authenticate the private repo. I have already created the api key and it is there in the api properties as well as it is there as the bitbucket key in its properties builder. I was also encrypted by password with the key. I wanted to know do I

[2019-07-03 16:04] jarbil commented on #2979
@Sbrenthughes where do the auto-complete suggestions for the widget get stored? Because those work, but the "feature" collection in the database appears empty.

[2019-07-03 17:52] #3028 closed

[2019-07-03 21:02] rvema commented on #3023
@adhish70 At this point the API does not support creation of monitor widget. We do not have any plans to incorporate the same as we are reconsidering the existence of this widget. If you need to make it work you would need to modify DashboardRemoteServiceImpl.create() in the api project (https://github.com/Hygieia/api)

[2019-07-04 01:07] BillHoo commented on #2935
Same issue here, both on Mac and Windows x64. And it will work on Mac's Safari, but Firefox and Chrome are always kick me off from login. Seems a session lost issue but don't know why

[2019-07-04 01:44] BillHoo opened #3029 "Always being kick off after successful login when creating widget"
I'm followed the official guide to setup Hygieia and when I'm login and trying to create a widget, it kick me off and bring me back to login page again and again.

**OS:** Mac, Windows 10 x64, Windows Server 2019 Datacenter.
**Hygieia version:** master
**Login method:** Standard
**Browser:** Chrome, Firefox, IE, Safari

**Steps to reproduce:**

1. Follow official guideline to setup Hygieia and run

[2019-07-04 02:14] BillHoo commented on #3029
OK, after several days to find what causes the issue, and finally when I re-check my *api.properties* file here. I find the expiration time is set to 10 seconds. My bad, closing the issue.

[2019-07-04 02:14] #3029 closed

[2019-07-04 02:45] BillHoo opened #3030 "Disable Click to Signup"
I've found the issue #876 from 2016, is there any official support on this feature now? Thank you.

[2019-07-04 04:28] BillHoo opened #3031 "Anyone can see all the dashboard without login"
Hi there, I'm setup Hygiea successfully and logged in with admin, created some dashboard then logout from admin. But, I could still see all the dashboard from the main page, is there any feature to restrict anonymous usage?

**Expected:**

When anyone visit my Hygieia main page, there should only be a Login page, nobody can see the dashboard unless they login.

[2019-07-04 06:02] yogisdm opened #3032 "Hygieia - Deploy widget issue"
Hi Team,

We have configured Hygieia plugin in our Jenkins. We are able to see the build jobs getting pushed to Hygieia dashboard.
But we are unable to see any applications under deploy widget.

![deploy-widget](https://user-images.githubusercontent.com/31575108/60642868-e77edf00-9e4e-11e9-8375-4ef5cbeaedef.png)
![jenkins-post-build-actions](https://user-images.githubusercontent.com/31575108/60642

[2019-07-04 07:20] yogisdm commented on #3032
@tabladrum , if you could please assist on this issue.

[2019-07-04 14:21] rvema commented on #3032
@yogisdm Can you share the details of the deploystep configuration?

[2019-07-04 14:23] rvema commented on #3031
@BillHoo Its not supported right now. We would like to view the dashboards without login and if there is a requirement for you to enforce such a feature you can checkout the code and modify per your needs. however we cannot implement that feature in the master branch.

[2019-07-04 14:23] #3031 closed

[2019-07-04 14:25] rvema commented on #3030
@BillHoo its not supported and as mentioned in the referenced issue please feel free to modify the code per your needs and use the same

[2019-07-04 14:25] #3030 closed

[2019-07-04 14:26] rvema commented on #3026
@no1melman Can you submit the PR for the fix?

[2019-07-04 15:44] #3023 closed

[2019-07-04 15:59] rvema commented on #2935
@suruchi10 and @BillHoo Some users had luck around this issue using incognito mode. Can you try the same?

[2019-07-04 16:03] rvema commented on #1952
@KN5028051 We do not have this feature currently. Please feel free to contribute back by implementing the same.

[2019-07-04 16:03] #1952 closed

[2019-07-04 16:18] rvema opened #3034 "cccccckddrvivkhtcncrklvvtvndlrellthlbnifhtvk"

[2019-07-05 00:26] BillHoo commented on #2935
@rvema Hi, thanks for let me know this, my issue seems not related to here, #3029, I'm mis-used the option "expirationTime". my bad.

[2019-07-05 00:33] BillHoo commented on #3031
@rvema I got your point, see the dashboard at very first place will encourage developer/excutive to check their DevOps status right? But I'm still curious how CapitalOne prevent from non-teammember to see your own dashboard, if I got the address of your Hygieia, I'm seeing your dashboard right?

I have this question because we are not that big than CapitalOne, we have limited network skills to set

[2019-07-05 02:08] #3034 closed

[2019-07-05 06:43] yogisdm commented on #3032
@rvema ,  We have not used any deploy tool in our configuration.
Through jenkins job and using Hygieia plugin we have selected "Publish Deployment results" in Jenkins console for one of our job. This is a freestyle job. I have already attached the screenshot above.
And  for one of the pipeline job I have attached the below Jenkinsfile below, where publish deploy is added.
[Jenkinsfile.txt](https:/

[2019-07-05 09:49] yogisdm commented on #3032
@rvema , Also for freestyle job we are getting below jenkins output:

Waiting for Jenkins to finish collecting data
[JENKINS] Archiving /var/lib/jenkins/workspace/JavaAppCI-Mavin/pom.xml to mavenGroup/maventAtrifact/0.0.1-SNAPSHOT/maventAtrifact-0.0.1-SNAPSHOT.pom
[JENKINS] Archiving /var/lib/jenkins/workspace/JavaAppCI-Mavin/target/LoginWebAppsV1.8.war to mavenGroup/maventAtrifact/0.0.1-SNAPSHOT/

[2019-07-05 10:12] no1melman commented on #3026
Have another fix here https://github.com/Hygieia/Hygieia/pull/3035

[2019-07-05 18:43] fidelcoria-aa commented on #2967
@irwindouglas FYI the sonarqube collector code has moved  https://github.com/Hygieia/hygieia-codequality-sonar-collector
I checked issue #933 and that is about the DefaultSonarClient which is for some versions of sonarQube. IDK what version of sonarqube you are using.. really I'm not sure what is causing your problem. I would say try using the latest version of sonarqube and see if it works. I am

[2019-07-07 18:39] #2987 closed

[2019-07-07 18:41] srivasis commented on #2987
The issue was within the settings on Jenkins server. After debugging the source code within the plugin project it led me there and it was a simple fix.

[2019-07-08 10:52] rvema commented on #2987
@srivasis Can you let us know what configuration.setting change that you had to do so that we can improve our documentation. Also if you find any gaps in the documentation please feel free to contribute back by adding the respective changes.

[2019-07-08 13:36] edtan opened #3037 "Jira Collector - automatically find field names"
Currently, users need to manually look up `customfieldname`s by examining the results from various Jira REST APIs.  It would be nice if the Jira Collector could lookup these up based on user-provided "friendly" strings (e.g. "sprint", "epic", "story points").

It seems like this might be possible by using the results from the [createmetadata](https://developer.atlassian.com/server/jira/platform/ji

[2019-07-08 22:37] nitingoyal8 opened #3038 "Need help with Custom Collector - Cherwell"
Need help with custom collector for Cherwell. Its a similar CMDB like Service Now / HPSM and i need to have Cherwell data in order to bring Executive Dashboard.

Any input will be great help.

[2019-07-09 05:34] chenthilan opened #3039 "Jenkins Collector Error due to old credentials - 403 Access Denied"
I use the below command to start the Jenkins collector. This new property file completely different creds to the old one. But still in the logs i see the old password and user printed. Not sure if it is reading the property file or where it is taking the old credentials from. Those credentials have already expired.

java -jar jenkins.jar --spring.config.name=jenkins  --spring.config.location=**_ab

[2019-07-09 16:42] chenthilan commented on #3039
A small update.. when i did
db.getCollection("configuration").find() , i see the old username and oldpassword

{ "_id" : ObjectId("5cfe7cb0433a2cb20c69bcef"), "_class" : "com.capitalone.dashboard.model.Configuration", "collectorName" : "Hudson", "info" : [ { "url" : "**_Jenkinsendpoint_**", "userName" : "**_oldusername_**", "password" : "BASE64:**_oldpassword_**" } ] }

I suspect this is the issue

[2019-07-10 15:00] olsib opened #3040 "Hygieia API - Ldap not working - Simple binding"
Hi guys,

I'm facing issue when I try to login to Hygieia via the LDAP interface.

My properties file looks as below:
`# dashboard.properties
dbname=dashboarddb
dbusername=dashboarduser
dbpassword=ENC(xxcxcsdfsfdsdf)
dbhost=127.0.0.1
dbport=27017
dbreplicaset=[false if you are not using MongoDB replicaset]
server.contextPath=/api
server.port=8080
version.number=@application.version.number@

loggin

[2019-07-10 15:03] Sbrenthughes commented on #3040
issue moved to https://github.com/Hygieia/api/issues/10

[2019-07-10 15:03] #3040 closed

[2019-07-10 15:15] Sbrenthughes commented on #3037
This API doesn't return for out instance of Jira. So I think it is safe to say it wouldn't work for everyone. If you wanted to provide a PR that containing the changes and a flag to use it that would be awesome.

[2019-07-10 16:01] Sbrenthughes commented on #2993
Is this deployed locally or on a server? How are you starting the API?

 If you can reach the API and then later it shuts down, it is likely because something externally is stopping it.

[2019-07-10 16:14] Sbrenthughes commented on #2979
They are stored in `team` and `scope` collections. The Null Pointer is interesting.

[2019-07-11 03:43] edtan commented on #3037
Hmm, the comments in `DefaultJiraClient.java` indicate that the it was created against Jira 7.x, and [should work with 5.x and 6.x](https://github.com/Hygieia/Hygieia/blob/master/collectors/feature/jira/src/main/java/com/capitalone/dashboard/collector/DefaultJiraClient.java#L57).  Also, according to the `createmetadata` link above, that API was added in Jira 5.x, which seems quite old so I'm guess

[2019-07-11 06:39] yogisdm commented on #2993
Hi @Sbrenthughes ,
Thanks for the update, it is deployed on RHEL 8 OS. We are starting API by using the api command. we will be able to reach the API URL also, but after sometime, it was throwing error.
But from yesterday, not getting that error, API will be running without any issues. .As you mentioned, may be some external issues not sure.

[2019-07-11 14:43] Sbrenthughes commented on #2839
We have moved out the API from the project to its own repo. See https://github.com/Hygieia/api/issues/10 for an update on how to resolve LDAP issue.

[2019-07-11 14:43] #2839 closed

[2019-07-11 14:45] Sbrenthughes commented on #3038
Sure, can you give an example of your data model for cherwell?

[2019-07-11 14:51] Sbrenthughes commented on #2829
NOTE: We have also found that this can happen when mvn is overriding the JAVA_HOME in .mavenrc.

[2019-07-11 14:55] Sbrenthughes commented on #2993
Awesome, Please note that we have moved out the API to its only repo. Please move to https://github.com/Hygieia/api. For anything further regarding the API layer.

[2019-07-11 14:55] #2993 closed

[2019-07-11 16:04] stevegal commented on #3022
What are your settings for the collector?

[2019-07-11 16:05] stevegal commented on #2999
Did you get the result you needed?

[2019-07-11 17:45] Sbrenthughes opened #3043 "UI - SCM Widget Credential Issue"
Credential field should not pull stored credential. This causes an issue when updating a url or branch. If the credential field is dirtied it will resubmit the encrypted credentials which causes the them to be encrypted again. This leads to the SCM collectors not being able to decrypt the credentials.

[2019-07-11 17:48] Sbrenthughes opened #3044 "UI - Performance Widget Selection Dropdown"
The select dropdown should be updated to a search field. Currently it pulls all performance collector items which makes it harder to select the desired name

[2019-07-11 17:50] Sbrenthughes commented on #3037
Can you provide a sample api request? Maybe I am just unable to figure out how to use it to pull the custom fields.

[2019-07-11 18:03] edtan commented on #3037
If you have an account at https://jira.atlassian.com, after logging in, you can make a GET to https://jira.atlassian.com/rest/api/2/issue/createmeta

[2019-07-11 19:21] Sbrenthughes commented on #2962
Set `github.errorThreshold=15` and delete the widget and re add it. Likely met the error threshold

[2019-07-11 19:23] Sbrenthughes commented on #3043
Close due to duplicate https://github.com/Hygieia/Hygieia/issues/2978

[2019-07-11 19:23] #3043 closed

[2019-07-12 05:15] gopiprasanthpotipireddy commented on #3022
# Database Name
		dbname=dashboard

		# Database HostName - default is localhost
		dbhost=localhost

		# Database Port - default is 27017
		dbport=27017

		# MongoDB replicaset
		#dbreplicaset=[false, if you are not using MongoDB replicaset]
		#dbhostport=[host1:port1,host2:port2,host3:port3]

		# Database Username - default is blank
		dbusername=dashboarduser

		# Database Password - default is b

[2019-07-12 05:59] stevegal commented on #3022
Cool. So that looks okay. The test results need to be in the job archive as well and the resulting files should match the regex provided.  An you check that please?

[2019-07-12 06:11] koroshi commented on #3006
i have see my jenkins by default(i don't know if there are some config about this),the main url http://localhost:8080, redirect and in postman its return a 403 code.Is there any method let me monitor the jenkins server health, i doesn't find anything health check url in jenkins .

[2019-07-12 09:31] gopiprasanthpotipireddy commented on #3022
can you tell me the meaning of this property #jenkins-codequality.jobDepth ?

[2019-07-12 15:46] adhish70 opened #3045 "error: JWTException"
Hey,

I am trying to create dashboards using scripts. When I do a POST on the endpoint /dashboard/remoteCreate, I get a 500 Internal Server Error.

The following is the error message:
[code]

[2019-07-12 15:57] adhish70 commented on #2057
@fidelcoria-aa Can you help with what did you set as the auth.secret?

[2019-07-12 16:19] fidelcoria-aa commented on #2057
value does not matter. any alphanumeric string should work. I would avoid using special characters just in case.
Note: If you have multiple API instances make sure they all have the same auth.secret value.

[2019-07-12 19:18] jarbil commented on #2979
I've followed the process in #2807 for the older (~April) instance but the team and scope collections repopulate normally while the feature collection remains empty. For the heck of it I tried clearing the collections in the newer (June) instance and still encounter the NPE.

FWIW, we do not have a type named "Epic" in https://jira:8443/rest/api/2/issuetype but we do have "Program Epic" and "Portf

[2019-07-12 21:05] stevegal commented on #3022
It’s basically how deep down the Jenkins job hierarchy to traverse down before giving up looking for jobs. For example, if you have all your jobs declared directly on Jenkins then 1 is a good value, but if you have a GitHub org defined then you’ll need to go deeper. Hope that is helpful.

[2019-07-12 21:31] cruisehall opened #3046 "Push instead of pull?"
I’ve been looking for a tool to aggregate DevOps events (and, eventually, metrics) from a variety of distributed sources.

Hygieia’s feature set is the strongest I’ve found, but from what I’ve read it seems like the architecture is decidedly built on a “pull” model (I.e. via collectors).

I’m sure there are good reasons for this, but I’m wondering if Hygieia supports a “push” model out of the box,

[2019-07-12 22:53] rvema commented on #3046
Very valid point, we have this kind of behavior implemented for Jenkins and GitHub. Also It kind of boils down to the support offered by the tools to support this kind of event based push.

[2019-07-14 06:00] cgorshing opened #3047 "Normalized JIRA Status"
https://github.com/Hygieia/Hygieia/blob/master/collectors/feature/jira/src/main/java/com/capitalone/dashboard/collector/DefaultJiraClient.java#L554-L569

It definitely makes sense to normalized the status field from JIRA to something domain specific to Hygieia. However I think this logic needs to be expanded and probably configurable for each user as most of our JIRA configurations will have many

[2019-07-15 11:33] gopiprasanthpotipireddy commented on #3022
Thank you @stevegal .

[2019-07-15 11:33] #3022 closed

[2019-07-15 12:07] kkorada commented on #2854
I am also getting same error with latest version. Any fix ?

[2019-07-15 12:30] rvema commented on #2854
There is a pending PR out there which will fix the issue, please hold on

[2019-07-15 14:32] rvema commented on #2854
@kkorada Until then you can modify the docker-compose.yml by removing the block for subversion collector to get over the issue.

[2019-07-15 14:47] Sbrenthughes commented on #3037
Yeah, I see. We don't have access to that API. So a flag is for sure needed.

[2019-07-15 18:05] adhish70 commented on #3045
Thank You for your response.
The headers that I am using are:
"Authorization": "apiToken <token>",
"apiUser": "<name of user>",
"api_key": "<key>"

Am I missing any header here?

[2019-07-15 18:25] adhish70 opened #3048 "Files missing for rally"
Hey, I was trying to setup the rally collector and noticed that the Docker file and the properties.builder file is missing.

[2019-07-15 18:27] rvema commented on #3046
Can we close this issue as we are aware of this and take into account with any newer developments?

[2019-07-15 18:34] jhaungs commented on #2926
This error is still occurring with the latest master.

commit ffc845e421c7a8591a97a76b078ba7c52e8e947d (HEAD -> master, origin/master, origin/HEAD)
Author: chen <stlcxc@163.com>
Date:   Wed Jul 3 10:09:48 2019 +0800

[11:31:47] Using gulpfile ~/workspaces/Hygieia/Hygieia/UI/gulpfile.js
[11:31:47] Starting 'build'...
[11:31:47] Starting 'clean'...
[11:31:47] Finished 'clean' after 51 ms
[11:31:47]

[2019-07-15 19:14] Sbrenthughes opened #3049 "CLA Signature Required for Hygieia Contributions"
Hey folks,
As part of the contribution process to Hygieia, we need each of you to go out and sign the CLA: [CLA](http://hygieia.github.io/Hygieia/contribute.html). We'd appreciate if you could do this as soon as possible. Please reply once you have signed.

@spennec @mikesalvia @darkn3rd @vvigreen981 @bbrower @Prodesire @cryptk @Jakubas @cgorshing @riyas004 @benoitm76 @jorgeb1980 @kana112233 @isur

[2019-07-15 20:15] adhish70 commented on #2883
@fidelcoria-aa
I have the rally collector running but still my rally widget wont show my projects. Any thoughts on where I might be going wrong?

Thank You

[2019-07-15 20:53] fidelcoria-aa commented on #2883
hmm... troubleshooting tips:
1. check collector logs for errors
2. check configuration is entered correctly: rally url, username, password (are you using properties file or UI config page?)
3. Do you have the latest code?

[2019-07-15 21:02] adhish70 commented on #2883
@fidelcoria-aa Thank you for your response.
1. The collector logs are as follows
[code]
2. The url, username and the password are correct. I am passing these values in the properties file.
3. Yes I have the latest code.

[2019-07-15 21:09] #3046 closed

[2019-07-15 21:17] fidelcoria-aa commented on #2883
Ahh. I found a bug https://github.com/Hygieia/Hygieia/blob/ffc845e421c7a8591a97a76b078ba7c52e8e947d/collectors/feature/rally/src/main/java/com/capitalone/dashboard/collector/RallyCollectorTask.java#L84

If the above condition is true the settings are cleared. And if the condition is false... the settings are cleared. Then the server settings are loaded from the configuration at the UI admin page.

[2019-07-15 21:22] adhish70 commented on #2883
@fidelcoria-aa Thank you for the quick response.
Adding the credentials in the UI admin page solved the issue for now. Can you open a bug report with Hygieia so people dont get the same issue and the bug gets fixed?

Thank You

[2019-07-15 21:37] fidelcoria-aa commented on #2883
I just created a PR to fix the bug!

[2019-07-16 05:56] kkorada commented on #2854
getting error if i remove subversion block from compose file

`Service subversion-collector has neither an image nor a build context specified. At least one must be provided.`

[2019-07-16 11:58] KrzysztofMaziarczyk commented on #2829
JDK 8 helped indeed

[2019-07-16 14:40] Sbrenthughes commented on #3045
The api_key is not needed here. Can you try without that?

[2019-07-16 15:01] adhish70 commented on #3045
@Sbrenthughes  Thank you for your response.
I tried the same post request without api_key.
It gave me a 500 and the error is the same.

Any other thing you can advice for me to look into?

[2019-07-16 15:05] rvema commented on #3049
Adding @D-M-Moriarty

[2019-07-16 15:10] Sbrenthughes commented on #2979
Okay the collector depends on the `Epic` issue type being used. If it isn't being used then the collector will not work in the current version.

[2019-07-16 15:13] Sbrenthughes commented on #3045
How did you create the token?

[2019-07-16 15:17] adhish70 commented on #3045
I created the token form the admin setting ->generate apiToken.

[2019-07-16 20:11] shabbir1679 opened #3055 "Jira Is collecting data but no data is being populated on the UI"
It is iterating all over 395 projects which we have 2019-07-15 21:35:41,339 INFO  c.c.d.collector.FeatureCollectorTask - Collecting 308 of 395 projects.
2019-07-15 21:35:42,009 INFO  c.c.d.collector.CollectorTask - Story Data Collected since 2019-07-15T21:29:52.317 0      211s
2019-07-15 21:35:42,010 INFO  c.c.d.collector.FeatureCollectorTask - Collecting 309 of 395 projects.
2019-07-15 21:35:42,4

[2019-07-17 00:11] edtan commented on #3037
As I started investigating this a bit more, it seems like this other API [rest/api/2/field](https://confluence.atlassian.com/jirakb/how-to-find-id-for-custom-field-s-744522503.html) is better suited for this feature.  Can you check if you have access to this API on your JIRA?  It seems like this API should also be present in [earlier versions of JIRA](https://docs.atlassian.com/software/jira/docs/

[2019-07-17 13:40] Madfish5415 opened #3056 "Jenkins build collector"
I got an error when I try to deploy jenkins

[code]

[2019-07-17 18:26] zeal11 commented on #2926
Getting similar : error on mvn clean install package
 ` Reactor Summary:
[INFO]
[INFO] com.capitalone.dashboard:Hygieia 3.0.2-SNAPSHOT .... SUCCESS [  0.606 s]
[INFO] com.capitalone.dashboard:api 3.0.2-SNAPSHOT ........ SUCCESS [ 26.259 s]
[INFO] com.capitalone.dashboard:api-audit 3.0.2-SNAPSHOT .. SUCCESS [  9.832 s]
[INFO] com.capitalone.dashboard:nfrr-audit-collector 3.0.2-SNAPSHOT SUCCESS [  8

[2019-07-17 18:38] Sbrenthughes commented on #3056
Can you provide more details? Can you provide your properties file? Are you using docker? Steps taken to resolve this.

[2019-07-18 00:11] edtan opened #3058 "Javascript error in hideEmpty.js"
I noticed this Javascript error when testing the feature widget (testing with the Jira collector).  The issue seems to be that the issue's summary has a single quote `'` in the text.

This is happening in [hideEmpty.js](https://github.com/Hygieia/Hygieia/blob/master/UI/src/app/dashboard/directives/hideEmpty.js#L23).  In particular, when being called from [widgets/feature/view.js:231](https://githu

[2019-07-18 00:27] edtan commented on #3058
After playing around with this some more, this actually is affecting the behavior of the widget.  When the error occurs, the widget displays `No data found.`.  When I strip out the single quotes, my issues appear in the "Issues in Progress" section.  This could possible be the same issue seen in #3055

[2019-07-18 00:28] edtan commented on #3055
@shabbir1679, I encountered the same issue and have more details in #3058.  Basically, I was seeing this problem if any issue summary has a single quote `'` in it.

[2019-07-18 07:14] kkorada commented on #2921
Hi I am getting same error while using docker compose up, it expecting MONGO_PORT to be set. But who sets it ? what do guys mean by `mongo container provides the HOST/PORT`

[2019-07-18 08:55] Madfish5415 commented on #3056
The problem is fixed, it's came from my proxy

[2019-07-18 08:55] #3056 closed

[2019-07-18 16:30] SrinivReddy opened #3060 "Hygieia publisher groovy script issue"
Hi Team,

I am trying to post metrics from jenkins server to hygieia api using groovy script (
https://github.com/Hygieia/Hygieia/blob/master/hygieia-jenkins-plugin-alt/src/main/hygieia/HygieiaJenkinsPluginAlt.groovy).

I am getting below error in hygieia api:

2019-07-18 16:38:00,982 ERROR c.c.d.rest.RestApiExceptionHandler - invalid hexadecimal representation of an ObjectId: [32]
java.lang.Illeg

[2019-07-18 16:41] rvema commented on #3060
@premyadav1 Any thoughts on this error?

[2019-07-18 21:07] shabbir1679 commented on #3055
Nope No luck, I have checked each and every customfield_xxxxx, they are all correct, I am not getting why it is not populating on the UI.

[2019-07-18 21:09] edtan commented on #3055
Ah ok, if you aren't seeing any JavaScript errors it's probably a seperate
issue.  Sorry..

On Thu, Jul 18, 2019, 5:07 PM Shabbir Mohammed, <notifications@github.com>
wrote:

[2019-07-19 12:24] #3060 closed

[2019-07-20 02:06] adhish70 commented on #3045
@Sbrenthughes @tabladrum @rvema @fidelcoria-aa
Can anyone help with this?
Is it possible to provide a sample POST request with all the expected headers and authentication?

Thank You

[2019-07-20 10:03] kkorada commented on #2372
Hi I am also facing same issue, any update on this ?

[2019-07-20 10:04] kkorada commented on #2372
My artifacts are having cucumber file, but still it is saying WARNING: No Enabled Jobs found with artifacts pattern: cucumber.json

[2019-07-22 11:03] nisargal55 opened #3063 "Trying to pull the project names from jira-getting below mentioned error"
com.baeldung.saas.jira.MyJiraClient main
INFO: This is how you configure Java Logging with SLF4J
Exception in thread "main" java.util.concurrent.ExecutionException: RestClientException{statusCode=Optional.absent(), errorCollections=[]}
	at com.google.common.util.concurrent.AbstractFuture$Sync.getValue(AbstractFuture.java:299)
	at com.google.common.util.concurrent.AbstractFuture$Sync.get(AbstractFu

[2019-07-22 16:01] gopiprasanthpotipireddy commented on #2962
Thank you @Sbrenthughes.

[2019-07-22 16:01] #2962 closed

[2019-07-22 20:11] JULIANCHO923 commented on #91
Hello @sanojdev89, could you share your code with the community?
Best Regards

[2019-07-23 06:48] sharnal commented on #91
Hello @sanojdev89  yes please refer to appropriate reference on the TFS collector. Thanks.

[2019-07-23 13:15] Madfish5415 commented on #3039
Please send your jenkins.properties file

[2019-07-23 13:33] ParashmaniD commented on #2926
@rvema @Sbrenthughes  Do you have any updates please?

[2019-07-23 16:50] abhinay8 opened #3065 "hygieia -bitbucket connectivity issue"
Can someone help me with the below error
2019-07-22 17:05:01,018 [taskScheduler-1] ERROR c.c.d.collector.SCMHttpRestClient - Cannot decrypt this message
Null input buffer
2019-07-22 17:05:01,048 [taskScheduler-1] ERROR o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpected error occurred in scheduled task.
org.springframework.web.client.HttpClientErrorException: 401 null
at org.springframework.web.cli

[2019-07-24 08:02] Madfish5415 commented on #3063
@nisargal55 Please send the collector.properties file

[2019-07-24 14:05] Sbrenthughes commented on #3055
This is a configuration issue. Please post your properties.

[2019-07-24 14:20] Sbrenthughes opened #3066 "BitBucket Collector - Null Pointer Pointer Exception"
Problem:
When configuring the Repo Widget, the credentials options should be optional as stated. When credentials are not passed the collector throws a null pointer exception.

Solution:
Update collector to fix null pointer when credentials are not provided.

[2019-07-24 14:32] Sbrenthughes commented on #3037
Can you verify if these match what you see? These are the name key/values for each of the custom fields.
[code]

[2019-07-25 08:11] Thirumaran2011 opened #3068 "Unable to fetch data from bitbucket collector"
Hi ,
I have tried to configure the bitbucket collector in hygieia .i am facing the following issues.

![image](https://user-images.githubusercontent.com/53294106/61857289-79738800-aee1-11e9-993e-53c5e6cec316.png)

application.properties:

dbname=dashboarddb

		# Database HostName - default is localhost
		dbhost=localhost

		# Database Port - default is 27017
		dbport=27017

		# MongoDB replicaset

[2019-07-25 09:18] Thirumaran2011 commented on #3068
i am getting cannot decrypt this message error and 404  error when i trying public repo

![image](https://user-images.githubusercontent.com/53294106/61862223-28689180-aeeb-11e9-9c41-1eff86123bb7.png)

[2019-07-25 10:58] chenthilan commented on #2711
@Sbrenthughes what is the difference between the dashboard-controller and dashboard-remote-controller APIs under http://hygieiaAPIendpoint/api/swagger/index.html?

Both has a createDashboard (one with remote another without it)... the params are different. If i have to create a list of dashboards (for about 70 APIs), which one should i loop thru?

[2019-07-25 15:12] chenthilan commented on #3039
@Madfish5415 ....Please find the contents of the property file below...

# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Database Port - default is 27017
dbport=27017

# MongoDB replicaset
#dbreplicaset=[false if you are not using MongoDB replicaset]
#dbhostport=[host1:port1,host2:port2,host3:port3]

# Database Username - default is blank
dbuserna

[2019-07-25 22:11] SohamJ commented on #3010
@rvema I see the issue again after rebuild the plugin and api today

[2019-07-25 22:36] #3010 closed

[2019-07-26 11:44] neeraj2k6 opened #3069 "Jenkins collector help needed"
Hi, I am able to configure Jenkins collector successfully. While creating the widget it shows all the jobs in the dropdown. but the Data has never come in the widget. Here are the properties I have configured:

Build widget configuration and output below, Please suggest what i might be missing in the setup

![image](https://user-images.githubusercontent.com/37376022/61949476-eb5fd600-afa2-11e9-884

[2019-07-26 16:01] kdatta10 commented on #1489
I am also getting the same issue. Even after removing savelog from prop file the "I/O error on GET request" is coming. And only 20 jobs are listing down in widget. Please help. Thanks in advance.

[2019-07-26 16:16] #3069 closed

[2019-07-28 07:17] chenthilan commented on #2416
@caiohcl - i tried doing

and

Both the above fail at 'attemptAuthentication' method with the below exception:-

![image](https://user-images.githubusercontent.com/13142525/62003512-ca7bba00-b135-11e9-9c9f-8bd268669a21.png)

PFA the values passed in the request and the 401 response i get...
![image](https://user-images.githubusercontent.com/13142525/62003495-8ab4d280-b135-11e9-9c2b-63190eca075f.pn

[2019-07-29 00:20] rvema commented on #2832
closing the issue since it was resolved

[2019-07-29 00:20] #2832 closed

[2019-07-29 00:22] rvema commented on #680
This has been implemented and hence closing the issue

[2019-07-29 00:22] #680 closed

[2019-07-29 00:24] rvema commented on #2985
closing the issue as it was resolved

[2019-07-29 00:24] #2985 closed

[2019-07-29 00:25] rvema commented on #3006
closing this issue as it was resolved

[2019-07-29 00:25] #3006 closed

[2019-07-29 00:28] rvema commented on #2865
@divyachinna We currently dont support this feature hence closing this issue. When you find a solution for the same please contribute back by creating a PR and we will accept the change.

[2019-07-29 00:28] #2865 closed

[2019-07-29 00:33] rvema commented on #2537
@ryanshriver We have added your contributions to https://github.com/Hygieia/hygieia-aws-quickstart . Please confirm if this issue can be closed? else I can move this issue to the appropriate repository

[2019-07-29 00:35] rvema commented on #1104
This feature has been implemented hence closing the issue.

[2019-07-29 00:35] #1104 closed

[2019-07-29 00:38] rvema commented on #2935
Closing this issue as it was an intermittent one and was resolved by the above recommendations.

[2019-07-29 00:38] #2935 closed

[2019-07-29 00:40] rvema commented on #2926
@ParashmaniD Can you check the v3.0.3 release? Also the master branch is pretty stable and we dont see any build issues with the same. Please confirm the same.

[2019-07-29 00:46] rvema commented on #2952
@srivasis There is another project that creates the docker images and deploys. However it works only with AWS as the target environment would be ECS. Please check this out - https://github.com/Hygieia/hygieia-aws-quickstart . Also please confirm if this issue is still relevant.

[2019-07-29 04:57] divyachinna commented on #2865
@RaghaVema Thanks for the support

On Mon, Jul 29, 2019 at 5:59 AM Ragha Vema <notifications@github.com> wrote:

--
Thanks&Regards,
Divya.N

[2019-07-29 15:45] neeraj2k6 opened #3070 "JIRA collector not collecting any jira items"
I have installed the jira collector which is able to index all teams, boards etc. When I create a feature widget, it always shows 0 items.

Here are the property file:

[code]

![image](https://user-images.githubusercontent.com/37376022/62061656-9381d300-b21f-11e9-983d-6acaea74c4ed.png)

In the logs I see below lines which suggests it is trying to get all issue which are updated after current time

[2019-07-29 16:25] srivasis commented on #2952
Deployed Hygieia through docker-compose after installing the hygieia-jenkins plugin on the Jenkins server. It works perfectly, there was another issue with the plugin not showing all builds but there was a simple checkbox for that on the configurations page for the plugin in Jenkins. Thank you for all the help @rvema

[2019-07-29 16:25] #2952 closed

[2019-07-29 19:10] dilipdmane commented on #2987
In what mongodb collection , Hygiea jenkin plugin pushes build status ?

[2019-07-29 19:12] dilipdmane opened #3071 "Help on Hygiea Jenkin Plugin"
In what mongodb collection , Hygiea jenkin plugin pushes build status ?.

I was able to install hygiea jenkin plugin and as of now I enabled build status

Below logs were printed on my Jenkin

20:27:21 Hygieia: Automatically publishing build data to Hygieia using hygieia-publisher version 2.2.2-SNAPSHOT (private-80095204-T1049DM), Please refresh your browser to see the status.
20:27:21 Hygieia: ca

[2019-07-29 19:38] rvema commented on #2987
builds collection

[2019-07-30 13:55] adhish70 opened #3072 "configuring pipeline and deploy widget via createDashboard api"
Hello,
I am trying to create dashboard remotely. I want to create the pipeline widget and deploy widget as pipeline depends on deploy. What should be the body for the POST method or where can I find the documentation? I tried the one mentioned in swagger, it did not publish anything. I am using the /dashboard/remoteCreate endpoint.

Thank You

[2019-07-30 14:04] rvema commented on #2926
@ParashmaniD Did you get a chance to look into the above comments?

[2019-07-30 15:13] edtan commented on #3037
Sorry for the delay.  Those do indeed match the fields in our instance, except `Team` as we do not have that plugin.  We are also getting a field "type" which I'm planning on using to help with the lookup.  For example, `Sprint` has this type associated with it `com.pyxis.greenhopper.jira:gh-sprint`:

[code]
Here are the field types that I'm seeing on our instance - if they match up with what you'

[2019-07-31 10:36] #3070 closed

[2019-07-31 16:35] ParashmaniD commented on #2926
@rvema I have not had a chance. I will keep you posted when I try this in the next few days.

[2019-07-31 16:45] rvema commented on #2926
@ParashmaniD Let us know if you run into issues. Also we are in the process of splitting the components of Hygieia into their own repos under the Hygieia Org.

[2019-07-31 20:49] caiohcl commented on #2416
Hey @chenthilan ,

First off, log into your Hygieia instance as admin. Then, go to Settings -> Generate ApiTokens -> New. Save the apiUser you created and the apiKey generated.

After that, open your CLI and run the following command:
`echo 'PasswordIsAuthToken:{"apiKey":"<key generated>"}' | base64`
*replace <key generated> to the apiKey you just got in the previous step.

This command will gener

[2019-08-01 14:59] aalabi3 opened #3074 "api file not found"
after recloning Hygieia on another machine I realized that there is no api file and the machine that had all of the original files connects to the Hygieia UI but lacks API connectivity. is there updated documentation on how to proceed with setup and configurations of the api through alternate means/ or was the file just not uploaded?

[2019-08-02 11:57] rvema commented on #3074
@aalabi3 API is still needed and this project has been migrated to its own repository, Going forward all components within Hygieia project will be under their own repositories. Here is the link to the new repository - https://github.com/Hygieia/api

[2019-08-02 11:57] #3074 closed

[2019-08-02 11:59] rvema commented on #3049
@spennec @mikesalvia @darkn3rd @vvigreen981 @bbrower @Prodesire @cryptk @Jakubas @cgorshing @riyas004 @benoitm76 @jorgeb1980 @kana112233 @isuru89 @vishalraina @etsauer @poojithkumar @GabeStep @ingo @premyadav1 @k1dbl4ck @brianmcfeeley @D-M-Moriarty Can everyone look into this issue and respond back?

[2019-08-02 13:18] benoitm76 commented on #3049
Done on my side

[2019-08-02 17:23] Ankit-Koul commented on #2480
Hi Shardul,
Did you figure out why commits were in days?
What is your organization's pipeline structure?

[2019-08-03 03:49] cgorshing commented on #3049
Done - around 18 days ago :)

[2019-08-03 05:09] isuru89 commented on #3049
Done

[2019-08-05 01:58] poojithkumar commented on #3049
Done from my side on response to first email

On Sat 3 Aug, 2019, 10:39 AM Isuru Weerarathna, <notifications@github.com>
wrote:

[2019-08-05 15:59] neeraj2k6 opened #3078 "Product dashboard with empty environment details"
Hi,
We have configured the deploy and pipeline widgets properly. Data is coming in them as expected. But when configuring the product dashboard, the environment box are empty as per below screenshot:

![image](https://user-images.githubusercontent.com/37376022/62477866-c0933000-b7a1-11e9-9705-a5df5fed3475.png)

The widgets view is as below:

![image](https://user-images.githubusercontent.com/37376

[2019-08-05 20:21] rvema commented on #3049
@spennec @mikesalvia @darkn3rd @vvigreen981 @bbrower @Prodesire @cryptk @Jakubas @riyas004  @jorgeb1980 @kana112233  @vishalraina @etsauer  @GabeStep @ingo @premyadav1 @k1dbl4ck @brianmcfeeley @D-M-Moriarty Can everyone look into this issue and respond back?

[2019-08-05 20:39] vortextube opened #3079 "Installation Procedure References Non-Existent Directories/Targets"
The installation instructions reference a directory in the Hygieia project called 'API'

https://hygieia.github.io/Hygieia/setup.html#download-or-clone-hygieia-1

The directory does not exist.

Are there validated build instructions?

[2019-08-05 20:44] rvema commented on #3079
This is a duplicate of https://github.com/Hygieia/Hygieia/issues/3074 . please check the issue

[2019-08-05 20:44] #3079 closed

[2019-08-05 21:13] jorgeb1980 commented on #3049
Already filled the document, please contact me if you find any problem

El lun., 5 ago. 2019 a las 22:22, Ragha Vema (<notifications@github.com>)
escribió:

[2019-08-06 07:14] kana112233 commented on #3049
Done

[2019-08-06 14:19] Sbrenthughes commented on #3078
Are you publishing the artifact in the build step?

[2019-08-06 14:22] Prodesire commented on #3049
Done

[2019-08-06 16:09] neeraj2k6 commented on #3078
Yes @Sbrenthughes artifact is published as well

`hygieiaArtifactPublishStep artifactDirectory: '/home/jenkins/workspace/hygieia', artifactGroup: 'MY.OPS', artifactName: '*.xml', artifactVersion: '1.$BUILD_NUMBER'`

[2019-08-06 21:19] bbrower commented on #3049
done

[2019-08-07 10:59] Jakubas commented on #3049
Done

On Tue, Aug 6, 2019, 23:19 Beau Brower <notifications@github.com> wrote:

[2019-08-07 21:43] vishalraina commented on #3049
@rvema our opensource  office mentioned that we have singed CCLA on earlier in January.
Do you think we still need to sing a new CCLA ?

Rajesh Dhanaraj <rajesh.dhanaraj@capitalone.com>
Wed 1/16/2019 7:01 AM
Fil,
I checked with the open source office regarding this. According to them, no action is necessary after you submit the form. The CCLA is considered completed.
We checked the CCLA repository

[2019-08-07 22:21] D-M-Moriarty commented on #3049
Hey what does it mean if I sign?

On Wed, Aug 7, 2019, 22:43 Vishal <notifications@github.com> wrote:

[2019-08-07 23:45] rvema commented on #3049
Thanks Vishal! You are good!

[2019-08-07 23:46] rvema commented on #3049
Hi, Just like any contributions to open source software. You sign the agreement adhering to the copyrights etc. Please let me know if you have any concerns

[2019-08-08 12:55] Madfish5415 opened #3081 "Failed to build hpsm-cmdb-collector"
[code]

mvn -v
[code]

If someone know how to fix that

[2019-08-08 13:30] Sbrenthughes commented on #3081
We only support the use of jdk8.

[2019-08-08 13:35] Sbrenthughes commented on #3078
Let me check this and get back to you.

[2019-08-08 14:48] Madfish5415 commented on #3081
Build working but I don't have api.jar in api/target/

[2019-08-08 15:05] rvema commented on #2681
This has been resolved.

[2019-08-08 15:05] #2681 closed

[2019-08-08 15:07] rvema commented on #3081
@Madfish5415 API has been migrated to a new repository. Please see issue #3074

[2019-08-08 15:09] Madfish5415 commented on #3081
Ok thanks

[2019-08-08 15:09] #3081 closed

[2019-08-08 20:13] filmaj commented on #3049
Hello @rvema, Fil here from Adobe's Open Source Office. I had a question for CapitalOne, just for our own internal notes / processes: how would one go about updating the list of approved employees on the CCLA? Thanks for any info.

[2019-08-09 04:51] continuum-vikrant-tyagi commented on #2979
Hi @Sbrenthughes  I do have all these below details but still data is not storing in feature collections.

[code]

I am able to filter Project And Dashboard... but rest of the part not visible on widget screen.
please have a look at the image

![image](https://user-images.githubusercontent.com/33453392/62754898-60e1a100-ba8f-11e9-9f5b-58955057f04f.png)

[2019-08-09 05:00] continuum-vikrant-tyagi commented on #2807
https://github.com/Hygieia/Hygieia/issues/2979#issuecomment-519777039

[2019-08-09 14:17] Sbrenthughes commented on #3037
Interestingly enough, we have 2 teams that pull from this.

[2019-08-09 15:07] edtan commented on #3037
Oh, these two both correspond with `Team`?  Hmm...  Maybe I'll leave the field type off of the match for Team then, and/or provide an optional parameter to specify the type?

[2019-08-09 19:27] jjoyneriv commented on #1859
@Dinkarv , @ykfq , @rvema @nireeshT , I'm struggling with the same issue here. What was the fix?

[2019-08-09 19:29] jjoyneriv commented on #3078
@neeraj2k6 , I'm having the same issue , did you find the fix?

[2019-08-12 10:18] denhamcoote opened #3084 "Since commit 552d3833 the 'api' folder is missing, yet all the documentation still refers to it"
This is making it rather difficult to install, as I'm not an expert in mvn, nmp, mongo or any of the tools you require.

Could you provide (or point me to) some updated documentation, please?

[2019-08-12 10:42] rvema commented on #3084
This is a duplicate of #3074 . please check the issue

[2019-08-12 10:42] #3084 closed

[2019-08-12 10:52] denhamcoote commented on #3084
@rvema Thanks for the prompt response, but closing the issue and redirecting doesn't exactly address the issue I raised.

I found the new API repo, that is not the issue.  The issue is the lack of documentation/ incorrect documentation.  Should I raise a new issue but word the title differently? "Documentation incorrect", perhaps?

I'd really like to use Hygieia, but it's really difficult to get s

[2019-08-12 11:13] rvema commented on #3084
@denhamcoote Sorry for the inconvenience, We are in the mid of repository migration hence some of the documentation links are not functional. We should be done with this effort in couple of weeks and will fix the documentation asap.

[2019-08-12 11:17] denhamcoote commented on #3084
@rvema Thank you for your efforts - I look forward to being able to get it working :)

[2019-08-12 11:40] continuum-vikrant-tyagi commented on #3022
Hi,
@gopiprasanthpotipireddy  have you resolved this issue? I am also stuck for the same.

[2019-08-12 13:19] neeraj2k6 commented on #3078
Not yet @jjoyneriv I am still working to find the answer.
From my analysis so far, I could see the env having commits and last build artefacts under the pipelines collection in the database as soon the Jenkins plugin pushes it.
But when the API call is made to show the product dashboard from the UI, it empties the commits/last built artefact information from pipelines collection in MongoDB.

Also,

[2019-08-12 17:12] continuum-vikrant-tyagi commented on #2979
any update

[2019-08-12 17:32] rvema commented on #3049
@filmaj Can you share your email id privately on gitter so that we can get in touch? Thanks!

[2019-08-12 17:41] filmaj commented on #3049
I'm OK sharing my corporate email: maj@adobe.com. Thanks!

[2019-08-13 12:36] Q3188 opened #3087 "unable to find Jenkins folder in collector folder"
Hi I am setting up Hygieia for a devops solution in Jenkins. I am unable to the Jenkins folder inside collector folder as given in the document. Please help me to find the same.

[2019-08-13 13:19] rvema commented on #3087
@Q3188 We are in the mid of migrating the components of Hygieia into their own repositories. Jenkins collector has its own repository now and here is the link to the same [hygieia-build-jenkins-collector](https://github.com/Hygieia/hygieia-build-jenkins-collector) .. We will get the documentation fixed ASAP.

[2019-08-13 17:38] rvema commented on #3087
@Q3188 The documentation has been updated. Please check the latest documentation

[2019-08-13 17:38] #3087 closed

[2019-08-13 20:35] rvema commented on #1087
Performance metrics were implemented for Appdynamics ([hygieia-perf-appdynamics-collector](https://github.com/Hygieia/hygieia-perf-appdynamics-collector)) and Log aggregation was implemented for AWS cloudwatch ([hygieia-cloud-cloudwatch-collector](https://github.com/Hygieia/hygieia-cloud-cloudwatch-collector)) . For other tools we are open to contributions by taking the mentioned repositories as r

[2019-08-13 20:35] #1087 closed

[2019-08-14 13:19] rvema commented on #3078
@neeraj2k6 I will take a look and get back to you

[2019-08-14 14:27] rvema commented on #3078
Are you using a pipeline job in Jenkins?

[2019-08-14 18:36] SohamJ commented on #2877
@rvema @cjchand is there a workaround for this? Our MongoDB setup follows the same standards and currently, all components are trying to authenticate against the database itself.

[2019-08-14 19:54] jjoyneriv commented on #3078
@rvema , Yes we are using a pipeline job in Jenkins

[2019-08-15 03:29] rvema commented on #1824
#2549 will take care of this enhancement.

[2019-08-15 03:29] #1824 closed

[2019-08-15 14:42] Sbrenthughes commented on #3038
Since there has been no reply I am closing this. Please Reopen and provide further details.

[2019-08-15 14:42] #3038 closed

[2019-08-15 15:08] neeraj2k6 commented on #3078
`pipeline {
    agent { label 'jenkins-dind-ops' }
    environment {
        builddocker = true
    }
    parameters {
        choice(name: 'Environment', choices: "Dev\nSit\nCTC\nProd", description: 'Specify the environment for which hygieia need to be created/updated')
    }
    stages {
        stage('PipelineStageBuild') {
            steps {
                checkout scm

                hygie

[2019-08-15 15:35] rvema commented on #3078
@neeraj2k6 I will take a look and respond back.

[2019-08-15 20:34] cjchand commented on #2877
@SohamJ No solution, unfortunately. Just the workaround of adding the user to the Hygieia DB.

[2019-08-15 20:35] arghyasinha19 opened #3106 "hygieia-scm-gitlab-collector is not pulling old commits/issues"
gitlab collector is not pulling old commits. Below is my app.properties file. I have downloaded the latest collector from github.

dbname=hygieia
dbhost=localhost
dbport=27017
gitlab.cron=0 0/1 * * * *
gitlab.host=gitlab.<company>.net
gitlab.protocol=https
gitlab.port=443
gitlab.selfSignedCertificate=true
gitlab.apiToken=xxccffghhha
gitlab.apiVersion=4
gitlab.key=xxccffghhha
gitlab.useProjectId =

[2019-08-15 20:58] rvema commented on #3007
closing the issue as the necessary information was provided

[2019-08-15 20:58] #3007 closed

[2019-08-16 04:26] ozbillwang commented on #2829
A comment for easily running with jdk 8, or other java version in the future, in official maven docker container.

[code]
so the command will be:
[code]

[2019-08-16 10:51] continuum-vikrant-tyagi commented on #3022
hey you resolved? if yes please share steps.
thanks

[2019-08-16 10:57] continuum-vikrant-tyagi commented on #2649
@rvema it is valid issue do we have resolve of this.

below is the Collecter Type configuration

jenkins-codequality.artifactRegex.checkstyle=static-analysis.xml

jenkins-codequality.jobDepth=3  _this i tried till 6_

WORKSPACE/src/github.com/ContinuumLLC/platform-agent-service/src/

is i am missing something.

[2019-08-19 04:03] mykiya opened #3112 "JIRA collector config 404 error"
# log
2019-08-19 12:01:20,003 [taskScheduler-1] INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2019-08-19 12:01:20,118 [taskScheduler-1] INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-08-19 12:01:20,118 [taskScheduler-1] INFO  c.c.d.collector.CollectorTask - http://127.0.0.1:8888
2019-08-19 12:01:20,119 [taskScheduler-1] INFO  c.c.d.collector.Collecto

[2019-08-19 04:09] mykiya commented on #3112
# jira issuetype
[
    {
        "self": "http://127.0.0.1:8888/rest/api/2/issuetype/10003",
        "id": "10003",
        "description": "A task that needs to be done.",
        "iconUrl": "http://127.0.0.1:8888/secure/viewavatar?size=xsmall&avatarId=10318&avatarType=issuetype",
        "name": "Task",
        "subtask": false,
        "avatarId": 10318
    },
    {
        "self": "http://127.0

[2019-08-19 17:02] rvema commented on #2834
@mitunmbj Do you still have trouble with this issue?

[2019-08-19 18:08] #1512 closed

[2019-08-20 12:44] TruJan34 opened #3117 "hygieia\collectors\feature\jira Folder not exists"
I want to use JIRA Collector.
As per documentation https://hygieia.github.io/Hygieia/jira.html
I dont see \hygieia\collectors\feature\jira  folder to execute mvn install.

So not able to generate the output file jira-feature-collector.jar

The folder structure is as below.
![image](https://user-images.githubusercontent.com/12947132/63347888-bbbfa600-c375-11e9-8f56-d6d53a693356.png)

I am able to s

[2019-08-20 13:23] rvema commented on #3117
@TruJan34 Please see the note about repository migration in the documentation. `** Note: The collectors are being migrated to their own repositories. Please see Module breakout section of Hygieia-2019-Roadmap-(draft,-work-in-progress) for the latest information on the repositories. Documentation will be updated after the migration is complete.`

Jira Collector has been migrated to its own reposito

[2019-08-20 13:23] #3117 closed

[2019-08-23 07:29] TruJan34 opened #3123 "Not able see logs for Debug in hygieia-feature-jira-collector"
I am using
logging.level.com.capitalone.dashboard.collector=DEBUG
logging.level.com.capitalone.dashboard=DEBUG
in dashboard.properties file.

Even though i am not able to see any Debug in my log file at location
\hygieia-feature-jira-collector\target\logs

Log file has only INFO and ERROR logs.

for running collector, i am using command as
java -jar jira-feature-collector-3.1.1-SNAPSHOT.jar --spri

[2019-08-23 12:42] rvema commented on #3123
by default logging level is info. Also you would need to create a logback configuration and provide it with your execution command.

[2019-08-27 16:27] ParashmaniD commented on #2926
@rvema , apologies I have not been able to get back any sooner. We had to park the Hygieia story due to the issues we are having.

I have build hygieia-core fine . The Step 1 in initial set-up document http://hygieia.github.io/Hygieia/setup.html#build-hygieia suggests that
[code]
I am guessing it means build Hygieia core first followed by running "mvn clean install package" inside the "api-audit"

[2019-08-28 22:16] krishnadwarapudi opened #3126 "UI changes not reflecting in NavHeader"
I want to remove the text "Welcome" in Navigation Header-"src/dashboard/views/navheader.html". Made changes in the file but when I restart, it isn't taking the changes. Actually the build isn't taking any changes in the html files.

[2019-08-28 22:31] #3126 closed

[2019-08-29 05:33] Harshita-Yadav opened #3127 "Hygieia Issue: Not able to see data in hygieia build widget for jenkins"
Installed Mongo
Downloaded Hygieia V1.2.0
Successfully ran mvn clean compile install package
Created application.properties in corresponding config folders for Hudson Collector.
Run hudson collector with java -jar
Run gulp serve in the UI folder

Everything appears to come up ok
I see data has been created in mongo
I can add a dashboard in the UI .

But, I can not succesffuly add Build widgets for

[2019-08-29 10:55] davidpolaniaac opened #3128 "Mono-repo vs Multi-repo"
Hello everyone,

I have a question regarding the migration of Hygieia to different repositories, previously hygieia was a monorepo where all its components were found in the same repository. This migration has taken a lot of time and a great effort for which I congratulate you. But when we investigate the trend and the news, the term monorepos appears and in different posts they talk about this an

[2019-08-29 18:04] rvema commented on #3127
@Harshita-Yadav For the logout issue we pushed the fix. Please get the latest [api](https://github.com/Hygieia/api) and [UI](https://github.com/Hygieia/Hygieia) and retry and let us know?

[2019-08-30 05:55] gopiprasanthpotipireddy commented on #3022
@continuum-vikrant-tyagi I have given the appropriate job depth in my case it is 1.

[2019-08-30 06:37] continuum-vikrant-tyagi commented on #3022
thanks @gopiprasanthpotipireddy, yes it works for me as well, but I also need to enable archive artifacts in jenkins-configure side.

[2019-08-30 06:38] continuum-vikrant-tyagi commented on #3022
@gopiprasanthpotipireddy  also do you have enable Jira i am facing some issue there too..

Please visit this link
https://github.com/Hygieia/hygieia-feature-jira-collector/issues/5#issuecomment-519777039

[2019-08-30 09:43] Harshita-Yadav commented on #3127
Thanks @rvema for the response. But I can't find any documents available for the updated version of hygieia. How to make connection to our jenkins server as there is no COLLECTOR now, do we need to write our own collector?
API is also not present. Please help to understand this new version.

[2019-08-30 13:28] rvema commented on #3127
@Harshita-Yadav The documentation will be updated shortly. In a nutshell all components within the Hygieia project have been migrated to their own repositories. Please see this wiki page for more details - [2019-Roadmap](https://github.com/Hygieia/Hygieia/wiki/Hygieia-2019-Roadmap-(draft,-work-in-progress)).

[2019-08-30 14:15] Sbrenthughes commented on #3127
Ragha has also pushed a fix for the random redirects to login.

[2019-09-02 03:02] saurabhvaj commented on #3031
Upvote for this. I have similar condition.

[2019-09-02 05:49] venkat566 commented on #2163
What did you do to fix the URL ?
trying to figure out what to configure in properties file and in widget.

I am getting some extra spaces from somewhere - my url says projects/%20%20/

[2019-09-03 12:13] ranebull opened #3132 "Api directory"
Hello!
I build your project with using docs
https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/setup.md
In Step 1 I see next text:
[code]
But I not see api folder in repos:
https://github.com/Hygieia/hygieia-core
https://github.com/Hygieia/Hygieia

Where is this folder?

[2019-09-03 12:16] #3132 closed

[2019-09-04 03:59] Sam123ben opened #3133 "Support for the Azure Devops collector"
I dont see any collector been supported for the Azure Devops, is there any plans for it or any timeline where we can hve it integrated to the azure devops. I like this tools and will help us resolve our issues with the visibility and traceability.

[2019-09-04 08:38] wangwei0537 opened #3134 "jenkins-build-collector-3.0.1 can not run"
**### Here's the exception information from the log：**

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'hudsonCollectorTask': Invocation of init method failed; nested exception is java.lang.NullPointerException
        at org.springframework.beans.factory.annotation.InitDestroyAnnotationBeanPostProcessor.postProcessBeforeInitialization(InitDestroyAnnotationB

[2019-09-06 08:26] wwei1896 commented on #2882
hi
thank you for the reply.
I want to know how can I build the collector for Nexus OSS Repository, can you pls give some advice.
Thanks

[2019-09-06 08:50] wwei1896 commented on #733
hi，
the url:https://github.com/capitalone/Hygieia/blob/master/core/create_collector.md
can not find now. can you provide the new url for it?
thanks

[2019-09-06 09:59] ParashmaniD commented on #2926
@rvema I am trying to build the UI project and ending up with npm issues.
I have installed gulp successfully.
[code]
But when I try to install the dependencies from the package.json, it fails.

[code]
It is unable to find the cli.
[code]
I am pointing to the latest on master.
[code]

The NPM version installed is : **3.10.10**

The node version installed is : **v6.17.1**

Kindly advise.

[2019-09-09 07:45] shubhamk0305 commented on #1916
HI team,

I am aslo facing same issue

![image](https://user-images.githubusercontent.com/50317418/64511647-cd9dc480-d2f5-11e9-8b17-4c1b9ba35606.png)

![image](https://user-images.githubusercontent.com/50317418/64511672-d8585980-d2f5-11e9-954a-36bd86701f8a.png)

I have created the admin user admin currently using MongoDB
while checking in DB my user created is there in DB.

[2019-09-09 13:04] rvema commented on #1916
@sundeepk1 and @shubhamk0305 please ensure you have the latest version of UI, fix should be part of this PR - https://github.com/Hygieia/Hygieia/pull/3129

[2019-09-09 13:12] shubhamk0305 commented on #1916
Can you share the link for latest UI code

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ragha Vema <notifications@github.com>
Sent: Monday, September 9, 2019 5:04:36 PM
To: Hygieia/Hygieia <Hygieia@noreply.github.com>
Cc: Shubham Kumar2 <Shubham.Kumar2@igtsolutions.com>; Mention <mention@noreply.github.com>
Subject: Re: [Hygieia/Hygieia] Unable to Login (#

[2019-09-09 14:01] rvema commented on #1916
https://github.com/Hygieia/Hygieia (master branch) or  https://github.com/Hygieia/Hygieia/releases/tag/v3.1.0

[2019-09-09 14:48] shubhamk0305 commented on #1916
thank you for the link .

Do we need to compile it again?

[2019-09-09 14:52] rvema commented on #1916
@shubhamk0305 yes you would need to run `mvn clean install` on the UI project and relaunch the UI using `gulp serve`

[2019-09-09 14:57] shubhamk0305 commented on #1916
ok i will do that but on current version i am getting below error while using gulp serve

[root@hygieia UI]# gulp serve
[11:14:36] Using gulpfile /home/hygieia/Latest_HYG/Hygieia-master/UI/gulpfile.js
[11:14:36] Starting 'build'...
[11:14:36] Starting 'clean'...
[11:14:36] Finished 'clean' after 59 ms
[11:14:36] Starting 'assets'...
[11:14:36] Starting 'themes'...
[11:14:36] Starting 'fonts'...
[1

[2019-09-09 14:59] rvema commented on #1916
what version of node are you using?

[2019-09-09 15:01] shubhamk0305 commented on #1916
Node 10.16.3

Get Outlook for Android<https://aka.ms/ghei36>

From: Ragha Vema
Sent: Monday, September 9, 6:59 PM
Subject: Re: [Hygieia/Hygieia] Unable to Login (#1916)
To: Hygieia/Hygieia
Cc: Shubham Kumar2, Mention

CAUTION::: THIS EMAIL HAS ORIGINATED FROM OUTSIDE OF IGT. DO NOT CLICK ON LINKS OR OPEN ATTACHMENTS UNLESS YOU RECOGNISE THE SENDER AND KNOW THE CONTENT IS SAFE..
what version of nod

[2019-09-09 15:08] rvema commented on #1916
@shubhamk0305 Unfortunately Hygieia is compatible with node v8 at this moment. Please try downgrading to v8.x and retry

[2019-09-09 15:12] shubhamk0305 commented on #1916
Okk i will downgrade the node to 8 but my gulp serve was working fine  i was only getting the login issue

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ragha Vema <notifications@github.com>
Sent: Monday, September 9, 2019 7:08:57 PM
To: Hygieia/Hygieia <Hygieia@noreply.github.com>
Cc: Shubham Kumar2 <Shubham.Kumar2@igtsolutions.com>; Mention <mention@norep

[2019-09-09 15:39] shubhamk0305 commented on #1916
@rverma is it possible if i can share you webex session can you help me with this

[2019-09-10 15:48] ParashmaniD commented on #2926
@rvema @Sbrenthughes : Could you please advise how to get past this issue?

[2019-09-10 16:20] rvema commented on #2926
the npm version looks little dated, we currently tested this v5.x

[2019-09-10 16:21] rvema commented on #2926
`mvn clean install` should install dependencies that are missing.

[2019-09-10 19:56] SuriDotInc opened #3140 "Docker installation of Hygiea."
Hi, I did docker images Mongo, UI, API, and Jenkins Collector,

The Mongo, UI, API are up with no issues, they are connected OK.

But when I introduce the Jenkins collector, The problem started, I am seeing the following track trace.

Factory.java:1574) ~[spring-beans-4.2.5.RELEASE.jar!/:4.2.5.RELEASE]
        ... 35 common frames omitted
Caused by: com.mongodb.MongoCommandException: Command faile

[2019-09-10 20:13] SuriDotInc commented on #2921
What I learned from building docker image one service at a time, is that , the docker image is expecting MONGO_PORT=tcp://<ip>:<port> format, You can try putting this variable in docker-compose.yml for the service you got errored out. OR

you can run one service at a time with the following

docker run -d -t --link=mongodb:mongo -v /logs/jenkins:/hygieia/logs -e   "MONGO_PORT=tcp://10.40.11.193:27

[2019-09-11 07:38] shubhamk0305 commented on #1514
Hi team,

Currently i am using Hygieia 3.0.2 version

I have configured the dashboard and configured the Jenkins widget and SVN widget in dashboard.
i can see count of data there,but not getting graph visual.

![Dashboard](https://user-images.githubusercontent.com/50317418/64677418-914e9d80-d488-11e9-9467-e69adc277360.PNG)

Thank You in advance

[2019-09-11 07:42] shubhamk0305 commented on #3127
Hi team,

Currently i am using Hygieia 3.0.2 version

I have configured the dashboard and configured the Jenkins widget and SVN widget in dashboard.
i can see count of data there,but not getting graph visual.
![Dashboard](https://user-images.githubusercontent.com/50317418/64677723-323d5880-d489-11e9-9a6f-033bad5ddf62.PNG)

[2019-09-11 13:33] rvema commented on #3140
@SuriDotInc As of this moment we are working on streamlining the docker setup for Hygieia. If you have any thoughts please let us know so that we can incorporate the same.

[2019-09-11 14:04] shubhamk0305 commented on #3127
![graph dadboard error](https://user-images.githubusercontent.com/50317418/64703994-93335380-d4be-11e9-98d2-f76529a51007.PNG)

I am getting error for graph

[2019-09-11 15:25] shubhamk0305 commented on #1916
@rvema while compiling the latest UI Code getting below error

[root@localhost UI]# ll
total 40
drwxr-xr-x. 2 root root   21 Aug 28 16:10 assembly
drwxr-xr-x. 3 root root   79 Aug 28 16:10 docker
-rwxr-xr-x. 1 root root  289 Sep  8  2019 Dockerfile
-rwxr-xr-x. 1 root root 8874 Sep  8  2019 gulpfile.js
-rwxr-xr-x. 1 root root 2706 Sep  8  2019 karma.conf.js
-rwxr-xr-x. 1 root root 6592 Sep  8  2019

[2019-09-11 15:29] rvema commented on #1916
@shubhamk0305 try running `mvn clean install` from the parent Hygieia folder. Looks like you are unable to retrieve snapshots from central maven snapshot repository. The artifact mentioned in the error is present in [oss snapshot repository](https://oss.sonatype.org/content/repositories/snapshots/com/capitalone/dashboard/Hygieia/3.1.1-SNAPSHOT/)

[2019-09-11 15:41] shubhamk0305 commented on #1916
@rvema okkk
as i am using the old code everything is working fine though i am facing challenges in graph view .

![graph dadboard error](https://user-images.githubusercontent.com/50317418/64712367-23c46080-d4cc-11e9-9915-0afdf9fc3df7.PNG)
![Hygieia running -jenkins data 10-09-2019](https://user-images.githubusercontent.com/50317418/64712368-245cf700-d4cc-11e9-82ee-28f7020274d6.PNG)

if possible he

[2019-09-11 15:48] shubhamk0305 commented on #1916
@rvema i will try to run new code...

but time being i am using old code getting below error no graph is view on dashboard.

![build](https://user-images.githubusercontent.com/50317418/64712895-0f349800-d4cd-11e9-8af9-9dbcd07d78be.PNG)

![rverma](https://user-images.githubusercontent.com/50317418/64712932-1cea1d80-d4cd-11e9-8ec2-2a022ed75733.PNG)

kindly let me know the issue

[2019-09-11 17:03] gerardrecinto opened #3141 "Numbers are cut off in widget graphs/axis"
Hello, as you can see in the images below, I have circled in red that the number 1 in the build widget under Builds per day is cut off on the y axis. Same for the Github Repo widget for the 7 on top of the graph.

![image](https://user-images.githubusercontent.com/10230481/64718487-28145d80-d47b-11e9-84ae-357a6a72ed8c.png)
![image](https://user-images.githubusercontent.com/10230481/64718498-2ea2d5

[2019-09-11 20:59] SuriDotInc commented on #3140
Hello @rvema, Thank you for the reply and your time addressing the client needs.
I was able to use the Docker starter kit to stand up the all the collectors with data persistence to local.

I have two questions further,

1) I have a need to read the data from new relic APM tool, Do you know if any collector available for New relic ?
2) How can we add another collector like hygieia-scm-subversion-c

[2019-09-12 06:51] prabhurs123 opened #3143 "Hygieia API UI connectivity issue"
Hi Friends,

I am trying to install hygieia and after installation when i try to access the URL, it says "API connectivity issue"

Below is my API properties and  API logs, Could you please help me where is the issue.
---------------------------------------------------
auth.expirationTime=1200000
# Database Name
dbname=dashboarddb

# Database HostName - default is localhost
dbhost=localhost

# Dat

[2019-09-13 08:43] shubhamk0305 commented on #3127
@Sbrenthughes can you help me out to solve this issue.

[2019-09-13 13:08] stevegal opened #3144 "the `fonts` section of the gulp build takes a long time"
going through all the `node_modules` folders looking for fonts takes a long time. Would it be easy to just go through the modules whose fonts you want rather than bundle the lot?

[2019-09-13 14:30] ParashmaniD commented on #2926
@rvema I followed your advise. Please see the updated version of node and npm.
[code]

I then deleted my local Git UI repository and re-cloned it.

Upon building the project I encountered the same issue.
[code]

With both the older version and newer version of **npm** I am ending up with the same problem. Kindly advise

[2019-09-13 14:54] rvema commented on #2926
@ParashmaniD the node version seems to be 10.x it should be 8.x and npm version seems to be 6.x it should be 5.x

[2019-09-13 15:42] rvema commented on #3144
very good thought, If you have a way around please implement the same and contribute back!

[2019-09-13 18:26] Sbrenthughes commented on #3140
The example properties file is here for subversion https://github.com/Hygieia/hygieia-scm-subversion-collector

[2019-09-13 19:17] gerardrecinto commented on #3141
I fixed this on my local repository. I'm going to make a pull request.

[2019-09-13 19:19] rvema commented on #3141
@gerardrecinto Thanks a lot for your effort. Please ensure that you sign the CLA before you submit the PR. Here is the link to the [CLA](http://hygieia.github.io/Hygieia/contribute.html)

[2019-09-13 19:35] Sbrenthughes commented on #3127
Use the latest UI from master.

[2019-09-15 17:04] shubhamk0305 commented on #1311
ERROR c.c.d.collector.DefaultSonar6Client - Rest Client Exception: http://******/api/measures/component?format=json&componentId=AW01SPdAulaoQAcGLmOe&metricKeys=ncloc,line_coverage,violations,critical_violations,major_violations,blocker_violations,violations_density,sqale_index,test_success_density,test_failures,test_errors,tests&includealerts=true:404

while running sonar collector

Need help

[2019-09-16 03:54] mohsinzaheer25 opened #3145 "Unable To Run Dashboard Using Docker-Compose"
I'm trying to run the Hygieia Dashboard using docker-compose by following this below URL Instructions and it throw me this error when I run `docker-compose up -d` command.

[code]

I even try to pull `hygieia-api:latest` image and it's not available. Any help is appreciated.

**Steps URL:**
http://hygieia.github.io/Hygieia/builddocker.html

[2019-09-16 10:30] ParashmaniD commented on #2926
@rvema I am using the version of **node** and **npm** as you advised.
[code]

However, I end up with the same issue. This does not look right to me.

[code]
I am pointing to commit
[code]
It has been a few months since I started to work on this to get it up and running but it does not feel I am getting anywhere.

I am not sure if I am doing anything incorrect. Is there any sequence of action that

[2019-09-16 11:09] prabhurs123 opened #3146 "Does hygieia supports blackduck"
Just want to know, does Hygieia support Blackduck? If yes could you please share some info.

[2019-09-16 20:36] TonyMorrison commented on #3140
This initial issue is not only isolated to the Starter Kit or Docker. I downloaded and built the various Hygieia repos, with some of the new collectors. I am running this locally without Docker (MongoDB, API, Jenkins Collector, Gulp all from separate Powershell windows). I was successful at getting the UI to come up and getting the Jenkins widget to work. However I am having the same issue when I

[2019-09-17 11:10] hammad-bbc commented on #2416
hello, I am trying to use the above Authorization token for github webhook. There is no option to set it up within in github webhook setup interface. Is there a way to set it up please?

[2019-09-17 11:43] hammad-bbc commented on #378
I am trying to use github web hook but hygieia expects the authorization token and api User. How can I pass that as part of github web hook. There is no option in github webhook ui to do that? What is the work around?

[2019-09-17 12:25] hammad-bbc commented on #3140
hi there,
I am trying to get github collector working and getting the same error as mentioned by TonyMorrison. Any suggestion as to how to resolve this please?

[2019-09-17 12:52] SuriDotInc opened #3147 "The commits are not showing up on Team Dashboard."
For Some reason, the Team Dashboard is not showing the commits data, The data is being shown on the individual swim lane, but not on the Team Dashboard.
<img width="1111" alt="hygieia_image" src="https://user-images.githubusercontent.com/40207902/65043213-7b2d5b00-d928-11e9-9449-cc021e89256e.png">

[2019-09-17 17:06] TonyMorrison commented on #3140
@hammad-bbc A workaround is to delete the offending index when the error pops up. It will allow you to start the failing application.

@Sbrenthughes Is there a reason why the api and any other collector would have a different way of setting the indices for the metadata collection in the database? This seems to be a problem perhaps spawned by breaking the collectors out from the monolithic Hygieia,

[2019-09-17 17:50] TonyMorrison commented on #2978
@Sbrenthughes - I am having the issue with persisting "401 unauthorized" on the GitHub widget.
Running this locally from several Powershell windows for the api and a couple collectors...
. I have no errors showing up on the api logs
. I have no errors appearing in the GitHub collector window
. The collector appears to be running every 5 minutes as I have it setup

![image](https://user-images.gith

[2019-09-17 18:51] rvema commented on #3140
@TonyMorrison @hammad-bbc we are putting the fix in. The reason behind the problem was with competing versions of model embedded within the components. I will get the starter pack fixed today as well.

[2019-09-17 18:59] rvema commented on #2416
@hammad-bbc github webhook does not require web token. However it needs `webHook.gitHub.userAgent=GitHub-Hookshot` and
`webHook.gitHub.githubEnterpriseHosts[0]=<give your enterprise host name>`properties added to api properties

[2019-09-17 20:01] Sbrenthughes commented on #3146
Yeah Hygieia can support it. However, to my knowledge there isn't a collector that has been contributed to integrate.

[2019-09-18 06:36] prabhurs123 commented on #3146
ok thanks. I have seen a collector in this git location https://github.com/matjukov-nikolaj/blackduck  but its not working.

[2019-09-18 12:03] SuriDotInc opened #3148 "NewRelic collector please.."
Hello, Do you have any newRelic collector works in progress at this time ? Eagerly waiting for our client.

[2019-09-18 18:03] rvema commented on #3148
@SuriDotInc we don`t have it in our roadmap. you are welcome to contribute back if you can.

[2019-09-18 18:03] #3148 closed

[2019-09-18 18:04] rvema commented on #3146
@prabhurs123 we do not have it in our roadmap, you are welcome to create one and contribute back. Thanks!

[2019-09-18 18:04] #3146 closed

[2019-09-19 09:25] hammad-bbc commented on #2416
@rvema thanks for your reply. our url is www.github.com/[companyname]. Should we just use this url as value for webHook.gitHub.githubEnterpriseHosts[0] ?

[2019-09-19 12:55] rvema commented on #2416
@hammad-bbc just github.com should be enough

[2019-09-19 19:36] rvema commented on #2926
we suspect presence of angular cli v8 is not liking the older version of angularjs which the current version of Hygieia UI is running on

[2019-09-19 22:24] stevegal opened #3149 "Dashboard widget do not stop collecting when they are destroyed"
When you close a dashboard the widgets on that dashboard will continue to collect. By hooking the widget.js to $destroy broadcast event we can easily fix this.

See PR #3142 for fix

[2019-09-20 10:56] continuum-aditya-pingale opened #3150 "Export variable from dashboard.js to capone.js"
I am trying some custom development on the UI side. I need to fetch the dashboard.js variable
dashboard.title to be precise, on capone.js. (or to get the dashboard title in capone.js, since it is only accessible in capone.html)
How do i go about it?
There are no changes in my dashboard.js and capone.js files
Still for reference

dashboard.js

[code]

**capone.js**

[code]

[2019-09-23 10:19] prabhurs123 commented on #2372
Hi, Anybody has working collector for this Jenkins cucumber.

[2019-09-24 08:20] #3150 closed

[2019-09-24 09:52] harshareddy208 commented on #3127
Hi @Sbrenthughes @rvema , can you please inform by when you will provide the documentation on updated Hygieia version so that we can use it in our project?

[2019-09-25 14:03] Rishikeshpal commented on #2237
@anayyadav  how did u resolve 401 error at the first place? Does your appD is saml authenticated?

[2019-09-25 14:18] Rishikeshpal commented on #1044
@tabladrum  anyone from your team will be able to help me with my issue on appD and hygieia integration? i have raised the issue. https://github.com/Hygieia/hygieia-perf-appdynamics-collector/issues/2

[2019-09-26 08:44] ParashmaniD commented on #2926
@rvema Excellent. What is the next course of action to make this work?

[2019-09-26 15:46] hammad-bbc opened #3152 "Nullpointerexception using cloudwatch collector"
Hello,
I have been trying to run cloudwatch collector, when i try running the collector jar it gives me the following:

2019-09-26 15:41:41,705 [main] WARN  o.s.c.a.AnnotationConfigApplicationContext - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'awsCloudwatchLogAnalyzerTask

[2019-09-27 21:25] chandan4747 opened #3154 "Unable to build the source"
Running "mvn clean install" is failing with the below message:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.5.1:compile (default-compile) on project api: Compilation failure: Compilation failure:
[ERROR] /C:/Root/TADP/HygieiaPlugin/Hygieia-3.0.2/api/src/main/java/com/capitalone/dashboard/service/BinaryArtifactServiceImpl.java:[116,19] cannot find symbol
[ERROR]

[2019-09-27 21:30] praveen7kom opened #3155 "Hygieia udeploy widget is showing old data"
Hi,
I am able to get udeploy data on Hygieia dashboard but it is showing the old data instead of showing the new deployment information. could you please let me know if you have any workaround to solve this issue? thanks.

[2019-09-29 10:07] itmatters commented on #3145
Experienced the same issue: What worked for me:

- Clone or download sources from https://github.com/Hygieia/api
- Build sources
`mvn clean install`
- Build docker image
`docker build -t hygieia-api .`
- Add the following section to the docker-compose.yml:
[code]
Then start Hygieia Dashboard using docker-compose as described with:
[code]

[2019-10-01 15:43] praveen7kom commented on #3155
Can someone throw some ideas on the troubleshooting steps for udeploy widget showing old deploy data instead of showing the recent? Thank you.

[2019-10-01 16:14] rvema commented on #3155
@praveen7kom do you have the udeploy collector? Can you check if the collector has run?

[2019-10-01 16:16] rvema commented on #3154
@chandan4747 please delete your workspace and re clone the repositories from https://github.com/Hygieia . Please check the documentation for more information as they have been updated.

[2019-10-01 16:23] praveen7kom commented on #3155
Well, Udeploy collector is running fine and see the logs pulling data for many applications. i can see data on dashboard as well but the problem is it is showing the deployment data from 2017 and 2018 though we have very recent deployments. and i dont see any errors in logs. Any particular setting that can change this behavior ?

[2019-10-01 16:55] rvema commented on #3155
@praveen7kom you need to debug the udeploy collector and see why its not collecting the data. The UI just visually represents the data collected by the collector.

[2019-10-01 17:28] praveen7kom commented on #3155
I have the DEBUG logs enabled but no clue in the logs. Below are the sample logs. I would like to know how exactly we change/control the data shown in the widget. Why the udeploy collector cant pull the latest but the oldest data.

2019-10-01 12:06:32,007 DEBUG c.c.d.e.EnvironmentComponentEventListener - Attempting to find new artifacts to process for environment 'xxxxx'
2019-10-01 12:06:32,315 DE

[2019-10-01 17:53] Sbrenthughes commented on #3147
Do you have an SCM collector running? If so which one?

[2019-10-01 21:42] bmwRacer42 opened #3158 "Can't seem to stay logged in"
Have setup a new Hygieia using all latest code.  All running locally on my laptop.  I have a setup an admin user as described in wiki using Sign Up.   I can then authenticate fine.  However when I click to add a dashboard or the gear for admin pages I get redirected back to the login.

I have found this error in the api logs

2019-10-01 15:26:44,933 [http-nio-8080-exec-1] ERROR c.c.d.rest.RestApiE

[2019-10-02 13:54] rvema commented on #3158
`auth.expirationTime` is in milliseconds. try removing the property as by default it is set to 1 day.

[2019-10-02 15:38] bmwRacer42 commented on #3158
thanks....should have realized that.  things are working like a charm

[2019-10-02 19:02] #3158 closed

[2019-10-03 14:20] dasaradhan opened #3162 "Receiving ERROR: yaml.scanner.ScannerError: while scanning for the next token found character '\t' that cannot start any token in "./docker-compose.yml", line 17, column 1.."
version: '3'
services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - "db-data:/data/db"

  db-setup:
    build: db
    depends_on:
      - db

  api:
  image: hygieia-api
  depends_on:
  - db

  ui:
    build: UI
    image: hygieia-ui
    depends_on:
      - api
    ports:
      - "3000:80"

volumes:
  db-data:
  certs:

[2019-10-03 14:22] dasaradhan opened #3163 "Receiving ERROR: yaml.scanner.ScannerError: while scanning for the next token found character '\t' that cannot start any token in "./docker-compose.yml", line 17, column 1.."
version: '3'
services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - "db-data:/data/db"

  db-setup:
    build: db
    depends_on:
      - db

  api:
  image: hygieia-api
  depends_on:
  - db

  ui:
    build: UI
    image: hygieia-ui
    depends_on:
      - api
    ports:
      - "3000:80"

volumes:
  db-data:
  certs:

[2019-10-04 06:27] dasaradhan commented on #3145
version: '3'
services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - "db-data:/data/db"

  db-setup:
    build: db
    depends_on:
      - db

  api:
  image: hygieia-api
  depends_on:
  - db

  ui:
    build: UI
    image: hygieia-ui
    depends_on:
      - api
    ports:
      - "3000:80"

volumes:
  db-data:
  certs:

[2019-10-04 15:44] mohamedaittaleb opened #3164 "Failed to retrieve data, the repo or collector is most likey misconfigured"
I'm using gitlab-scm-collector. the widget work fine with private and public repositories. but I got 404 ERROR while using nested gitlab group http://gitlab.company.com/someting1/something2/myprpject.git

2019-10-04 16:41:00,016 [taskScheduler-1] INFO  c.c.d.gitlab.GitlabUrlUtility - ---> Gitlab commits URI: https://gitlab.company.com/api/v4/projects/someting1%2Fsometing2/repository/commits/?ref_n

[2019-10-04 16:00] mohamedaittaleb opened #3165 "Can not deserialize instance of com.capitalone.dashboard.gitlab.model.GitlabCommit out of START_ARRAY token"
trying to use gitlab-scm-collector I tried private and public repositories. don't know why I'm getting this error while fetching commits.

 https://gitlab.company.net/api/v4/projects/group%2Fproject/repository/commits/454545493016

Can not deserialize instance of com.capitalone.dashboard.gitlab.model.GitlabCommit out of START_ARRAY token

[2019-10-04 16:14] rvema commented on #3163
closing the duplicate issue of #3162

[2019-10-04 16:14] #3163 closed

[2019-10-07 09:27] ParashmaniD commented on #2926
@rvema , could you please provide me with the latest "working version"/commit id of all the projects and dependencies of Hygieia so that I can stand up an instance of it?

[2019-10-08 20:05] stevegal commented on #3149
the is fixed by PR #3160

[2019-10-08 20:05] #3149 closed

[2019-10-08 20:06] stevegal commented on #3144
should be closed by #3161

[2019-10-08 20:06] #3144 closed

[2019-10-14 08:04] shekharshamra commented on #2664
HI All,

I am getting the same issue. anyone has any idea how to resolve it.
2019-10-11 04:37:00,184 [taskScheduler-1] ERROR o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpected error occurred in scheduled task.
org.springframework.web.client.HttpClientErrorException: 401 null
at org.springframework.web.client.DefaultResponseErrorHandler.handleError(DefaultResponseErrorHandler.java:91) ~[spring-web-

[2019-10-14 09:04] shekharshamra commented on #2667
HI All,

I am getting the same issue. anyone has any idea how to resolve it.
2019-10-11 04:37:00,184 [taskScheduler-1] ERROR o.s.s.s.TaskUtils$LoggingErrorHandler - Unexpected error occurred in scheduled task.
org.springframework.web.client.HttpClientErrorException: 401 null
at org.springframework.web.client.DefaultResponseErrorHandler.handleError(DefaultResponseErrorHandler.java:91) ~[spring-web-

[2019-10-16 01:42] rvema commented on #2667
@shekharshamra Jira collector has been rewritten. Please check the code at the new repository and retry - [hygieia-feature-jira-collector](https://github.com/Hygieia/hygieia-feature-jira-collector)

[2019-10-16 08:47] dasaradhan opened #3167 "Service hygieia-jenkins-build-collector has neither an image nor a build context specified. At least one must be provided."
version: '3'
services:

  api-audit:
    # environment:

  ui:
    # environment:

  appdynamics-collector:
    # environment:

  artifactory-artifact-collector:
    # environment:

  bamboo-build-collector:
    # environment:

  chat-ops-collector:
    # environment:

  hpsm-cmdb-collector:
    # environment:

  github-graphql-collector:
    # environment:

  gitlab-feature-collector:
    # envir

[2019-10-16 10:04] continuum-aditya-pingale commented on #2978
hi @TonyMorrison ,  did you find a solution to this issue?

[2019-10-16 16:12] dasaradhan opened #3168 "failed to load: /tmp/db-setup.js"

[2019-10-17 03:36] dasaradhan opened #3169 "Connection refused (Connection refused)}}]}. Waiting for 30000 ms before timi"

[2019-10-17 03:42] dasaradhan opened #3170 "Error connecting to db:27017 (172.18.0.3:27017) :: caused by :: Connection refused :"
MongoDB shell version v4.2.0
connecting to: mongodb://db:27017/admin?compressors=disabled&gssapiServiceName=mongodb
2019-10-17T03:30:21.633+0000 E  QUERY    [js] Error: couldn't connect to server db:27017, connection attempt failed: SocketException: Error connecting to db:27017 (172.18.0.3:27017) :: caused by :: Connection refused :
connect@src/mongo/shell/mongo.js:341:17
@(connect):2:6

[2019-10-17 06:30] dasaradhan opened #3171 "Error connecting to db:27017 (172.18.0.3:27017) :: caused by :: Connection refused"
MongoDB shell version v4.2.0
connecting to: mongodb://db:27017/admin?compressors=disabled&gssapiServiceName=mongodb
2019-10-17T05:43:53.180+0000 E QUERY [js] Error: couldn't connect to server db:27017, connection attempt failed: SocketException: Error connecting to db:27017 (172.18.0.3:27017) :: caused by :: Connection refused :
connect@src/mongo/shell/mongo.js:341:17
@(connect):2:6
2019-10-17T05:

[2019-10-17 08:03] continuum-aditya-pingale opened #3172 "Github collector data"
![image](https://user-images.githubusercontent.com/52907319/66989554-32f98800-f0e2-11e9-93f2-eea4024f33de.png)

Can someone explain me this data
how is last 14 days data less than last 7 days data
also why is that red sign on the top of collector. There is no error in my collector or api logs

[2019-10-17 10:05] dasaradhan commented on #3171
Someone Please help here.

[2019-10-17 11:28] rvema commented on #3171
We have not tested with Mongo 4.x please downgrade it to V3.6 and retry

[2019-10-17 14:24] rvema commented on #3169
please add more details and open this issue

[2019-10-17 14:24] #3169 closed

[2019-10-17 14:24] rvema commented on #3171
duplicate issue

[2019-10-17 14:24] #3171 closed

[2019-10-17 15:14] dasaradhan opened #3173 "All the containers are going to exited state with below error"
Containers are going to exited state:
===============================
![Screenshot (16)](https://user-images.githubusercontent.com/29045180/67021204-eda67c00-f11c-11e9-8411-54dee193e30e.png)

Error log for :db-setup_1
=======================
![image](https://user-images.githubusercontent.com/29045180/67021444-4413ba80-f11d-11e9-9d2d-dd17166a23c5.png)

Error log for:mongo:3.6
======================

[2019-10-17 19:46] Sbrenthughes commented on #3170
Can you downgrade to 3.* version of mongo and try again?

[2019-10-17 19:47] Sbrenthughes commented on #2978
try adding `github.errorThreshold=50` Once the repo errors out a certain amount of time it will not longer try to connect

[2019-10-18 03:45] dasaradhan commented on #3170
downgraded to 3-xenial but still same issue.

Please suggest

[2019-10-18 04:11] dasaradhan commented on #3170
Containers are going to exited state:
![image](https://user-images.githubusercontent.com/29045180/67065130-c38ba300-f18a-11e9-8642-7cc08832cf1c.png)

Error log for :db-setup_1
![image](https://user-images.githubusercontent.com/29045180/67065172-e3bb6200-f18a-11e9-9ef1-65104044baa4.png)

Error log for:mongo:3.6
![image](https://user-images.githubusercontent.com/29045180/67065202-fcc41300-f18a-11e9-

[2019-10-18 10:59] dasaradhan commented on #3170
Can someone please help here

[2019-10-18 11:39] continuum-aditya-pingale commented on #3172
@Sbrenthughes can you please guide me here? thanks

[2019-10-18 14:07] dasaradhan opened #3174 "hygieia_db-setup going to exited state"
![image](https://user-images.githubusercontent.com/29045180/67101116-a7b1ec80-f1de-11e9-9af9-e2a0ea735853.png)

Logs:
![image](https://user-images.githubusercontent.com/29045180/67101146-b8626280-f1de-11e9-8cbe-46f30c94d2a5.png)

please suggest

[2019-10-21 14:10] keir-lavelle opened #3176 "Which widget to display junit test result data"
Sorry this is not so much a bug as a general usage question. In my jenkins pipeline I am calling the following hygieia method to publish my test result (junit xml file) to my hygieia instance

[code]
I can see the response from the call is

[code]

So I guess my first question is does this mean that hygieia was unable to locate the junit.xml file? It is definitely being generated (I am doing an ls

[2019-10-22 16:16] dasaradhan opened #3178 "Wasn't able to connect to mongo DB kindly someone help here"
![image](https://user-images.githubusercontent.com/29045180/67306873-45762600-f515-11e9-88c3-6b0234092ef6.png)

[2019-10-29 13:38] kamal2222ahmed opened #3179 "gulp (gulp build) on project UI: Failed to run task: 'gulp build' failed."
Following the steps @ https://hygieia.github.io/Hygieia/setup.html When executing ```$mvn clean install``` at location https://github.com/Hygieia/Hygieia.git /Hygieia
I get exception:

[code]
....
[code]
Versions:

[code]

[code]
[code]
$ npm -v
6.4.1
[code]

[2019-10-29 16:55] kamal2222ahmed commented on #3179
Found the issue, Should I Fork and submit merge request? it was the version of nom and nodejs, now since I am using ubuntu 14.04, it should be nodejs=v8.16.2 and npm=6.4.1 but for other versions of ubuntu it might be different. Here is the diff:
[code]

[2019-10-29 18:00] rvema commented on #3179
Thanks @kamal2222ahmed for this finding, please make the changes locally for you. We would need to do testing before we incorporate the change as many users have success with these values.

[2019-10-30 15:02] vigneshsriram opened #3180 "Create Pipeline Widget using API"
I am trying to create the Pipeline widget using the API

Some values(not all) are getting updated in the MongoDB but not showing on the UI.
If I do a get /dashboard after updating the dashboard from the API I get the following:
`{
    id: "5db9a4bc3038910009b15e19",
    name: "pipeline",
}`

if I do an update manually from the UI and do a get /dashboard I get the following:
`{
    id: "5db9a4bc303

[2019-10-31 13:01] continuum-aditya-pingale commented on #3172
@tabladrum @nireeshT  can anyone please help me with this?

[2019-10-31 13:59] rvema commented on #3128
Sorry for the confusion, This issue will be still open as its a good point of discussion. The repository split happened as we are identifying owners for each of the repos who can maintain the same. If a single team was handling then single repo strategy would work. In our case it's more convenient to have individual repositories to ease the maintenance.

[2019-10-31 14:00] rvema commented on #3172
If you click on the red button then it should tell the error.

[2019-10-31 14:09] continuum-aditya-pingale commented on #3172
Error collecting data:
but there are no error in collector logs or api logs

[2019-10-31 16:19] rvema commented on #3172
Do you have access to the db? Can you check the contents of the collector_item for this widget?

[2019-10-31 16:19] rvema commented on #3172
The collector item will have the reason behind the rtrot

[2019-10-31 16:47] shishirchaturvedi opened #3181 "Fix pull request count on repo(scm) widget"
Fix pull request count for a day, seven day and fourteen days. A pull request/issues count should be aggregated.

[2019-10-31 23:29] rvema commented on #3180
This is not supported at this point. please contribute back the feature if you can.

[2019-10-31 23:29] #3180 closed

[2019-10-31 23:29] #3179 closed

[2019-10-31 23:30] rvema commented on #3170
This is a duplicate of #3178

[2019-10-31 23:30] #3170 closed

[2019-10-31 23:31] #3154 closed

[2019-11-01 10:59] continuum-aditya-pingale commented on #3172
![image](https://user-images.githubusercontent.com/52907319/68020483-9c71bd00-fcc4-11e9-909f-864192aaac69.png)

can you please explain this?
It is a private repo. The data for other repos is fetched correctly

[2019-11-01 11:39] rvema commented on #3172
The token might have expired, how are you authenticating against the private repo through the widget?

[2019-11-01 12:53] continuum-aditya-pingale commented on #3172
with the same github access token

[2019-11-01 14:48] splatthy opened #3183 "Artifactory Documentation Confusion"
Greetings,

I was working to implement the Artifactory Collector, and chased my tail for a few days only to realize that the app thought all the patterns were blank.

If you check the documentation (https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/artifact/artifactory.md), it references a sample application.properties file.  It looks like during the documentation process,

[2019-11-01 15:01] #3181 closed

[2019-11-01 15:05] rvema commented on #3172
How did you configure the widget to authenticate against the private repository? Are you sure the credentials provided have access to this private repository?

[2019-11-01 18:27] rvema commented on #3049
@chbrown13 @edtan @GabeStep @heffrey @tomgeorge @mikesalvia @koroshi @cryptk @vvigreen981 @yesh518
As part of the contribution process to Hygieia, we need each of you to go out and sign the [CLA](http://hygieia.github.io/Hygieia/contribute.html). We'd appreciate if you could do this as soon as possible. Please reply once you have signed.

[2019-11-01 18:30] edtan commented on #3049
I've previously signed the CLA already (see comment in [#3036](https://github.com/Hygieia/Hygieia/pull/3036#issue-295143087)).

[2019-11-01 18:34] rvema commented on #3049
Thanks Ed, did you use a different id or email address for submitting the CLA? If so please provide the same so that we can update the records. We are looking for information like name, email and github id which was provided in CLA form so that we can update the records.

[2019-11-01 18:44] edtan commented on #3049
Hmm, I don't think I've changed anything, all of that should still be the same.  But if you're comparing emails to my git commit emails, that might be the issue - my git email is set to GitHub's "noreply" email.  I'll send you an email with more information so as not to clutter up this thread.

[2019-11-01 18:46] rvema commented on #3049
Thank you very much for your suport!

[2019-11-05 11:05] continuum-aditya-pingale commented on #3172
it works for few repos and for few it fetches incorrect data

[2019-11-05 13:23] #2893 closed

[2019-11-05 13:44] rvema commented on #3172
Can you elaborate on the incorrect data?

[2019-11-05 14:09] continuum-aditya-pingale commented on #3172
![image](https://user-images.githubusercontent.com/52907319/68214700-eed41600-0003-11ea-85bc-cd383b0e2df4.png)

in the image the last 14 days data is less than last 7 days data for pulls

[2019-11-05 14:32] jjoyneriv commented on #2893
@gopiprasanthpotipireddy , I’m having the same problem. What was your fix?

[2019-11-05 14:54] rvema commented on #3172
This issue was fixed last week, Can you refresh your UI code and retry? - #3182

[2019-11-05 19:40] tmbjmu commented on #3049
@chbrown13 @edtan @GabeStep @heffrey @tomgeorge @mikesalvia @koroshi @cryptk @vvigreen981 @yesh518 FOLLOW UP: As part of the contribution process to Hygieia, we need each of you to sign the CLA form. We'd appreciate if you could do this as soon as possible. Please reply once you have signed. Let me know if you questions or if you have recently signed.

[2019-11-05 19:46] heffrey commented on #3049
Hey there. I thought I had already filled out the form. Can you confirm? Jeff Whiteside @ Credit Karma

[2019-11-06 00:15] tmbjmu commented on #3049
@edtan @heffrey thanks for the quick respose, I found your CLA signatures.

[2019-11-06 06:59] gopiprasanthpotipireddy commented on #2893
No fix @jjoyneriv the jenkins plugin is not having any commit data with it. that is plugin coding issue.

[2019-11-06 17:35] keir-lavelle commented on #666
Hygieia Publisher Plugin Version: 2.2.3
Jenkins Version: 2.190.1

Hi there, sorry to bring back up a closed issue but it's mentioned that current plugin supports Junit.xml publishing from a pipeline defined with Jenkinsfile, however I am getting an error

`Hygieia Test Publisher: Processing read error /var/lib/jenkins/workspace/form-ci-pipelines_pup-api_master/junit.xml`

I have checked the validi

[2019-11-07 04:52] #816 closed

[2019-11-07 04:52] #1053 closed

[2019-11-07 04:52] #1120 closed

[2019-11-07 04:52] #1128 closed

[2019-11-07 04:52] #1148 closed

[2019-11-07 04:52] #1221 closed

[2019-11-07 04:52] #1403 closed

[2019-11-07 04:52] #2633 closed

[2019-11-07 04:52] #2656 closed

[2019-11-07 04:52] #2768 closed

[2019-11-07 04:52] #2790 closed

[2019-11-07 04:52] #2789 closed

[2019-11-07 04:52] #2792 closed

[2019-11-07 04:52] #2836 closed

[2019-11-07 04:52] #1637 closed

[2019-11-07 04:52] #2223 closed

[2019-11-07 05:42] dmyst3 opened #3185 "Pipeline chevron colors"
Hello - does anyone here have an idea how to update the pipeline chevron to have a different color for each status? for example i want the chevron to be orange when something is in progress etc...

[2019-11-07 09:00] keir-lavelle opened #3186 "Question - Hygieia Jenkins Plugin - JUnit support"
Hygieia Publisher Plugin Version: 2.2.3
Jenkins Version: 2.190.1

My question is the same as #666 which was closed with a message that the current plugin suppports JUnit xml test reports. Sorry to bring back up a closed issue however it is still not working for me. The error I receive is as follows:

`Hygieia Test Publisher: Processing read error /var/lib/jenkins/workspace/form-ci-pipelines_pup-ap

[2019-11-07 14:31] rvema commented on #3185
@nireeshT / @Sbrenthughes any thoughts?

[2019-11-08 05:02] tmbjmu commented on #3049
@chbrown13 @GabeStep @tomgeorge @mikesalvia @koroshi @cryptk @vvigreen981 @yesh518

Hello all! This is a final reminder to please sign the CLA form for the Hygieia project. If you have already done so since our last reminder, pls let me know and I will review/update my records. Have a wonderful weekend.

[2019-11-08 07:41] spennec commented on #3049
Hello I think I've done that already, can you confirm?

[2019-11-08 22:56] tmbjmu commented on #3049
@spennec You are good to go! Thanks again.

[2019-11-11 02:18] tomgeorge commented on #3049
I signed it

[2019-11-11 04:07] hx70176 opened #3187 "A question on commit-data.js"
Starting from line 35 of Hygieia/UI/src/components/widgets/product/js/commit-data.js, it has below comment:
        // querying pipeline commits by date will only return production commits that have
        // moved to prod since that last request. this way we can avoid sending 90 days
        // of production commit data with each request. all other environments will show
        // a current sna

[2019-11-12 15:27] kamal2222ahmed commented on #3179
The pom.xml context was Hygieia/UI. Also want to know the reason for closing this issue.

[2019-11-12 21:35] rvema commented on #3179
@kamal2222ahmed the reason this issue was closed is with the current values several people have success running the application. In case this does not work for your environment please feel free to make the change locally to get this running.

[2019-11-13 00:41] tareks commented on #3187
This is probably a case of the blind leading the blind, but it appears that the code right underneath does that base on `var now` declared right above.
[code]

I'm not sure why you're looking at this, but I'm having trouble loading any data into the product dashboard (commits, build, or deploy stages). It appears that the `db.request.where` statement returns an empty result and `processLastRequest

[2019-11-13 02:23] hx70176 commented on #3187
Thanks for helping out, @tareks .   I was able to get the pipeline data loaded and displayed on Product dashboard.

I'm having browser out-of-memory issues with Hygieia though.   If I leave product dashboard open overnight, it will crash, and once it crashed once, the subsequent new instances would crash much faster, like within an half an hour and sometimes minutes.  After some client side debugg

[2019-11-13 23:22] jar145 commented on #2926
I don't quite follow this. Was the **RangeError: Maximum call stack size exceeded** exception issue fixed? If so, how? I am running into the same issue.

[code]

[2019-11-14 18:41] jar145 commented on #2926
Actually, I got it working now. I reset the package.json file to my last commit and it worked. I must have installed something my mistake (I think babel-core, but not sure).

[2019-11-18 06:09] vivekshm commented on #2347
We started CI/CD only for Dev environment intially.

We have Hygieia 3.0.2 version, NPM version 6.4.1 and Node 10.11.1.

We have SVN for repo widget and Jenkins for build widget and both are configured in Team Dashboard using collectors and data is refelected in repo widget as soon as developer commits the code in SVN. But nothing is displayed in Commit stage and Build stage in product dashboard,

[2019-11-18 06:10] vivekshm opened #3188 "Product Dashboard not displaying any data in Commit section and Deploy stage"
We started CI/CD only for Dev environment intially.

We have Hygieia 3.0.2 version, NPM version 6.4.1 and Node 10.11.1.

We have SVN for repo widget and Jenkins for build widget and both are configured in Team Dashboard using collectors and data is refelected in repo widget as soon as developer commits the code in SVN. But nothing is displayed in Commit stage and Build stage in product dashboard,

[2019-11-18 06:14] vivekshm commented on #3188
Mongodb Pipeline collection:

![Capture](https://user-images.githubusercontent.com/57887662/69028691-be737b00-09f8-11ea-9894-1124e5938088.JPG)

[2019-11-18 06:19] vivekshm commented on #3188
I have 1 dummy commit in SVN without executing CI/CD.

[2019-11-18 17:18] chyno opened #3189 "Dockerfiles are coupled to build process"
The Docker files should not be dependence on first locally building the Java project.  The Docker files should use multisource Dockfile to build the project and then create the image.
Reason:
- Not all people (like me ) have correct Java environment to build projects.  Only requirement should be Docker.
- You do not have any documentation as far as I can see so it is hard to figure out what to do.

[2019-11-19 00:01] #2748 closed

[2019-11-19 11:24] vivekshm commented on #3188
Please do the needful.

[2019-11-19 19:25] ysbre commented on #3188
@vivekshm I have the same issue. Have you found the fix?

[2019-11-19 19:26] ysbre commented on #2987
@srivasis can you elaborate on the settings you changed?

[2019-11-19 20:00] rvema commented on #3188
You have a dummy commit to SVN, Have you done a build on the commit and deployed to any environment? The Dashboard will show the data if its capable of capturing the commits part of a build and if the build also performed deploy to an environment.

[2019-11-19 20:01] rvema commented on #3188
looking at the toolset, I dont believe we have a collector available for MS Build.

[2019-11-19 20:06] rvema commented on #3189
@chyno The docker files are in the process of being fixed. The docker images will be available in Dockerhub shortly. check back in a week. The documentation will be updated with links to the images in dockerhub.

[2019-11-19 20:08] rvema commented on #3147
@SuriDotInc Do you have database access? If so can you check the `builds` collection and see the commits are present?

[2019-11-19 20:08] rvema commented on #3147
How did you run the build?

[2019-11-20 04:06] vivekshm commented on #3188
Not yet.

We are using jenkins collector and shown in build widget.
We have done dummy commit to SVN and build it through jenkins and then deployed to dev environment, but not getting anything in the Build and Deploy stage in Product dashboard, however the changes are reflected in the team dashboard SVN repo, Deploy and Jenkins widgets.

[2019-11-20 05:47] kopal2212 opened #3190 "Bitbucket(Cloud) collector not fetching any data"
----------------------------
Application.properties file:
--------------------------
dbname=dashdb

dbhost=localhost

dbport=27017

dbreplicaset=false
dbhostport=localhost:27017

dbusername=user

dbpassword=password123

logging.file=./logs/bitbucket.log

git.cron=0 0/1 * * * *

git.host=https://bitbucket.org/companyname/

git.username=kopal

#convert password to base64
git.password=hcufeuuYi= (it

[2019-11-20 07:15] vivekshm opened #3191 "Compiling issue in Hygieia Executive Dashboard Setup"
I have downloaded the latest version of Hygieia executive Dashboard from below link
https://github.com/Hygieia/ExecDashboard.

I have Team dashboard with Hygieia 3.0.2 version.

I got an exception while compiling the exec-api folder using below command
mvn clean install

Exception:
[ERROR] Failed to execute goal on project exec-api: Could not resolve dependencies for project com.capitalone.dashboa

[2019-11-20 14:21] splatthy opened #3192 "Guidance for Multibranch Pipelines in Hygieia"
I'm looking for guidance on how to integrate multi-branch pipelines with Github and Jenkins into a Hygieia Team Dashboard (and ultimately roll that information up to a Product dashboard).

As an example, I have development teams working within Github on multiple Release branches.  So for example they'll be working on two branches in parallel called release/january and release/february, there could

[2019-11-21 06:09] vivekshm commented on #3188
Can anyone help me to troubleshoot, any configurations  required more to achieve the same.

[2019-11-21 16:22] rvema commented on #3188
@vivekshm Since you don't have a means to collect the build information from your build solution (MSBUILD) and feed Hygieia this will not work for you. If you are familiar with the apis exposed by MSBUILD you may try creating a collector for collecting data from MSBUILD and feed to hygieia. You may take [hygieia-build-jenkins-collector](https://github.com/Hygieia/hygieia-build-jenkins-collector) o

[2019-11-21 16:24] rvema commented on #3192
@splatthy currently on the UI there is a limitation of displaying the SCM widget for only 1 combination of url and branch.

[2019-11-22 12:08] vivekshm commented on #3188
Thanks Ragha for feedback. I am already using Jenkins collector for build in Team dashboard. PFA the screenshot. Let me know if you required any further info.
![Hyg](https://user-images.githubusercontent.com/57887662/69424547-eb07f980-0d4e-11ea-8ff8-b21b6f7161a3.png)

[2019-11-30 10:07] #3127 closed

[2019-12-02 08:38] ZhouLenz opened #3196 "Empty sourceChangeSet in Builds Collection of Hygieia Mongodb"
Hi
I am using Hygieia Jenkins Publisher plugin from my Jenkins server (version 2.121.2).
My team wants to get data in builds collecions of the Hygieia mongodb.
And we found there are  builds url , startTime, endTime  and  buildStatus , but only pipeline job has codeRepos and sourceChangeSet.
Our freestyle job and maven job  have empty codeRepos and sourceChangeSet records, even if we have configur

[2019-12-02 09:48] Nagnas01 opened #3197 "Hygieia Jira Collector - Not saving widget"
Hi !

I have been struggling with a Hygieia implementation of the Jira collector.

My jenkins, sonarqube and scm collectors i've managed to get working.

This is the scenario - when going to the jira collector logs, it starts up successfully.

2019-12-02 09:15:00,789 [taskScheduler-1] INFO  c.c.d.collector.FeatureCollectorTask - JIRA Collector is set to work in Board mode
--
  | 2019-12-02 09:15:0

[2019-12-02 11:00] Navya-V opened #3198 "regarding jira integration with Hygieia"
hi ...i am  not able to understand what is the custom_field (feature.jiraSprintDataFieldName=customfield_10000)  what is the value that we have to provide in the properties file,where do we find the custom_feild ....please somebody guide i get 0 0 0 on dashboard

[2019-12-02 11:33] jyoti599 opened #3199 "Unable to use jenkins data collector"
stacktrace-
Error creating bean with name 'hudsonCollectorTask': Invocation of init method failed; nested exception is java.lang.NullPointerException
        at org.springframework.beans.factory.annotation.InitDestroyAnnotationBeanPostProcessor.postProcessBeforeInitialization(InitDestroyAnnotationBeanPostProcessor.java:136) ~[spring-beans-4.2.5.RELEASE.jar!/:4.2.5.RELEASE]
        at org.springfra

[2019-12-03 15:39] Hemila-S commented on #2741
Hi Sbrenthughes,
Facing the same issue, not able to fetch the data in UI

2019-12-03 10:36:00,128 [taskScheduler-1] INFO  c.c.dashboard.client.RestClient - makeRestCall op=GET url=https://parkercfa.atlassian.net/rest/api/2/issuetype status=200 duration=120
2019-12-03 10:36:00,132 [taskScheduler-1] INFO  c.c.d.collector.CollectorTask - -----------------------------------
2019-12-03 10:36:00,132 [ta

[2019-12-03 15:41] Hemila-S commented on #2741
Hi,
Facing the same issue , not able to fetch the data in UI but it is not throwing any errors.

2019-12-03 10:36:00,134 [taskScheduler-1] INFO  c.c.d.collector.FeatureCollectorTask - JIRA Collector is set to work in Team mode
2019-12-03 10:36:00,135 [taskScheduler-1] INFO  c.c.d.collector.FeatureCollectorTask - Hours since last run = 4. Collector is only collecting updated/new issues.
2019-12-03

[2019-12-03 15:44] rvema commented on #2741
@Hemila-S please create an issue against the hygieia-feature-jira-collector repository.

[2019-12-03 15:48] Hemila-S opened #3200 "How to show the jira data in Hygieia UI?"
Hi ,
Am new to this Hygieia!
My issue is am not able to fetch the data present in JIRA

2019-12-03 10:36:00,134 [taskScheduler-1] INFO  c.c.d.collector.FeatureCollectorTask - JIRA Collector is set to work in Team mode
2019-12-03 10:36:00,135 [taskScheduler-1] INFO  c.c.d.collector.FeatureCollectorTask - Hours since last run = 4. Collector is only collecting updated/new issues.
2019-12-03 10:36:00,

[2019-12-03 20:12] mohsinzaheer25 commented on #3145
I was able to use the other image and it worked for me. Thanks @itmatters @dasaradhan , for your help.

[2019-12-03 20:12] #3145 closed

[2019-12-04 14:36] rvema commented on #3188
@vivekshm for the deploy can you share you configured the deploystep in your jenkins pipeline.

[2019-12-05 06:17] vivekshm commented on #3188
Once the artifacts are successfully deployed to dev environment using MSDeploy. I used Hygieia Publisher plugin to push the notification to Hygieia UI. Please find the below screenshot

![Build](https://user-images.githubusercontent.com/57887662/70208852-9f911a80-1754-11ea-91f8-6f6a2b33f54e.JPG)

[2019-12-05 11:50] Navya-V commented on #2229
my jira dashboard displays only 3 open issues which were recently added in jira ,it doesnt display any WIP and Done Count both are 0 0 .we have around 90 issues that are not displayed.
can anybody help by posting  the required properties which works perfectly.
i have seen all properties and tried all properties from all issues which is available online.
Any help would be great .working on Hygieia

[2019-12-06 10:37] Navya-V opened #3201 "Any collector if failed,why will data be displayed on hygieia dashboard"
while a collector is run,and fails for some reason .the previous data is displayed on dashboard .
how many changes are on properties file the output shown on the dashboard is the same .What may be the cause? is there any kind of cache that we have to clear.

[2019-12-07 18:38] #3155 closed

[2019-12-09 15:58] #3162 closed

[2019-12-10 04:57] vivekshm commented on #3188
Did you get a chance to see the issue Ragha?

[2019-12-10 16:44] flickerfly commented on #2067
Did this ever happen? That sounds like a useful collector for us as well.

[2019-12-11 04:46] Navya-V commented on #2807
what happens if i delete feature collection from mongodb manually? will it be recreated after i rub the command for jira collector?

[2019-12-11 05:06] continuum-vikrant-tyagi commented on #2807
yes it will recreate again feature collection.

[2019-12-11 05:17] Navya-V commented on #2807
thanks @continuum-vikrant-tyagi

[2019-12-11 05:25] Navya-V commented on #2807
i am able to fetch type=story ,i am not able to get all tasks that are epics .though i have configured properties
feature.jiraIssueTypeNames=Story,Task,Epic
feature.jiraIssueTypeID=Story
feature.collectorItemOnlyUpdate=false
feature.jiraSprintDataFieldName=customfield_10020
feature.jiraEpicIdFieldName=customfield_10014
feature.jiraStoryPointsFieldName=customfield_10016
feature.jiraTeamFieldName=
f

[2019-12-11 06:57] Priya123-lang opened #3202 "UI documentation for custom collector"
Hello,

Is there is any UI documentation  for adding custom collector info ? Also to add any new models and repositories for custom collector ?
Trying to build tfs deployment collector

Thanks in advance
Priya.

[2019-12-11 15:29] rvema commented on #3202
@Priya123-lang I believe tfs is a collector for builds right? You can take [hygieia-build-jenkins-collector](https://github.com/Hygieia/hygieia-build-jenkins-collector) as reference if you want to build the collector for model and repository. Also if possible can you build a plugin to be installed on tfs that is capable of pushing data to Hygieia similar to the one we built for jenkins. Do you kno

[2019-12-12 18:49] Priya123-lang commented on #3202
@rvema tfs is a collector for builds and also for deployment as it's CI/CD. I was referring u-deploy collector and trying to fetch deployment data from TFS . Do we have any documentation to create new repo and models as udeploy and tfs are different . And also how to bring up the data in UI (custom widget) . And am not sure whether tfs supports webhooks but I have seen some links and yet to explor

[2019-12-13 20:25] splatthy commented on #3192
Thanks @rvema, this slipped and I accidentally let this go stale.  I meant to follow up and ask if there's anything in the roadmap that might remove the limitation?  On our end it's not a pressing need now, but over the next few months we're going to be enabling more multi-branch CI.

Knowing that we're generating builds from multiple branches, is there anything that comes to mind to visualize tha

[2019-12-16 13:31] rvema commented on #3192
not sure why this was marked stale, I will keep this open.

[2019-12-16 13:35] rvema commented on #3201
The dashboard displays the data collected until the last successful run. if the collector run failed for some reason then the data displayed is from last run of the collector. Hope this helps.

[2019-12-17 03:29] Navya-V commented on #3201
Thanks for the info @rvema

[2019-12-17 03:29] #3201 closed

[2019-12-17 04:36] chrisj-au commented on #2829
Fix for me was to get jdk8 as people mentioned.  Use 'sudo update-alternatives --config java' to change version in Ubuntu.

[2019-12-17 07:22] roshvin opened #3203 "how to bypass jenkins server ssl certificate check"
getting below error while connecting to jenkins because of ssl certificate , how to bypass it

org.springframework.web.client.ResourceAccessException: I/O error on GET request for "https://servernamet/api/json?tree=jobs": sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to reque

[2019-12-17 07:29] No6-start commented on #2807
The same question

2019-12-17 15:00:00,652 [taskScheduler-1] INFO  c.c.d.collector.FeatureCollectorTask - Refreshing issues for Team ID:10502
2019-12-17 15:00:00,741 [taskScheduler-1] INFO  c.c.dashboard.client.RestClient - makeRestCall op=GET url=http://10.1.135.25:8080/rest/agile/1.0/team/10502/issue?jql=issueType in ('Task') and updatedDate>='2019/11/17 15:00'&fields=id&startAt=0 status=404 dur

[2019-12-17 07:37] No6-start commented on #2807
feature.deltaCollectorItemStartDate=2008-01-01T00:00:00.000000
feature.deltaStartDate=2015-03-01T00:00:00.000000
feature.masterStartDate=2008-01-01T00:00:00.000000
feature.cron=0 * * * * *
feature.queryFolder=jiraapi-queries
feature.storyQuery=story
feature.epicQuery=epic
feature.jiraBaseUrl=http://1.1.1.1:8080
feature.jiraQueryEndpoint=rest/api/2/
feature.jiraCredentials=ZHkteGppbnl1OlpoYW53YW5nM

[2019-12-17 07:37] No6-start commented on #2807
This is my configuration，It's a problem there

[2019-12-17 07:41] No6-start opened #3204 "Unable to check out JIRA team and DB data"
2019-12-17 15:00:00,741 [taskScheduler-1] INFO  c.c.dashboard.client.RestClient - makeRestCall op=GET url=http://10.1.135.25:8080/rest/agile/1.0/team/10502/issue?jql=issueType in ('Task') and updatedDate>='2019/11/17 15:00'&fields=id&startAt=0 status=404 duration=68
2019-12-17 15:00:00,742 [taskScheduler-1] ERROR c.c.d.collector.DefaultJiraClient - Error in calling JIRA API: http://10.1.135.25:808

[2019-12-17 07:43] No6-start commented on #3204
my conf

dbname=dashboarddb
dbhost=localhost
dbport=27017
logging.file=./logs/jira.log
feature.pageSize=100
feature.deltaCollectorItemStartDate=2008-01-01T00:00:00.000000
feature.deltaStartDate=2015-03-01T00:00:00.000000
feature.masterStartDate=2008-01-01T00:00:00.000000
feature.cron=0 * * * * *
feature.queryFolder=jiraapi-queries
feature.storyQuery=story
feature.epicQuery=epic
feature.jiraBaseUrl

[2019-12-17 07:53] No6-start commented on #2291
我遇到了和你一样的问题，这个问题是如何解决的呢？jiraIssueTypeNames这个值我设定了，但是可惜还是报错

[2019-12-18 04:47] Priya123-lang commented on #3202
@rvema Have started designing plugin collector for tfs and have stored project list in mongo db in similar way how we are doing for uDeloy to get list of application at first. Later for saving project deployment details ( release definition , name ) how to create collection in mongo db in hygieia since both tfs and u deploy are 2  different process.
Could you please help how to proceed on this?

A

[2019-12-18 13:46] Navya-V commented on #2862
May i know here which command you used ?

[2019-12-18 15:28] rvema commented on #3202
They should be different collector items with different collector ids. Shall we have a working session? Ping me on gitter and we can have a quick call.

[2019-12-22 17:35] #3168 closed

[2019-12-23 13:44] nanipriyanka opened #3207 "Can we display details of branch owner who committed the change along with last committed date"
Hi Team,

We have 4 projects in GIT hub. Lets assume them as A1, A2, A3 & A4. For all the four projects we have setup corresponding Multibranch jenkins pipeline jobs. Once I setup dashboard I would like to display data of no.of commits in a week, last committed date with owner. Jenkins URL etc. Is it possible with Hygieia?

I have added below image for more details. And also kindly let me know if

[2019-12-23 16:11] #3173 closed

[2019-12-24 15:53] #3174 closed

[2019-12-26 14:08] yalalasai opened #3209 "UCD collector unable to fetch all Application Data."
Hi Team,
            The Ucd collector is fetching data only for some applications and not working for all applications. In the UI whne am configuring the widget, it is showing data for only some applications.
The collector is working fine with no errors. The  database has the collections environment_components and environment_status ,but are not being updated when another application is selected.

[2019-12-27 07:11] rvema commented on #3207
@nanipriyanka for Q1 - Currently it is not supported but you may fork it and modify to your needs. We did not come across this kind of requirement. For Q2 - We will be working on making this product to support most of the no-sql databases may be in Q1 or early Q2 of 2020. Hope this answers

[2019-12-27 07:15] rvema commented on #2067
@flickerfly we could not prioritize the collector for twistlock, Please contribute back by building the collector for the same. Thanks

[2019-12-28 17:32] #3178 closed

[2020-01-02 10:53] Navya-V commented on #2807
Anybody help!!!!

[2020-01-02 11:13] Navya-V commented on #1369
@MarkRx
JSONObject["type"] ="Story" is reflected but "Task" is not reflected ,somebody help!!!!

[2020-01-02 16:02] waiyanwh opened #3210 "Can we show gitlab CD/CD or Pipeline in hygieia like jenkins and bamboo?"
Hello ,

Most of our projects repo are located in gitlab and use gitlab ci/cd for our deployment.
So, I tried hygieia and it can only show the push/commit/issues/pull . Not include CI/CD process of gitlab pipeline. All I want to know is , is there any plan to add more collector to hygieia for gitlab.
BTW, Thanks for this awesome project.

[2020-01-02 16:13] rvema commented on #3210
Currently we don't have a collector for Gitlab CICD, However if you understand the webhook for Gitlab CICD you may enhance the hygieia api to translate the payload from gitlab and convert to the canonical model support for deployment widget. We have a reference implementation for Github and Sonar webhook and a custom implementation for builds, hence we need a way to parse the payload from gitlab a

[2020-01-03 19:48] Sbrenthughes commented on #3188
I don't believe the SVN collector has not been updated to handle commit data for the product dashboard. See https://github.com/Hygieia/Hygieia/issues/1333 for more details

[2020-01-03 19:49] Sbrenthughes commented on #3172
Please reopen if this issue has not been resolved.

[2020-01-03 19:49] #3172 closed

[2020-01-07 13:25] keir-lavelle commented on #2913
Hi there, I am having exactly the same issue with version 2.2.3, is there a more recent version I should be using?

[2020-01-07 15:31] keir-lavelle commented on #2913
Just tried rebuilding the .hpi from source and adding the plugin again, still the same issue :(  @rvema any chance this issue can be re-opened?

[2020-01-07 15:54] rvema commented on #2913
@keir-lavelle let me get back to you

[2020-01-07 17:33] ibakayoko commented on #1962
I am facing the same issue.

[2020-01-13 14:59] #3185 closed

[2020-01-14 06:16] diwakarjhanwar commented on #2533
No its not resolved

org.tmatesoft.svn.core.internal.wc.SVNErrorManager.authenticationFailed(SVNErrorManager.java:47) ~[svnkit-1.8.7.jar!/:na]

[2020-01-14 07:17] kdatta10 opened #3212 "Running collector : Bitbucket returns Repo Count 0"
Bitbucket properties file looks like this:

dbname=dashboarddb
dbhost=127.0.0.1
dbport=27017
dbreplicaset=false
logging.file=./logs/bitbucket.log
git.cron=0 * * * * *
git.host=http://ABC.net/stash/
git.username= myusername
git.password= base64 encoded password
git.api=/rest/api/1.0/
git.commitThresholdDays=15
git.pageSize=25
git.product=server

git.key=<generated by java -jar <path-to-jar>/core-*-

[2020-01-14 09:00] kdatta10 commented on #3212
It's working now.
git.host=http://ABC.net
git.api=/stash/rest/api/1.0

And also in repo widget the URL had to be customized:
http://ABC.net/<PROJECT_KEY>/<repo_name>

[2020-01-14 09:00] #3212 closed

[2020-01-14 13:46] rvema commented on #2533
@diwakarjhanwar please open an issue against subversion collector repo

[2020-01-19 04:04] #3187 closed

[2020-01-20 09:39] xiegudong45 opened #3213 "Find a Bug in Hygieia/UI"
Hi,

I thought I just found a potential bug under Hygieia/UI. In line 20 of  src/components/widgets/log/view.js, there's a plugin called Chartist.plugins.legend(), but it has some error when the widget runs. Besides, under the src/app/chartist/plugins folder, there's no file called legend.js.

[code]

[2020-01-20 18:03] rvema commented on #3213
@xiegudong45 if you have a solution for this issue please create a PR fixing the same.

[2020-01-20 19:09] #2926 closed

[2020-01-21 14:44] prk-fad commented on #2146
Can you please provide details on the base URL. I am still seeing this issue

[2020-01-21 15:34] prk-fad opened #3214 "Jira collector - Parser exception when parsing teams reopening #2146"
The issue #2146 was closed but not enough information to resolve the issue. The issue mentions fixing correct BaseUrl. Can a few examples be given for correct url?

[2020-01-22 01:11] Jaff opened #3215 "Build failed for UI - Linux, Fedora 31"
Using the Hygieia/UI/ directory, ran `mvn clean package integration-test` and got this output:
[code]

[2020-01-22 01:12] Jaff commented on #3215
Platform is Linux, Fedora 31.

[2020-01-22 01:52] Jaff commented on #3215
Suspect a cyclic dependency; see https://github.com/taptapship/wiredep/issues/187

[2020-01-22 02:26] Jaff commented on #3215
Looks OK on MacOS and Ubuntu 18.04, though

[2020-01-25 21:07] #3189 closed

[2020-01-25 21:07] #3147 closed

[2020-01-26 20:16] drewkhoury opened #3216 "docker compose does not work - ui depends on api which is underfined"
Running `docker-compose up` gives:
ERROR: Service 'ui' depends on service 'api' which is undefined.

This command should work without any other dependencies

[2020-01-26 20:17] drewkhoury commented on #3145
This is still not fixed in the main repo though

[2020-01-26 20:27] drewkhoury commented on #3216
I guess this has to do with the huge banner message - but the wiki just has a lack of a tick for UI https://github.com/Hygieia/Hygieia/wiki/Hygieia-2019-Roadmap-(draft,-work-in-progress) ... what do I do for a demo right now or how long do I wait?

[2020-01-31 23:30] friederbluemle opened #3218 "GitHub org and repo name"
Originally mentioned in #3217

To be more in line with prevalent naming conventions on GitHub, it would be great if the organization **and** repository of this project could by renamed to **all-lowercase**:

[code]

Note:

- Automatic redirects will be set up by GitHub, **no** links will be broken
- This does _not_ affect the regular, _stylized_ spelling of **Hygieia** - it's a separate field on t

[2020-02-02 16:43] jimzucker commented on #3216
I took a look and this commit dramatically changed the docker-compose.yml, removing many containers. @matthewbeasley  can you review and help @drewkhoury

commit 924bf1e4a4b5aed15152694a30038701ba4053ba
Author: matthewbeasley <beardsley.ma@gmail.com>
Date:   Fri Feb 2 19:53:00 2018 -0600
    Docker compose refactor (#1972)
    * squash this commit. stopping to work on something else
    * squash t

[2020-02-02 19:16] rvema commented on #3216
@jimzucker we are removing support for docker compose and are encouraging users to use docker build. We are prioritizing some time in the next few weeks to fix issues with docker builds.

[2020-02-07 17:00] RavinderSinghALJ commented on #3215
@Jaff  We are seeing the same issue on Mac also. Did you find any resolution for the same?

[2020-02-08 23:38] drewkhoury commented on #3216
@rvema Can you point to instructions that we can follow, don't care if it's compose or docker, just want a reliable commit and set of instructions that don't require me to install a bunch of java deps and hope that my machine has the same libraries as yours.

I'm really confused (and worried) about the state of this project. Shouldn't you be able to point me to a working commit (preferably the las

[2020-02-08 23:42] drewkhoury commented on #3140
Any updates?

[2020-02-09 12:14] Shubhamk0503 commented on #2667
Earlier Jira collector was working fine , but now i am  getting below error

2020-02-09 19:25:00,000 INFO  c.c.d.collector.CollectorTask - Running Collector: Jira
2020-02-09 19:25:00,006 INFO  c.c.d.collector.CollectorTask - -----------------------------------
2020-02-09 19:25:00,006 INFO  c.c.d.collector.CollectorTask - http://10.38.101.208:8080/
2020-02-09 19:25:00,006 INFO  c.c.d.collector.Coll

[2020-02-13 21:42] jhult commented on #1830
Just FYI I think this may be related to this bug: https://bitbucket.org/atlassian/jira-rest-java-client/pull-requests/78

[2020-02-14 11:37] kmkalai commented on #733
Hi, I am creating custom collector for GoCD. pls give your suggestion for this

[2020-02-17 00:38] ARUPPIN commented on #2219
Hi All,
Any update on this thread?

I am a newbie to Hygieia and its Setup. I was able to setup Hygieia-UI, Core and API.
And I am facing issue while trying to Setup hygieia-github-scm-collector (Its not able to connect to repository and gives 0 enabledRepos).

Note that I followed Readme and connected to Public repo (And didn't give key, personalKey as I am connecting to Public repo), Please find

[2020-02-17 00:39] ARUPPIN commented on #2219
And my logs are as follows,

2020-02-17 10:47:04,737 [main] INFO com.capitalone.dashboard.Application - Started Application in 11.205 seconds (JVM running for 12.401)
2020-02-17 10:48:00,001 [taskScheduler-1] INFO c.c.d.collector.CollectorTask - Running Collector: GitHub
2020-02-17 10:48:00,023 [taskScheduler-1] INFO c.c.d.collector.CollectorTask - -----------------------------------
2020-02-17 10

[2020-02-17 01:51] ARUPPIN commented on #2220
Could you please let us know the resolution. I am pointing to Public repository in 'hygieia-scm-github-collector'. But its not able to get the Repo/Pulls/Commit count values correctly.

I followed Readme and connected to Public repo (And didn't give key, personalKey as I am connecting to Public repo), Please find my githib configs connecting to public repo ( https://github.com/Hygieia/Hygieia) as

[2020-02-19 18:54] ankita-newsuk commented on #3216
@rvema Do we have any updates on this issue ?
I am also facing the same while i am trying to run the UI. Could you please share the steps involved here to run it using docker build

[2020-02-24 10:00] mvineza opened #3221 "Hygieia Jenkins plugin doesn't populate deploy widget"
I installed Hygieia Jenkins plugin on my jenkins instance but only build widget is being populated.

![image](https://user-images.githubusercontent.com/28911125/75142965-2390e800-572f-11ea-81f6-c9f57319cf64.png)

![image](https://user-images.githubusercontent.com/28911125/75143027-3b686c00-572f-11ea-8b6f-22d9213ac01d.png)

Here is my Jenkinsfile:
[code]

Here is a sample job output from jenkins:
[

[2020-02-27 08:53] sathishchandranallaguntla commented on #3133
I dont see any collector been supported for the Azure Devops and Service Now Collector,  is there any plans for it or any timeline where we can have it integrated to the azure devops and Time line.lll

[2020-02-27 16:17] rvema commented on #3133
@sathishchandranallaguntla we don't have a timeline for the mentioned collectors yet. Please feel free to contribute back if you can

[2020-02-27 16:22] rvema commented on #3221
@mvineza can you check the jenkins server log and paste any relevant logs. Also please look at the api logs and post the relevant logs.

[2020-02-28 12:12] karthikmsc05 opened #3223 "The browser session gets reset to login screen in few seconds frequently."
The browser session gets reset to login screen in few seconds frequently. We need to relogin frequently to view dashboard.

[2020-03-02 05:38] kopal2212 opened #3224 "Unable to deploy on"

[2020-03-03 04:43] dwij2812 opened #3225 "Ability to Choose Iteration to Display in Rally Widget"
Is it possible to choose the iteration to display in the Rally Widget on the Hygieia Dashboard?
Also can we have multiple widgets for rally on the same dashboard to display multiple sprint iterations if it is possible any way?

[2020-03-03 07:53] shubhamk0305 opened #3226 "Not able to get data in the Hygieia Widgets"
Hi team,

I am currently using latest Hygieia 3.1.0

I am able to login the dashboard and configured the dashboard with the build and Jira widgets.

![image](https://user-images.githubusercontent.com/50317418/75753934-cf4ebf00-5d51-11ea-970e-a6439c7d9202.png)

i am able to fetch data in widgets but not able to see data in graphs

![image](https://user-images.githubusercontent.com/50317418/75754036

[2020-03-03 07:54] shubhamk0305 commented on #3226
@rvema  @Sbrenthughes  need help on this issue

[2020-03-03 09:52] jamshaidishaque opened #3227 "not able to run gulp serve command from UI module"
as per the documentation, on UI module , we need to run the gulp serve command so that UI can be launched. but I am getting

**Documentation URL:** https://hygieia.github.io/Hygieia/setup.html

**Error**
[code]
Node, npm and gulp version as following

![image](https://user-images.githubusercontent.com/50225315/75763730-88b39180-5d5e-11ea-8b0e-57f5bec38a16.png)

[2020-03-03 09:54] jamshaidishaque commented on #3227
**gulpfile.js**

[code]

[2020-03-05 06:03] jamshaidishaque opened #3228 "error 404 api/ping"
My api.properties are as below

[code]

When I access the URL localhost:7070/api/ping, I am getting error 404
![image](https://user-images.githubusercontent.com/50225315/75952483-abfe4e00-5ed0-11ea-82c1-04887529ef2c.png)

[2020-03-05 06:06] jamshaidishaque commented on #3228
I am using command
`java -jar api.jar --spring.config.location=/opt/hygieia/api/api.properties -Djasypt.encryptor.password=hygieiasecret`

Logs

[code]

[2020-03-05 06:08] jamshaidishaque commented on #3228
I am following the below document for setting up Hygieia

https://hygieia.github.io/Hygieia/setup.html

My directory structure as following

![image](https://user-images.githubusercontent.com/50225315/75952790-93426800-5ed1-11ea-94e1-3872e9a4e75a.png)

[2020-03-05 06:14] jamshaidishaque commented on #3228
Hygieia main page look like

![image](https://user-images.githubusercontent.com/50225315/75953118-73f80a80-5ed2-11ea-967a-221954019ea1.png)

[2020-03-06 05:29] rvema commented on #3228
@Courtneyp123 can you please help him?

[2020-03-06 05:54] rvema commented on #733
@kmkalai i am not sure about gocd I believe its a build/pipeline tool if that being the case you may take jenkins build collector as reference for building one.

[2020-03-06 06:25] rvema commented on #3227
@Courtneyp123  can you help him out

[2020-03-06 06:31] rvema commented on #3224
we are lookin for help in this area. If you find success we would greatly appreciate

[2020-03-06 06:40] rvema commented on #3223
@karthikmsc05 what is the value set for `auth.expirationTime=` in your api.properties

[2020-03-06 10:33] karthikmsc05 commented on #3223
@rvema Right now in api.properties i dont see auth.expirationTime= property is set. Please let me know if i need to set with what value ?

[2020-03-07 09:25] amorphis26 commented on #1609
Initial issue was caused by auth.expirationTime=10 , that is 10 milliseconds. Has to be set to a much larger value.

[2020-03-08 08:49] annguyen281 opened #3229 "Issue with guild serve in UI"
Hi Team, I'm facing this issue with "gulp serve" in Hygieia/UI

![image](https://user-images.githubusercontent.com/3479104/76159548-5a65f580-6154-11ea-8be4-ff27e1989234.png)

[2020-03-09 18:37] #3207 closed

[2020-03-09 18:37] #3210 closed

[2020-03-09 19:34] splatthy commented on #3187
Looks like this got marked stale and closed.  I'm running into a similar memory issue though in the UI on a product dashboard with only 5 team dashboards that have been collecting for a < 3 months.  Chrome spikes to like 4 GB of memory usage and then just gives up and kills the tab.

@hx70176 - You wouldn't happen to have a snippet of what you changed in commit-data.js would you?  I'm sure I could

[2020-03-10 06:03] chaitanya4419 commented on #1790
Even i have the same requirement,

I want to restrict few dashboard to only three users and other few dashboards to other 2 developers using concept like team or any other concept.

any idea ?

[2020-03-10 07:36] ramachittala commented on #3224
Use below env on your deployment files.
API_HOST, API_PORT, DB_HOST, DB_PORT

[2020-03-10 22:16] #3188 closed

[2020-03-12 11:15] cristian04 commented on #3224
Hi! Im also working on this. Should we setup a meeting somehow someday?

[2020-03-13 14:25] gtg3vv commented on #3227
I had this same issue when following the instructions. The issue is that the gulp version resolved according to the package.json is 4.0.0 or later. You need to npm install gulp@3.9.1 so that your local version shown above is 3.9.1 (this is mentioned in the instructions, but as an optional step if gulp is not installed).

For reference I had this issue with:
mvn 3.5.4
java 1.8
node v8.17.0
npm 6.13

[2020-03-13 16:58] Courtneyp123 commented on #3228
Hi @jamshaidishaque can you try testing your credentials to see if you are able to connect to mongodb?  Usually it might be that connection issue that is preventing you from hitting api.

[2020-03-17 08:57] cristian04 commented on #3224
I've managed to run these services on kubernetes:
- API
- UI
- Audit-API
- Jira Collector
- GitHub Collector

There are some caveats regarding the state for the collectors, but it works!
I am currently working on the AWS Collector for the Cloud view and some helm charts for alpha.

[2020-03-18 08:58] kopal2212 commented on #3224
Hello @cristian04, sounds cool. I was able to deploy API, UI in Kubernetes but when I was trying to signup in my dashboard I was getting error user already exists, i also increases the auth. expiration time still the same issue, Later I figure out I had some cors issue as well so I solved it anyhow but then when i tried to signup, it took me to the home page with a cross sign-on API connectivity.

[2020-03-18 08:59] kopal2212 commented on #3224
It would be really helpful @cristian04 if u share your deployment, service and ingress yaml files.

[2020-03-23 13:24] Nirav-Bhadradiya opened #3230 "UI build failing on windows 7 x 64 machine"
Hello I am trying to setup dashboard and getting below error while doing npm install under C:\repos\Hygieia\Hygieia\UI

It says package has been renamed

C:\repos\Hygieia\Hygieia\UI>npm install
npm WARN deprecated angular-ui-router@0.4.3: This npm package 'angular-ui-router' has been renamed to '@uirouter/angularjs'. Please update your package.json. See https://ui-router.
github.io/blog/uirouter-s

[2020-03-23 16:07] dwij2812 opened #3231 "Support for alternative DBs for Backend"
Can we expect using alternative DBs for storing the data collected by the collectors in near future with some alternatives like Couchbase etc?

[2020-03-24 03:36] rvema commented on #3231
This is work in progress check back in couple of months.

[2020-03-26 05:41] cod3braker commented on #91
Hi @sanojdev89 , can you help me out over the TFS collector. Please reach out to cod3braker@gmail.com. Thanks.

[2020-03-26 12:12] dwij2812 opened #3232 "Code analysis Widget does not show Private SONAR projects"
Hi,

The Code Analysis Widget when used for static analysis using SONAR is not displaying any private projects on the respective domain to which the configured account in the collector has access to. However it shows the public projects which are listed on the SONAR server perfectly but does not show up the private ones.

Is there any Workaround for the same.

[2020-03-27 05:01] dwij2812 commented on #2224
@Sbrenthughes @rvema facing the same issue as mentioned by @ajayakumar-jayaraj when using sonar.username and sonar.password On Sonar Version 6.7.5, could you please check and provide a solution for the same

[2020-03-27 06:34] dwij2812 commented on #3232
Resolved Refer [https://github.com/Hygieia/hygieia-codequality-sonar-collector/issues/32](https://github.com/Hygieia/hygieia-codequality-sonar-collector/issues/32)

[2020-03-27 06:34] #3232 closed

[2020-03-27 08:10] rvema commented on #2224
@Courtneyp123 can you help @dwij2812 on this issue?

[2020-03-27 08:55] dwij2812 commented on #269
@pteichner use ```sonar.usernames=user``` and sonar.passwords=password``` instead it will work.

[2020-03-27 14:32] dwij2812 commented on #2224
@rvema the issue is solved, we need to change ```sonar,username``` to ```sonar.usernames``` and ```sonar.password``` to ```sonar.passwords``` in the ```application.properties``` file to make it work

[2020-03-27 14:36] rvema commented on #2224
Thanks for letting us know. @Courtneyp123 please check if the sonar collector documentation is accurate and update it accordingly

[2020-03-27 19:04] #3213 closed

[2020-03-28 05:14] dwij2812 commented on #2224
#3233

[2020-03-30 06:43] dwij2812 opened #3234 "[Feature Request] Feature to reorder widgets on dashboard screen"
Can you include reordering feature by default in the upcoming versions. Right now it can be done by reordering the activeWidgets property in the dashboard collections but it will make more sense to have an inbuilt method to change the orientation inside the app as you can not get access to the db always.

[2020-03-30 06:45] dwij2812 opened #3235 "[Feature Request] Veracode Collector for Hygieia"
Seeing the popularity of Veracode Increasing gradually and most organisations using it, can we have a collector for veracode as well for Hygieia in the future.

[2020-04-01 00:04] friederbluemle commented on #3218
@probot - Please don't close this.

[2020-04-01 16:24] rvema commented on #3218
Yes agreed this needs to be discussed among the members and needs to be open.

[2020-04-01 16:25] rvema commented on #3218
@friederbluemle We will get this discussion prioritized at a later time and update you.

[2020-04-01 16:42] rvema commented on #3235
I have tagged it so that members can take a look and prioritize

[2020-04-01 16:45] rvema commented on #3234
@Courtneyp123 Can you work with @dwij2812 and see if you can include with your current work?

[2020-04-01 16:47] rvema commented on #269
@pteichner and @dwij2812 the documentation for this sonar collector has been updateed by @Courtneyp123

[2020-04-01 20:15] friederbluemle commented on #3218
Thank you @rvema

[2020-04-02 13:19] kmkalai commented on #1289
@swizzley , Any updates on GoCD collector?

[2020-04-03 12:41] cernenwein commented on #2807
any updates on this?

[2020-04-04 00:33] swizzley commented on #1289
The project was abandoned, as was Go CD. We found Go CD did not scale horizontally and we have moved on to [concourse](https://concourse-ci.org/) for CI/CD.

[2020-04-06 04:00] dwij2812 commented on #3226
@shubhamk0305 just keep the collectors running for some time initially as it takes some time to initialize and populate the db. Restart them after some time and you will see they will be populated. I know its weird but that's how i also got it running.

[2020-04-06 07:37] jamshaidishaque commented on #3228
Hi @Courtneyp123 I was able to connect the mongodb.

 mongo 10.0.10.51:27017/dashboarddb -u dashboarduser -p abcxyz123

[2020-04-06 07:48] jamshaidishaque commented on #3228
After starting the api on port 7070, I get the following INFO message

2020-04-06 12:41:43,870 [main] INFO  o.a.coyote.http11.Http11NioProtocol - Starting ProtocolHandler ["http-nio-7070"]
2020-04-06 12:41:43,875 [main] INFO  o.a.tomcat.util.net.NioSelectorPool - Using a shared selector for servlet write/read
2020-04-06 12:41:43,916 [main] INFO  o.s.b.c.e.t.TomcatEmbeddedServletContainer - Tomcat

[2020-04-07 07:30] yangdutw commented on #2978
Any updates? I am experiencing similar situation with Github widget. No error in github/API collector log at all. but I can see the red light on the widget that indicates server 500. It happens when I associated a private repo. A public repo will work fine with same configuration here. Please help me out of there. Thanks in advance.

[2020-04-07 10:38] kopal2212 opened #3238 "Bitbucket Collector Cloud [Documentation Update] [Pull Request]"
While configuring the Bitbucket collector I noticed that the **git.api** and **git.host** parameters in the application.properties(mentioned in the documentation) are **not apt for the bitbucket cloud** since  **"/rest/api/1.0/ " is depreciated** as mentioned in https://confluence.atlassian.com/bitbucket/rest-apis-222724129.html.
Since many people are still facing the issue of running the bitbucke

[2020-04-10 05:07] AhireSwati commented on #2311
Any update on this issue? I am facing same issue. 401 Unauthorized

[2020-04-14 17:33] #3215 closed

[2020-04-15 12:22] gowriven opened #3241 "Unable to Execute api"
I'm trying to setup Hygieia.

Have followed the instructions as in https://hygieia.github.io/Hygieia/setup.html. But i'm not able to execute the api. Have modified the properties file as well with DBusername and passwrod details.

java -jar api.jar --spring.config.location=C:\Hygieia\api\target\api.properties

And properties file is as below,

dbname=dashboarddb
dbusername=dashboarduser
dbpassword

[2020-04-17 20:00] emily-solo commented on #3229
I also got error when running gulp serve, with a bit different error msg.
Is there recommended version to be used? My env set up is:
CLI 2.2.0
gulp 3.9.1
java 1.8
node v12.16.2
npm 6.14.4
mvn 3.3.9

![image](https://user-images.githubusercontent.com/38956906/79609229-3975b600-80ab-11ea-8267-cc3b19f39561.png)

[2020-04-18 05:37] rvema commented on #3229
Node 12 is not supported, please try using node 8. The upgrade/rewrite is in progress and you may check the progress in https://www.github.com/Hygieia/UI

[2020-04-18 19:19] emily-solo commented on #3229
@rvema Thanks! Issue resolved after using node v8.1.4

[2020-04-18 21:49] emily-solo opened #3242 "Application start up failed when deploy executable file for hygieia-codequality-sonar-collector, got"
Error: org.springframework.beans.factory.BeanCreationException
Does this project require Springboot to be certain version?
Thanks!

![image](https://user-images.githubusercontent.com/38956906/79672055-65646a80-8183-11ea-9d4b-e03677b6ab07.png)

[2020-04-19 03:51] #3229 closed

[2020-04-20 09:52] mayukh87 opened #3243 "Issue with Gitlab Collector!"
Hello,

I am trying to integrate [Gitlab collector](https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/feature/feature-gitlab.md) with Standard Hygieia setup, however I am getting the following error.

[code]

Can anyone please help me with this?

P.S: Please do let me know if you need the full log for further investigation.

Regards,
Mayukh

[2020-04-20 10:36] mayukh87 opened #3244 "Issue with Github collector."
Hello,

I am using [GitHub collector](https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/scm/github.md) and getting the following error.

[code]

I have also tried with different repos and different github account, but the result is same. Can anyone please help?

Regards,
Mayukh

[2020-04-20 11:30] mayukh87 opened #3245 "Issue with Jira collector."
Hello,

Using [Jira collector](https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/feature/jira.md) I am not getting the required data.

**Project Name** and **Board Name** are being pulled from jira which are displayed in the dashboard but not getting any data after saving the widget. Please find the attached screenshot of the dashboard after the widget configuration.

![Hyg

[2020-04-20 12:25] rvema commented on #3244
which github collector are you using? hygieia-scm-github-collector or hygieia-scm-github-graphql-collector

[2020-04-21 09:21] hi2ari commented on #3244
We are using the hygieia-scm-github-collector

[2020-04-24 06:27] NivedithaaSrinivasan opened #3247 "ERROR c.c.d.collector.PullRequestCollector - Exception block: 401 null"
I am totally new to Hygieia ......can anyone help me to sort out the error

2020-04-24 11:55:01,077 [taskScheduler-1] INFO  c.c.d.collector.PullRequestCollector - Executing [http://localhost:7990/rest/api/1.0/%20%20/projects/projects/repos/HEL/repos/hello/browse/pull-requests?at=refs%2Fheads%2Fmaster&state=all&limit=25
2020-04-24 11:55:01,125 [taskScheduler-1] ERROR c.c.d.collector.PullRequestColl

[2020-04-25 18:40] rvema commented on #3244
@hi2ari can you use hygieia-scm-github-graphql-collector instead? This collector has the fix for handling ratelimits.

[2020-04-27 12:13] GeorgesBat commented on #2803
hi @guruprasadsane , do you mind sharing the changes as well
@JFDonaghy  did you manage to find what changes needed to be done?

[2020-04-27 12:16] rvema commented on #2803
If you find the solution, please contribute back by creating a PR for the same.

[2020-04-27 12:20] GeorgesBat commented on #2803
@rvema I did not
@guruprasadsane apparently did and it's an old issue
he made changes to the Dockerfile but did not share them...

[2020-04-27 13:12] GeorgesBat commented on #2803
@guruprasadsane can you please reopen the PR or comment how you managed to solve it?
thank you

[2020-04-28 06:56] gowriven opened #3248 "visual graph in build widget is not visible"
Trying to setup the dashboard locally.

In the build widget, i could see the job details. But the graph is not visible. Have tried in IE, chrome and Microsoft edge. Only below details are published,

![image](https://user-images.githubusercontent.com/63717945/80456498-503dc780-894b-11ea-8333-bb5d44e1ec62.png)

Kindly check and assist to display the graph in build widget

[2020-04-28 07:05] gowriven opened #3249 "Repo details not published in dashboard"
Have run the SCM collector using below command,

java -jar github-scm-collector.jar --spring.config.name=github --spring.config.location=C:\Hygieia_April16\Collectors\git\hygieia-scm-github-collector\target\dashboard.properties

Below are the properties details,

dbname=dashboarddb
dbusername=<user>
dbpassword=<password>
dbhost=localhost
dbport=27017
dbreplicaset=false
dbhostport=localhost:27017
s

[2020-04-30 06:16] dai-mk commented on #2069
@matthewbeasley Your comment is two years old, has there been made progress in the area of alternative databases meanwhile or is MongoDB still the only supported database?

[2020-04-30 12:41] rvema commented on #2069
@dai-mk Its being worked on actively at the moment. Please see an update in the next couple of months.

[2020-05-02 13:45] kadaliphani opened #3251 "mvn clean package -pl api docker:build fail with below error ."
[INFO] Scanning for projects...
[ERROR] [ERROR] Could not find the selected project in the reactor: api @
[ERROR] Could not find the selected project in the reactor: api -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run Maven using the -X switch to enable full debug logging.
[ERROR]
[ERROR] For more information about the errors a

[2020-05-05 06:42] gowriven commented on #3249
Kindly check and assist on above issue. Tried with configuring public and private repo. But still data is not getting published. There are no error in logs as well!!

[2020-05-05 07:32] mayukh87 commented on #3244
@rvema can you please tell if the setup process for **hygieia-scm-github-graphql-collector** is same as **hygieia-scm-github-collector**. I cannot find any documentation for **hygieia-scm-github-graphql-collector**.

I was following these steps
[hygieia-scm-github-collector](https://github.com/Hygieia/Hygieia/blob/gh-pages/pages/hygieia/collectors/scm/github.md)

Will it be same for **hygieia-scm-

[2020-05-06 08:33] Ayush-Goyal-coding commented on #3192
Hi,
Wouldn't there be a problem with multi branch Configuration , for other widgets for e.g.
sonar and fortify would have the scan results of one branch only.

[2020-05-06 09:30] Ayush-Goyal-coding commented on #3224
Hi we have deployed on kubernetes and that are working fine

This would be the file for hygieia-ui deployment

[code]

[2020-05-06 09:50] Ayush-Goyal-coding opened #3252 "Configuring Micro Service Applications on Hygieia"
Hi Team,

Is there any way to configure application with more than 100 repos at one go?
All Applications are becoming microservices based therefore now applications have 1 repo for each of the service. This results in applications having large number of repos (under same organisation though) and multiple jobs(under same folder).
So Is there a way to configure all of them, instead of creating multi

[2020-05-06 10:24] kopal2212 commented on #3224
Thanks @Ayush-Goyal-coding for sharing for deployment file, but are you using the replica sets for MongoDb?

[2020-05-06 13:20] Ayush-Goyal-coding commented on #3224
@kopal2212 no
We can't have replica sets of mongodb pod it seems

There is some documentation on mongodb official page check that out and let me know if that's useful

[2020-05-06 14:48] rvema commented on #3192
The data model and apis support the multi branch pipeline , limitation is only in UI for displaying the data. The UI limitation will be addressed as part of Widget redesign effort scopes for later part of this year

[2020-05-06 17:49] kopal2212 commented on #3224
@Ayush-Goyal-coding  Thanks but it is not like that, For High Availability, we often use multiple MongoDB pods. So for Hygieia also I did the same, deployed multiple pods of MongoDB in K8s with stateful sets, but I am stuck with the communication with the pods. Let me figure out if i can have a workaround for it. Alternatively, I have deployed Hygieia on EC2 by configuring the collectors as servic

[2020-05-07 04:21] cristian04 commented on #3224
Hi all! Apologies for the delay sharing my manifests. Please find them on this repo: https://github.com/clvr-cloud/hygiea-devops-poc

[2020-05-07 06:37] gowriven commented on #3249
Have tried configuring as described in "https://hygieia.github.io/Hygieia/gitsetup.html"
And i could see that still the Pull request count is 1096. But still the display in dashboard is empty.

2020-05-07 11:57:40,989 [taskScheduler-1] INFO  c.c.d.collector.CollectorTask - Repo Count              1     1960s
2020-05-07 11:57:40,989 [taskScheduler-1] INFO  c.c.d.collector.CollectorTask - New Commit

[2020-05-07 07:57] kopal2212 commented on #3224
Thanks @cristian04

[2020-05-08 07:15] Ayush-Goyal-coding commented on #3224
Thanks @cristian04

[2020-05-08 07:16] Ayush-Goyal-coding commented on #3224
Thanks @kopal2212 for your comments too

[2020-05-09 05:57] Ayush-Goyal-coding commented on #3192
Yeah I totally agree with that part, I was just talking on a conceptual level
Suppose if we have multiple widgets of repo and Jenkins maybe one point to dev branch and another to master
Maybe in dev branch, the code coverage is increased and the number of issues is reduced, so for sonar data, it wouldn't be clear for which branch the data is represented in the dashboard.
This is just my thought, I

[2020-05-09 06:09] #3225 closed

[2020-05-11 16:00] tomusaleem opened #3253 "Jira collector is not updated issues immediately"
Jira collector is running and fetching issue from jira board. If I change the status of issue then jira collector doesn't fetch those. Following is the url that jira collector use:
`https://northbay.jira.com/rest/agile/1.0/board/321/issue?jql=issueType in ('Story','Bug','Epic','Limitation','Task','Sub-task','Development Task','Change Request') and updatedDate>='**2020/05/11 20:55**'&fields=id,key,

[2020-05-11 16:13] tomusaleem commented on #1332
I'm facing same issue. I don't know this issue is resolved or not. I think this is some datetime issue. In my case api make a call to fetch updates from jira with my local datatime which is 10 hours ahead than UTC time that jira use. If I call with 10 hours earlier than mentioned time in call then it fetch latest update. But I don't know how to fix this is jira collector api
@tabladrum Can you ple

[2020-05-12 11:58] #3223 closed

[2020-05-12 14:38] rvema commented on #1332
@tomusaleem can you check the latest version of jira collector from [hygieia-feature-jira-collector](https://github.com/Hygieia/hygieia-feature-jira-collector)

[2020-05-12 15:19] rvema commented on #3249
@gowriven the graph is shown only for last 2 weeks data, try fetching against a different repository that is more active

[2020-05-12 21:57] Niraj-Fonseka commented on #3145
Yeah I believe things are not very up to date now because they are in the process of splitting up the project into modules

[2020-05-13 07:40] tomusaleem commented on #1332
@rvema thanks for your response.
I'm using latest version of jira-collector. I figured out the issue. It was local time zone and jira timezone mismatch. I sync my local timezone with jira timezone then jira collector started to get updated status of issue.

I have another issue. My jira board has some sub-task issue against each story. jira collector is fetching those issues also and putting in da

[2020-05-13 08:55] gowriven commented on #3249
Hello Vema,

Thanks a lot for the update. I have figured out that repo was not able to
fetch details because of timezone.

Identified from logs that it always tried to fetch results ahead of time,
hence resulted in empty set always. After adjusting timezone in my machine.
Now its working fine.

Will update in opened issue and close it as well.

Thanks and regards,
Gowri Venkatesh

On Tue, May 12,

[2020-05-13 08:57] gowriven commented on #3248
I have again configured Hygieia from initial setup. And now the graph is visible. Hence closing this issue.

Thanks,
Gowri

[2020-05-13 08:57] #3248 closed

[2020-05-13 13:38] rvema commented on #3249
@gowriven Thank you very much , this might be handy for some of the users for sure.

[2020-05-14 12:25] rvema commented on #1332
@Sbrenthughes any thoughts on this?

[2020-05-15 04:24] dwij2812 opened #3254 "CodeQuality Sonar Widget Blanks out after some time"
Hi Recently, we came across this issue where a configured sonar widget on the dashboard keeps blanking out after the start of a new cron job starts for getting the data for the widgets. Though in the database we can see that the entry for the same is there but for some reason it does not diplay the details on the UI and displays, no data found and everytime after some while we have to go and recon

[2020-05-19 05:30] dwij2812 commented on #3254
At looking at the DB states we found out that the _id element of the collector_items documents for the Sonar Collector keeps changing which possibly causes this issue. So there might be some issue in the collector code for Sonar.

[2020-05-19 10:42] ramachittala opened #3255 "Jenkins build collector failing - 504 Gateway Time-out"
While trying to run the jenkins build collector it was failing with 504 Gateway Time-out.

Can anyone help me with this? If i configured the user credentials where user having limited project/job access it was able to collect the data. But when we are trying to configure admin user access who was having all the project/jobs access collector was failing at that point.

**19 05:32:00,088 [taskSchedu

[2020-05-19 15:58] #3227 closed

[2020-05-22 16:18] guruprasadsane opened #3256 "Unable to access Product Dashboard, re directing to login page"
Unable to access any Product Dashboard created, it is always re directing back to login page and doesnt allow me log back in.

Logs show this error:
ERROR c.c.d.rest.RestApiExceptionHandler - Required request body is missing: public java.lang.Iterable<com.capitalone.dashboard.model.PipelineResponse> com.capitalone.dashboard.rest.PipelineController.searchPipelines(com.capitalone.dashboard.request.P

[2020-05-22 19:59] rvema commented on #3256
agreed, fix is being worked on. Expect it sometime  next week

[2020-05-26 10:05] Ashish776 commented on #2295
can you share the setup for this git collector

[2020-05-29 15:48] #3230 closed

[2020-06-03 13:19] jayinfostretch commented on #2877
Any updates on this?

[2020-06-03 20:24] aochsner commented on #3235
looks to be an early implementation 4 years ago here https://github.com/mickfeech/hygieia_veracode_collector

[2020-06-03 20:48] VictorMCL opened #3261 "Product dashboard not showing the data?"
I am trying to stabilize hygieia and I am currently having problems with the product dashboard showing the data. I do not know what to do

- Team dashboard

![Screen Capture_select-area_20200703141602](https://user-images.githubusercontent.com/48441259/86493624-d1dd1780-bd37-11ea-8030-d41314afde4d.png)

- Product dashboard

![Screen Capture_select-area_20200703141529](https://user-images.githubuse

[2020-06-04 04:44] dwij2812 commented on #3235
@aochsner This one needs a lot of manual work like downloading reports from Veracode on our own, creating a config for it and placing it in appropriate directory for the data to be injected into Hygieia, which is not the essence of Hygieia hence it would be much better if we have an end to end thing like we have for other tools, just configure once and forget and Hygieia takes care of everything.

[2020-06-04 13:01] VictorMCL commented on #3228
ok, I do not speak much English. you **server.contextPath** is **/opt/hygieia/api** and **server.port** **7070**, to make a REST request to know the health of your api it should be like this:

curl http://myhygieia.com:7070/opt/hygieia/api/ping

and, in APACHE or NGINX settings of your frontend (UI)

For example NGINX:

[code]
location /api {
        proxy_pass   http://myhygieia.com:7070/;
}
[cod

[2020-06-04 13:12] VictorMCL commented on #2686
I developed one not very pretty. I hope it helps you.

share a volume:
./cert:/hygieia/cert

`
ENV
HYGIEIA_CERTS
`

`#!/bin/bash

if [ ! -z "$JAVA_HOME" ]; then
    if [ -e "$JAVA_HOME/jre/lib/security/cacerts" ]; then
        CACERTS="$JAVA_HOME/jre/lib/security/cacerts"
    elif [ -e "$JAVA_HOME/lib/security/cacerts" ]; then
        CACERTS="$JAVA_HOME/lib/security/cacerts"
    fi
fi

if [ -z "$

[2020-06-05 10:55] cborkar6159 opened #3262 "Use Hygieia API for Get/Put/Post Operations"
1) Is there any REST API available for Hygieia for explore GET/PUT/POST/DELETE operations?
2) How to create Dashboards using REST API / or any DB Script?
3) How is data stored in Database? Any documentation available?

[2020-06-09 01:49] karlpanganiban opened #3263 "My Hygieia (deploy widget) doesn't display any data."
HERE'S MY SETUP:

- hygieia jenkins plugin is already setup using this document: https://hygieia.github.io/Hygieia/hygieia-jenkins-plugin.html

- i am using this jenkins file

[code]

- here is the jenkins log showing data has been pushed to hygiea (api)
[code]

- here a sample logs in my hygieia api. shows it accepts the data.
[code]

- But still, no data displaying in my deploy widget
![image](h

[2020-06-09 08:43] Ayush-Goyal-coding commented on #2454
@Sbrenthughes Is there a support for Secure URLs now?

[2020-06-09 14:23] karlpanganiban commented on #3251
I assume you want to build a docker image for API? Based from this document? https://hygieia.github.io/Hygieia/api.html

I experienced the same error.. what i did was this:

1. Run 'mvn install' inside /api
- you must see a BUILD SUCCESS in the end
- then you will see the generated *.jar file inside the /target _(this is iimportant)_

2. Use the Dockerfile in the /api folder. Build the image using

[2020-06-09 14:27] karlpanganiban commented on #3244
@mayukh87 I have experienced this same issue, and did the same approach. Use the graphql instead.

Do the same steps. :)

[2020-06-10 03:19] karlpanganiban commented on #3263
UPDATE:
- I am still using the same jenkinsfile
- However, i can see a new exception log in jenkins build. Looks like some error how I use hygieia commands in my jenkinsfile?
![image](https://user-images.githubusercontent.com/14307099/84222984-7d18f900-ab0b-11ea-8295-b4019ffd2e09.png)
- On the other hands, i still receive the same HTTP 201 response from api logs - which i guess is still fine?
[cod

[2020-06-10 04:05] rvema commented on #3263
looking into this issue, check back in 2 days

[2020-06-10 04:28] karlpanganiban commented on #3263
@rvema thanks a lot!

- Btw, I found out that this ParseException log ONLY SHOWS if you CHECKED the "Publish all build data" in Global Hygieia Publisher settings
![image](https://user-images.githubusercontent.com/14307099/84226575-b6a23200-ab14-11ea-8037-0a0cbabf02fd.png)
![image](https://user-images.githubusercontent.com/14307099/84226851-798a6f80-ab15-11ea-9057-1f525e25576f.png)

- Here are some

[2020-06-11 03:38] liyongxin opened #3264 "all dashboard no results"
hey guys， I deployed the new Hygieia UI with reference to the [documentation](https://hygieia.github.io/Hygieia/newUI.html)

the general steps are：
1. deploy mongodb
2. deploy api
3. started new ui
4. deploy jenkins & gitlab collector

this picture is the startedprocess

![image](https://user-images.githubusercontent.com/7601142/84342159-70fa6d80-abd7-11ea-965b-a69b7ee2cd83.png)

but，my dashboard

[2020-06-11 12:24] liyongxin opened #3265 "dashboard ui build error"
In alpine environment，I perform as follows：
1. git clone https://github.com/Hygieia/Hygieia.git
2. cd Hygieia/UI && npm install
3. cd Hygieia && mvn clean install
4. then shows the following error:
![image](https://user-images.githubusercontent.com/7601142/84384580-c5760b00-ac20-11ea-99d7-7dd1f85140d8.png)

My node version is v8.9.3 and npm  version is 5.5.1
Has anyone encountered a similar situat

[2020-06-11 12:26] liyongxin commented on #3265
I checked the node directory, the node file exists
![image](https://user-images.githubusercontent.com/7601142/84385269-e1c67780-ac21-11ea-9118-82938b174fa0.png)

[2020-06-11 12:45] #3265 closed

[2020-06-11 12:50] liyongxin opened #3266 "Dashboard UI build error"
in alpine environment，I perform as follows：

1. git clone https://github.com/Hygieia/Hygieia.git
2. cd Hygieia/UI && npm install
3. cd Hygieia && mvn clean install
4. then shows the following error:
gulp build
[12:47:36] Using gulpfile ~/Hygieia/UI/gulpfile.js
[12:47:36] Starting 'build'...
[12:47:36] Starting 'clean'...
[12:47:36] Finished 'clean' after 119 ms
[12:47:36] Starting 'assets'...
[12:

[2020-06-12 05:51] #3226 closed

[2020-06-14 12:28] gerardrecinto commented on #3141
Closing this issue since I did not submit a Pull Request.

[2020-06-14 12:28] #3141 closed

[2020-06-17 06:28] dai-mk commented on #2599
I also have this issue. There is no "Create Dashboard" button despite using the config from @Sbrenthughes .

[2020-06-17 06:54] dai-mk opened #3267 ""Create Dashboard" button missing"
Same as with this issue https://github.com/Hygieia/Hygieia/issues/2599 there is no "Create Dashboard" button.

- What could cause such an issue?
- Where are the dashboard templates?
- Is this project still maintained?

![image](https://user-images.githubusercontent.com/63699071/84865076-efdc2400-b077-11ea-9421-b10ad68f6f81.png)

[2020-06-17 13:45] rvema commented on #3267
@Courtneyp123 can you look into this issue?

[2020-06-17 13:47] rvema commented on #3263
@Courtneyp123 can you check on this issue when you get some time?

[2020-06-18 07:16] stevegal commented on #3263
the publish all build data is causing your parse exception (so I'd turn it off for you build). The artefact path specified is absolute not relative, so, assuming your script outputs the jar file in `${workspace}/target` then you should specify your search directory as `./target`. Note the `hygieiaDeployPublishStep` needs to find an artefact if it is to publish the deployment to the hygieia api.

[2020-06-18 08:28] sureshpal opened #3268 "User Already exist while sign up for the first time."
2020-06-18 13:39:23,599 [http-nio-8080-exec-4] ERROR c.c.d.rest.RestApiExceptionHandler - null
java.lang.NullPointerException: null
	at javax.xml.bind.DatatypeConverter.parseBase64Binary(DatatypeConverter.java:296) ~[na:na]
	at io.jsonwebtoken.impl.Base64Codec.decode(Base64Codec.java:26) ~[jjwt-0.6.0.jar!/:0.6.0]
	at io.jsonwebtoken.impl.DefaultJwtBuilder.signWith(DefaultJwtBuilder.java:106) ~[jjw

[2020-06-18 08:33] sureshpal commented on #3268
Note: I'm running on my local machine.
My application.properties file look like below

dbname=dashboarddb
dbusername=dashboarduser
dbpassword=dbpassword
dbhost=localhost
dbport=27017
dbreplicaset=false
dbhostport=localhost:27017
server.contextPath=/api
server.port=8080

Also as per  mongodb logs, I'm api is able to connect to dashboarddb with dashboarduser

2020-06-18T13:36:55.781+0530 I NETWORK

[2020-06-19 00:40] karlpanganiban commented on #3263
@stevegal thanks a lot! this issue is already addressed in our discussion on other same case https://github.com/Hygieia/hygieia-publisher-jenkins-plugin/issues/24

[2020-06-19 07:04] dai-mk commented on #3267
@Courtneyp123
Here are the logs from the api:

06:14:32,173 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback.groovy]
06:14:32,177 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback-test.xml]
06:14:32,177 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Found resource [logback.xml] at [jar:file:/home/dai_mk/a

[2020-06-22 15:33] Courtneyp123 commented on #3267
Hi @dai-mk are you currently using the old Hygieia UI (AngularJS) or the new upgraded Angular 8 version?

[2020-06-23 06:50] dai-mk commented on #3267
Hi @Courtneyp123
I use the following commits:
- UI: 7e04fc015eb13864ca3d3f4e13087b1f137b7fdd (Thu Jun 11 09:13:18 2020 -0700)
- API:  0a31da1625e782fc806f7f030b060e448f1b387c (Fri May 22 09:13:48 2020 -0400)
- API-Audit: 3e4c09073ca3144f0f81357d5ca1bc7cc0c31763 (Tue May 26 14:15:25 2020 -0400)
- Jenkins Collector: 8209fd84ccb8519afd1dea9a89a905e6c689d39b (Sun Apr 26 20:28:17 2020 +0530)

If the cu

[2020-06-23 13:13] emma-qi-qi opened #3270 "API startup failed due to "Index with name: unique_mdata_key_type already exists" in MongoDB"
2020-06-17 14:31:31,897 [main] ERROR o.s.boot.SpringApplication - Application startup failed
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'metadataServiceImpl' defined in URL [jar:file:/home/appadmin/hygieia/api/target/api.jar!/com/capitalone/dashboard/service/MetadataServiceImpl.class]: Unsatisfied dependency expressed through constructor argumen

[2020-06-23 13:14] emma-qi-qi commented on #3270
ENV:
OS: Redhat linux 6.5
MongoDB 3.0 Master/slave mode

[2020-06-23 13:30] rvema commented on #3270
what other hygieia components are you running?

[2020-06-23 13:30] rvema commented on #3270
do mention the versions as well

[2020-06-23 18:02] Courtneyp123 commented on #3267
Hi @dai-mk in the meantime while we are working on the Create Dashboard feature, you can use this repo https://github.com/Hygieia/Hygieia that will use the AngularJS UI version.  Please refer to the instruction guide here for setup: https://hygieia.github.io/Hygieia/setup.html

[2020-06-25 09:50] dai-mk commented on #3267
Hi @Courtneyp123 ok, I'm running now the old UI and managed to create a dashboard. May I ask what caused the project to move from the old UI to the new UI. To me who just started with Hygieia both UI's look the same.

[2020-06-25 19:26] Courtneyp123 commented on #3267
Hi @dai-mk good question!  The old UI is running off of AngularJS and the new UI is upgraded to Angular 8.  We are currently working on the lift and shift, which is why the new UI looks similar, but the next step will be design changes.

[2020-06-26 12:51] dai-mk commented on #2667
Same here. Also getting the JSON-Error

`[taskScheduler-1] ERROR c.c.d.collector.FeatureCollectorTask - Failed to collect jira information
java.lang.ClassCastException: java.lang.String cannot be cast to org.json.simple.JSONArray
`

[2020-06-30 16:09] #3247 closed

[2020-06-30 19:27] VictorMCL commented on #3261
Hello, what happened to this problem?

[2020-07-01 10:36] emma-qi-qi opened #3271 "no svn data displayed on repo widget"
I start up mongodb(3.1), api(version 3.2.5), UI and subversion collector 3.0.2, there is not any exception in logs.
I login as admin and created a new dashboard and configured a repo widget with
Repo Type: subversion
Repo URL: my  svn url
Username: my svn user name
Password: my svn password
I checked mongodb that commits data are collected and saved.
But there is not any data disyplayed on repo wi

[2020-07-02 04:57] friederbluemle commented on #3218
Sorry, just carefully checking - Has this been prioritized yet? It should really only take 1 min to fix and this issue has been open since January.

Thank you!

[2020-07-03 18:58] VictorMCL commented on #3261
Looking at the commits of the api repository and I found an annotation "@RequestBody" I deleted it and it works but I don't know if it is important.

![Screen Capture_code_20200703135743](https://user-images.githubusercontent.com/48441259/86492926-3480e400-bd35-11ea-8826-cfbedfa51088.png)

[2020-07-08 18:28] #3261 closed

[2020-07-09 08:40] jbadeau commented on #3212
@kdatta10

can you post your application,properties files and settings in the widget?

[2020-07-12 10:50] #3252 closed

[2020-07-13 01:09] sseshachala opened #3273 "Hygieia deployment on ECS"
We are trying to deploy Hygieia on ECS as single task and multiple container defintions. The mongo - we are using document db in same vpc. Connectivity to mongo is ok - but when we deploy the task definition, UI comes up - API connectivity is ok - but when we try to login we get the follow error. Can some one help me resolve this issue? What is it we have missed?

{"timestamp":1594602169537,"statu

[2020-07-13 13:46] rvema commented on #3273
Have you looked into the project [hygieia-aws-quickstart](https://github.com/Hygieia/hygieia-aws-quickstart)

[2020-07-13 23:06] sseshachala commented on #3273
Yes - it requires lot of customizations for ECS deployment it is not not seamless as it is documented. we have customized and pushed our changes o ctphpe repo on dockerhub.

[2020-07-14 00:51] rvema commented on #3273
do ping @chrisbelyea or @ryanshriver on that repository and they will be able to help you

[2020-07-16 06:20] droy2017 opened #3274 "Jenkins Collector Issue: build url returned by Jenkins and the Jenkins instance url in your Hygieia configuration do not match"
Hi There, I have set up Hygieia in my local system and tried connecting to Jenkins running in my local system.

Please note that authentication is disabled in my local Jenkins, that's why I kept it blank.

My local instance of Jenkins is running locally, please see the snapshot attached.
![image](https://user-images.githubusercontent.com/29459758/87634272-917b9180-c75a-11ea-8a9a-13d6e31f5ac7.png)

[2020-07-17 09:56] jbadeau opened #3275 "Confused"
This project seems very interesting but its very hard to understand what repos work together:

I am currently working with:

https://github.com/Hygieia/UI - master
https://github.com/Hygieia/api - master
https://github.com/Hygieia/hygieia-scm-bitbucket-collector - master

The bitbucket collector doesn't seem to work properly

Can you please explain what repos are meant to work together

[2020-07-17 13:01] rvema commented on #3275
@jbadeau if bitbucket collector does not seem to work well for you, please create an issue against that repository providing the necessary details for getting the necessary help.

[2020-07-17 13:02] rvema commented on #3275
Hopefully this link helps - http://hygieia.github.io/Hygieia/architecture.html

[2020-07-17 13:51] jbadeau commented on #3275
Hi, my issue is not really the collector but where there is a list of what repos work with what repos.

I would Luke to create a helm chart but I do t know what goes with what?

[2020-07-19 13:57] #3249 closed

[2020-07-21 10:29] Fisher1993 commented on #2750
Hi @nireeshT , do we need to have latest Maven, JDK, Nodejs, NPM, Gulp, Mongodb installed for the current Hygieia?
I am trying to run the UI Dashboard in browser but getting the:
![image](https://user-images.githubusercontent.com/29776735/88043330-ef4d1680-cb6a-11ea-9696-595d7d594fd2.png)
error. Please note that we are using Nginx proxy server here, it is an RHEL 7 VM

[2020-07-21 11:36] Fisher1993 opened #3276 "Unable to open Hygieia UI Dashboard in browser on a public URL"
Hi,

I am trying to open the Hygieia's UI Dashboard on a public URL. Nginx proxy server is configured in between the Internet and the Linux 7 VM. I have followed all the necessary steps, finally, run the 'gulp serve' command but the UI is not visible (Getting: 'Cannot GET /hygieia' in the browser) on the public URL.
I can see this -
![image](https://user-images.githubusercontent.com/29776735/88049

[2020-07-21 18:51] murali741 opened #3277 "Unable to get the commits from bitbucket collector"
2020-07-21 14:43:01,265 [taskScheduler-1] DEBUG c.c.d.c.DefaultBitbucketServerClient - Failed to obtain commits from https://git.companyname.net/rest/api/1.0/projects/cd/repos/core/commits?until=refs%2Fheads%2Fmaster&limit=25
org.springframework.web.client.HttpClientErrorException: 401 null
        at org.springframework.web.client.DefaultResponseErrorHandler.handleError(DefaultResponseErrorHandle

[2020-07-21 19:36] murali741 opened #3278 "Unable to start artifactory collector service"
Hi,

I am trying to start artifactory collector service. it is not starting. Can someone please help me with this

java.lang.Thread.run(Thread.java:745)
2020-07-21 15:30:35,680 [main] WARN  o.s.boot.SpringApplication - Error handling failed (Error creating bean with name 'enableEncryptablePropertySourcesPostProcessor' defined in class com.ulisesbocchio.jasyptspringboot.configuration.EnableEncrypta

[2020-07-22 15:03] Courtneyp123 commented on #3276
@Fisher1993 let's get you onboarded with the new UI.  It is currently updated to Angular 8 and much easier to set up.  Could you try this: https://hygieia.github.io/Hygieia/newUI.html ? Let me know how it works for you.

[2020-07-22 15:12] Fisher1993 commented on #3276
@Courtneyp123 Sure, I will try... Thanks :)

[2020-07-22 19:49] Courtneyp123 commented on #3276
Is this to download the project? Which step are you using that for?

[2020-07-23 04:54] Fisher1993 commented on #3276
@Courtneyp123 The UI has already been built and I am running the 'ng serve' command, after execution, I am unable to see the UI dashboard using Linux's 'links' command. If it gets successful I should be able to see it on a public URL.

[2020-07-24 14:19] Courtneyp123 commented on #3276
Okay, if you have your api running and run ng serve, you should be able to go to your localhost url to see the dashboard.  Were you able to fix this issue with links?

[2020-07-24 14:24] Fisher1993 commented on #3276
Nope, I couldn't fix the issue... Do we need to make changes to the Nginx reverse proxy server?

[2020-07-24 14:34] rvema commented on #3276
@stevegal any thoughts on this issue?

[2020-07-25 06:21] #3254 closed

[2020-07-25 13:21] #3255 closed

[2020-07-28 03:39] larsen-mallick commented on #2805
I get the below error when trying to run Hygieia on Docker in Windows 10 -

\Hygieia>docker-compose up
ERROR: Service 'ui' depends on service 'api' which is undefined.

I have completed all the prior steps and including mvn clean install.

[2020-07-28 03:42] rvema commented on #2805
@larsen-mallick the docker compose is broken , we need help with fixing it. contribute back if you have bandwidth

[2020-07-28 09:14] victorfun1989 commented on #3268
you can try to run the following js in your database. You can refer to the document for details. [http://hygieia.github.io/Hygieia/api.html]

1. Step 1 : Save the following lines to a file called fixAuths.js
`var count = 0;
db.dashboards.aggregate([{$match:{"owners.authType": {$exists : false}}}]).forEach(
    function(myDoc) {
        var ownerName = myDoc.owner;
        print("Updating owner inf

[2020-07-28 14:54] emma-qi-qi commented on #3070
Did you resolved this issue? Could you share your solution?

[2020-07-29 08:32] shravan-puttur opened #3285 "Save Button while creating team dashboard is not working"
Hi,

I am trying to create a team dashboard. While I am trying to configure the Github Repo Widget the save option is not working for me after providing my personalaccesstoken and the repo url.

Would be glad if someone helps me on this. Thanks!!

[2020-07-30 02:40] Girishpdesai opened #3286 "registerUser and authenticateUser API is returning http 401 error"
Completed the setup of hygieia using using docker images, 3 containers - api, ui and mongo db are setup.
api to database connectivity is successful. api/ping is ok.
UI is up and shows API connectivity tickbox.
When tried to signup with a new user "admin", nothing happens on the screen

![image](https://user-images.githubusercontent.com/33207128/88873150-008cc780-d1ea-11ea-9697-d8302a037d7b.png)

A

[2020-07-30 03:56] rvema commented on #3286
for can you try login using incognito mode?

[2020-07-30 03:57] meyerkeith commented on #3140
hey all I was curious where this was at currently, and if there was anyway I could help out. :)

not to deter too much from this thread, but i've heard the starter pack mentioned but can't seem to find any information around that. is there any that has been made publicly available?

[2020-07-30 12:24] Girishpdesai commented on #3286
Tried with incognito mode on chrome, the same issue is appearing for both new user registration and admin user authentication

[2020-07-30 14:46] guruprasadsane commented on #3256
Can you please let us know if the fix has been implemented

[2020-07-31 07:30] #3285 closed

[2020-07-31 11:13] Fisher1993 opened #3288 "Getting "[HPM] Subscribed to http-proxy events" error while running the new UI"
Hi,

I am getting the below error while trying to run the new UI:
![NewUIProxyError](https://user-images.githubusercontent.com/29776735/89029903-f931ff00-d34c-11ea-90a0-3e0b4ea11792.JPG)

Can someone please help me?

[2020-08-03 13:12] Nitindh commented on #1531
I am getting the below bean creation error while running the Jira Collector jar file. Can someone please help and guide me.

" Application startup failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'featureCollectorTask': Invocation of init method failed; nested exception is java.lang.NullPointerException"

Additional logs
================================

[2020-08-03 13:14] Nitindh opened #3290 "JIRA Collector giving Bean Creation error"
I am getting the below bean creation error while running the Jira Collector jar file. Can someone please help and guide me.

" Application startup failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'featureCollectorTask': Invocation of init method failed; nested exception is java.lang.NullPointerException"

**Additional logs**
2020-08-03 18:03:42,715 [mai

[2020-08-03 13:15] Nitindh commented on #3290
Have Downloaded the latest code from Git

[2020-08-04 05:05] karlpanganiban opened #3291 "HELP: Product View doesn't show any data"
I already finished setting up all widgets. Here's what it looks like. (Feature / Deploy / Build / Repo)
![image](https://user-images.githubusercontent.com/14307099/89254915-ecfeb800-d652-11ea-81f3-9961c4cd6e34.png)

However, my PRODUCT VIEW doesn't show anything. What am I missing?
![image](https://user-images.githubusercontent.com/14307099/89254991-13bcee80-d653-11ea-9862-3b5fed0d4d8e.png)

Thank

[2020-08-05 16:07] larsen-mallick commented on #3291
The problem was a code error. PipelineController.java line  33 is incorrect.

GET Method does not accept @RequestBody. I made the following update and it works -

@RequestMapping(value = "/pipeline", method = GET, produces = APPLICATION_JSON_VALUE)
public Iterable<PipelineResponse> searchPipelines(@RequestParam String collectorItemId, @RequestParam String beginDate,

[2020-08-06 05:55] larsen-mallick opened #3293 "Mock Data or Data dump"
Hi all,

Is there a data dump for Dashboard DB that I can import into MongoDB and stand up the application for a quick demo?

[2020-08-06 07:16] Fisher1993 opened #3294 "New UI not loading completely behind the Nginx proxy server"
Hi,

I am trying to open the New UI on a public URL. Nginx proxy server is between the Hygieia and the Internet. After running the 'ng serve --host <IP address of the host machine>' the Hygieia's UI is not completely up. It shows the revolving loading circle till eternity...

![image](https://user-images.githubusercontent.com/29776735/89502510-be174c00-d7e2-11ea-9915-e23a41b1ef88.png)

Any idea?

[2020-08-06 12:53] karlpanganiban commented on #3291
@larsen-mallick I tried what you suggested, but my build FAILED already.
![image](https://user-images.githubusercontent.com/14307099/89533618-466b1080-d826-11ea-9f04-07ad289803ac.png)

Here's what my code looked like after doing what you suggested (Edited file: **PipelinController.java** inside api repo)
[code]
What am I missing? If this is a code issue. So everyone has this bug.?

[2020-08-07 03:34] larsen-mallick commented on #3291
Looks like the following import statements are missing.

import org.springframework.web.bind.annotation.RequestParam;

import java.util.ArrayList;
import java.util.List;

import org.bson.types.ObjectId;

[2020-08-07 10:00] karlpanganiban commented on #3291
@larsen-mallick thanks, would you mind sharing me your **PipelinController.java** file? It's not that very long. just to make sure. :)

[2020-08-08 06:32] karlpanganiban commented on #3291
@larsen-mallick I already added the import missing statements your provide and build was successful, but still no luck in my Product Page. Still no data showing, same with the picture I showed above.

In the good side, I don't anymore see my previous error in API logs when I try to access my Product Page, like this.

`2020-08-07 09:54:34,235 [http-nio-8080-exec-4] ERROR c.c.d.rest.RestApiException